<div class="transaction-details-box">
    <div *ngIf="inProgress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br>
    </div>
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <app-customer-info [customer]="customer"></app-customer-info>

    <div *ngIf="customer?.userType?.id==='Merchant'">
        <div class="customer-details-title">
            <h2>Verification Level</h2>
        </div>
        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">Merchant agreement</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">Director docs</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">Inc. docs</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">License</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>
    </div>

    <div *ngIf="customer?.userType?.id==='Personal'">
        <div class="customer-details-title">
            <h2>Verification</h2>
        </div>
        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">T&C acceptance</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">POI</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">POR</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">Selfie / Live Check</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">SOF</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>

        <div *ngIf="customer?.id!==''">
            <label class="customer-details-label">Risk group</label>
            <div class="customer-details-value">
                <div style="color: brown;">{{customer?.id}}</div>
            </div>
        </div>
    </div>
</div>