.customer-details-box {
    margin-top: 0.5em;

    h2 {
        margin-bottom: 0.5em;
    }
}

.customer-details-label {
    margin-left: 0.1em;
    font-size: 12px;
    /* Grey 2 800 */
    color: #3B4D5A;
}

.customer-details-value {
    margin-bottom: 0.5em;
}