<div class="customer-details-box">
    <div class="customer-details-title">
        <h2>Info</h2>
    </div>
    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Account ID</label>
        <div class="customer-details-value">
            {{customer?.id}}
        </div>
    </div>

    <div *ngIf="customer?.company!==''">
        <label class="customer-details-label">Company</label>
        <div class="customer-details-value">
            {{customer?.company}}
        </div>
    </div>

    <div *ngIf="customer?.street!==''">
        <label class="customer-details-label">Address</label>
        <div class="customer-details-value">
            {{customer?.zip}} {{customer?.street}}
        </div>
    </div>

    <div *ngIf="customer?.country!==null">
        <label class="customer-details-label">Country</label>
        <div class="customer-details-value">
            <app-dropdown-item itemValue="{{customer?.country?.title}}"
                imageClass="{{customer?.country?.imgClass}}"
                imageSource="{{customer?.country?.imgSource}}">
            </app-dropdown-item>
        </div>
    </div>

    <div *ngIf="customer?.email!==''">
        <label class="customer-details-label">Email</label>
        <div class="customer-details-value">
            {{customer?.email}}
        </div>
    </div>

    <div *ngIf="customer?.phone!==''">
        <label class="customer-details-label">Phone</label>
        <div class="customer-details-value">
            {{customer?.phone}}
        </div>
    </div>

    <div *ngIf="customer?.currency!==''">
        <label class="customer-details-label">Account Currency</label>
        <div class="customer-details-value">
            {{customer?.currency}}
        </div>
    </div>
</div>