<div class="transaction-details-box">
    <div *ngIf="inProgress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br>
    </div>
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <h2>Info</h2>
    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Account ID</label>
        <div class="customer-details-value">
            {{customer?.id}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Company</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Address</label>
        <div class="customer-details-value">
            {{customer?.street}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Country</label>
        <div class="customer-details-value">
            {{customer?.country}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Email</label>
        <div class="customer-details-value">
            {{customer?.email}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Phone</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Account Currency</label>
        <div class="customer-details-value">
            {{customer?.currency}}
        </div>
    </div>

    <h2>Verification Level</h2>
    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Merchant agreement</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Director docs</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

     <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Inc. docs</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">License</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <h2>API</h2>
    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Account ID</label>
        <div class="customer-details-value">
            {{customer?.id}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Secret Key</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <h2>Info</h2>
    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Account ID</label>
        <div class="customer-details-value">
            {{customer?.id}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Company</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Address</label>
        <div class="customer-details-value">
            {{customer?.street}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Country</label>
        <div class="customer-details-value">
            {{customer?.country}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Email</label>
        <div class="customer-details-value">
            {{customer?.email}}
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Phone</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Account Currency</label>
        <div class="customer-details-value">
            {{customer?.currency}}
        </div>
    </div>

    <h2>Verification</h2>
    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">T&C acceptance</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">POI</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">POR</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Selfie / Live Check</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">SOF</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>

    <div *ngIf="customer?.id!==''">
        <label class="customer-details-label">Risk group</label>
        <div class="customer-details-value">
            <div style="color: brown;">{{customer?.id}}</div>
        </div>
    </div>
</div>