<div class="__widget-container">
  <div class="__widget-title-container">
    <div class="__widget-title-logo-container">
      <img class="__widget-title-logo" [src]="logoSrc" [alt]="logoAlt" width="160" (click)="router.navigateByUrl('/')">
    </div>
  </div>

  <div class="__widget-progress-container">
    <app-widget-progress [step]="pager.step" [title]="pager.title" [progress]="inProgress"></app-widget-progress>
  </div>

  <div class="__widget-data-container">
    <div class="__widget-wizard-container __widget-wizard-container-single" [ngSwitch]="pager.stageId">
      <!-- Initialization -->
      <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
      <!-- Order details -->
      <app-widget-crypto-details *ngSwitchCase="'order_details'" [summary]="summary" [widget]="widget"
        [errorMessage]="errorMessage" (onError)="handleError($event)" (onProgress)="progressChanged($event)"
        (onComplete)="orderDetailsComplete($event)">
      </app-widget-crypto-details>
      <!-- Register -->
      <app-widget-register *ngSwitchCase="'register'" [email]="summary.email" (onBack)="registerBack()"
        (onProgress)="progressChanged($event)" (onComplete)="onLoginRequired($event)">
      </app-widget-register>
      <!-- Login Authentication -->
      <app-widget-login-auth *ngSwitchCase="'login_auth'" [email]="summary.email" [widget]="widget"
        [requiredExtraData]="requiredExtraData" [allowCreate]=false (onBack)="loginBack()"
        (onProgress)="progressChanged($event)" (onComplete)="loginComplete($event)">
      </app-widget-login-auth>
      <!-- Code Authentication -->
      <app-widget-code-auth *ngSwitchCase="'code_auth'" [email]="summary.email" [codeLength]="5"
        [errorMessage]="errorMessage" (onComplete)="loginCodeConfirmed()" (onError)="handleError($event)"
        (onProgress)="progressChanged($event)" (onBack)="loginBack()" (onRegister)="onRegister($event)">
      </app-widget-code-auth>
      <app-widget-crypto-complete *ngSwitchCase="'order_complete'" [data]="invoice" [counter]="abandonCounter">
      </app-widget-crypto-complete>
      <app-widget-crypto-finish *ngSwitchCase="'payment_done'" [data]="invoice" [complete]="paymentComplete"
        [success]="paymentSuccess" [title]="paymentTitle">
      </app-widget-crypto-finish>
      <app-widget-error *ngSwitchCase="'error'" [title]="transactionErrorTitle" [errorMessage]="transactionErrorMessage"
        (onFinish)="resetWizard()"></app-widget-error>
    </div>
  </div>

  <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;padding: 24px;">
    <button type="button" (click)="sendTestNotification(false)">
      Partial
    </button>
    <span>&nbsp;</span>
    <button type="button" (click)="sendTestNotification(true)">
      Complete
    </button>
  </div>
</div>