<div class="__widget-embedded-container">
  <div *ngIf="inProgress" class="__widget-embedded-progress-container">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </div>
  <div class="__widget-data-container">
    <div class="__widget-wizard-container-embedded" [ngSwitch]="stageId">
      <!-- Initialization -->
      <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
      <!-- Order details -->
      <app-widget-deposit-details *ngSwitchCase="'order_details'" [summary]="summary" [currencies]="cryptoList"
        (onProgress)="progressChanged($event)" [errorMessage]="errorMessage"
        (onComplete)="orderDetailsComplete($event)">
      </app-widget-deposit-details>
      
      <app-widget-wire-transfer-info-required #signupInfo *ngSwitchCase="'wire_transfer_info_required'" buttonTitle="SAVE" (error)="handleError($event)"
        (progressChange)="progressChanged($event)" (done)="requiredFieldsComplete()" [requiredFields] = "requiredFields"></app-widget-wire-transfer-info-required>

      <app-widget-wire-transfer *ngSwitchCase="'transfer'" [bankCategories]="wireTransferList"
        [bankAccountId]="bankAccountId" [errorMessage]="errorMessage" (onBack)="paymentBack()"
        (onComplete)="wireTransferPaymentComplete($event)"></app-widget-wire-transfer>
      <app-widget-wire-transfer-result *ngSwitchCase="'transfer_result'" [referenceId]="summary.orderId"
        [bankData]="selectedWireTransfer" (onComplete)="processingComplete()"
        (onSendEmail)="sendWireTransaferMessage()">
      </app-widget-wire-transfer-result>
      <app-widget-sell-details *ngSwitchCase="'sell_details'" [summary]="summary" (onBack)="paymentBack()"
        (onComplete)="sellComplete($event)">
      </app-widget-sell-details>
      <app-widget-complete *ngSwitchCase="'complete'" [showRestartButton]="true" (onFinish)="resetWizard()"></app-widget-complete>
    </div>
  </div>
</div>