<div class="__widget-embedded-container">
  <div *ngIf="inProgress" class="__widget-embedded-progress-container">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="__widget-data-container">
    <div class="__widget-wizard-container-embedded" [ngSwitch]="pager.stageId">
      <!-- Initialization -->
      <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
      <!-- Order details -->
      <app-widget-send-details *ngSwitchCase="'send_details'" 
        [withdrawalRate]="summary?.exchangeRate?.withdrawRate" [currencies]="cryptoList"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        (onError)="handleError($event)" (onProgress)="progressChanged($event)"
        (onDataUpdated)="orderDetailsChanged($event)" (onComplete)="orderDetailsComplete($event)">
      </app-widget-send-details>
    </div>
  </div>
</div>
