<div class="__widget-embedded-container">
  <div *ngIf="inProgress" class="__widget-embedded-progress-container">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </div>

  <div class="__widget-data-container">
    <div class="__widget-wizard-container-embedded" [ngSwitch]="pager.stageId">
      <!-- Initialization -->
      <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
      <!-- Order details -->
      <app-widget-order-details *ngSwitchCase="'order_details'" [initialized]="!initState" [summary]="summary"
        [settings]="widget" [withdrawalRate]="summary?.exchangeRate?.withdrawRate" [wallets]="userWallets"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        [depositRate]="summary?.exchangeRate?.depositRate" (onError)="handleError($event)"
        (onProgress)="progressChanged($event)" (onDataUpdated)="orderDetailsChanged($event)"
        (onWalletAddressUpdated)="orderWalletChanged($event)"
        (onVerifyWhenPaidChanged)="orderVerifyWhenPaidChanged($event)" (onComplete)="orderDetailsComplete($event)">
      </app-widget-order-details>
      <!-- Payment -->
      <app-widget-payment *ngSwitchCase="'payment'" [providers]="paymentProviders"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="paymentBack()"
        (onSelect)="selectProvider($event)">
      </app-widget-payment>
      <!-- Credit card -->
      <app-widget-credit-card *ngSwitchCase="'credit_card'"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="paymentBack()"
        (onComplete)="creditCardPaymentComplete($event)"></app-widget-credit-card>
      <!-- Wire transfer -->
      <app-widget-wire-transfer *ngSwitchCase="'wire_transfer'" [bankCategories]="wireTransferList"
        [bankAccountId]="bankAccountId" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        (onBack)="paymentBack()" (onComplete)="wireTransferPaymentComplete($event)"></app-widget-wire-transfer>
      <app-widget-wire-transfer-result *ngSwitchCase="'wire_transfer_result'" [referenceId]="summary.orderId"
        [bankData]="selectedWireTransfer" (onComplete)="processingComplete()"
        (onSendEmail)="sendWireTransaferMessage()">
      </app-widget-wire-transfer-result>
      <!-- KYC -->
      <app-widget-kyc *ngSwitchCase="'verification'" [summary]="summary" [completedWhenVerified]="widget.kycFirst"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onError)="handleError($event)"
        (onAuthError)="handleAuthError()" (onProgress)="progressChanged($event)" (onBack)="kycBack()"
        (onNext)="kycComplete()"></app-widget-kyc>
      <!-- Processing with a frame -->
      <app-widget-processing-frame *ngSwitchCase="'processing-frame'" [iframeContent]="iframeContent"
        [completed]="paymentComplete" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        (onComplete)="processingComplete()">
      </app-widget-processing-frame>
      <app-widget-processing-instantpay *ngSwitchCase="'processing-instantpay'" [details]="instantpayDetails"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onComplete)="processingComplete()">
      </app-widget-processing-instantpay>
    </div>
  </div>
</div>