<div [ngClass]="widget.embedded ? '__widget-embedded-container' : '__widget-container'">
  <div *ngIf="!widget.embedded" class="__widget-title-container">
    <div class="__widget-title-logo-container">
      <img class="__widget-title-logo" [src]="logoSrc" [alt]="logoAlt" width="160" (click)="router.navigateByUrl('/')">
    </div>
    <div *ngIf="!initState" class="__widget-title-button-container">
      <button class="__menu-button" type="button" (click)="mobileSummary = !mobileSummary">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="!widget.embedded" class="__widget-mobile-rate-container">
    <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
      [countDown]="exchangeRateCountDownValue" [rate]="summary?.rate">
    </app-widget-rate>
  </div>

  <div *ngIf="!widget.embedded && !recentTransactions" class="__widget-progress-container">
    <app-widget-progress [step]="pager.step" [title]="pager.title" [progress]="inProgress"></app-widget-progress>
  </div>
  <div *ngIf="widget.embedded && inProgress" class="__widget-embedded-progress-container">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </div>

  <div *ngIf="!recentTransactions" class="__widget-data-container">
    <div
      [ngClass]="{'__widget-wizard-container': !widget.embedded, '__widget-wizard-container-single': !widget.embedded && (initState || !showSummary), '__widget-wizard-container-embedded': widget.embedded}"
      [ngSwitch]="pager.stageId">
      <!-- Initialization -->
      <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
      <!-- Order details -->
      <app-widget-order-details *ngSwitchCase="'order_details'" [initialized]="!initState" [summary]="summary"
        [settings]="widget" [withdrawalRate]="summary?.exchangeRate?.withdrawRate" [wallets]="userWallets"
        [internalPayment]="internalPayment" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        [depositRate]="summary?.exchangeRate?.depositRate" (onError)="handleError($event)"
        (onProgress)="progressChanged($event)" (onDataUpdated)="orderDetailsChanged($event)"
        (onQuoteChanged)="orderQuoteChanged($event)" (onWalletAddressUpdated)="orderWalletChanged($event)"
        (onVerifyWhenPaidChanged)="orderVerifyWhenPaidChanged($event)" (onComplete)="orderDetailsComplete($event)">
      </app-widget-order-details>
      <!-- Sell details -->
      <app-widget-sell-details *ngSwitchCase="'sell_details'" [summary]="summary" (onBack)="paymentBack()"
        (onComplete)="sellComplete($event)">
      </app-widget-sell-details>
      <!-- Disclaimer -->
      <app-widget-disclaimer *ngSwitchCase="'disclaimer'" [agreementChecked]="summary.agreementChecked"
        (onBack)="desclaimerBack()" (onNext)="desclaimerNext()">
      </app-widget-disclaimer>
      <!-- Register -->
      <app-widget-register *ngSwitchCase="'register'" [email]="summary.email" (onBack)="registerBack()"
        (onProgress)="progressChanged($event)" (onComplete)="onLoginRequired($event)">
      </app-widget-register>
      <!-- Login Authentication -->
      <app-widget-login-auth *ngSwitchCase="'login_auth'" [email]="summary.email" [widgetId]="widget.widgetId"
        [requiredExtraData]="requiredExtraData" (onBack)="loginBack()" (onProgress)="progressChanged($event)"
        (onComplete)="loginComplete($event)">
      </app-widget-login-auth>
      <!-- Code Authentication -->
      <app-widget-code-auth *ngSwitchCase="'code_auth'" [email]="summary.email" [codeLength]="5"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onComplete)="loginCodeConfirmed()"
        (onError)="handleError($event)" (onProgress)="progressChanged($event)" (onBack)="loginBack()"
        (onRegister)="onRegister($event)">
      </app-widget-code-auth>
      <!-- Payment -->
      <app-widget-payment *ngSwitchCase="'payment'" [providers]="paymentProviders" [summary]="summary"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="paymentBack()"
        (onSelect)="selectProvider($event)">
      </app-widget-payment>
      <!-- Credit card -->
      <app-widget-credit-card *ngSwitchCase="'credit_card'"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="paymentBack()"
        (onComplete)="creditCardPaymentComplete($event)"></app-widget-credit-card>
      <!-- Wire transfer -->
      <app-widget-wire-transfer *ngSwitchCase="'wire_transfer'" [bankCategories]="wireTransferList"
        [bankAccountId]="bankAccountId" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        (onBack)="paymentBack()" (onComplete)="wireTransferPaymentComplete($event)"></app-widget-wire-transfer>
      <app-widget-wire-transfer-result *ngSwitchCase="'wire_transfer_result'" [referenceId]="summary.orderId"
        [bankData]="selectedWireTransfer" (onComplete)="processingComplete()"
        (onSendEmail)="sendWireTransaferMessage()">
      </app-widget-wire-transfer-result>
      <!-- KYC -->
      <app-widget-kyc *ngSwitchCase="'verification'" [summary]="summary" [levelName]="overLimitLevel"
        [completedWhenVerified]="widget.kycFirst"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onError)="handleError($event)"
        (onAuthError)="handleAuthError()" (onProgress)="progressChanged($event)" (onBack)="kycBack()"
        (onNext)="kycComplete()"></app-widget-kyc>
      <!-- Processing with a frame -->
      <app-widget-processing-frame *ngSwitchCase="'processing-frame'" [iframeContent]="iframeContent"
        [completed]="paymentComplete" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
        (onComplete)="processingComplete()">
      </app-widget-processing-frame>
      <app-widget-processing-instantpay *ngSwitchCase="'processing-instantpay'" [details]="instantpayDetails"
        [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onComplete)="processingComplete()">
      </app-widget-processing-instantpay>
      <!-- Complete -->
      <app-widget-complete *ngSwitchCase="'complete'" [showRestartButton]="widget.widgetId===''"
        [transaction]="summary.transactionType" (onFinish)="resetWizard()"></app-widget-complete>
    </div>

    <div *ngIf="!initState && showSummary && !widget.embedded" class="__widget-summary-container">
      <div class="__widget-summary-box">
        <h3 class="__widget-summary-title">Order Summary</h3>
        <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
          [countDown]="exchangeRateCountDownValue">
        </app-widget-rate>
        <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
        <div *ngIf="showTransactionsLink" class="__widget-summary-total">
          <div class="__form-separator"></div>
          <div class="__form-separator"></div>
          <a [routerLink]="" href="#" (click)="showTransactions()">
            Transactions History
          </a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="recentTransactions" class="__widget-data-container">
    <div class="__widget-wizard-container __widget-wizard-container-single __widget-wizard-container-data-list">
      <app-widget-recent-transactions (back)="transactionsBack()"></app-widget-recent-transactions>
    </div>
  </div>
</div>

<div *ngIf="mobileSummary && !recentTransactions" class="__widget-mobile-summary-container">
  <div class="__widget-mobile-summary-box">
    <div class="__widget-mobile-summary-data-box">
      <h3 class="__widget-summary-title">Order Summary</h3>
      <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
      <div *ngIf="showTransactionsLink" class="__widget-summary-total">
        <a [routerLink]="" href="#" (click)="showTransactions()">
          Transactions History
        </a>
      </div>
    </div>
    <div class="__widget-mobile-summary-button-box">
      <button type="button" class="__widget-summary-close-button" (click)="mobileSummary = !mobileSummary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>