<div *ngIf="!recentTransactions && showWidget" class="__widget-data-container">
  <div class="m-0"
    [ngClass]="{'__widget-wizard-container': !widget.embedded || initLoading, '__widget-wizard-container-single': !widget.embedded, '__widget-wizard-container-embedded': widget.embedded || initLoading}"
    [ngSwitch]="pager.stageId">

    <div *ngIf="!widget.embedded && !initLoading" class="__widget-title-container">
      <div class="__widget-title-logo-container">
        <img class="__widget-title-logo" [src]="logoSrc" [alt]="logoAlt" width="160">
      </div>
      <div *ngIf="!initState" class="__widget-title-button-container">
        <button class="__menu-button" type="button" (click)="mobileSummary = !mobileSummary">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
  
    <div *ngIf="!widget.embedded && !initLoading" class="__widget-mobile-rate-container">
      <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
        [countDown]="exchangeRateCountDownValue" [showRate]="widget.showRate !== false" [rate]="summary?.rate">
      </app-widget-rate>
    </div>
  
    <div *ngIf="!widget.embedded && !initLoading && !recentTransactions && pager.stageId !== 'error'" class="__widget-progress-container">
      <app-widget-progress [step]="pager.step" [title]="pager.title" [progress]="inProgress"></app-widget-progress>
    </div>
    
    <div *ngIf="widget.embedded && inProgress" class="__widget-embedded-progress-container">
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="mobileSummary && !recentTransactions" class="__widget-mobile-summary-container">
      <div class="__widget-mobile-summary-box">
        <div class="__widget-mobile-summary-data-box">
          <h3 class="__widget-summary-title">Order Summary</h3>
          <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
          <div *ngIf="showTransactionsLink" class="__widget-summary-total">
            <a [routerLink]="null" href="#" (click)="showTransactions()">
              Transactions History
            </a>
          </div>
        </div>
        <div class="__widget-mobile-summary-button-box">
          <button type="button" class="__widget-summary-close-button" (click)="mobileSummary = !mobileSummary">
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div [ngClass]="!mobileSummary || recentTransactions ? 'd-block' : 'd-none'">
      <!-- Initialization -->
    <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
    <!-- Order details -->
    <app-widget-order-details [quickCheckout]='quickCheckout' *ngSwitchCase="'order_details'" [initialized]="!initState" [summary]="summary"
      [settings]="widget" [wallets]="userWallets" [defaultFee]="defaultFee"
      [internalPayment]="internalPayment" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
      [depositRate]="summary?.exchangeRate?.depositRate" (onError)="handleError($event)"
      (onProgress)="progressChanged($event)" (onDataUpdated)="orderDetailsChanged($event)"
      (onQuoteChanged)="orderQuoteChanged($event)" (onWalletAddressUpdated)="orderWalletChanged($event)"
      (onVerifyWhenPaidChanged)="orderVerifyWhenPaidChanged($event)" (onComplete)="orderDetailsComplete($event)">
    </app-widget-order-details>
    <!-- Sell details -->
    <app-widget-sell-details *ngSwitchCase="'sell_details'" [summary]="summary" (onBack)="stageBack()"
      (onComplete)="sellComplete($event)">
    </app-widget-sell-details>
    <!-- Disclaimer -->
    <app-widget-disclaimer *ngSwitchCase="'intro_disclaimer'" [agreementChecked]="summary.agreementChecked"
      [textContent]="disclaimerTextData" [errorMessageData]="errorMessage" [backButton]=false (onNext)="introDisclaimerNext()">
    </app-widget-disclaimer>
    <app-widget-disclaimer *ngSwitchCase="'disclaimer'" [agreementChecked]="summary.agreementChecked"
      [textContent]="disclaimerTextData" [errorMessageData]="errorMessage" (onBack)="stageBack()" (onNext)="disclaimerNext()">
    </app-widget-disclaimer>
    <!-- Register -->
    <app-widget-register *ngSwitchCase="'register'" [email]="summary.email" (onBack)="stageBack()"
      (onProgress)="progressChanged($event)" (onComplete)="onLoginRequired($event)">
    </app-widget-register>
    <!-- Login Authentication -->
    <app-widget-login-auth *ngSwitchCase="'login_auth'" [email]="summary.email" [widget]="widget"
      [requiredExtraData]="requiredExtraData" [allowCreate]="quickCheckout"
      [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="stageBack()"
      (onProgress)="progressChanged($event)" (onComplete)="loginComplete($event)">
    </app-widget-login-auth>
    <!-- Code Authentication -->
    <app-widget-code-auth *ngSwitchCase="'code_auth'" [email]="summary.email" [codeLength]="5"
      [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" [transactionIdConfirmationCode]="transactionIdConfirmationCode" (onComplete)="loginCodeConfirmed()"
      (onError)="handleError($event)" (onProgress)="progressChanged($event)" (onBack)="stageBack()"
      (onRegister)="onRegister($event)" (onTransactionComplete)="transactionConfiramtionComplete($event)">
    </app-widget-code-auth>
    <!-- Payment -->
    <app-widget-payment *ngSwitchCase="'payment'" [providers]="paymentProviders" [summary]="summary"
      [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="stageBack()"
      (onSelect)="selectProvider($event)">
    </app-widget-payment>
    <!-- Credit card -->
    <app-widget-credit-card *ngSwitchCase="'credit_card'"
      [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="stageBack()"
      (onComplete)="creditCardPaymentComplete($event)"></app-widget-credit-card>
    <!-- Wire transfer -->
    <app-widget-wire-transfer *ngSwitchCase="'wire_transfer'" [bankCategories]="wireTransferList"
      [bankAccountId]="bankAccountId" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
      (onBack)="stageBack()" (onComplete)="wireTransferPaymentComplete($event)"></app-widget-wire-transfer>

    <app-widget-wire-transfer-info-required #signupInfo *ngSwitchCase="'wire_transfer_info_required'" buttonTitle="SAVE" (error)="handleError($event)"
      (progressChange)="progressChanged($event)" (done)="requiredFieldsComplete()" [requiredFields] = "requiredFields"></app-widget-wire-transfer-info-required>
    
    <company-level-verification #signupInfo *ngSwitchCase="'company_level_verification'"  [levelName]="overLimitLevel" buttonTitle="SEND" (error)="handleError($event)"
      (progressChange)="progressChanged($event)" (done)="resetWizard()" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"></company-level-verification>

    <app-widget-wire-transfer-result *ngSwitchCase="'wire_transfer_result'" [referenceId]="summary.orderId"
      [bankData]="selectedWireTransfer" (onComplete)="processingComplete()"
      (onSendEmail)="sendWireTransaferMessage()">
    </app-widget-wire-transfer-result>

    <!-- KYC -->
    <app-widget-kyc class='widget-kyc-size' *ngSwitchCase="'verification'" 
      [summary]="summary" 
      [levelName]="overLimitLevel"
      [completedWhenVerified]="widget.kycFirst"
      [kycSubscribeResult]="kycSubscribeResult"
      [allowToPayIfKycFailed]="widget.allowToPayIfKycFailed"
      [widgetId]="widget.widgetId"
      [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onError)="handleError($event)"
      (onAuthError)="handleAuthError()" (onProgress)="progressChanged($event)" (onBack)="stageBack()"
      (onNext)="kycComplete()" (onReject)="handleReject()"></app-widget-kyc>
    <!-- Processing with a frame -->
    <app-widget-processing-frame *ngSwitchCase="'processing-frame'" [iframeContent]="iframeContent"
      [completed]="paymentComplete" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
      (onComplete)="processingComplete()">
    </app-widget-processing-frame>
    <app-widget-processing-instantpay *ngSwitchCase="'processing-instantpay'" [details]="apmResult"
      [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onComplete)="processingComplete()">
    </app-widget-processing-instantpay>
    <!-- Complete -->
    <app-widget-complete *ngSwitchCase="'complete'" [showRestartButton]="widget.widgetId===''"
      [textContent]="completeTextData" (onFinish)="resetWizard()"></app-widget-complete>
    <app-widget-error *ngSwitchCase="'error'" [title]="transactionErrorTitle" [errorMessage]="transactionErrorMessage"
      [tryAgain]="transactionErrorTryAgain" (onFinish)="resetWizard()"></app-widget-error>
    </div>
  </div>
</div>

<ng-template #recaptcha let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Recaptcha</h5>
  </div>
  <div class="modal-body">
    <div class="recaptcha-container">
      <app-recaptcha (completed)="capchaResult($event)"></app-recaptcha>
    </div>
  </div>
</ng-template>

<div *ngIf="recentTransactions" class="__widget-data-container">
  <div class="__widget-wizard-container __widget-wizard-container-single __widget-wizard-container-data-list">
    <app-widget-recent-transactions (back)="transactionsBack()"></app-widget-recent-transactions>
  </div>
</div>

<div *ngIf="widgetLink">
  <iframe [src]="widgetLink | safeurl" frameborder="0" allow="camera" class="widget-iframe"></iframe>
  <!-- <app-widget-iframe [widgetLink]="widgetLink"></app-widget-iframe> -->
</div>

