<h2>Risk alert</h2>

<app-details-attribute label="User" [value]="data?.user?.fullName"></app-details-attribute>
<app-details-attribute label="Email" [value]="data?.user?.email"></app-details-attribute>
<app-details-attribute label="Alert" [value]="data?.riskAlertType"></app-details-attribute>
<app-details-attribute label="Entity" [value]="data?.entity"></app-details-attribute>
<app-details-attribute label="Created" [value]="data?.created"></app-details-attribute>

<div class="panel-actions">
    <button mat-flat-button (click)="onCancel()">
        CLOSE
    </button>
</div>