<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <div *ngIf="defaultSchemeName===''" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Scheme name
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control" type="text" formControlName="name"
            required [ngClass]="{'has-error': !form.controls.name.valid}">
          <div *ngIf="(form.controls.name.touched || submitted) && (form.controls.name.errors?.['required'])"
            class="tx-danger">
            <small>
              Scheme name is required
            </small>
          </div>
        </div>
        <div *ngIf="defaultSchemeName!==''" class="form-group">
          <app-admin-details-item label="Scheme name" [value]="defaultSchemeName">
          </app-admin-details-item>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Description
          </label>
          <input class="form-control" type="text" formControlName="description">
        </div>

        <div class="card card-body pd-20 pd-md-40 border shadow-none">
          <h5 class="card-title mg-b-20">
            Targets
          </h5>
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Target
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="target" required [items]="targets"
              [clearable]=false [clearOnBackspace]=false>
            </ng-select>
            <div *ngIf="(form.controls.target.touched || submitted) && (form.controls.target.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify a target
              </small>
            </div>
          </div>

          <!-- Target values -->
          <div *ngIf="targetType!==TARGET_TYPE.None" class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              {{targetsTitle}}
            </label>
            <ng-select formControlName="targetValues" bindLabel="title"
              required [minTermLength]="minTargetsLengthTerm" notFoundText="No {{targetEntity[1]}} found"
              [loading]="isTargetsLoading" [multiple]="true"
              [typeToSearchText]="targetSearchText" placeholder="Start typing to search a {{targetEntity[0]}}" [typeahead]="targetsSearchInput$">
              <ng-option *ngFor="let item of targetsOptions$ | async" [value]="item">
                <app-dropdown-item [itemValue]="item.title" [imageClass]="item.imgClass" [imageSource]="item.imgSource">
                </app-dropdown-item>
              </ng-option>
            </ng-select>
            <div
              *ngIf="(form.controls.targetValues.touched || submitted) && (form.controls.targetValues.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify at least one {{targetEntity[0]}}
              </small>
            </div>
            <app-cost-similiar-panel [targetField]="(similarSchemas$ | async)?.targetFilterValues"> </app-cost-similiar-panel>
          </div>

          <!-- WidgetId -->
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Widgets
            </label>
            <ng-select formControlName="widgetIds"
              bindLabel="title"
              notFoundText="No widgets found"
              typeToSearchText="type widget name" 
              placeholder="Start typing to search a widget" 
              [minTermLength]="minTargetsLengthTerm"
              [loading]="isWidgetsLoading" 
              [multiple]="true" 
              [typeahead]="widgetsSearchInput$" 
              [items]="widgetsOptions$ | async">
            </ng-select>
            <app-cost-similiar-panel [targetField]="(similarSchemas$ | async)?.widgetIds"> </app-cost-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Transaction types
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="trxType" placeholder="Select one or more types"
              required [items]="transactionTypes" [multiple]="true">
            </ng-select>
            <div *ngIf="(form.controls.trxType.touched || submitted) && (form.controls.trxType.errors?.['required'])"
              class="tx-danger">
              <small>
                Select at least one transaction type
              </small>
            </div>
            <app-cost-similiar-panel [targetField]="(similarSchemas$ | async)?.targetTransactionTypes"> </app-cost-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Payment Methods
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="instrument" placeholder="Select one or more methods"
              required [items]="instruments" [multiple]="true">
            </ng-select>
            <div
              *ngIf="(form.controls.instrument.touched || submitted) && (form.controls.instrument.errors?.['required'])"
              class="tx-danger">
              <small>
                Select at least one payment method
              </small>
            </div>
            <app-cost-similiar-panel [targetField]="(similarSchemas$ | async)?.targetInstruments"> </app-cost-similiar-panel>
          </div>

          <div *ngIf="showPaymentProvider" class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Payment providers
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="provider" placeholder="Select one or more providers"
              [items]="filteredProviders" [multiple]="true">
            </ng-select>
            <div *ngIf="(form.controls.provider.touched || submitted) && (form.controls.provider.errors?.['required'])"
              class="tx-danger">
              <small>
                Select at least one payment provider
              </small>
            </div>
            <app-cost-similiar-panel [targetField]="(similarSchemas$ | async)?.targetPaymentProviders"> </app-cost-similiar-panel>
          </div>
        </div>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Terms
        </h5>
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            MDR, %
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control" type="text" formControlName="mdr"
            maxlength="7" placeholder="2%" required [ngClass]="{'has-error': !form.controls.mdr.valid}">
          <div *ngIf="(form.controls.mdr.touched || submitted) && (form.controls.mdr.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify MDR value
            </small>
          </div>
          <div *ngIf="(form.controls.mdr.touched || submitted) && (form.controls.mdr.errors?.['pattern'])"
            class="tx-danger">
            <small>
              Invalid number value
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Per transaction cost
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control" type="text" formControlName="transactionCost"
            maxlength="10" placeholder="1" required [ngClass]="{'has-error': !form.controls.transactionCost.valid}">
          <div
            *ngIf="(form.controls.transactionCost.touched || submitted) && (form.controls.transactionCost.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify transaction cost
            </small>
          </div>
          <div
            *ngIf="(form.controls.transactionCost.touched || submitted) && (form.controls.transactionCost.errors?.['pattern'])"
            class="tx-danger">
            <small>
              Invalid number value
            </small>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
        <h4 class="card-title2 mg-b-20 color_brown">
          {{errorMessage}}
        </h4>
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary pd-x-30 me-2 mg-t-5">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Save
        </button>
        <button type="button" class="btn btn-primary pd-x-30 me-2 mg-t-5" (click)="onTest()">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          TEST
        </button>
        <button *ngIf="permission > 1 && !createNew" type="button" class="btn btn-secondary pd-x-30 me-2 mg-t-5" (click)="onStateChangeScheme()">
          <span *ngIf="disableInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{deleted ? 'Enable' : 'Disable'}}
        </button>
        <button class="btn btn-outline-primary pd-x-30 mg-t-5" type="button" (click)="close.emit()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #delete_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Delete KYC scheme</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="tx-center">
      You are going to delete selected cost scheme. Confirm operation.
    </h4>
    <div class="d-flex align-items-center justify-content-center">
      <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.dismiss('Reject')">
        Reject
      </button>
      <button type="button" class="btn btn-primary pd-x-30 mg-t-5" (click)="modal.close('Confirm')">
        Confirm
      </button>
    </div>
  </div>
</ng-template>