@import "../../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.mat-column-cost-table {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-cost-table-name {
  min-width: 5em;
}

.mat-column-cost-table-target {
  min-width: 5em;
}

.mat-column-cost-table-trx-type {
  min-width: 5em;
}

.mat-column-cost-table-instrument {
  min-width: 5em;
}

.mat-column-cost-table-provider {
  min-width: 5em;
}

.mat-column-cost-table-details {
  min-width: 1.5em;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.multiple-cell {
  font-size: 13px;

  &:last-child .multiple-cell-seperator {
    display: none;
  }
  .multiple-cell-seperator {
    color: rgba(0, 0, 0, 0.2);
    margin-right: 5px;
  }
}