@import "../../../scss/variables";

.action-panel {
  padding: 16px 24px;
  background: $color-grey-0;
}


.mat-column-bank-account-table {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-cost-table-name {
  flex: 0 0 30%;
  width: 30%;
  min-width: 5em;
}

.mat-column-cost-table-description {
  flex: 0 0 30%;
  width: 30%;
  min-width: 5em;
}

.mat-column-cost-table-available {
  flex: 0 0 12%;
  width: 12%;
  min-width: 5em;
}

.mat-column-cost-table-details {
  flex: 0 0 4%;
  width: 4%;
  min-width: 1.5em;
}

.target-tab-box {
  overflow: hidden;
}
