<div class="data-table">
    <mat-table [dataSource]="accounts">
        <!-- Details Column -->
        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-details"></th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button class="row-button" (click)="toggleDetails(element)"
                    [attr.aria-label]="'Change account'" 
                    [matTooltip]="getDetailsTooltip(element.id)" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">
                        {{getDetailsIcon(element.id)}}
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="mat-column-bank-account-table mat-column-bank-account-table-name">Name</th>
            <td mat-cell *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <!-- Ddescription Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="mat-column-bank-account-table mat-column-bank-account-table-description">
                Description
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.description}}
            </td>
        </ng-container>

        <!-- AU Available Column -->
        <ng-container matColumnDef="auAvailable">
            <th mat-header-cell *matHeaderCellDef class="mat-column-bank-account-table mat-column-bank-account-table-available">
                AU
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.auAvailable ? '+' : '-'}}
            </td>
        </ng-container>

        <!-- UK Available Column -->
        <ng-container matColumnDef="ukAvailable">
            <th mat-header-cell *matHeaderCellDef class="mat-column-bank-account-table mat-column-bank-account-table-available">
                UK
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.ukAvailable ? '+' : '-'}}
            </td>
        </ng-container>

        <!-- EU Available Column -->
        <ng-container matColumnDef="euAvailable">
            <th mat-header-cell *matHeaderCellDef class="mat-column-bank-account-table mat-column-bank-account-table-available">
                EU
            </th>
            <td mat-cell *matCellDef="let element">
                {{element.euAvailable ? '+' : '-'}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>

<!-- <ng-template *ngIf="showDetailed" appRightPanel>
    <app-cost-editor *ngIf="showDetailed" [currentScheme]="selectedScheme" [create]="createScheme"
        (save)="onSaved($event)" (delete)="onDeleteScheme($event)" >
    </app-cost-editor>
</ng-template> -->