<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            User
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select [items]="usersOptions$ | async" bindLabel="extendedName" [minTermLength]="minUsersLengthTerm"
            notFoundText="No users found" [loading]="isUsersLoading" [multiple]="false" formControlName="user"
            typeToSearchText="Type email or user name" placeholder="Start typing to search a user"
            [typeahead]="usersSearchInput$" required>
          </ng-select>
          <div *ngIf="(form.controls.user.touched || submitted) && (form.controls.user.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify a user
            </small>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
        <h4 class="card-title2 mg-b-20 color_brown">
          {{errorMessage}}
        </h4>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <button *ngIf="permission>1" class="btn btn-primary pd-x-30 me-2 mg-t-5">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Save
        </button>
        <button class="btn btn-outline-primary pd-x-30 mg-t-5" type="button" (click)="close.emit()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
