<app-admin-page-header
  [title]="'Transaction Lifeline'"
  [active_item]="'Transaction: ' + transactionId"
>
</app-admin-page-header>

<ng-container *ngIf="transactionLifelineStatusItems$ | async as liflinesStatusItems; else loading">
  <mat-card *ngIf="!liflinesStatusItems.length">
    <mat-card-content>
      <h3>No Data</h3>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="liflinesStatusItems.length" class="mb-3">
    <mat-card-content>
      Creating: <span class="lifeLine-label">{{ liflinesStatusItems[0]?.['newCreated'] | date : 'yyyy-MM-dd hh:mm:ss' }}</span> 
 
      <mat-stepper #createStepper labelPosition="bottom" [linear]="false">
        <mat-step
          *ngFor="let status of liflinesStatusItems[0].lifelineStatus" 
          [editable]="status.transactionLifelineStatusId"
          [aria-labelledby]="!status.transactionLifelineStatusId ? 'disabled_af' : null"
          [state]="status?.transactionStatusResult === 'FAILURE' ? 'cancel' : 
            status?.transactionStatusResult === 'SUCCESS' ? 'success' : 
            (status?.transactionStatusResult === 'UNKNOWN' && status.transactionLifelineStatusId) ? 'update' : 'number'" [completed]="false">
          <ng-template matStepLabel>
            <span [ngClass]="status?.transactionStatusResult === 'FAILURE' ? 'cancel' : 
            status?.transactionStatusResult === 'SUCCESS' ? 'success' : 'number'">
              {{ status.lifelineStatusDescriptor.statusName || status.transactionStatus }}
            </span>
          </ng-template>

          <mat-tab-group animationDuration="300ms" mat-stretch-tabs="false">
            <mat-tab label="General Details">
              <div class="overview__wrapper">
                <div class="overview__data">
                  <div class="overview__container">
                    <p>
                      ID: 
                      <span> 
                        {{ status.transactionLifelineStatusId }} 
                        <mat-icon class="mat-icon-copy" (click)="copyParameter(status.transactionLifelineStatusId)">file_copy</mat-icon>
                      </span>
                    </p>
                    <p>
                      Created: <span>{{ status.created | date : 'yyyy-MM-dd hh:mm:ss ' }}</span>
                    </p>
                    <p>
                      Status Result: <span>
                        {{ status.transactionStatusResult}}

                        <button type="button" class="view-json" (click)="onOpenJsonParameter(status)">
                          View Raw JSON
                        </button>
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </mat-tab>
            <ng-container *ngIf="status?.['transactionStatusResultParsed']?.details?.paymentOrder as paymentOrder">

              <mat-tab label="Payment Order">
                <div class="overview__wrapper">
                  <div class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Order Details</h4>
                      <p>
                        Provider: <span>{{ paymentOrder.provider }}</span>
                      </p>
                      <p>
                        Original Order Id: <span>{{ paymentOrder.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ paymentOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Status: <span>{{ paymentOrder.status }}</span>
                      </p>
                    </div>
                  </div>

                  <div class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Payment Details</h4>
                      <p>
                        Bank Name: <span>{{ paymentOrder.paymentBankName || 'N/A' }}</span>
                      </p>
                      <p>
                        Card Holder Name: <span>{{ paymentOrder.paymentCardHolderName || 'N/A'}}</span>
                      </p>
                      <p>
                        Card Type: <span>{{ paymentOrder.paymentCardType || 'N/A' }}</span>
                      </p>
                      <p>
                        Processor Name: <span>{{ paymentOrder.paymentProcessorName || 'N/A' }}</span>
                      </p>
                      <p>
                        Bin: <span>{{ paymentOrder.paymentBin || 'N/A' }}</span>
                      </p>
                    </div>
                  </div>

                  <div *ngIf="paymentOrder.preauthOperationSn" class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Preauth Operation</h4>
                      <p>
                        Original Order Id: <span>{{ paymentOrder.preauthOperation?.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ paymentOrder.preauthOperation?.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Status: <span>{{ paymentOrder.preauthOperation?.status + (paymentOrder.preauthOperation?.statusReason) }}</span>
                      </p>
                      <p>
                        Errors: <span>{{ paymentOrder.preauthOperation?.errorMessage }}</span>
                      </p>
                    </div>
                  </div>

                  <div *ngIf="paymentOrder.captureOperationSn" class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Capture Operation</h4>
                      <p>
                        Errors: <span>{{ paymentOrder.captureOperationSn?.errorMessage }}</span>
                      </p>
                      <p>
                        Original Order Id: <span>{{ paymentOrder.captureOperationSn?.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ paymentOrder.captureOperationSn?.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Status: <span>{{ paymentOrder.captureOperationSn?.status || paymentOrder.captureOperationSn?.statusReason }}</span>
                      </p>
                    </div>
                  </div>

                  <div *ngIf="paymentOrder.refundOperationSn" class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Refund Operation</h4>
                      <p>
                        Errors: <span>{{ paymentOrder.refundOperationSn?.errorMessage }}</span>
                      </p>
                      <p>
                        Original Order Id: <span>{{ paymentOrder.refundOperationSn?.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ paymentOrder.refundOperationSn?.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Status: <span>{{ paymentOrder.refundOperationSn?.status || paymentOrder.refundOperationSn?.statusReason }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </mat-tab>
            
            </ng-container>

            <ng-container *ngIf="status?.['transactionStatusResultParsed']?.details?.liquidityOrder as liquidityOrder">

              <mat-tab label="Liquidity Order">
                <div class="overview__wrapper">
                  <div class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Order Details</h4>
                      <p>
                        Provider: <span>{{ liquidityOrder.provider }}</span>
                      </p>
                      <p>
                        Original Order Id: <span>{{ liquidityOrder.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ liquidityOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Published: <span>{{ liquidityOrder.published | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Executed: <span>{{ liquidityOrder.executed | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Status: <span>{{ liquidityOrder.status }}</span>
                      </p>
                      <p>
                        State: <span>{{ liquidityOrder.state }}</span>
                      </p>
                      <p>
                        Symbol: <span>{{ liquidityOrder.symbol }}</span>
                      </p>
                      <p>
                        Side: <span>{{ liquidityOrder.side }}</span>
                      </p>
                      <p>
                        Type: <span>{{ liquidityOrder.type }}</span>
                      </p>
                      <p>
                        Price: <span>{{ liquidityOrder.price }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              </mat-tab>
            
            </ng-container>

            <ng-container *ngIf="status?.['transactionStatusResultParsed']?.details?.benchmarkTransferOrder as benchmarkTransferOrder">

              <mat-tab label="Benchmark Transfer Order">
                <div class="overview__wrapper">
                  <div class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Order Details</h4>
                      <p>
                        Provider: <span>{{ benchmarkTransferOrder.provider }}</span>
                      </p>
                      <p>
                        Original Order ID: <span>{{ benchmarkTransferOrder.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ benchmarkTransferOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Published: <span>{{ benchmarkTransferOrder.published | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Executed: <span>{{ benchmarkTransferOrder.executed | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Type: <span>{{ benchmarkTransferOrder.type }}</span>
                      </p>
                      <p>
                        Status: <span>{{ benchmarkTransferOrder.status }}</span>
                      </p>
                      <p>
                        Sub-Status: <span>{{ benchmarkTransferOrder.subStatus }}</span>
                      </p>
                 
                      <p>
                        Destination: <span>{{ benchmarkTransferOrder.destination }}</span>
                      </p>
                      <p>
                        Source Vault ID: <span>{{ benchmarkTransferOrder.sourceVaultId }}</span>
                      </p>
                      <p>
                        Transfer Hash: <span>{{ benchmarkTransferOrder.transferHash }}</span>
                      </p>
                      <p>
                        Fee Currency: <span>{{ benchmarkTransferOrder.feeCurrency || 'N/A' }}</span>
                      </p>
                      <p>
                        Crypto Invoice Name: <span>{{ benchmarkTransferOrder.cryptoInvoiceName }}</span>
                      </p>
                      <p>
                        Screening Answer: <span>{{ benchmarkTransferOrder.screeningAnswer }}</span>
                      </p>
                      <p>
                        Screening Risk Score: <span>{{ benchmarkTransferOrder.screeningRiskscore }}</span>
                      </p>
                      <p>
                        Screening Status: <span>{{ benchmarkTransferOrder.screeningStatus }}</span>
                      </p>
                      <p>
                        Final Benchmark Amount: <span>{{ benchmarkTransferOrder.finalBenchmarkAmount }}</span>
                      </p>
                      <p>
                        Benchmark Amount: <span>{{ benchmarkTransferOrder.benchmarkAmount }}</span>
                      </p>
                      <p>
                        Benchmark Amount to Remain: <span>{{ benchmarkTransferOrder.benchmarkAmountToRemain }}</span>
                      </p>
                      <p>
                        Liquidity Provider Balance: <span>{{ benchmarkTransferOrder.liquidityProviderBalance }}</span>
                      </p>

                    </div>
                  </div>
                </div>
              </mat-tab>
            </ng-container>

            <ng-container *ngIf="status?.['transactionStatusResultParsed']?.details?.transferOrder as transferOrder">

              <mat-tab label="Transfer Order">
                <div class="overview__wrapper">
                  <div class="overview__data">
                    <div class="overview__container">
                      <h4 class="overview__title">Order Details</h4>
                      <p>
                        Provider: <span>{{ transferOrder.provider }}</span>
                      </p>
                      <p>
                        Original Order ID: <span>{{ transferOrder.originalOrderId }}</span>
                      </p>
                      <p>
                        Created: <span>{{ transferOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Published: <span>{{ transferOrder.published | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Executed: <span>{{ transferOrder.executed | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                      </p>
                      <p>
                        Type: <span>{{ transferOrder.type }}</span>
                      </p>
                      <p>
                        Status: <span>{{ transferOrder.status }}</span>
                      </p>
                      <p>
                        Sub-Status: <span>{{ transferOrder.subStatus }}</span>
                      </p>
                      <p>
                        Destination: <span>{{ transferOrder.destination }}</span>
                      </p>
                      <p>
                        Source Vault ID: <span>{{ transferOrder.sourceVaultId }}</span>
                      </p>
                      <p>
                        Transfer Hash: <span>{{ transferOrder.transferHash }}</span>
                      </p>
                      <p>
                        Fee Currency: <span>{{ transferOrder.feeCurrency || 'N/A' }}</span>
                      </p>
                      <p>
                        Crypto Invoice Name: <span>{{ transferOrder.cryptoInvoiceName }}</span>
                      </p>
                      <p>
                        Screening Answer: <span>{{ transferOrder.screeningAnswer }}</span>
                      </p>
                      <p>
                        Screening Risk Score: <span>{{ transferOrder.screeningRiskscore }}</span>
                      </p>
                      <p>
                        Screening Status: <span>{{ transferOrder.screeningStatus }}</span>
                      </p>

                    </div>
                  </div>
                </div>
              </mat-tab>
            </ng-container>

          </mat-tab-group>
        </mat-step>

        <ng-template matStepperIcon="edit">
          <mat-icon class="tx-gray-500 tx-xs-bold">search</mat-icon>
        </ng-template>
        
        <ng-template matStepperIcon="cancel">
          <mat-icon class="tx-danger tx-xs-bold">cancel</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="update">
          <mat-icon class="tx-gray-800 tx-xs-bold">update</mat-icon>
        </ng-template>

        <ng-template matStepperIcon="success">
          <mat-icon class="tx-success tx-xs-bold">check_circle</mat-icon>
        </ng-template>
        
      </mat-stepper>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="liflinesStatusItems.length > 1">
    <mat-card-content>
      Updating

      <mat-vertical-stepper [linear]="false">
        <mat-step *ngFor="let statusItem of liflinesStatusItems.slice(1);" [completed]="false">
          
          <ng-template matStepLabel>
            <span class="lifeLine-label">
              {{ statusItem?.['newCreated'] | date : 'yyyy-MM-dd hh:mm:ss' }}
            </span> 
          </ng-template>

          <mat-stepper #updatingStepper labelPosition="bottom" animationDuration="300" [linear]="false">
            <mat-step
              *ngFor="let lineStatus of statusItem.lifelineStatus"
              [editable]="lineStatus.transactionLifelineStatusId"
              [aria-labelledby]="!lineStatus.transactionLifelineStatusId ? 'disabled_af' : null"
              [state]="lineStatus?.transactionStatusResult === 'FAILURE' ? 'cancel' : 
              lineStatus?.transactionStatusResult === 'SUCCESS' ? 'success' : 
              (lineStatus?.transactionStatusResult === 'UNKNOWN' && lineStatus.transactionLifelineStatusId) ? 'update' : 'number'" [completed]="false">

              <ng-template matStepLabel>
                <span [ngClass]="lineStatus?.transactionStatusResult === 'FAILURE' ? 'cancel' : 
                lineStatus?.transactionStatusResult === 'SUCCESS' ? 'success' : 'number'">
                  {{ lineStatus.lifelineStatusDescriptor.statusName || lineStatus.transactionStatus }}
                </span>
              </ng-template>
        
              <mat-tab-group animationDuration="300ms" mat-stretch-tabs="false">
                <mat-tab label="General Details">
                  <div class="overview__wrapper">
                    <div class="overview__data">
                      <div class="overview__container">
                        <p>
                          ID: 
                          <span> 
                            {{ lineStatus.transactionLifelineStatusId }} 
                            <mat-icon class="mat-icon-copy" (click)="copyParameter(lineStatus.transactionLifelineStatusId)">file_copy</mat-icon>
                          </span>
                        </p>
                        <p>
                          Created: <span>{{ lineStatus.created | date : 'yyyy-MM-dd hh:mm:ss ' }}</span>
                        </p>
                        <p>
                          Status Result: <span>
                            {{ lineStatus.transactionStatusResult}}
    
                            <button type="button" (click)="onOpenJsonParameter(lineStatus)" class="view-json">
                              View Raw JSON
                            </button>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <ng-container *ngIf="lineStatus?.['transactionStatusResultParsed']?.details?.paymentOrder as paymentOrder">
    
                  <mat-tab label="Payment Order">
                    <div class="overview__wrapper">
                      <div class="overview__data">
                        <div class="overview__container">
                          <h4 class="overview__title">Order Details</h4>
                          <p>
                            Provider: <span>{{ paymentOrder.provider }}</span>
                          </p>
                          <p>
                            Original Order Id: <span>{{ paymentOrder.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ paymentOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Status: <span>{{ paymentOrder.status }}</span>
                          </p>
                        </div>
                      </div>
    
                      <div class="overview__data">
                        <div class="overview__container">
                          <h4 class="overview__title">Payment Details</h4>
                          <p>
                            Bank Name: <span>{{ paymentOrder.paymentBankName || 'N/A' }}</span>
                          </p>
                          <p>
                            Card Holder Name: <span>{{ paymentOrder.paymentCardHolderName || 'N/A'}}</span>
                          </p>
                          <p>
                            Card Type: <span>{{ paymentOrder.paymentCardType || 'N/A' }}</span>
                          </p>
                          <p>
                            Processor Name: <span>{{ paymentOrder.paymentProcessorName || 'N/A' }}</span>
                          </p>
                          <p>
                            Bin: <span>{{ paymentOrder.paymentBin || 'N/A' }}</span>
                          </p>
                        </div>
                      </div>
    
                      <div class="overview__data" *ngIf="paymentOrder.preauthOperationSn">
                        <div class="overview__container">
                          <h4 class="overview__title">Preauth Operation</h4>
                          <p>
                            Original Order Id: <span>{{ paymentOrder.preauthOperation?.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ paymentOrder.preauthOperation?.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Status: <span>{{ paymentOrder.preauthOperation?.status + (paymentOrder.preauthOperation?.statusReason) }}</span>
                          </p>
                          <p>
                            Errors: <span>{{ paymentOrder.preauthOperation?.errorMessage }}</span>
                          </p>
                        </div>
                      </div>
    
                      <div class="overview__data" *ngIf="paymentOrder.captureOperationSn">
                        <div class="overview__container">
                          <h4 class="overview__title">Capture Operation</h4>
                          <p>
                            Errors: <span>{{ paymentOrder.captureOperationSn?.errorMessage }}</span>
                          </p>
                          <p>
                            Original Order Id: <span>{{ paymentOrder.captureOperationSn?.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ paymentOrder.captureOperationSn?.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Status: <span>{{ paymentOrder.captureOperationSn?.status || paymentOrder.captureOperationSn?.statusReason }}</span>
                          </p>
                        </div>
                      </div>
    
                      <div class="overview__data" *ngIf="paymentOrder.refundOperationSn">
                        <div class="overview__container">
                          <h4 class="overview__title">Refund Operation</h4>
                          <p>
                            Errors: <span>{{ paymentOrder.refundOperationSn?.errorMessage }}</span>
                          </p>
                          <p>
                            Original Order Id: <span>{{ paymentOrder.refundOperationSn?.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ paymentOrder.refundOperationSn?.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Status: <span>{{ paymentOrder.refundOperationSn?.status || paymentOrder.refundOperationSn?.statusReason }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                
                </ng-container>
    
                <ng-container *ngIf="lineStatus?.['transactionStatusResultParsed']?.details?.liquidityOrder as liquidityOrder">
                  
                  <mat-tab label="Liquidity Order">
                    <div class="overview__wrapper">
                      <div class="overview__data">
                        <div class="overview__container">
                          <h4 class="overview__title">Order Details</h4>
                          <p>
                            Provider: <span>{{ liquidityOrder.provider }}</span>
                          </p>
                          <p>
                            Original Order Id: <span>{{ liquidityOrder.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ liquidityOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Published: <span>{{ liquidityOrder.published | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Executed: <span>{{ liquidityOrder.executed | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Status: <span>{{ liquidityOrder.status }}</span>
                          </p>
                          <p>
                            State: <span>{{ liquidityOrder.state }}</span>
                          </p>
                          <p>
                            Symbol: <span>{{ liquidityOrder.symbol }}</span>
                          </p>
                          <p>
                            Side: <span>{{ liquidityOrder.side }}</span>
                          </p>
                          <p>
                            Type: <span>{{ liquidityOrder.type }}</span>
                          </p>
                          <p>
                            Price: <span>{{ liquidityOrder.price }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                
                </ng-container>
    
                <ng-container *ngIf="lineStatus?.['transactionStatusResultParsed']?.details?.benchmarkTransferOrder as benchmarkTransferOrder">
    
                  <mat-tab label="Benchmark Transfer Order">
                    <div class="overview__wrapper">
                      <div class="overview__data">
                        <div class="overview__container">
                          <h4 class="overview__title">Order Details</h4>
                          <p>
                            Provider: <span>{{ benchmarkTransferOrder.provider }}</span>
                          </p>
                          <p>
                            Original Order ID: <span>{{ benchmarkTransferOrder.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ benchmarkTransferOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Published: <span>{{ benchmarkTransferOrder.published | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Executed: <span>{{ benchmarkTransferOrder.executed | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Type: <span>{{ benchmarkTransferOrder.type }}</span>
                          </p>
                          <p>
                            Status: <span>{{ benchmarkTransferOrder.status }}</span>
                          </p>
                          <p>
                            Sub-Status: <span>{{ benchmarkTransferOrder.subStatus }}</span>
                          </p>
                     
                          <p>
                            Destination: <span>{{ benchmarkTransferOrder.destination }}</span>
                          </p>
                          <p>
                            Source Vault ID: <span>{{ benchmarkTransferOrder.sourceVaultId }}</span>
                          </p>
                          <p>
                            Transfer Hash: <span>{{ benchmarkTransferOrder.transferHash }}</span>
                          </p>
                          <p>
                            Fee Currency: <span>{{ benchmarkTransferOrder.feeCurrency || 'N/A' }}</span>
                          </p>
                          <p>
                            Crypto Invoice Name: <span>{{ benchmarkTransferOrder.cryptoInvoiceName }}</span>
                          </p>
                          <p>
                            Screening Answer: <span>{{ benchmarkTransferOrder.screeningAnswer }}</span>
                          </p>
                          <p>
                            Screening Risk Score: <span>{{ benchmarkTransferOrder.screeningRiskscore }}</span>
                          </p>
                          <p>
                            Screening Status: <span>{{ benchmarkTransferOrder.screeningStatus }}</span>
                          </p>
                          <p>
                            Final Benchmark Amount: <span>{{ benchmarkTransferOrder.finalBenchmarkAmount }}</span>
                          </p>
                          <p>
                            Benchmark Amount: <span>{{ benchmarkTransferOrder.benchmarkAmount }}</span>
                          </p>
                          <p>
                            Benchmark Amount to Remain: <span>{{ benchmarkTransferOrder.benchmarkAmountToRemain }}</span>
                          </p>
                          <p>
                            Liquidity Provider Balance: <span>{{ benchmarkTransferOrder.liquidityProviderBalance }}</span>
                          </p>
    
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </ng-container>
    
                <ng-container *ngIf="lineStatus?.['transactionStatusResultParsed']?.details?.transferOrder as transferOrder">
    
                  <mat-tab label="Transfer Order">
                    <div class="overview__wrapper">
                      <div class="overview__data">
                        <div class="overview__container">
                          <h4 class="overview__title">Order Details</h4>
                          <p>
                            Provider: <span>{{ transferOrder.provider }}</span>
                          </p>
                          <p>
                            Original Order ID: <span>{{ transferOrder.originalOrderId }}</span>
                          </p>
                          <p>
                            Created: <span>{{ transferOrder.created | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Published: <span>{{ transferOrder.published | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Executed: <span>{{ transferOrder.executed | date : 'yyyy-MM-dd hh:mm:ss' }}</span>
                          </p>
                          <p>
                            Type: <span>{{ transferOrder.type }}</span>
                          </p>
                          <p>
                            Status: <span>{{ transferOrder.status }}</span>
                          </p>
                          <p>
                            Sub-Status: <span>{{ transferOrder.subStatus }}</span>
                          </p>
                          <p>
                            Destination: <span>{{ transferOrder.destination }}</span>
                          </p>
                          <p>
                            Source Vault ID: <span>{{ transferOrder.sourceVaultId }}</span>
                          </p>
                          <p>
                            Transfer Hash: <span>{{ transferOrder.transferHash }}</span>
                          </p>
                          <p>
                            Fee Currency: <span>{{ transferOrder.feeCurrency || 'N/A' }}</span>
                          </p>
                          <p>
                            Crypto Invoice Name: <span>{{ transferOrder.cryptoInvoiceName }}</span>
                          </p>
                          <p>
                            Screening Answer: <span>{{ transferOrder.screeningAnswer }}</span>
                          </p>
                          <p>
                            Screening Risk Score: <span>{{ transferOrder.screeningRiskscore }}</span>
                          </p>
                          <p>
                            Screening Status: <span>{{ transferOrder.screeningStatus }}</span>
                          </p>
    
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </ng-container>
    
              </mat-tab-group>
            </mat-step>

            <ng-template matStepperIcon="edit">
              <mat-icon class="tx-gray-500 tx-xs-bold">search</mat-icon>
            </ng-template>
            
            <ng-template matStepperIcon="cancel">
              <mat-icon class="tx-danger tx-xs-bold">cancel</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="update">
              <mat-icon class="tx-gray-800 tx-xs-bold">update</mat-icon>
            </ng-template>
    
            <ng-template matStepperIcon="success">
              <mat-icon class="tx-success tx-xs-bold">check_circle</mat-icon>
            </ng-template>
          
          </mat-stepper>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>


<app-raw-json *ngIf="isModalOpen" [isModal]="true" [data]="currentResultStatus" (close)="onCloseJsonParameter()"></app-raw-json>