::ng-deep .mat-step-header[aria-labelledby="disabled_af"] {
    pointer-events: none !important;
    cursor: not-allowed;
    opacity: 0.6
}

.transactionLifelineStatus__list {
    margin-left: -30px;
    margin-top: -20px;
    &-matListItemLine {
        display: flex;
        align-items: center;
    }
    .mat-icon-copy {
        margin-left: 5px;
        font-size: 16px;
        cursor: pointer;
    }
}

.view-json {
    min-width: 60px;
    min-height: 26px;
    padding: 0 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, .54);
    background: transparent;
    border-color: transparent;
    text-decoration: underline;

    &:disabled {
        opacity: 0.5;
    }
}