@import "../../../assets/scss/admin-table";

.table-button-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 16px;
}

.customer-list-selector-column {
  margin: 0px;
  padding: 0px 8px;
}

.customer-list-data-column {
  margin: 0px;
  padding: 0px;
}

.customer-list-column-grey {
  background-color: rgb(236, 236, 236);
}

.customer-list-column-red {
  background-color: rgb(253, 214, 221);
}

.customer-list-column-green {
  background-color: rgb(207, 248, 207);
}

.customer-list-column-yellow {
  background-color: rgb(248, 255, 194);
}

.customer-list-column-blue {
  background-color: rgb(211, 239, 255);
}

.customer-list-column-white {
  background-color: white;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-wrapper {
  button {
    margin: 0 5px;
  }
}