<app-admin-page-header [title]="'Customers'" [items]="['Home', 'Users']" [active_item]="'Customer'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-button-container">
            <button type="button" class="btn btn-outline-secondary me-2" [disabled]="!selected"
              (click)="sendMessage(message_content)">
              Send message
            </button>
            <button *ngIf="this.adminAdditionalSettings?.tabs?.customers?.createTransaction === true" type="button" class="btn btn-outline-secondary me-2" (click)="createUserTransactionShow(create_content)">
              Create transaction
            </button>
            
            <button type="button" class="btn btn-outline-secondary" (click)="export(export_content)">
              Export
            </button>
          </div>

          <app-admin-filter [fields]="filterFields" [filterData]="filter" (filter)="handleFilterApplied($event)">
          </app-admin-filter>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="table-button-container m-2">
            <button type="button" class="btn btn-secondary btn-sm mt-2" (click)="selectAll()">
              <div class="flex-center">
                <i class="material-icons">
                  library_add_check
                </i>
                Select all on the page
              </div>
            </button>
          </div>
          
          <div class="data-table">
            <mat-table matSort matSortDirection="desc" matSortDisableClear [matSortActive]="sortedField"
              [dataSource]="customers">
              <!-- Details Column -->
              <ng-container matColumnDef="details" sticky>
                <th *matHeaderCellDef mat-header-cell></th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListSelectorColumnStyle">
                    <div class="details-wrapper">
                      <input type="checkbox" [checked]="element.selected"
                        (change)="onCustomerSelected(element)">
                      <button type="button" mat-icon-button class="row-button" matTooltip="Customer details"
                        matTooltipClass="info-tooltip" [attr.aria-label]="'Customer details'"
                        [attr.aria-pressed]="!!selectedCustomer" (click)="showDetails(element, details_content)">
                        <i class="material-icons tx-20">
                          wysiwyg
                        </i>
                      </button>
                      <button type="button" mat-icon-button class="row-button" matTooltip="Customer's transactions"
                        matTooltipClass="info-tooltip" [attr.aria-label]="'Customer transactions'"
                        (click)="showTransactions(element.id)">
                        <i class="material-icons tx-20">
                          compare_arrows
                        </i>
                      </button>
                      <button type="button" mat-icon-button class="row-button" matTooltip="Customer's wallets"
                        matTooltipClass="info-tooltip" [attr.aria-label]="'Customer wallets'"
                        (click)="showWallets(element.id)">
                        <i class="material-icons tx-20">
                          account_balance_wallet
                        </i>
                      </button>
                      <button type="button" mat-icon-button class="row-button" matTooltip="White List"
                        matTooltipClass="info-tooltip" [attr.aria-label]="'User roles'" (click)="showWhiteList(element.id)">
                        <i class="material-icons tx-20">
                          playlist_add_check
                        </i>
                      </button>
                      <button *ngIf="!element.emailConfirmed && permission > 1" type="button" mat-icon-button class="row-button"
                        matTooltip="Confirm email" matTooltipClass="info-tooltip"
                        [attr.aria-label]="'Confirm email'" (click)="confirmEmail(element, confirmed_content)">
                        <i class="material-icons">
                          approval
                        </i>
                      </button>
                      <button *ngIf="element.flag" type="button" mat-icon-button class="row-button" matTooltipClass="info-tooltip" 
                      [attr.aria-label]="'Flaged Customer'" [matTooltip]="'Flaged Customer'">
                        <i class="material-icons tx-20 color_brown">
                          flag
                        </i>
                      </button>
                    </div>
                </td>
              </ng-container>

              <!-- ID Column -->
              <ng-container matColumnDef="referralCode">
                <th *matHeaderCellDef mat-header-cell>
                  Customer ID
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.referralCode}}
                </td>
              </ng-container>

              <!-- First Name Column -->
              <ng-container matColumnDef="firstName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  First name
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.fullFirstName}}
                </td>
              </ng-container>

              <!-- Last name Column -->
              <ng-container matColumnDef="lastName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  Last name
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.lastName}}
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  Email
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.email}}
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="accountStatus">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  Status
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.accountStatus}}
                </td>
              </ng-container>

              <!-- KYC Column -->
              <ng-container matColumnDef="kycStatus">
                <th *matHeaderCellDef mat-header-cell>
                  DocsCheck
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.kycStatus}}
                </td>
              </ng-container>

              <!-- widgetName Column-->
              <ng-container matColumnDef="widgetName">
                <th *matHeaderCellDef mat-header-cell>
                  Widget Name
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.widgetName}}
                </td>
              </ng-container>
              

              <!-- totalBought Column -->
              <ng-container matColumnDef="totalBought">
                <th *matHeaderCellDef mat-header-cell>
                  Total Buy
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.totalBought}}
                </td>
              </ng-container>

              <!-- totalSold Column -->
              <ng-container matColumnDef="totalSold">
                <th *matHeaderCellDef mat-header-cell>
                  Total Sell
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.totalSold}}
                </td>
              </ng-container>

              <!-- totalSent Column -->
              <ng-container matColumnDef="totalSent">
                <th *matHeaderCellDef mat-header-cell>
                  Total Send
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.totalSent}}
                </td>
              </ng-container>

              <!-- totalReceived Column -->
              <ng-container matColumnDef="totalReceived">
                <th *matHeaderCellDef mat-header-cell>
                  Total Receive
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.totalReceived}}
                </td>
              </ng-container>

              <!-- Registered Column -->
              <ng-container matColumnDef="created">
                <th *matHeaderCellDef mat-header-cell mat-sort-header>
                  Registered
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.created}}
                </td>
              </ng-container>

              <!-- Country Column -->
              <ng-container matColumnDef="country">
                <th *matHeaderCellDef mat-header-cell>
                  Country
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.country?.title}}
                </td>
              </ng-container>

              <!-- Phone Column -->
              <ng-container matColumnDef="phone">
                <th *matHeaderCellDef mat-header-cell>
                  Phone
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.phone}}
                </td>
              </ng-container>

              <!-- Risk Column -->
              <ng-container matColumnDef="risk">
                <th *matHeaderCellDef mat-header-cell>
                  Risk Level
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.risk}}
                </td>
              </ng-container>

              <!-- User ID Column -->
              <ng-container matColumnDef="id">
                <th *matHeaderCellDef mat-header-cell>ID</th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle"> {{element.id}}
                </td>
              </ng-container>

              <!-- widgetId Column -->
              <ng-container matColumnDef="widgetId">
                <th *matHeaderCellDef mat-header-cell>
                  Widget ID
                </th>
                <td *matCellDef="let element" mat-cell [ngClass]="element.customerListDataColumnStyle">
                  {{element.widgetId}}
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </mat-table>
          </div>

          <div *ngIf="customerCount > pageSize" class="card card-body border shadow-none">
            <ngb-pagination class="d-flex justify-content-center" aria-label="Table pagination" [collectionSize]="customerCount"
              [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="10" (pageChange)="handlePage($event)">
              <ng-template ngbPaginationFirst>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">first_page</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_left</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationNext>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationLast>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">last_page</i>
                </div>
              </ng-template>
            </ngb-pagination>
          </div>

          <ng-template #create_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Create transaction</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-transaction-create [users]="selectedCustomers" (close)="modal.dismiss('Close')">
              </app-admin-transaction-create>
            </div>
          </ng-template>

          <ng-template #details_content let-modal>
            <div class="modal-body">
              <mat-tab-group>
                <mat-tab label="Customer details">
                  <app-admin-customer-details [permission]="permission" [customer]="selectedCustomer" [currencies]="currencyList"
                    (save)="onSaveCustomer()" (close)="modal.dismiss('Close')">
                  </app-admin-customer-details>
                </mat-tab>
                <mat-tab label="Customer Docs">
                  <app-admin-customer-docs (close)="modal.dismiss('Close')">
                  </app-admin-customer-docs>
                </mat-tab>
              </mat-tab-group>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </ng-template>

          <ng-template #message_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Send message to selected customers</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-user-message-dialog [errorMessage]="sendMessageError" [inProgress]="sendMessageInProgress" [users]="customers"
                (send)="sendMessageStart($event)" (close)="modal.dismiss('Close')">
              </app-admin-user-message-dialog>
            </div>
          </ng-template>

          <ng-template #export_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Export</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="text-center">
                Exported list of customers has been sent to your email.
              </h4>
              <div class="flex-center">
                <button type="button" class="btn btn-primary pd-x-50 mg-t-5" (click)="modal.dismiss('OK')">
                  OK
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template #confirmed_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Customer email confirmation</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 class="text-center">
                Customer email has been confirmed successfully.
              </h4>
              <div class="flex-center">
                <button class="btn btn-primary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.close('OK')">
                  OK
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>