:host {
  display: block;
  width: 480px;
  padding: 16px 24px;
}

section {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}


.panel-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;

  > * {
    margin-right: 16px;
  }
}

.data-boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 16px;

  > * {
    margin-top: 8px;
  }
}