<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <h2>Wallet info</h2>

    <!-- First name -->
    <mat-form-field class="form-element">
        <mat-label>Wallet Name</mat-label>
        <input type="text" matInput formControlName="vaultName" maxlength="50" placeholder="Wallet name" required />
        <mat-error *ngIf="this.dataForm.get('vaultName')?.hasError('required')">
            Please specify the wallet name
        </mat-error>
    </mat-form-field>

    <section>
        <app-details-attribute label="Description" [value]="walletData?.description"></app-details-attribute>
        <app-details-attribute label="Email" [value]="walletData?.userEmail"></app-details-attribute>
        <app-details-attribute label="Address Format" [value]="walletData?.addressFormat"></app-details-attribute>
        <app-details-attribute label="Address" [value]="walletData?.address"></app-details-attribute>
        <app-details-attribute label="Legacy Address" [value]="walletData?.legacyAddress"></app-details-attribute>
        <app-details-attribute label="Wallet Type" [value]="walletData?.type"></app-details-attribute>
        <app-details-attribute label="Asset" [value]="walletData?.assetId"></app-details-attribute>
        <app-details-attribute label="Custody Provider" [value]="walletData?.custodyProvider"></app-details-attribute>
        <app-details-attribute label="Total" [value]="walletData?.total"></app-details-attribute>
        <app-details-attribute label="Available" [value]="walletData?.available"></app-details-attribute>
        <app-details-attribute label="Pending" [value]="walletData?.pending"></app-details-attribute>
        <app-details-attribute label="Locked Amount" [value]="walletData?.lockedAmount"></app-details-attribute>
        <app-details-attribute label="Original ID" [value]="walletData?.originalId"></app-details-attribute>
        <app-details-attribute label="Vault ID" [value]="walletData?.vaultId"></app-details-attribute>
    </section>

    <div class="panel-actions">
        <button *ngIf="permission>1" mat-flat-button color="primary" type="submit">
            SAVE
        </button>
        <button *ngIf="permission>1" mat-flat-button color="warn" type="button" (click)="onDeleteWallet()">
            DELETE
        </button>
        <button mat-flat-button type="button" (click)="onCancel()">
            CANCEL
        </button>
    </div>
</form>