<div class="card custom-card">
    <div class="card-body">
        <div>
            <div class="__admin-filter-top-bar">
                <button type="button" class="btn btn-outline-primary me-2" (click)="collapse.toggle()"
                    [attr.aria-expanded]="!isFilterCollapsed" aria-controls="collapseExample">
                    <i class="material-icons" style="font-size: 16px;">
                        {{isFilterCollapsed ? 'keyboard_double_arrow_down' : 'keyboard_double_arrow_up'}}
                    </i>
                    Filter
                </button>
                <button (click)="resetFilters()" class="btn btn-outline-secondary me-2" type="button">
                    Reset
                </button>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isFilterCollapsed">
                <div class="card">
                    <div class="card-body">
                        <form *ngIf="filterForm" [formGroup]="filterForm">
                            <div
                                [ngClass]="{'__admin-filter-block-col-1': fields.length===1, '__admin-filter-block-col-2': fields.length===2, '__admin-filter-block-col-3': fields.length>2}">
                                <div *ngFor="let field of fields">
                                    <ng-container>
                                        <div *ngIf="field === 'accountType'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Account type
                                            </label>
                                            <ng-select [items]="userTypeOptions" bindLabel="name" bindValue="id"
                                                formControlName="accountTypes" [multiple]="true" [closeOnSelect]="false"
                                                placeholder="Select account types">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'accountStatus'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Account status
                                            </label>
                                            <ng-select [items]="userStatusOptions" bindLabel="name" bindValue="id"
                                                formControlName="accountStatuses" [multiple]="true"
                                                [closeOnSelect]="false" placeholder="Select account statuses">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'country'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Country
                                            </label>
                                            <ng-select formControlName="countries" [multiple]="true"
                                                [closeOnSelect]="false" placeholder="Select countries">
                                                <ng-option *ngFor="let country of countryOptions"
                                                    [value]="country.code3">
                                                    <app-dropdown-item itemValue="{{country.name}}"
                                                        imageClass="country-flag"
                                                        imageSource="assets/svg-country-flags/{{getCountryFlag(country.code2)}}">
                                                    </app-dropdown-item>
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'source'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Source
                                            </label>
                                            <ng-select [items]="sourceOptions" bindLabel="name" bindValue="id"
                                                formControlName="sources" [multiple]="true" [closeOnSelect]="false"
                                                placeholder="Select transaction sources">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'kycStatus'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                DocsCheck Statuses
                                            </label>
                                            <ng-select [items]="kysStatusOptions" bindLabel="name" bindValue="id"
                                                formControlName="kycStatuses" [multiple]="true" [closeOnSelect]="false"
                                                placeholder="Select user verification statuses">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'riskLevel'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Risk Levels
                                            </label>
                                            <ng-select [items]="riskLevelsOptions" bindLabel="name" bindValue="id"
                                                formControlName="riskLevels" [multiple]="true" [closeOnSelect]="false"
                                                placeholder="Select risk levels">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'assets'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Assets
                                            </label>
                                            <ng-select [items]="currencies" bindLabel="name" bindValue="id"
                                                formControlName="assets" [multiple]="true" [closeOnSelect]="false"
                                                placeholder="Select assets">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'transactionType'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Transaction Types
                                            </label>
                                            <ng-select [items]="transactionTypeOptions" bindLabel="name" bindValue="id"
                                                formControlName="transactionTypes" [multiple]="true"
                                                [closeOnSelect]="false" placeholder="Select transaction types">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'tier'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Verification Levels
                                            </label>
                                            <ng-select [items]="tierOptions$ | async" [loading]="isTierLoading"
                                                [closeOnSelect]="false" [multiple]="true" bindLabel="title"
                                                bindValue="id" formControlName="tiers" placeholder="Select levels">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'transactionIds'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Transaction ID
                                            </label>
                                            <input class="form-control" type="text" formControlName="transactionIds"
                                                placeholder="Type transaction ID">
                                        </div>
                                        <div *ngIf="field === 'transactionStatus'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Transaction Statuses
                                            </label>
                                            <ng-select [items]="transactionStatusOptions" bindLabel="name"
                                                bindValue="id" formControlName="transactionStatuses" [multiple]="true"
                                                [closeOnSelect]="false" placeholder="Select transaction statuses">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'paymentInstrument'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Payment methods
                                            </label>
                                            <ng-select [items]="paymentInstrumentsOptions" bindLabel="name"
                                                bindValue="id" formControlName="paymentInstruments" [multiple]="true"
                                                [closeOnSelect]="false" placeholder="Select payment methods">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'createdDate'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Transactions created
                                            </label>
                                            <app-admin-date-range
                                                [startField]="filterForm?.controls?.createdDateRangeStart ?? null"
                                                [endField]="filterForm?.controls?.createdDateRangeEnd ?? null">
                                            </app-admin-date-range>
                                        </div>
                                        <div *ngIf="field === 'completedDate'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Transactions completed
                                            </label>
                                            <app-admin-date-range
                                                [startField]="filterForm?.controls?.completedDateRangeStart ?? null"
                                                [endField]="filterForm?.controls?.completedDateRangeEnd ?? null">
                                            </app-admin-date-range>
                                        </div>
                                        <div *ngIf="field === 'registrationDate'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Registered
                                            </label>
                                            <app-admin-date-range
                                                [startField]="filterForm?.controls?.registrationDateRangeStart ?? null"
                                                [endField]="filterForm?.controls?.registrationDateRangeEnd ?? null">
                                            </app-admin-date-range>
                                        </div>
                                        <div *ngIf="field === 'user'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                User
                                            </label>
                                            <ng-select [items]="usersOptions$ | async" bindLabel="title" bindValue="id"
                                                [minTermLength]="minUsersLengthTerm" notFoundText="No users found"
                                                [loading]="isUsersLoading" [multiple]="false" formControlName="user"
                                                typeToSearchText="Type email or user name"
                                                placeholder="Start typing to search a user"
                                                [typeahead]="usersSearchInput$">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'users'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Customer search
                                            </label>
                                            <ng-select [items]="usersOptions$ | async" bindLabel="title" bindValue="id"
                                                [minTermLength]="minUsersLengthTerm" notFoundText="No users found"
                                                [loading]="isUsersLoading" [multiple]="true" formControlName="users"
                                                typeToSearchText="Type email or user name"
                                                placeholder="Start typing to search users"
                                                [typeahead]="usersSearchInput$">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'widget'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Widget Identifiers
                                            </label>
                                            <ng-select [items]="widgetsOptions$ | async" bindLabel="title"
                                                bindValue="id" [minTermLength]="minWidgetsLengthTerm"
                                                notFoundText="No widgets found" [loading]="isWidgetsLoading"
                                                [multiple]="true" formControlName="widgets"
                                                typeToSearchText="Type widget identifier"
                                                placeholder="Start typing to search widgets"
                                                [typeahead]="widgetsSearchInput$">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'riskAlertCode'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Risk Alert Code
                                            </label>
                                            <ng-select [items]="riskAlertOptions" bindLabel="name" bindValue="id"
                                                formControlName="riskAlertCode" [multiple]="false"
                                                placeholder="Select alert code">
                                            </ng-select>
                                        </div>
                                        <div *ngIf="field === 'walletAddress'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Wallet address
                                            </label>
                                            <input class="form-control" type="text" formControlName="walletAddress"
                                                placeholder="Type wallet address">
                                        </div>
                                        <div *ngIf="field === 'totalBuyVolume'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Buy volume over
                                            </label>
                                            <input class="form-control" [onlyNumber]="true"
                                                formControlName="totalBuyVolumeOver"
                                                placeholder="Specify buy volume limit">
                                        </div>
                                        <div *ngIf="field === 'transactionCount'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Transaction count over
                                            </label>
                                            <input class="form-control" [onlyNumber]="true"
                                                formControlName="transactionCountOver"
                                                placeholder="Specify transaction count limit">
                                        </div>
                                        <div *ngIf="field === 'search'" class="form-group">
                                            <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                                Search
                                            </label>
                                            <input class="form-control" type="text" formControlName="search"
                                                placeholder="Type plain search text">
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="__admin-filter-button-bar">
                                <button (click)="applyFilters()" class="btn btn-primary me-2" type="button">
                                    Apply
                                </button>
                                <button (click)="resetFilters()" class="btn btn-outline-secondary me-2" type="button">
                                    Reset
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>