<div class="form-element" *ngIf="errorMessage!==''">
    <div class="form-error-box">
        {{errorMessage}}
    </div>
    <br>
</div>

<h2>Wallet info</h2>

<section>
    <app-details-attribute label="Balance" [value]="walletData?.balance"></app-details-attribute>
    <app-details-attribute label="Currency" [value]="walletData?.asset"></app-details-attribute>
    <app-details-attribute label="Wallet created" [value]="walletData?.created"></app-details-attribute>
    <app-details-attribute label="User ID" [value]="walletData?.userId"></app-details-attribute>
</section>

<div class="panel-actions">
    <button mat-flat-button type="button" (click)="onCancel()">
        CANCEL
    </button>
</div>