<app-filter-panel [fields]="filterFields" (filter)="handleFilterApplied($event)"></app-filter-panel>

<div *ngIf="!(dashboardService.isLoaded | async)" class="spinner">
    <mat-spinner diameter="48"></mat-spinner>
</div>
<div *ngIf="dashboardService.isLoaded | async" class="panels">
    <div class="column">
        <app-data-card title="Total volume in EUR" source="total"></app-data-card>
        <app-data-card title="BUY" source="deposits"></app-data-card>
        <!-- <app-data-card title="SEND" source="transfers"></app-data-card> -->
        <app-data-card title="SELL" source="withdrawals"></app-data-card>
        <app-data-card title="RECEIVE" source="receives"></app-data-card>
    </div>
    <div class="column">
        <app-data-card
                title="Fees collected"
                source="fees"
        ></app-data-card>
        <app-data-card
                title="Balances in all wallets"
                source="balances"
        ></app-data-card>
    </div>

</div>
