<form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <section>
        <h2>Customer info</h2>
        <app-details-attribute label="Account ID" [value]="settingsId"></app-details-attribute>
        <app-details-attribute label="Email" [value]="email"></app-details-attribute>
        <!-- <app-details-attribute label="Company" [value]="customer?.company"></app-details-attribute>
    <app-details-attribute label="Name" [value]="customer?.lastName"></app-details-attribute> -->
        <app-details-attribute label="Address" [value]="address"></app-details-attribute>
        <!-- <app-details-attribute label="Country" [value]="customer?.country"></app-details-attribute> -->
    <!-- <app-details-attribute label="Account Currency" [value]="customer?.fiatCurrency"></app-details-attribute> -->
    </section>

    <!-- Phone -->
    <mat-form-field class="form-element">
        <mat-label>Phone</mat-label>
        <input type="text" matInput formControlName="phone" maxlength="25" placeholder="Phone number"/>
        <mat-error *ngIf="this.dataForm.get('phone')?.hasError('required')">
            Please specify the phone number
        </mat-error>
    </mat-form-field>

    <div class="panel-actions">
        <button mat-flat-button color="primary" type="submit">
            SAVE
        </button>
        <button mat-flat-button color="warn" (click)="onDeleteCustomer()">
            DELETE
        </button>
        <button mat-flat-button (click)="onCancel()">
            CANCEL
        </button>
    </div>
</form>