<section>
    <h2>Info</h2>
    <app-details-attribute label="Account ID" [value]="customer?.id"></app-details-attribute>
    <app-details-attribute label="Company" [value]="customer?.company"></app-details-attribute>
    <app-details-attribute label="Name" [value]="customer?.lastName"></app-details-attribute>
    <app-details-attribute label="Address" [value]="customer?.address"></app-details-attribute>
    <app-details-attribute label="Country" [value]="customer?.country"></app-details-attribute>
    <app-details-attribute label="Email" [value]="customer?.email"></app-details-attribute>
    <app-details-attribute label="Phone" [value]="customer?.phone"></app-details-attribute>
    <app-details-attribute label="Account Currency" [value]="customer?.fiatCurrency"></app-details-attribute>
</section>

<!--<section *ngIf="customer?.userType?.id==='Merchant'">-->
<!--    <h2>Verification Level</h2>-->
<!--    <app-details-attribute label="Merchant agreement" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="Director docs" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="Inc. docs" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="License" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--</section>-->


<!--<section *ngIf="customer?.userType?.id==='Personal'">-->
<!--    <h2>Verification</h2>-->
<!--    <app-details-attribute label="T&C acceptance" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="POI" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="POR" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="Selfie / Live Check" [value]=""></app-details-attribute>-->
<!--    <app-details-attribute label="SOF" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--    <app-details-attribute label="Risk group" [value]="customer?.id" [highlight]="true"></app-details-attribute>-->
<!--</section>-->

