@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap);
@import url(https://fonts.googleapis.com/css?family=Prompt:400);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap);

$font_main: "Heebo";
$font_label: "Prompt";
$font_logo: "Montserrat Alternates";