<div class="action-panel panel-actions">
    <button *ngIf="permission>1" mat-flat-button color="primary" type="button" (click)="addUser()">
        ADD USER
    </button>
    <button *ngIf="permission>1" mat-flat-button color="primary" type="button" (click)="setRole()">
        SET ROLE
    </button>
    <button mat-flat-button color="primary" type="button" (click)="sendMessage()" [disabled]="!selected">
        SEND MESSAGE
    </button>
    <button mat-flat-button color="primary" type="button" (click)="export()">
        EXPORT
    </button>
</div>

<app-filter-panel [fields]="filterFields" (filter)="handleFilterApplied($event)"></app-filter-panel>

<div class="data-table">
    <mat-table matSort matSortDirection="desc" matSortDisableClear [matSortActive]="sortedField" [dataSource]="users">
        <ng-container matColumnDef="details" sticky>
            <th mat-header-cell *matHeaderCellDef class="action"></th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox color="accent" [checked]="element.selected" (change)="onUserSelected(element)">
                </mat-checkbox>
                <button mat-icon-button class="row-button" (click)="toggleDetails(element)"
                    [attr.aria-label]="'User details'" [attr.aria-pressed]="!!selectedUser"
                    [matTooltip]="getDetailsTooltip(element.id)" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">
                        {{getDetailsIcon(element.id)}}
                    </mat-icon>
                </button>
                <button mat-icon-button class="row-button" (click)="setUserRole(element)"
                    [attr.aria-label]="'User roles'" [matTooltip]="permission>1 ? 'Set roles' : 'Roles'" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">
                        perm_data_setting
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="referralCode">
            <th mat-header-cell *matHeaderCellDef>User ID</th>
            <td mat-cell *matCellDef="let element"> {{element.referralCode}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>First name</th>
            <td mat-cell *matCellDef="let element"> {{element.fullFirstName}} </td>
        </ng-container>

        <!-- Last name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Last name</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Roles Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef>Roles</th>
            <td mat-cell *matCellDef="let element"> {{element.roleNames}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="accountStatus">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Account status</th>
            <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
        </ng-container>

        <!-- Last Login Column -->
        <ng-container matColumnDef="lastLogin">
            <th mat-header-cell *matHeaderCellDef>Last Login</th>
            <td mat-cell *matCellDef="let element"> {{element.lastLogin}} </td>
        </ng-container>

        <!-- Registered Column -->
        <ng-container matColumnDef="created">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Registered</th>
            <td mat-cell *matCellDef="let element"> {{element.created}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>

<mat-paginator [length]="userCount" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons
    (page)="handlePage($event)">
</mat-paginator>

<ng-template *ngIf="selectedUser || setRoleFlag" appRightPanel (panelClosed)="handleDetailsPanelClosed()">
    <app-system-user-details *ngIf="selectedUser" [permission]="permission" [user]="selectedUser" [cancelable]=true
        (save)="onSave()" (cancel)="onCancelEdit()">
    </app-system-user-details>
    <app-user-role *ngIf="setRoleFlag" [permission]="permission" [user]="roleUser" [roles]="userRoles" (save)="onSave()" (cancel)="onCancelEdit()">
    </app-user-role>
</ng-template>
