<div class="widget-list__container">
    <!-- <div class="widget-list__header">
      <div class="widget-list__header-search">
          <mat-form-field appearance="outline">
            <mat-label>Select country</mat-label>
            <mat-select appendTo="body" [formControl]="searchCountryControl">
              <mat-option *ngFor="let group of bankCountries" [value]="group">
                {{ group }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <div class="widget-list__header-search">
        <mat-form-field appearance="outline" class="border-red">
          <mat-label>Select your bank</mat-label>
          <input matInput [formControl]="searchBankControl">
        </mat-form-field>
    </div>
      <button class="widget-list__header-button" (click)="showCurrencyList = false" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="widget-list__item">
        <div *ngFor="let item of filteredItems | async">
            <button type="button" class="widget-list__item-row" (click)="onCurrencySelect(item.symbol)">
                <div class="widget-list__item-column">
                  <div>
                    <img [class.crypto-img]="!item.fiat" alt="Currency" [src]="item.img">
                  </div>
                  <div class="widget-list__item-column-item">
                    <div class="widget-list__item-column-label">
                      <span>{{item.display}}</span>
                    </div>
                    <mat-icon>keyboard_arrow_right</mat-icon>
                  </div>
                </div>
            </button>
        </div>     
    </div>      -->
</div>

<ng-container *ngIf="!summary?.rate">
    <app-spinner></app-spinner>
  </ng-container>