<div class="__profile-balance-chart-container">
    <div class="__profile-balance-chart-header-container">
        <div class="__profile-balance-chart-summary-container">
            <div class="__profile-page-title">
                {{totalBalance}}
            </div>
            <div class="__profile-balance-chart-currency-selector">
                <div class="__profile-balance-chart-currency-selector-title">
                    <div class="__profile-extra-data-value">
                        Total balance in
                    </div>
                </div>
                <div class="__tool-bar-block __tool-bar-data-block">
                    <form [formGroup]="currencyForm">
                        <mat-select formControlName="fiat">
                            <mat-select-trigger>
                                <span class="__mat-select-item">
                                    {{selectedFiat}}
                                </span>
                            </mat-select-trigger>
                            <mat-option *ngFor="let item of currencies" [value]="item.symbol" style="height: 36px;">
                                <span class="__mat-select-item">
                                    {{item.symbol}}
                                </span>
                            </mat-option>
                        </mat-select>
                    </form>
                </div>
            </div>
            <div [ngClass]="positiveProfit ? '__profile-profit-value' : '__profile-profit-negative-value'">
                {{profitValue}}
            </div>
        </div>
        <div class="__profile-balance-chart-period-selector">
            <button [ngClass]="{'__toggle-button': true, '__toggle-button-active': periodIndex===0}" type="button"
                [disabled]="inLoading" (click)="changePeriod(0)">
                Last week
            </button>
            <button
                [ngClass]="{'__toggle-button': true, '__toggle-button-active': periodIndex===1, '__button-separator': true}"
                type="button" [disabled]="inLoading" (click)="changePeriod(1)">
                Last month
            </button>
            <button
                [ngClass]="{'__toggle-button': true, '__toggle-button-active': periodIndex===2, '__button-separator': true}"
                type="button" [disabled]="inLoading" (click)="changePeriod(2)">
                Last year
            </button>
            <button
                [ngClass]="{'__toggle-button': true, '__toggle-button-active': periodIndex===3, '__button-separator': true}"
                type="button" [disabled]="inLoading" (click)="changePeriod(3)">
                All
            </button>
        </div>
    </div>

    <div id="chart">
        <apx-chart [series]="seriesData" [chart]="chartData" [dataLabels]="dataLabels" 
            [grid]="gridSettings" [xaxis]="xaxis" [yaxis]="yaxis" [fill]="areaFill" [tooltip]="tooltips"
            [stroke]="chartStroke" [markers]="markers" [noData]="noDataSettings"></apx-chart>
    </div>
</div>