<app-settings-bar [selectedTab]="selectedTab" (select)="pageSelected($event)"></app-settings-bar>
<div class="__profile-settings-container">
    <div *ngIf="inProgress" class="__profile-settings-progress-bar">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="__profile-settings-container-block" [ngSwitch]="selectedTab">
        <app-profile-info-settings *ngSwitchCase="'info'" (error)="handleError($event)"
            (progressChange)="progressChanged($event)" (onUpdateAvatar)="onUpdateAvatar.emit($event)"></app-profile-info-settings>
        <app-profile-verification-settings *ngSwitchCase="'verification'" (error)="handleError($event)"
            (progressChange)="progressChanged($event)"></app-profile-verification-settings>
        <app-profile-security-settings *ngSwitchCase="'security'" (error)="handleError($event)"
            (progressChange)="progressChanged($event)"></app-profile-security-settings>
    </div>
</div>