<h2>{{create ? "Create level" : "Change level"}}</h2>

<form [formGroup]="levelForm" (ngSubmit)="onSubmit()">
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <!-- Name -->
    <mat-form-field class="form-element">
        <mat-label>Level name</mat-label>
        <input type="text" matInput formControlName="name" maxlength="50" placeholder="Level name" required/>
        <mat-error *ngIf="this.levelForm.get('name')?.hasError('required')">
            Please specify a level name
        </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="form-element">
        <mat-label>Description</mat-label>
        <textarea matInput cdkTextareaAutosize #descriptionInput="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                  formControlName="description" maxlength="500" placeholder="Level description">
        </textarea>
    </mat-form-field>

    <!-- User type -->
    <mat-form-field class="form-element">
        <mat-label>User type</mat-label>
        <mat-select formControlName="userType" required>
            <mat-option *ngFor="let item of userTypes" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.levelForm.get('userType')?.hasError('required')">
            Please specify a user type appropriate for the level
        </mat-error>
    </mat-form-field>

    <!-- Level -->
    <mat-form-field class="form-element">
        <mat-label>Level value</mat-label>
        <input type="text" matInput formControlName="level" maxlength="100" placeholder="Level value" required/>
        <mat-error *ngIf="this.levelForm.get('level')?.hasError('required')">
            Please specify a level value
        </mat-error>
    </mat-form-field>

    <!-- Flow -->
    <mat-form-field class="form-element">
        <mat-label>Flow</mat-label>
        <input type="text" matInput formControlName="flow" maxlength="100" placeholder="Flow" required/>
        <mat-error *ngIf="this.levelForm.get('flow')?.hasError('required')">
            Please specify flow
        </mat-error>
    </mat-form-field>

    <div class="panel-actions">
        <button mat-flat-button color="primary" type="submit">
            SAVE
        </button>
        <button *ngIf="create===false" mat-flat-button color="warn" (click)="onDeleteLevel()">
            DELETE
        </button>
        <button mat-flat-button (click)="onCancel()">
            CANCEL
        </button>
    </div>
</form>
