@import "../scss/variables";


  .data-table {
    flex: 1 1 0;
    overflow: auto;


    .mat-table {
      display: table;
      min-width: 100%;

      tr {
        height: 32px;
        line-height: 32px;

        &.mat-header-row {
          height: 40px;
          line-height: 40px;
          background: $color-grey-0;

        }
      }

      th.mat-header-cell {
        padding: 0 4px 0 4px;
        white-space: nowrap;

        &.action {
          width: 24px;
        }

        &:first-of-type {
          padding-left: 24px;
        }

        &:last-of-type {
          padding-right: 24px;
        }

        .mat-sort-header-content  {
          font-size: 12px;
        }
      }

      td.mat-cell {
        padding: 1px 4px 0 4px;
        line-height: 29px;
        white-space: nowrap;

        &:first-of-type {
          padding-left: 24px;
        }

        &:last-of-type {
          padding-right: 24px;
        }

        > .mat-icon {
          width: 16px;
          height: 16px;
          font-size: 16px;
          vertical-align: middle;
          position: relative;
          top: -1px;
        }
      }

    }

    .row-button {
      width: 24px;
      height: 24px;
      line-height: 0;
      position: relative;
      top: -1px;

      .mat-icon {
        font-size: 16px;
        height: 16px;
        width: 16px;
        line-height: 16px;
      }
    }
  }

  mat-paginator {
    flex: 0 0 auto;
  }


