<form novalidate [formGroup]="dataForm">
  <button *ngIf="permission>0" class="btn btn-primary pd-x-30 mg-t-5" type="button" (click)="flagValue()">
    <span *ngIf="flagInProgress" class="spinner-border spinner-border-sm" role="status"
          aria-hidden="true"></span>
    {{flagText()}}
  </button>

  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Customer info
        </h5>
        <app-admin-details-item label="Account Id" [value]="userData?.referralCode"></app-admin-details-item>
        
        <div *ngIf="dataForm.controls.widgetId.value" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Widget ID
          </label>
          <ng-select [items]="widgetOptions$ | async" 
            bindLabel="title" bindValue="id" 
            formControlName="widgetId"
            [searchFn]="widgetSearchFn"
            [clearable]=false [clearOnBackspace]=false required>
            <ng-template ng-option-tmp let-item="item">
              {{item.title}} <br />
              <small>{{item.id}}</small>
            </ng-template>
          </ng-select>
        </div>
    
        <app-admin-details-item
          *ngIf="isMerchant" 
          label="Widgets" 
          [value]="'Related widgets'" 
          [linkUrl]="'/admin/widgets/'+ userData?.id" 
          (click)="onClose()">
        </app-admin-details-item>
    
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Referrer
          </label>
          <ng-select [items]="usersOptions$ | async" [minTermLength]="minUsersLengthTerm"
            bindLabel="title" bindValue="id" 
            notFoundText="No users found" [loading]="isUsersLoading" formControlName="affiliate"
            typeToSearchText="Type email or user name" placeholder="Start typing to search a user"
            [typeahead]="usersSearchInput$">
            <ng-template ng-option-tmp let-item="item">
              {{item.title}} <br />
              <small>{{item.id}}</small>
            </ng-template>
          </ng-select>
        </div>

        <app-admin-details-item label="Referrer Code" [value]="userData?.affiliateCode"></app-admin-details-item>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Status
        </h5>
        <!-- Account status -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Account Status
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select bindLabel="name" bindValue="id" formControlName="accountStatus" required
            [items]="accountStatuses" [clearable]=false [clearOnBackspace]=false>
          </ng-select>
          <div
            *ngIf="(dataForm.controls.accountStatus.touched || submitted) && (dataForm.controls.accountStatus.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the account status
            </small>
          </div>
        </div>
        <!-- Risks -->
        <app-admin-details-item label="Risk codes" [value]="userData?.riskCodes"></app-admin-details-item>
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Risk Level
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select bindLabel="name" bindValue="id" formControlName="risk" required [items]="riskLevels"
            [clearable]=false [clearOnBackspace]=false>
          </ng-select>
          <div *ngIf="(dataForm.controls.risk.touched || submitted) && (dataForm.controls.risk.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the risk level
            </small>
          </div>
        </div>

        <app-admin-details-item label="Last updated" [value]="userData?.updated"></app-admin-details-item>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 d-flex justify-content-between align-items-center">
          KYC
          <div class="kyc-status-dot" [ngClass]="userData?.kycReviewResultColor ?? ''"></div>
        </h5>
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            KYC Provider
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select bindLabel="name" bindValue="id" formControlName="kycProvider" required
            [items]="kycProviders" [clearable]=false [clearOnBackspace]=false>
          </ng-select>
          <div
            *ngIf="(dataForm.controls.kycProvider.touched || submitted) && (dataForm.controls.kycProvider.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the user KYC provider
            </small>
          </div>
        </div>
        <!-- Level -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            KYC Level
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select bindLabel="title" bindValue="title" formControlName="tier" required [items]="tiers"
            [clearable]=false [clearOnBackspace]=false>
          </ng-select>
          <div *ngIf="(dataForm.controls.tier.touched || submitted) && (dataForm.controls.tier.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the user verification level
            </small>
          </div>
        </div>
        <app-admin-details-item label="Docs Check" [value]="userData?.kycStatus"></app-admin-details-item>
        <app-admin-details-item label="KYC Review Date" [value]="userData?.kycReviewDate"></app-admin-details-item>
        <app-admin-details-item label="Docs Check Date" [value]="userData?.kycStatusDate"></app-admin-details-item>
        <app-admin-details-item label="KYC Review Comment" [value]="userData?.kycReviewComment">
        </app-admin-details-item>
        <app-admin-details-item label="KYC Private Comment" [value]="userData?.kycPrivateComment">
        </app-admin-details-item>
        <app-admin-details-item label="KYC Review Rejected Type" [value]="userData?.kycReviewRejectedType">
        </app-admin-details-item>
        <app-admin-details-item label="KYC Review Rejected Labels" [value]="userData?.kycReviewRejectedLabels">
        </app-admin-details-item>
        <app-admin-details-item label="KYC Review Result" [value]="userData?.kycReviewResult"></app-admin-details-item>
        <app-admin-details-item label="DocsCheck Update Required" [value]="userData?.kycStatusUpdateRequired">
        </app-admin-details-item>
        <app-admin-details-item label="Provided documents" [value]="kycDocs"></app-admin-details-item>    

        <app-admin-details-item *ngIf="userData?.kycProvider !== KYC_PROVIDER.Shufti" label="KYC Details"
          [value]="kycProviderLink" [linkUrl]="kycProviderLink">
        </app-admin-details-item>
        
        <div *ngIf="userData?.kycProvider === KYC_PROVIDER.Shufti" class="form-group">
          <button class="btn btn-primary pd-x-30 me-2 mg-t-5" type="button" (click)="onKycProviderLink()">
            <span *ngIf="kycProviderLinkInProgress" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
            KYC Verification
          </button>
        </div>
        
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Personal info
        </h5>
        <div class="form-group">
          <app-admin-details-item label="Mode" [value]="userData?.userMode?.name"></app-admin-details-item>
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Email
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control"
            type="text"
            formControlName="email" maxlength="100" required [ngClass]="{'has-error': (dataForm.controls.email.touched || submitted) && !dataForm.controls.email.valid}">
          <div *ngIf="(dataForm.controls.email.touched || submitted) && (dataForm.controls.email.errors?.['required'])"
            class="tx-danger">
            <small>
              Email is required
            </small>
          </div>
        </div>
        <!-- Company -->
        <div *ngIf="userData?.userType?.id === USER_TYPE.Merchant" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Company
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control"
            type="text"
            formControlName="company" maxlength="75" required [ngClass]="{'has-error': (dataForm.controls.company.touched || submitted) && !dataForm.controls.company.valid}" />
          <div
            *ngIf="(dataForm.controls.company.touched || submitted) && (dataForm.controls.company.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the company name
            </small>
          </div>
        </div>
        <!-- First name -->
        <div *ngIf="userData?.userType?.id === USER_TYPE.Personal" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            First Name
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control"
            type="text"
            formControlName="firstName" maxlength="50" required [ngClass]="{'has-error': (dataForm.controls.firstName.touched || submitted) && !dataForm.controls.firstName.valid}" />
          <div
            *ngIf="(dataForm.controls.firstName.touched || submitted) && (dataForm.controls.firstName.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the customer name
            </small>
          </div>
        </div>
        <!-- Last name -->
        <div *ngIf="userData?.userType?.id === USER_TYPE.Personal" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Last Name
          </label>
          <input class="form-control"
            type="text"
            formControlName="lastName" maxlength="50" [ngClass]="{'has-error': (dataForm.controls.lastName.touched || submitted) && !dataForm.controls.lastName.valid}" />
          <div
            *ngIf="(dataForm.controls.lastName.touched || submitted) && (dataForm.controls.lastName.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the customer name
            </small>
          </div>
        </div>
        <!-- Gender -->
        <div *ngIf="userData?.userType?.id === USER_TYPE.Personal" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Gender
          </label>
          <ng-select bindLabel="name" bindValue="id" formControlName="gender" [items]="genders" [clearable]=false
            [clearOnBackspace]=false>
          </ng-select>
        </div>
        <!-- Birthday -->
        <app-admin-details-item label="Age" [value]="userData?.age"></app-admin-details-item>
        <div *ngIf="userData?.userType?.id === USER_TYPE.Personal" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Birthday
          </label>
          <input #birthday_picker="ngbDatepicker" class="form-control" placeholder="dd/mm/yyyy" name="birthday_picker"
            ngbDatepicker formControlName="birthday" [minDate]="minBirthdayDate"
            [maxDate]="maxBirthdayDate" (click)="birthday_picker.toggle()">
          <div
            *ngIf="(dataForm.controls.birthday.touched || submitted) && (dataForm.controls.birthday.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the birthday
            </small>
          </div>
        </div>
        <!-- Phone -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Phone
          </label>
          <input class="form-control" type="text" formControlName="phone" maxlength="25" />
        </div>
        <div class="flex-end">
          <button *ngIf="permission > 1" class="btn btn-outline-secondary" type="button"
            (click)="onResetPassword(password_change_content)">
            Reset password
          </button>
        </div>
      </div>
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Other Settings
        </h5>
        <!-- Fiat currencies -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Default currency
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select bindLabel="display" bindValue="symbol" formControlName="fiat" required
            [items]="fiatCurrencies" [clearable]=false [clearOnBackspace]=false>
          </ng-select>
          <div *ngIf="(dataForm.controls.fiat.touched || submitted) && (dataForm.controls.fiat.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify default fiat currency
            </small>
          </div>
        </div>
        <!-- Crypto currencies -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Default crypto
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select bindLabel="display" bindValue="symbol" formControlName="crypto" required
            [items]="cryptoCurrencies" [clearable]=false [clearOnBackspace]=false>
          </ng-select>
          <div
            *ngIf="(dataForm.controls.crypto.touched || submitted) && (dataForm.controls.crypto.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify default crypto currency
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Address
        </h5>
        <app-admin-details-item label="Full Address" [value]="userData?.address"></app-admin-details-item>
        <!-- Country -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Country
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select formControlName="country" required [clearable]=false [clearOnBackspace]=false>
            <ng-option *ngFor="let country of countries" [value]="country.code3">
              <app-dropdown-item imageClass="country-flag-admin" itemValue="{{country.name}}"
                imageSource="assets/svg-country-flags/{{getCountryFlag(country.code2)}}">
              </app-dropdown-item>
            </ng-option>
          </ng-select>
          <div
            *ngIf="(dataForm.controls.country.touched || submitted) && (dataForm.controls.country.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify the country
            </small>
          </div>
        </div>
        <!-- Post Code -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Post Code
          </label>
          <input class="form-control" type="text" formControlName="postCode" maxlength="15" />
        </div>
        <!-- Town -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Town
          </label>
          <input class="form-control" type="text" formControlName="town" maxlength="50" />
        </div>
        <!-- Street (Line 1) -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Street (Line 1)
          </label>
          <input class="form-control" type="text" formControlName="street" maxlength="50" />
        </div>
        <!-- Street (Line 2) -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Street (Line 2)
          </label>
          <input class="form-control" type="text" formControlName="subStreet" maxlength="50" />
        </div>
        <!-- State -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            State
          </label>
          <input class="form-control" type="text" formControlName="stateName" maxlength="25" />
        </div>
        <!-- Building Name -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Building Name
          </label>
          <input class="form-control" type="text" formControlName="buildingName" maxlength="25" />
        </div>
        <!-- Building Number -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Building Number
          </label>
          <input class="form-control" type="text" formControlName="buildingNumber" maxlength="8" />
        </div>
        <!-- Flat Number -->
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Flat Number
          </label>
          <input class="form-control" type="text" formControlName="flatNumber" maxlength="8" />
        </div>
      </div>
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Comment
          </label>
          <textarea class="form-control textarea-resize-none" placeholder="Comment" rows="3"
            formControlName="comment"></textarea>
        </div>
        <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
          <h4 class="card-title2 mg-b-20 color_brown">
            {{errorMessage}}
          </h4>
        </div>
        <div class="flex-space-between">
          <button *ngIf="permission > 1 && removable" class="btn btn-danger pd-x-30 me-2 mg-t-5" type="button"
            (click)="onDeleteCustomer(delete_confirm_content)">
            <span *ngIf="disableInProgress" class="spinner-border spinner-border-sm" role="status"
              aria-hidden="true"></span>
            {{disableButtonTitle}}
          </button>
          <div class="flex-end">
            <button *ngIf="permission>1" type="button" class="btn btn-primary pd-x-30 me-2 mg-t-5" (click)="onSubmit()">
              <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
              Save
            </button>
            <button class="btn btn-outline-primary pd-x-30 mg-t-5" type="button" (click)="onClose()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template #delete_confirm_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{disableButtonTitle}} customer</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="text-center">
      You are going to {{disableButtonTitle.toLowerCase()}} selected customer. Confirm operation.
    </h4>
    <div class="flex-center">
      <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.dismiss('Reject')">
        Reject
      </button>
      <button type="button" class="btn btn-danger pd-x-30 mg-t-5" (click)="modal.close('OK')">
        Confirm
      </button>
    </div>
  </div>
</ng-template>

<ng-template #password_change_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">
      Password reset
    </h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="text-center">
      Password has been reset successfully
    </h4>
    <div class="flex-center">
      <button class="btn btn-primary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.dismiss('OK')">
        OK
      </button>
    </div>
  </div>
</ng-template>