<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Wallet Name
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control" [ngClass]="{'has-error': !form.controls.vaultName.valid}" type="text"
            formControlName="vaultName" required>
          <div *ngIf="(form.controls.vaultName.touched || submitted) && (form.controls.vaultName.errors?.['required'])"
            class="tx-danger">
            <small>
              Wallet name is required
            </small>
          </div>
        </div>
        <app-admin-details-item label="Description" [value]="walletData?.description"></app-admin-details-item>
        <app-admin-details-item label="Email" [value]="walletData?.userEmail"></app-admin-details-item>
        <app-admin-details-item label="Address Format" [value]="walletData?.addressFormat"></app-admin-details-item>
        <app-admin-details-item label="Address" [value]="walletData?.address"></app-admin-details-item>
        <app-admin-details-item label="Legacy Address" [value]="walletData?.legacyAddress"></app-admin-details-item>
        <app-admin-details-item label="Wallet Type" [value]="walletData?.type"></app-admin-details-item>
        <app-admin-details-item label="Asset" [value]="walletData?.assetId"></app-admin-details-item>
        <app-admin-details-item label="Custody Provider" [value]="walletData?.custodyProvider"></app-admin-details-item>
        <app-admin-details-item label="Total" [value]="walletData?.total"></app-admin-details-item>
        <app-admin-details-item label="Available" [value]="walletData?.available"></app-admin-details-item>
        <app-admin-details-item label="Pending" [value]="walletData?.pending"></app-admin-details-item>
        <app-admin-details-item label="Locked Amount" [value]="walletData?.lockedAmount"></app-admin-details-item>
        <app-admin-details-item label="Original ID" [value]="walletData?.originalId"></app-admin-details-item>
        <app-admin-details-item label="Vault ID" [value]="walletData?.vaultId"></app-admin-details-item>
      </div>
      <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
        <h4 class="card-title2 mg-b-20 color_brown">
          {{errorMessage}}
        </h4>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <button *ngIf="permission>1" class="btn btn-primary pd-x-30 me-2 mg-t-5">
          <span *ngIf="inProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Save
        </button>
        <button *ngIf="permission>1" class="btn btn-outline-primary pd-x-30 mg-t-5" type="button"
          (click)="onClose()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
