<mat-form-field class="form-element">
    <mat-label>Widgets</mat-label>
    <mat-chip-list #chipList aria-label="Widget selection">
        <mat-chip *ngFor="let opt of selectedOptions" (removed)="removeOption(opt)">
            {{opt}}
            <mat-icon matChipRemove matTooltip="Remove widget" matTooltipClass="info-tooltip">cancel
            </mat-icon>
        </mat-chip>
        <input #searchInput
               placeholder="Widgets"
               [matAutocomplete]="auto"
               [matChipInputFor]="chipList"
               (input)="handleSearchInputChange($event)"
               (matChipInputTokenEnd)="handleOptionAdded($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleOptionSelected($event)">
        <mat-option *ngFor="let item of filteredOptions" [value]="item" [id]="item">
            {{item}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
