<div class="__widget-data-box-extra">

    <div class="__widget-data-box-extra-internal">
        <div class="__widget-disclaimer-line">
            <title class="__widget-data-item-title">
                Make a bank transfer to the following Email PayID (Not compatible with RTGS).
            </title>
            <div class="__widget-data-item-value">
                Most transactions are instant, however some banks will hold your first payment for 24 Hours.
            </div>
        </div>
    </div>

    <div *ngIf="data?.payId" class="__widget-data-box-rounded-container">
        <div class="__widget-data-box-rounded-border">
            <title class="__widget-data-item-title">
                PayID:
            </title>
            <input class="__text-box-noborder" type="text" readonly [value]="data?.payId" />
        </div>
        <div class="__widget-data-box-rounded-border-button-box">
            <button type="button" class="__rounded-border-button" (click)="copyPayId()">
                <div id="button_icon"></div>
            </button>
        </div>
    </div>

    <div class="__widget-data-box-rounded-container">
        <div class="__widget-data-box-rounded-border">
            <div *ngIf="data?.referenceCode">
                <title class="__widget-data-item-title">
                    Reference code:
                </title>
                <div class="__widget-data-item-value">
                    {{data?.referenceCode}}
                </div>
            </div>
        </div>
        <div class="__widget-data-box-rounded-border-button-box">
            <button type="button" class="__rounded-border-button" (click)="copyReference()">
                <div id="button_icon"></div>
            </button>
        </div>
    </div>

    <div class="__widget-buttons-area">
        <button class="__main-button" type="button" (click)="onComplete.emit()">next</button>
    </div>

    <div class="__widget-data-error">
        {{errorMessage}}
    </div>
</div>