<div class="transaction-details-box">
    <div *ngIf="inProgress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <br>
    </div>
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <div class="transaction-details-title">
        <h2>Transaction</h2>
    </div>
    <div *ngIf="transaction?.id!==''">
        <label class="transaction-details-label">Transaction Id</label>
        <div class="transaction-details-value">
            {{transaction?.id}}
        </div>
    </div>

    <div *ngIf="transaction?.created!==null">
        <label class="transaction-details-label">Transaction Created</label>
        <div class="transaction-details-value">
            {{transaction?.created}}
        </div>
    </div>

    <div *ngIf="transaction?.executed!==null">
        <label class="transaction-details-label">Transaction Executed</label>
        <div class="transaction-details-value">
            {{transaction?.executed}}
        </div>
    </div>

    <div *ngIf="transaction?.user!==null">
        <div *ngIf="transaction?.user?.firstName!==''">
            <label class="transaction-details-label">First Name</label>
            <div class="transaction-details-value">
                {{transaction?.user?.firstName}}
            </div>
        </div>

        <div *ngIf="transaction?.user?.lastName!==''">
            <label class="transaction-details-label">Last Name</label>
            <div class="transaction-details-value">
                {{transaction?.user?.lastName}}
            </div>
        </div>

        <div *ngIf="transaction?.user?.company!==''">
            <label class="transaction-details-label">Company</label>
            <div class="transaction-details-value">
                {{transaction?.user?.company}}
            </div>
        </div>

        <div *ngIf="transaction?.user?.country!==null">
            <label class="transaction-details-label">Country</label>
            <div class="transaction-details-value">
                <app-dropdown-item itemValue="{{transaction?.user?.country?.title}}"
                    imageClass="{{transaction?.user?.country?.imgClass}}"
                    imageSource="{{transaction?.user?.country?.imgSource}}">
                </app-dropdown-item>
            </div>
        </div>

        <div *ngIf="transaction?.user?.street!==''">
            <label class="transaction-details-label">Street</label>
            <div class="transaction-details-value" style="color: darkred;">
                {{transaction?.user?.street}}
            </div>
        </div>

        <div *ngIf="transaction?.user?.zip!==''">
            <label class="transaction-details-label">ZIP code</label>
            <div class="transaction-details-value" style="color: darkred;">
                {{transaction?.user?.zip}}
            </div>
        </div>
    </div>

    <div *ngIf="transaction?.type!==undefined">
        <label class="transaction-details-label">Transaction Type</label>
        <div class="transaction-details-value">
            {{transaction?.transactionTypeName}}
        </div>
    </div>

    <div *ngIf="transaction?.instrument!==undefined">
        <label class="transaction-details-label">Instrument</label>
        <div class="transaction-details-value">
            {{transaction?.instrumentName}}
        </div>
    </div>

    <div *ngIf="transaction?.instrumentDetails!==null">
        <label class="transaction-details-label">Instrument Details</label>
        <div class="transaction-details-value" style="color: darkred;">
            <app-dropdown-item itemValue="{{transaction?.instrumentDetails?.title}}"
                imageClass="{{transaction?.instrumentDetails?.imgClass}}"
                imageSource="{{transaction?.instrumentDetails?.imgSource}}">
            </app-dropdown-item>
        </div>
    </div>

    <div *ngIf="transaction?.address!==''">
        <label class="transaction-details-label">Wallet Address</label>
        <div class="transaction-details-value">
            {{transaction?.address}}
        </div>
    </div>

    <div *ngIf="transaction?.currencyToReceive!==''">
        <label class="transaction-details-label">Wallet amount</label>
        <div class="transaction-details-value">
            {{transaction?.amountToReceive | number: '1.0-5'}} {{transaction?.currencyToReceive}}
        </div>
    </div>

    <div *ngIf="transaction?.currencyToSpend!==''">
        <label class="transaction-details-label">Base amount</label>
        <div class="transaction-details-value">
            {{transaction?.amountToSpend | number: '1.0-5'}} {{transaction?.currencyToSpend}}
        </div>
    </div>

    <label class="transaction-details-label">Exchange rate</label>
    <div class="transaction-details-value">
        {{transaction?.rate | number: '1.0-5'}}
    </div>

    <div *ngIf="transaction?.status!==undefined">
        <label class="transaction-details-label">Transaction status</label>
        <div class="transaction-details-value">
            {{transaction?.transactionStatusName}}
        </div>
    </div>

    <label class="transaction-details-label">Transaction fees</label>
    <div class="transaction-details-value">
        {{transaction?.fees | number: '1.0-5'}} EUR
    </div>

    <div *ngIf="transaction?.ip!==''">
        <label class="transaction-details-label">IP Address</label>
        <div class="transaction-details-value">
            {{transaction?.ip}}
        </div>
    </div>

    <div *ngIf="transaction?.source!==undefined">
        <label class="transaction-details-label">Initiated from</label>
        <div class="transaction-details-value">
            {{transaction?.transactionSourceName}}
        </div>
    </div>

    <div *ngIf="transaction?.walletSource!==''">
        <label class="transaction-details-label">Wallet type</label>
        <div class="transaction-details-value" style="color: darkred;">
            {{transaction?.walletSource}}
        </div>
    </div>

    <div class="transaction-details-title">
        <h2>AML Checks</h2>
    </div>
    <div *ngIf="transaction?.user!==null">
        <div *ngIf="transaction?.user?.id!==''">
            <label class="transaction-details-label">Account ID</label>
            <div class="transaction-details-value">
                {{transaction?.user?.id}}
            </div>
        </div>

        <div *ngIf="transaction?.user?.kycStatus!==''">
            <label class="transaction-details-label">KYC Status</label>
            <div class="transaction-details-value">
                {{transaction?.user?.kycStatus}}
            </div>
        </div>
    </div>
</div>