<div class="__profile-wallet-list-container">
    <div *ngIf="walletCount===0 && loading === false" class="__profile-grid-table-container-default">
        <div class="__profile-grid-table-new-item-container" type="button" (click)="newWallet()">
            <h1 class="__profile-grid-table-new-item-title">+</h1>
            <h2 class="__profile-grid-table-new-item-text">Add new wallet</h2>
        </div>
    </div>
    <div *ngIf="walletCount>0" class="__profile-grid-table-container">
        <div *ngFor="let wallet of wallets" class="__profile-grid-table-item __profile-grid-table-item-data">
            <div class="__profile-wallet-item-container">
                <div class="__profile-wallet-item-data-container">
                    <div class="__profile-wallet-item-value-area">
                        <div *ngIf="wallet.crypto===false" class="__profile-wallet-item-crypto">
                            {{wallet.totalValue}}
                        </div>
                        <div *ngIf="wallet.crypto===true" class="__profile-wallet-item-crypto">
                            {{wallet.total}} {{wallet.asset}}
                        </div>
                        <div *ngIf="wallet.crypto===false" class="__profile-wallet-item-fiat">
                            &nbsp;
                        </div>
                        <div *ngIf="wallet.crypto===true" class="__profile-wallet-item-fiat">
                            {{wallet.totalValue}}
                        </div>
                    </div>
                    <div *ngIf="wallet.crypto===true" class="__profile-wallet-item-icon-box">
                        <img class="__profile-wallet-item-icon" [src]="wallet.icon">
                    </div>
                </div>
                <div class="__profile-wallet-item-title-area">
                    <div class="__profile-wallet-item-value-area">
                        <div class="__profile-wallet-item-title">
                            {{wallet.nameValue}}
                        </div>
                        <div class="__profile-wallet-item-subtitle">
                            {{wallet.currencyName}}
                        </div>
                    </div>
                </div>
                <div class="__profile-wallet-item-buton-box">
                    <button class="__toggle-button" type="button" (click)="showWallet(wallet.id)">
                        Show wallet
                    </button>
                </div>
            </div>
        </div>
        <div class="__profile-grid-table-item __profile-grid-table-item-new" (click)="newWallet()">
            <div style="height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                <h1 class="__profile-grid-table-new-item-title __profile-grid-table-new-item-title-mini">+</h1>
                <h2 class="__profile-grid-table-new-item-text __profile-grid-table-new-item-text-mini">Add new wallet</h2>
            </div>
        </div>
    </div>
</div>