@import "../../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.mat-column-currencypairs-table {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-currencypairs-table-title {
  flex: 0 0 40%;
  width: 40%;
  min-width: 4em;
}

.mat-column-currencypairs-table-user {
  flex: 0 0 30%;
  width: 30%;
  min-width: 3em;
}

.mat-column-currencypairs-table-created {
  flex: 0 0 20%;
  width: 20%;
  min-width: 2em;
}

.mat-column-currencypairs-table-delete {
  flex: 0 0 5%;
  width: 5%;
  min-width: 1em;
}

.mat-column-currencypairs-table-lock {
  flex: 0 0 5%;
  width: 5%;
  min-width: 1em;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
