.login-logo-field {
    margin: auto;
    margin-top: 4em;
    text-align: center;
    background-color: rgb(81, 199, 235);
    width: 10em;
}

.login-form-box {
    margin: auto;
    margin-top: 5em;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    text-align: center;
    position: relative;
    border-radius: 1em;
    background-color: rgb(247, 254, 255);
    width: 40em;
}

.login-tab-box {
    margin: auto;
    padding-top: 1em;
    padding-bottom: 0.25em;
    position: relative;
    width: 40em;
}

.login-form-element {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0em;

    span {
        color: rgb(61, 59, 78);
    }
}

.login-form-button-box {
    display: flex;
    margin: auto;
    margin-top: 1em;
}

.login-form-extra-box {
    margin: auto;
    flex: 1 1 0;
    width: 0;
}

.login-form-google-box {
    margin-right: 1em;
}

.login-form-facebook-box {
    margin-left: 1em;
}

.login-form-google-button {
    width: 100%;
    background-color: #DE4B38;
    color: ivory;
}

.login-form-facebook-button {
    width: 100%;
    background-color: #3B599A;
    color: ivory;
}

.login-form-password1-box {
    margin-right: 1em;
}

.login-form-password2-box {
    margin-left: 1em;
}

.login-form-checkbox {
    text-align: left;
}

a {
    color: rgb(18, 27, 151);
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: large;
    color: rgb(18, 27, 151);
}
