<div class="page-container">
    <div class="login-form-leftpane">
        <div style="padding: 2em;color: aliceblue;">
            Placeholder for some long information
        </div>
    </div>

    <div class="login-form-rightpane">
        <div class="login-logo-field">Logo placeholder</div>

        <div class="login-form-box">
            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

            <mat-tab-group mat-stretch-tabs animationDuration="0ms">
                <mat-tab label="Login">
                    <div class="login-tab-box">
                        <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                            <!-- Email -->
                            <mat-form-field class="login-form-element">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email" maxlength="30" 
                                placeholder="User login name" required/>
                                <mat-error *ngIf="this.loginForm.get('email')?.hasError('required')">
                                    Please specify your email
                                </mat-error>
                                <mat-error *ngIf="this.loginForm.get('email')?.hasError('pattern')">
                                    Email has incorrect format
                                </mat-error>
                            </mat-form-field>
    
                            <!-- Password -->
                            <mat-form-field class="login-form-element">
                                <mat-label>Password</mat-label>
                                <input [type]="hideSignInPassword ? 'password' : 'text'" matInput 
                                formControlName="password" maxlength="30" placeholder="Password" required>
                                <button mat-icon-button matSuffix (click)="hideSignInPassword = !hideSignInPassword" 
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSignInPassword">
                                    <mat-icon>{{hideSignInPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="this.loginForm.get('password')?.hasError('required')">
                                    Please specify your password
                                </mat-error>
                                <mat-error *ngIf="this.loginForm.get('password')?.hasError('minlength')">
                                    Password must contain at least 8 symbols
                                </mat-error>
                            </mat-form-field>

                            <button class="login-form-element" type="submit" mat-flat-button color="primary">Log in</button>
                        </form>
                        <div class="login-form-element">
                            <a mat-button href="#" target="_blank">Forgot password?</a>
                        </div>
                        <div class="login-form-error-box" *ngIf="loginErrorMessage!=''">
                            {{loginErrorMessage}}
                        </div>
                        <br>
                        <div class="login-form-element">
                            <span>Login with your social network account</span>
                        </div>
                        <div class="login-form-element">
                            <button class="login-form-social-button login-form-google-button" 
                            mat-flat-button>Google</button>
                        </div>
                        <div class="login-form-element">
                            <button class="login-form-social-button login-form-facebook-button" 
                            mat-flat-button>Facebook</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Sign up">
                    <div class="login-tab-box">
                        <form [formGroup]="signupForm" (ngSubmit)="onSignupSubmit()">
                            <!-- Email -->
                            <mat-form-field class="login-form-element">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email" maxlength="30" 
                                placeholder="User login name" required/>
                                <mat-error *ngIf="this.signupForm.get('email')?.hasError('required')">
                                    Please specify your email
                                </mat-error>
                                <mat-error *ngIf="this.signupForm.get('email')?.hasError('pattern')">
                                    Email has incorrect format
                                </mat-error>
                            </mat-form-field>
    
                            <!-- User name -->
                            <mat-form-field class="login-form-element">
                                <mat-label>User name</mat-label>
                                <input matInput formControlName="username" maxlength="30" 
                                placeholder="User name" required>
                                <mat-error *ngIf="this.signupForm.get('username')?.hasError('required')">
                                    Please specify your name
                                </mat-error>
                            </mat-form-field>

                            <!-- User type -->
                            <div class="login-form-element login-form-radio-group-title">
                                <label id="usertype-radio-group-label">
                                    Account type
                                </label>
                            </div>
                            <mat-radio-group aria-labelledby="usertype-radio-group-label"
                            class="login-form-radio-group" formControlName="userType">
                                <mat-radio-button class="login-form-radio-button" color="primary" value="User">
                                    User
                                </mat-radio-button>
                                <mat-radio-button class="login-form-radio-button" color="primary" value="Merchant">
                                    Merchant
                                </mat-radio-button>
                            </mat-radio-group>
                            
                            <!-- Password -->
                            <mat-form-field class="login-form-element">
                                <mat-label>Password</mat-label>
                                <input [type]="hideSignUp1Password ? 'password' : 'text'" matInput 
                                formControlName="password1" maxlength="30" placeholder="Password" required>
                                <button mat-icon-button matSuffix (click)="hideSignUp1Password = !hideSignUp1Password" 
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSignUp1Password">
                                    <mat-icon>{{hideSignUp1Password ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="signupPasswordValid()!=''">
                                    {{signupPasswordValid()}}
                                </mat-error>
                            </mat-form-field>

                            <!-- Confirm password -->
                            <mat-form-field class="login-form-element">
                                <mat-label>Confirm Password</mat-label>
                                <input [type]="hideSignUp2Password ? 'password' : 'text'" matInput 
                                formControlName="password2" maxlength="30" placeholder="Confirm Password" required>
                                <button mat-icon-button matSuffix (click)="hideSignUp2Password = !hideSignUp2Password" 
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSignUp2Password">
                                    <mat-icon>{{hideSignUp2Password ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-error *ngIf="this.signupForm.get('password2')?.hasError('required')">
                                    Please specify your password
                                </mat-error>
                                <mat-error *ngIf="this.signupForm.get('password2')?.hasError('minlength')">
                                    Password must contain at least 8 symbols
                                </mat-error>
                            </mat-form-field>
    
                            <div class="login-form-element login-form-checkbox">
                                <mat-checkbox color="primary" [checked]="agreementChecked"
                                (change)="checkAgreement()">
                                    <span>I agree to the <a href="#">terms and conditions</a></span>
                                </mat-checkbox>
                            </div>

                            <button class="login-form-element" mat-flat-button color="primary" 
                            [disabled]="!agreementChecked">
                                Sign up
                            </button>
                        </form>
                        <div class="login-form-error-box" *ngIf="signupErrorMessage!=''">
                            {{signupErrorMessage}}
                        </div>
                        <br>
                        <div class="login-form-element">
                            <span>Sign up with your social network account</span>
                        </div>
                        <div class="login-form-element">
                            <button class="login-form-social-button login-form-google-button" 
                            mat-flat-button>Google</button>
                        </div>
                        <div class="login-form-element">
                            <button class="login-form-social-button login-form-facebook-button" 
                            mat-flat-button>Facebook</button>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>