<div class="action-page-split action-page-left-panel split-page-40">
    <div class="split-panel-content">
        <div style="height: 5em;width: 10em;background-color: white;vertical-align: middle;text-align: center;">
            <h1>Logo placeholder</h1>
        </div>
        <div style="text-align: left;margin-top: 1em;">
            <h3>Information placeholder</h3>
        </div>
    </div>
</div>

<div class="action-page-split action-page-right-panel split-page-60">
    <div class="split-panel-content">
        <div class="login-form-box">
            <h2>Login</h2>

            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
            
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <!-- Email -->
                <mat-form-field class="form-element">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" maxlength="30" 
                    placeholder="User login name" required/>
                    <mat-error *ngIf="this.loginForm.get('email')?.hasError('required')">
                        Please specify your email
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.get('email')?.hasError('pattern')">
                        Email has incorrect format
                    </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field class="form-element">
                    <mat-label>Password</mat-label>
                    <input [type]="hidePassword ? 'password' : 'text'" matInput 
                    formControlName="password" maxlength="30" placeholder="Password" required>
                    <button mat-icon-button matSuffix type="button" 
                    (click)="hidePassword = !hidePassword" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="this.loginForm.get('password')?.hasError('required')">
                        Please specify your password
                    </mat-error>
                    <mat-error *ngIf="this.loginForm.get('password')?.hasError('minlength')">
                        Password must contain at least 8 symbols
                    </mat-error>
                </mat-form-field>

                <div class="form-element">
                    <button class="form-button" type="submit" mat-flat-button color="primary">
                        Log in
                    </button>
                </div>
            </form>
            <div class="form-error-box" *ngIf="errorMessage!=''">
                {{errorMessage}}
            </div>
            <br>
            <div class="form-element">
                <span>If you want to get logged in with your social newtork account, please use:</span>
            </div>
            <div class="form-element">
                <button class="form-button inline-button" mat-flat-button color="primary">
                    <img src="assets/icon-google.svg" alt="G"/>
                    Google
                </button>
                <button class="form-button inline-button" mat-flat-button color="primary">
                    <img src="assets/icon-facebook.svg" alt="f"/>
                    Facebook
                </button>
            </div>
            <br>
            <div class="form-element">
                <span>Forgot your password? Please, click&nbsp;<a href="#">here</a></span>
            </div>
            <div class="form-element">
                <span>No account?&nbsp;<a href="/auth/register">Register</a></span>
            </div>
        </div>
    </div>
</div> 

  