<div class="login-logo-field">Logo placeholder</div>

<div class="login-form-box">
    <div class="login-form-field">
        <h2>
            Welcome Back!
        </h2>
    
        <form class="login-form">
            <mat-form-field class="login-full-width">
                <mat-label>User name</mat-label>
                <input matInput placeholder="User name" value="">
            </mat-form-field>

            <mat-form-field class="login-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Password" value="">
            </mat-form-field>

            <button class="login-full-width" mat-raised-button color="primary">Log in</button>
        </form>
        <a mat-button href="#" target="_blank">Forgot password?</a>
    </div>
</div>

<div class="login-form-box-transparent">
    <span>Don't have an account?</span>
    <a mat-button href="#" target="_blank">Register</a>
</div>
