<div class="__widget-data-box">
    <h3 class="__widget-summary-title">Disclaimer</h3>
    <div class="__widget-disclaimer-area">
        <div class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Dear Customer,
            </span>
            <br>
            <span class="__widget-disclaimer-line">
                Welcome to GetCoins Australia!
            </span>
        </div>
        <div class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Please note that you are about to Buy Crypto-currency using GetCoins Australia services.
                GetCoins Australia is a separate entity than the Merchant Website you've been visiting,
                our services will allow you to Buy & Send Crypto-Currencies to the Crypto Wallet Address
                provided by the Merchant Website.
            </span>
        </div>
        <div class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Risk Disclaimer: Due to the nature of Crypto-currencies transactions, once a payment is done
                and order confirmed we will not be able to reverse your payment.
            </span>
        </div>
        <div class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Before using our services we do recommend to read our
                <a target="_blank" rel="noopener noreferrer" href="/terms">
                    Terms & Conditions
                </a>
            </span>
        </div>
        <div class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Our Crypto-currency quote is refreshing every 60 seconds, the final quote may differ from the initial one,
                but not the amount paid. the final quote will be presented in the order summary before payment.
            </span>
        </div>
    </div>
    <div class="__widget-buttons-area">
        <button class="__outlined-button" type="button" (click)="onBack.emit()">BACK</button>
        <button class="__main-button __button-wide-separator" type="button" (click)="onNext.emit()">next</button>
    </div>
</div>