<div class="__widget-data-box">
    <div class="__widget-page-header">
        Your account seems to be registered. Please, authenticate
    </div>

    <app-login-panel [socialButtons]="false" [wizardButtons]="true" [userName]="email" [errorMessage]="errorMessage"
        (error)="loginError($event)" (progressChange)="loginProgress($event)" (onBack)="goBack()">
    </app-login-panel>

    <!-- <app-login-panel [socialButtons]="true" (error)="onError($event)" (progressChange)="onProgressChange($event)"
        (authenticated)="onAuthenticated($event)" (socialAuthenticated)="onSocialAuthenticated($event)"
        (extraDataVisible)="onLoginExtraData($event)">
    </app-login-panel> -->
</div>