<div class="__widget-data-box-extra">

    <div class="__widget-data-box-extra-internal">
        <div class="__widget-disclaimer-line">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat.
        </div>
    </div>

    <div class="__widget-data-box-rounded-container">
        <div class="__widget-data-box-rounded-border">
            <div *ngIf="data?.payId">
                <title class="__widget-data-item-title">
                    PayID:
                </title>
                <div class="__widget-data-item-value">
                    {{data?.payId}}
                </div>
            </div>
            <div *ngIf="data?.uniqueReference">
                <title class="__widget-data-item-title">
                    Reference code:
                </title>
                <div class="__widget-data-item-value">
                    {{data?.uniqueReference}}
                </div>
            </div>
        </div>
        <div class="__widget-data-box-rounded-border-button-box">
            <button class="__rounded-border-button">
                <div id="button_icon"></div>
            </button>
        </div>
    </div>

    <div class="__widget-buttons-area">
        <button class="__main-button" type="button" (click)="onComplete.emit()">next</button>
    </div>
</div>