<div *ngIf="summary?.orderId!==''">
    <label class="checkout-summary-label">Order Id</label>
    <div class="checkout-summary-value">
        {{summary?.orderId}}
    </div>
</div>
<div class="__widget-summary-grid">
    <div class="__widget-summary-item">
        Transaction:
    </div>
    <div class="__widget-summary-item">
        {{summary?.transaction}}
    </div>
    <div *ngIf="summary?.validAmounts" class="__widget-summary-item">
        Spend:
    </div>
    <div *ngIf="summary?.validAmounts" class="__widget-summary-item">
        {{summary?.amountFrom?.toFixed(summary?.amountFromPrecision)}} {{summary?.currencyFrom}}
    </div>
    <div *ngIf="summary?.validAmounts" class="__widget-summary-item">
        Receive:
    </div>
    <div *ngIf="summary?.validAmounts" class="__widget-summary-item">
        {{summary?.amountTo?.toFixed(summary?.amountToPrecision)}} {{summary?.currencyTo}}
    </div>
    <div *ngIf="summary?.rate !== ''" class="__widget-summary-item">
        Exchange rate:
    </div>
    <div *ngIf="summary?.rate !== ''" class="__widget-summary-item">
        {{summary?.rate}}
    </div>
    <div *ngIf="summary?.address !== ''" class="__widget-summary-double-item">
        Wallet:
        <br>
        <span class="__widget-summary-wallet">
            {{summary?.address}}
        </span>
    </div>
    <div *ngIf="summary?.email !== ''" class="__widget-summary-item">
        Email:
    </div>
    <div *ngIf="summary?.email !== ''" class="__widget-summary-item">
        {{summary?.email}}
    </div>
</div>