<div class="__widget-container">
  <div class="__widget-title-container">
    <div style="color: mediumslateblue;margin: auto;font-size: 20px;">
      eWallet Logo
    </div>
  </div>
  <div class="__widget-progress-container">
    <app-widget-progress [step]="step" [title]="title"></app-widget-progress>
  </div>

  <div class="__widget-data-container">
    <div [ngClass]="{'__widget-wizard-container': true, '__widget-wizard-container-single': initState}">
      <app-widget-order-details *ngIf="isStageActive('order_details')" [initialized]="!initState"
        (onDataUpdated)="orderDetailsChanged($event)"></app-widget-order-details>
    </div>
    <div *ngIf="!initState" class="__widget-summary-container">
      <div class="__widget-summary-box">
        <div class="__widget-summary-title">Order Summary</div>
        <div style="margin: 8px 0px 18px 0px;height: 18px;background-color: aqua;font-size: 14px;">
          The price will be updated in 23 seconds
        </div>
        <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
      </div>
    </div>
  </div>

</div>