<div class="__widget-container">
  <div class="__widget-title-container">
    <div class="__widget-title-logo-container">
      <a style="font-size: 20px;margin: auto;color: mediumslateblue;" href="/">
        eWallet Logo
      </a>
    </div>
    <div *ngIf="!initState" class="__widget-title-button-container">
      <button class="__menu-button" type="button" (click)="mobileSummary = !mobileSummary">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <div class="__widget-mobile-rate-container">
    <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
      [countDown]="exchangeRateCountDownValue" [rate]="summary?.rate">
    </app-widget-rate>
  </div>

  <div class="__widget-progress-container">
    <app-widget-progress [step]="step" [title]="title" [progress]="inProgress"></app-widget-progress>
  </div>

  <div class="__widget-data-container">
    <div
      [ngClass]="{'__widget-wizard-container': true, '__widget-wizard-container-single': initState || stageId==='disclaimer' || stageId==='complete'}"
      [ngSwitch]="stageId">
      <!-- Order details -->
      <app-widget-order-details *ngSwitchCase="'order_details'" [initialized]="!initState" [summary]="summary"
        [settings]="widget" [withdrawalRate]="summary?.exchangeRate?.withdrawRate"
        [depositRate]="summary?.exchangeRate?.depositRate" (onError)="handleError($event)" (onProgress)="progressChanged($event)"
        (onDataUpdated)="orderDetailsChanged($event)" (onComplete)="orderDetailsComplete()">
      </app-widget-order-details>
      <!-- Disclaimer -->
      <app-widget-disclaimer *ngSwitchCase="'disclaimer'" [agreementChecked]="summary.agreementChecked" (onBack)="desclaimerBack()" (onNext)="desclaimerNext()">
      </app-widget-disclaimer>
      <!-- Register -->
      <app-widget-register *ngSwitchCase="'register'" [email]="summary.email">
      </app-widget-register>
      <!-- Login -->
      <app-widget-login *ngSwitchCase="'login'" [email]="summary.email" (onBack)="loginBack()">
      </app-widget-login>
      <!-- Payment -->
      <app-widget-payment *ngSwitchCase="'payment'" ></app-widget-payment>
      <!-- Complete -->
      <app-widget-complete *ngSwitchCase="'complete'"></app-widget-complete>
    </div>
    <div *ngIf="!initState && stageId!=='disclaimer' && stageId!=='complete'" class="__widget-summary-container">
      <div class="__widget-summary-box">
        <h3 class="__widget-summary-title">Order Summary</h3>
        <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
          [countDown]="exchangeRateCountDownValue">
        </app-widget-rate>
        <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mobileSummary" class="__widget-mobile-summary-container">
  <div class="__widget-mobile-summary-box">
    <div class="__widget-mobile-summary-data-box">
      <h3 class="__widget-summary-title">Order Summary</h3>
      <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
    </div>
    <div class="__widget-mobile-summary-button-box">
      <button type="button" class="__widget-summary-close-button" (click)="mobileSummary = !mobileSummary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>