<div class="__widget-container">
  <div class="__widget-title-container">
    <div class="__widget-title-logo-container">
      <a style="font-size: 20px;margin: auto;color: mediumslateblue;" href="/">
        eWallet Logo
      </a>
    </div>
    <div *ngIf="!initState" class="__widget-title-button-container">
      <button class="__menu-button" type="button" (click)="mobileSummary = !mobileSummary">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>

  <div class="__widget-mobile-rate-container">
    <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
      [countDown]="exchangeRateCountDownValue" [rate]="summary?.rate">
    </app-widget-rate>
  </div>

  <div class="__widget-progress-container">
    <app-widget-progress [step]="step" [title]="title" [progress]="inProgress"></app-widget-progress>
  </div>

  <div *ngIf="rateErrorMessage!==''" style="color: crimson;margin: 24px;">
    {{rateErrorMessage}}
  </div>
  <div *ngIf="errorMessage!==''" style="color: crimson;margin: 24px;">
    {{errorMessage}}
  </div>

  <div class="__widget-data-container">
    <div [ngClass]="{'__widget-wizard-container': true, '__widget-wizard-container-single': initState || !showSummary}"
      [ngSwitch]="stageId">
      <!-- Order details -->
      <app-widget-order-details *ngSwitchCase="'order_details'" [initialized]="!initState" [summary]="summary"
        [settings]="widget" [withdrawalRate]="summary?.exchangeRate?.withdrawRate"
        [depositRate]="summary?.exchangeRate?.depositRate" (onError)="handleError($event)"
        (onProgress)="progressChanged($event)" (onDataUpdated)="orderDetailsChanged($event)"
        (onWalletAddressUpdated)="orderWalletChanged($event)" (onComplete)=" orderDetailsComplete()">
      </app-widget-order-details>
      <!-- Disclaimer -->
      <app-widget-disclaimer *ngSwitchCase="'disclaimer'" [agreementChecked]="summary.agreementChecked"
        (onBack)="desclaimerBack()" (onNext)="desclaimerNext()">
      </app-widget-disclaimer>
      <!-- User identification -->
      <app-widget-identification *ngSwitchCase="'identification'" [email]="summary.email"
        (onComplete)="identificationComplete($event)" (onAlreadyAuthenticated)="loginCodeConfirmed()"
        (onLoginRequired)="onLoginRequired($event)" (onConfirmRequired)="onConfirmRequired($event)"
        (onError)="handleError($event)" (onProgress)="progressChanged($event)" (onBack)="identificationBack()"
        (onRegister)="onRegister($event)">
      </app-widget-identification>
      <!-- Register -->
      <app-widget-register *ngSwitchCase="'register'" [email]="summary.email" (onBack)="registerBack()"
        (onProgress)="progressChanged($event)" (onComplete)="onLoginRequired($event)">
      </app-widget-register>
      <!-- Login Authentication -->
      <app-widget-login-auth *ngSwitchCase="'login_auth'" [email]="summary.email" (onBack)="loginBack()"
        (onProgress)="progressChanged($event)" (onComplete)="loginComplete($event)">
      </app-widget-login-auth>
      <!-- Code Authentication -->
      <app-widget-code-auth *ngSwitchCase="'code_auth'" [email]="summary.email" [codeLength]="5"
        (onComplete)="loginCodeConfirmed()" (onError)="handleError($event)" (onProgress)="progressChanged($event)"
        (onBack)="loginBack()" (onRegister)="onRegister($event)">
      </app-widget-code-auth>
      <!-- Payment -->
      <app-widget-payment *ngSwitchCase="'payment'" [providers]="paymentProviders" (onBack)="paymentBack()"
        (onSelect)="selectProvider($event)">
      </app-widget-payment>
      <!-- Credit card -->
      <app-widget-credit-card *ngSwitchCase="'credit_card'" (onBack)="creditCardBack()"
        (onComplete)="creditCardPaymentComplete($event)"></app-widget-credit-card>
      <!-- KYC -->
      <app-widget-kyc *ngSwitchCase="'verification'" (onError)="handleError($event)" (onAuthError)="handleAuthError()"
        (onProgress)="progressChanged($event)" (onBack)="kycBack()" (onNext)="kycComplete()"></app-widget-kyc>
      <!-- Processing -->
      <app-widget-processing *ngSwitchCase="'processing'" [iframeContent]="iframeContent" [completed]="paymentComplete"
        (onComplete)="processingComplete()"></app-widget-processing>
      <!-- Complete -->
      <app-widget-complete *ngSwitchCase="'complete'"></app-widget-complete>

      <!-- Common settings reading -->
      <app-widget-settings-service *ngIf="readCommonSettings" [summary]="summary" (onError)="handleError($event)"
        (onProgress)="progressChanged($event)" (onAuthenticationRequired)="settingsAuthRequired($event)"
        (onIdentificationRequired)="settingsIdRequired()" (onLoginRequired)="settingsLoginRequired($event)"
        (onKycStatusUpdate)="settingsKycState($event)" (onComplete)="settingsCommonComplete($event)">
      </app-widget-settings-service>
    </div>
    <div *ngIf="!initState && showSummary" class="__widget-summary-container">
      <div class="__widget-summary-box">
        <h3 class="__widget-summary-title">Order Summary</h3>
        <app-widget-rate class="__widget-rate-container" [title]="exchangeRateCountDownTitle"
          [countDown]="exchangeRateCountDownValue">
        </app-widget-rate>
        <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mobileSummary" class="__widget-mobile-summary-container">
  <div class="__widget-mobile-summary-box">
    <div class="__widget-mobile-summary-data-box">
      <h3 class="__widget-summary-title">Order Summary</h3>
      <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
    </div>
    <div class="__widget-mobile-summary-button-box">
      <button type="button" class="__widget-summary-close-button" (click)="mobileSummary = !mobileSummary">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
</div>