<div *ngIf="!!valueString || !!valueImage" class="wrapper" [class.highlight] = 'highlight'>
    <label class="label">{{label}}</label>
    <div *ngIf="valueString && !linkUrl" class="value">
        {{valueString}}
    </div>
    <a *ngIf="valueString && linkUrl" [routerLink]="linkUrl" class="value">
        {{valueString}}
    </a>
    <div *ngIf="!!valueImage" class="value">
        <app-dropdown-item itemValue="{{valueImage?.title}}"
                           imageClass="{{valueImage?.imgClass}}"
                           imageSource="{{valueImage?.imgSource}}">
        </app-dropdown-item>
    </div>
</div>
