@import "../../../scss/variables";

mat-card-content {
  display: flex;
  flex-direction: row;

  .column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &.align-right {
      text-align: right;
    }

    > div {
      height: 28px;
      line-height: 28px;
      padding: 0 4px;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-2;
      }

      &.header {
        background: $color-grey-0;
      }
    }
  }
}
