@import "../../../scss/variables";

:host {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.action-panel {
  padding: 16px 24px;
  background: $color-grey-0;
}

.transaction-list-selector-column-white {
  margin: 0px;
  padding: 0px 8px;
  background-color: white;
}

.transaction-list-selector-column-blue {
  margin: 0px;
  padding: 0px 8px;
  background-color: lightblue;
}

.transaction-list-selector-column-purple {
  margin: 0px;
  padding: 0px 8px;
  background-color: plum;
}

.transaction-list-selector-column-green {
  margin: 0px;
  padding: 0px 8px;
  background-color: lightgreen;
}

.transaction-list-data-column-white {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.transaction-list-data-column-blue {
  margin: 0px;
  padding: 0px;
  background-color: lightblue;
}

.transaction-list-data-column-purple {
  margin: 0px;
  padding: 0px;
  background-color: plum;
}

.transaction-list-data-column-green {
  margin: 0px;
  padding: 0px;
  background-color: lightgreen;
}
