<div class="action-panel">
    <button mat-flat-button color="primary" (click)="unbenchmark()" [disabled]="!selected">
        UNBENCHMARK
    </button>
</div>

<app-filter-panel [fields]="filterFields" [filterData]="filter" (filter)="handleFilterApplied($event)"></app-filter-panel>

<div class="data-table">
    <mat-table matSort [matSortActive]="sortedField" matSortDirection="desc" matSortDisableClear
        [dataSource]="transactions">

        <!-- Details Column -->
        <ng-container matColumnDef="details" sticky>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListSelectorColumnStyle">
                <mat-checkbox color="accent" [checked]="element.selected" (change)="onTransactionSelected(element)">
                </mat-checkbox>
                <button mat-icon-button class="row-button" (click)="toggleDetails(element)"
                    [attr.aria-label]="'Transaction details'" [attr.aria-pressed]="!!selectedTransaction"
                    [matTooltip]="getDetailsTooltip(element.id)" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">{{getDetailsIcon(element.id)}}</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Transaction ID Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.code}} </td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Created</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.created}} </td>
        </ng-container>

        <!-- Customer Name Column -->
        <ng-container matColumnDef="accountName">
            <th mat-header-cell *matHeaderCellDef>Customer Name</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.accountName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.user?.email}} </td>
        </ng-container>

        <!-- Account Status Column -->
        <ng-container matColumnDef="accountStatus">
            <th mat-header-cell *matHeaderCellDef>Account Status</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.accountStatus}} </td>
        </ng-container>

        <!-- Transaction Type Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Transaction Type</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.transactionTypeName}} </td>
        </ng-container>

        <!-- Base Currency Column -->
        <ng-container matColumnDef="currencyToSpend">
            <th mat-header-cell *matHeaderCellDef>Base Coin</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.currencyToSpend}} </td>
        </ng-container>

        <!-- Base Amount Column -->
        <ng-container matColumnDef="amountToSpend">
            <th mat-header-cell *matHeaderCellDef>Base Amount</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.amountToSpend}} </td>
        </ng-container>

        <!-- Buy Currency Column -->
        <ng-container matColumnDef="currencyToReceive">
            <th mat-header-cell *matHeaderCellDef>Buy Coin</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.currencyToReceive}} </td>
        </ng-container>

        <!-- Buy Amount Column -->
        <ng-container matColumnDef="amountToReceive">
            <th mat-header-cell *matHeaderCellDef>Buy Amount</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.amountToReceive}} </td>
        </ng-container>

        <!-- Wallet Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>Wallet</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.address}} </td>
        </ng-container>

        <!-- Payment Method Column -->
        <ng-container matColumnDef="instrument">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Payment Method</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.instrumentName}} </td>
        </ng-container>

        <!-- Payment Provider Column -->
        <ng-container matColumnDef="paymentProvider">
            <th mat-header-cell *matHeaderCellDef>Payment provider</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.paymentProvider}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Transaction Status</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.transactionStatusName}} </td>
        </ng-container>
        
        <!-- User Type Column -->
        <ng-container matColumnDef="userType">
            <th mat-header-cell *matHeaderCellDef>User Type</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.userTypeName}} </td>
        </ng-container>

        <!-- Source Column -->
        <ng-container matColumnDef="source">
            <th mat-header-cell *matHeaderCellDef>Initiate from</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.transactionSourceName}} </td>
        </ng-container>

        <!-- KYC Status Column -->
        <ng-container matColumnDef="kycStatus">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>KYC Status</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.kycStatus}} </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle"> {{element.id}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>

<mat-paginator [length]="transactionCount" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons
    (page)="handlePage($event)">
</mat-paginator>

<ng-template *ngIf="selectedTransaction" appRightPanel (panelClosed)="handleDetailsPanelClosed()">
    <app-transaction-details [transaction]="selectedTransaction" [currencies]="currencyOptions" [cancelable]=true
        (save)="onSaveTransaction()" (cancel)="onCancelEdit()">
    </app-transaction-details>
</ng-template>