@import "../../../scss/variables";

:host {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.action-panel {
  padding: 16px 24px;
  background: $color-grey-0;
}

.transaction-list-selector-column {
  margin: 0px;
  padding: 0px 8px;
}

.transaction-list-data-column {
  margin: 0px;
  padding: 0px;
}

.transaction-list-column-white {
  background-color: white;
}

.transaction-list-column-grey {
  background-color: lightgray;
}

.transaction-list-column-blue {
  background-color: lightblue;
}

.transaction-list-column-red {
  background-color: pink;
}

.transaction-list-column-purple {
  background-color: plum;
}

.transaction-list-column-green {
  background-color: lightgreen;
}

.transaction-list-column-yellow {
  background-color: lightyellow;
}

.panel-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 16px;

  > * {
    margin-right: 16px;
  }
}