@import 'font-props';
@import '../vaariables.scss';

$table-card-border-radius: 10px;
$table-card-list-offset: 20px;

@mixin table-card {
	border-radius: $table-card-border-radius;
	background-color: $hover-gray;

	> .header {
		border-radius: $table-card-border-radius;
		border-bottom: 2px solid $hover-gray;
		padding: $table-card-list-offset;
		background-color: white;

		> h1 {
			@include font-props(true, 21, true, 500);
		}
	}

	> .content {
		padding: $table-card-list-offset;
		position: relative;
	}
}

@mixin card-with-shadow {
	box-shadow: 0 10px 21px -5px rgb(0 0 0 / 15%);
	background-color: $zesty-white;
	border-radius: 0.25rem;
}
