<div *ngIf="!recentTransactions && showWidget" class="widget__wrapper" [class.widget__wrapper--single]="isSinglePage">
    <div *ngIf="!isSingleOrderDetailsCompleted && !transactionErrorTitle" class="m-0 widget__container-1" [ngSwitch]="pager.stageId">
      <div *ngIf="widget.embedded && inProgress" class="__widget-embedded-progress-container">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
      </div>

      <div>
        <!-- Order details -->
        <app-widget-internal-overview
          *ngIf="!initLoading"
          [isSinglePage]="isSinglePage"
          [quickCheckout]='quickCheckout' 
          [initialized]="!initState" 
          [summary]="summary"
          [settings]="widget" 
          [wallets]="userWallets" 
          [defaultFee]="defaultFee"
          [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
          [depositRate]="summary?.exchangeRate?.depositRate" 
  
          [isOrderDetailsComplete]="isOrderDetailsComplete"

          (onError)="handleError($event)"
          (onProgress)="progressChanged($event)" 
          (onDataUpdated)="orderDetailsChanged($event)"
          (onQuoteChanged)="orderQuoteChanged($event)" 
          (onWalletAddressUpdated)="orderWalletChanged($event)"
          (onVerifyWhenPaidChanged)="orderVerifyWhenPaidChanged($event)" 
          (onComplete)="orderDetailsComplete($event)">
        </app-widget-internal-overview>

        <ng-container *ngIf="!summary?.rate">
          <app-spinner></app-spinner>
        </ng-container>
      </div>
    </div>

    <div class="m-0 widget__container-2" 
        [ngClass]="(isOrderDetailsComplete || transactionErrorTitle) ? 'd-flex' : 'd-none'" [ngSwitch]="pager.stageId">
    
      <div *ngIf="!widget.embedded && !recentTransactions && pager.stageId !== 'error'" class="__widget-progress-container">
        <app-widget-progress [step]="pager.step" [title]="pager.title" [progress]="inProgress"></app-widget-progress>
      </div>
      
      <div *ngIf="widget.embedded && inProgress" class="__widget-embedded-progress-container">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
      </div>

      <div *ngIf="mobileSummary && !recentTransactions" class="__widget-mobile-summary-container">
        <div class="__widget-mobile-summary-box">
          <div class="__widget-mobile-summary-data-box">
            <h3 class="__widget-summary-title">{{'widget-internal.order-summary_title' | transloco}}</h3>
            <app-widget-summary class="__widget-summary-data" [summary]="summary"></app-widget-summary>
            <div *ngIf="showTransactionsLink" class="__widget-summary-total">
              <a href="#" [routerLink]="null" (click)="showTransactions()">
                {{'widget-internal.order-summary_subtitle' | transloco}}
              </a>
            </div>
          </div>
          <div class="__widget-mobile-summary-button-box">
            <button type="button" class="__widget-summary-close-button" (click)="mobileSummary = !mobileSummary">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div [ngClass]="!mobileSummary || recentTransactions ? 'd-block' : 'd-none'">
          <!-- Initialization -->
          <app-widget-initialization *ngSwitchCase="'initialization'" [message]="initMessage"></app-widget-initialization>
          <!-- Sell details -->
          <app-widget-sell-details *ngSwitchCase="'sell_details'" [summary]="summary" [widget]="widget" (onBack)="stageBack()"
            (onComplete)="sellComplete($event)" (handleError)="handleError($event)">
          </app-widget-sell-details>

          <app-sell-widget-complete *ngSwitchCase="'sell_widget_complete'" [address]="this.summary.sourceAddress" 
          [amount]="this.summary.amountFrom" [currency]="this.summary.currencyFrom" (onFinish)="processingComplete()"
          (onProgress)="progressChanged($event)">
          </app-sell-widget-complete>
          <!-- Disclaimer -->
          <app-widget-disclaimer 
            *ngSwitchCase="'intro_disclaimer'" 
            [agreementChecked]="summary.agreementChecked"
            [errorMessageData]="errorMessage" 
            [backButton]=false (onNext)="introDisclaimerNext()">
          </app-widget-disclaimer>
          <app-widget-disclaimer 
            *ngSwitchCase="'disclaimer'" 
            [agreementChecked]="summary.agreementChecked"
           [errorMessageData]="errorMessage"
            (onBack)="stageBack()" (onNext)="disclaimerNext()">
          </app-widget-disclaimer>
          <!-- Register -->
          <app-widget-register *ngSwitchCase="'register'" [email]="summary.email" (onBack)="stageBack()"
            (onProgress)="progressChanged($event)" (onComplete)="onLoginRequired($event)">
          </app-widget-register>
          <app-widget-payment-yapily
            *ngSwitchCase="'payment_yapily'" 
            [userParamsId]="userParamsId" 
            [source]="widget.source" 
            [summary]="summary" 
            (onBack)="stageBack()"
            (onProgress)="progressChanged($event)" 
            (onComplete)="onLoginRequired($event)">
          </app-widget-payment-yapily>
          <app-widget-payment-wrbankaccount
            *ngSwitchCase="'payment_wrbankaccount'" 
            [summary]="summary" 
            [bankAccount]="selectedProvider.bankAccount"
            (onBack)="stageBack()"
            (onProgress)="progressChanged($event)" 
            (onComplete)="onLoginRequired($event)">
          </app-widget-payment-wrbankaccount>
          <!-- Login Authentication -->
          <app-widget-login-auth *ngSwitchCase="'login_auth'" [email]="summary.email" [widget]="widget"
            [requiredExtraData]="requiredExtraData" [allowCreate]="quickCheckout"
            [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="stageBack()"
            (onProgress)="progressChanged($event)" (onComplete)="loginComplete($event)">
          </app-widget-login-auth>
          <!-- Code Authentication -->
          <app-widget-code-auth *ngSwitchCase="'code_auth'" [email]="summary.email" [codeLength]="5"
            [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" [transactionIdConfirmationCode]="transactionIdConfirmationCode" (onComplete)="loginCodeConfirmed()"
            (onError)="handleError($event)" (onProgress)="progressChanged($event)" (onBack)="stageBack()"
            (onRegister)="onRegister($event)" (onTransactionComplete)="transactionConfiramtionComplete($event)">
          </app-widget-code-auth>
          <!-- Payment -->
          <app-widget-payment 
            *ngSwitchCase="'payment'" 
            [summary]="summary"
            [widget]="widget"
            [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" 
            (onBack)="stageBack()"
            (onError)="handleError($event)"
            (onNotificationStart)="startNotificationListener()"
            (onSelect)="selectProvider($event)">
          </app-widget-payment>
          <!-- Credit card -->
          <app-widget-credit-card *ngSwitchCase="'credit_card'"
            [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onBack)="stageBack()"
            (onComplete)="creditCardPaymentComplete($event)"></app-widget-credit-card>
          <!-- Wire transfer -->
          <app-widget-wire-transfer *ngSwitchCase="'wire_transfer'" [bankCategories]="wireTransferList"
            [bankAccountId]="bankAccountId" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
            (onBack)="stageBack()" (onComplete)="wireTransferPaymentComplete($event)"></app-widget-wire-transfer>

          <app-widget-wire-transfer-info-required *ngSwitchCase="'wire_transfer_info_required'" #signupInfo buttonTitle="SAVE" [requiredFields] = "requiredFields"
            (error)="handleError($event)" (progressChange)="progressChanged($event)" (done)="requiredFieldsComplete()"></app-widget-wire-transfer-info-required>
          
          <company-level-verification *ngSwitchCase="'company_level_verification'" #signupInfo  buttonTitle="SEND" [levelName]="overLimitLevel" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
            (error)="handleError($event)" (progressChange)="progressChanged($event)" (done)="resetWizard()"></company-level-verification>

          <app-widget-wire-transfer-result *ngSwitchCase="'wire_transfer_result'" [referenceId]="summary.orderId"
            [bankData]="selectedWireTransfer" (onComplete)="processingComplete()"
            (onSendEmail)="sendWireTransaferMessage()">
          </app-widget-wire-transfer-result>

          <!-- KYC -->
          <app-widget-kyc *ngSwitchCase="'verification'" class='widget-kyc-size' 
            [summary]="summary" 
            [levelName]="overLimitLevel"
            [completedWhenVerified]="widget.kycFirst"
            [kycSubscribeResult]="kycSubscribeResult"
            [allowToPayIfKycFailed]="widget.allowToPayIfKycFailed"
            [widgetId]="widget.widgetId"
            [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" 
            (onError)="handleError($event)"
            (onAuthError)="handleAuthError()" 
            (onProgress)="progressChanged($event)" 
            (onBack)="stageBack()"
            (onNext)="kycComplete()" 
            (onReject)="handleReject()"></app-widget-kyc>
          <!-- Processing with a frame -->
          <app-widget-processing-frame *ngSwitchCase="'processing-frame'" [iframeContent]="iframeContent"
            [completed]="paymentComplete" [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage"
            (onComplete)="processingComplete()">
          </app-widget-processing-frame>
          <app-widget-processing-instantpay *ngSwitchCase="'processing-instantpay'" [details]="apmResult"
            [errorMessage]="(errorMessage === '') ? rateErrorMessage : errorMessage" (onComplete)="processingComplete()">
          </app-widget-processing-instantpay>
          <!-- Complete -->
          <app-widget-complete 
            *ngSwitchCase="'complete'" 
            [showRestartButton]="widget.widgetId===''"
            (onFinish)="resetWizard()">
          </app-widget-complete>
          <app-widget-error *ngSwitchCase="'error'" [title]="transactionErrorTitle" (onFinish)="resetWizard()"></app-widget-error>
      </div>

    </div>
</div>
  
<ng-template #recaptcha let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{'recaptcha.title' | transloco}}</h5>
  </div>
  <div class="modal-body">
    <div class="recaptcha-container">
      <app-recaptcha (completed)="capchaResult()"></app-recaptcha>
    </div>
  </div>
</ng-template>
  
<div *ngIf="recentTransactions" class="__widget-data-container">
  <div class="__widget-wizard-container __widget-wizard-container-single __widget-wizard-container-data-list">
    <app-widget-recent-transactions (back)="transactionsBack()"></app-widget-recent-transactions>
  </div>
</div> 

<div *ngIf="widgetLink">
  <iframe frameborder="0" allow="camera" class="widget-iframe" [src]="widgetLink | safeurl"></iframe>
</div>