<div class="__nav-popup-content-block">
    <div class="__nav-popup-user-name">
        {{userName}}
    </div>
    <button class="__nav-popup-button-box" type="button" [matMenuTriggerFor]="menu" #menuTrigger
        (click)="onMenuOpened()">
        <div>
            <div *ngIf="avatar!==''" class="__nav-popup-user-icon">
                <img [src]="avatar" alt="Avatar">
            </div>
            <div *ngIf="avatar===''" class="__nav-popup-nouser-icon">
                <img src="../../../assets/avatar.svg" alt="Avatar">
            </div>
        </div>
        <mat-icon class="__nav-popup-arrow">{{menuArrow}}</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="__popup-menu-panel" (closed)="onMenuClosed()">
        <div *ngFor="let item of items;let i=index;">
            <button type="button" class="__popup-menu-button" (click)="clickItem(item)">
                <div class="__popup-menu-button-content">
                    <span id="button-icon">
                        <mat-icon>{{item.icon}}</mat-icon>
                    </span>
                    <span>
                        {{item.name}}
                    </span>
                </div>
            </button>
            <div *ngIf="(items) ? i<items.length-1 : false" class="__popup-menu-separator"></div>
        </div>
    </mat-menu>
</div>
