@import "../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.messages-list-selector-column {
  margin: 0px;
  padding: 0px 8px;
}

.messages-list-data-column {
  margin: 0px;
  padding: 0px;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
