<app-settings-bar [selectedTab]="selectedTab" (select)="pageSelected($event)"></app-settings-bar>
<div class="__profile-settings-container">
    <div *ngIf="inProgress" class="__profile-settings-progress-bar">
        <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="__profile-internal-table-container" [ngSwitch]="selectedTab">
        <app-personal-info-settings *ngSwitchCase="'info'"></app-personal-info-settings>
        <app-personal-verification-settings *ngSwitchCase="'verification'"></app-personal-verification-settings>
        <app-personal-security-settings *ngSwitchCase="'security'" (error)="handleError($event)"
            (progressChange)="progressChanged($event)"></app-personal-security-settings>
    </div>
</div>