<app-admin-page-header [title]="'Fees'" [items]="['Home']" [active_item]="'Fees'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-button-container" *ngIf="permission > 1">
            <button type="button" class="btn btn-primary me-2" (click)="showDetails(undefined, details_content)">
              Add scheme
            </button>
            <button type="button" class="btn btn-primary me-2" (click)="showDetails(undefined, assign_cost_content)">
              Assign cost scheme
            </button>
          </div>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="data-table">
            <mat-table [dataSource]="schemes">

              <ng-container matColumnDef="details">
                <th *matHeaderCellDef  mat-header-cell class="mat-column-fee-table mat-column-fee-table-details">
                </th>
                <td *matCellDef="let element" mat-cell>
                  <button type="button" mat-icon-button class="row-button" 
                    matTooltip="Scheme details"
                    matTooltipClass="info-tooltip" [attr.aria-label]="'Scheme details'"
                    [attr.aria-pressed]="!!selectedScheme" (click)="showDetails(element, details_content)">
                    <i class="material-icons tx-20">wysiwyg</i>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="default">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-details"></th>
                <td *matCellDef="let element" mat-cell>
                  <div *ngIf="element.isDefault" class="row-icon">
                    <i class="material-icons tx-20">offline_bolt</i>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-name">
                  Name
                </th>
                <td *matCellDef="let element" mat-cell>
                  {{element.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="target">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-target">
                  Target type
                </th>
                <td *matCellDef="let element" mat-cell>
                  {{element.targetName}}
                </td>
              </ng-container>

              <ng-container matColumnDef="targetValues">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-target">
                  Targets
                </th>
                <td *matCellDef="let element" mat-cell>
                  <mat-chip-listbox>
                    <mat-chip *ngFor="let address of element.targetValues" class="widget-chip">
                      <span class="tx-13">{{address}}</span>
                    </mat-chip>
                  </mat-chip-listbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="trxType">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-trx-type">
                  Transaction types
                </th>
                <td *matCellDef="let element" mat-cell>
                  <span class="multiple-cell" *ngFor="let type of element.trxType">{{type}} 
                    <span class="multiple-cell-seperator">|</span> 
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="userType">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-userType">
                  User types
                </th>
                <td *matCellDef="let element" mat-cell>
                  <span class="multiple-cell" *ngFor="let type of element.userType">{{type}} 
                    <span class="multiple-cell-seperator">|</span> 
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="userMode">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-userMode">
                  User modes
                </th>
                <td *matCellDef="let element" mat-cell>
                  <span class="multiple-cell" *ngFor="let mode of element.userMode">{{mode}} 
                    <span class="multiple-cell-seperator">|</span> 
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="instrument">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-instrument">
                  Payment Method
                </th>
                <td *matCellDef="let element" mat-cell>
                  {{element.instrumentList}}
                </td>
              </ng-container>

              <ng-container matColumnDef="provider">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-provider">
                  Payment provider / cost scheme
                </th>
                <td *matCellDef="let element" mat-cell>
                  <span class="multiple-cell" *ngFor="let provider of convertToArray(element.providerList)">{{provider}} 
                    <span class="multiple-cell-seperator">|</span> 
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="currenciesFrom">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-provider">
                  Currencies from
                </th>
                <td *matCellDef="let element" mat-cell>
                  <span class="multiple-cell" *ngFor="let currency of element.currenciesFrom">{{currency}} 
                    <span class="multiple-cell-seperator">|</span> 
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="currenciesTo">
                <th *matHeaderCellDef mat-header-cell class="mat-column-fee-table mat-column-fee-table-provider">
                  Currencies to
                </th>
                <td *matCellDef="let element" mat-cell>
                  <span class="multiple-cell" *ngFor="let currency of element.currenciesTo">{{currency}} 
                    <span class="multiple-cell-seperator">|</span> 
                  </span>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="displayedColumns;" mat-header-row></tr>
              <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
            </mat-table>
          </div>

          <ng-template #details_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">
                {{detailsTitle}}
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-fee-details [permission]="permission" [currentScheme]="selectedScheme"
                (save)="modal.close('OK')" (close)="modal.dismiss('Close')">
              </app-admin-fee-details>
            </div>
          </ng-template>

          <ng-template #assign_cost_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">
                Assign cost schema
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-fee-assign-cost [permission]="permission" [feeSchemas]="schemes"
                (save)="modal.close('OK')" (close)="modal.dismiss('Close')">
              </app-admin-fee-assign-cost>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>