@import "scss/variables";
@import "colors";

.__common-settings-board {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 35% 35% auto;
    gap: 16px;
    @media (max-width: 950px) {
        display: flex;
        flex-direction: column;
    }

    @media (max-width: 1450px) {
        grid-template-columns: 50% 40% auto;
    }
}

.__common-settings-pane {
    min-width: 15%;
    max-width: 100%;
}

.flex__allign-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion-headers-align .mat-expansion-panel-header-title {
    color: var(--color_main_blue_700);
    font-size: 14px;
    font-weight: 400;
    .material-icons {
        font-size: 20px;
    }
}