<div class="__common-settings-container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="__common-settings-grid">
            <div class="__common-settings-grid-column-one">
                <mat-form-field class="form-element">
                    <mat-label>Liquidity provider</mat-label>
                    <mat-select formControlName="liquidityProvider">
                        <mat-option *ngFor="let item of liquidityProviderOptions" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.liquidityProvider.hasError('required')">
                        Mandatory field
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>Custody provider</mat-label>
                    <mat-select formControlName="custodyProvider">
                        <mat-option *ngFor="let item of custodyProviderOptions" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.custodyProvider.hasError('required')">
                        Mandatory field
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>KYC provider</mat-label>
                    <mat-select formControlName="kycProvider">
                        <mat-option *ngFor="let item of kycProviderOptions" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls.kycProvider.hasError('required')">
                        Mandatory field
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>Administrators email addresses</mat-label>
                    <mat-chip-list #emailChipList aria-label="Admin emails">
                        <mat-chip *ngFor="let opt of form.controls.adminEmails.value"
                            (removed)="removeAdminEmailOption(opt)">
                            {{opt}}
                            <mat-icon matChipRemove matTooltip="Remove email" matTooltipClass="info-tooltip">cancel
                            </mat-icon>
                        </mat-chip>
                        <input #emailSearchInput placeholder="Administrators emails" [matChipInputFor]="emailChipList"
                            (matChipInputTokenEnd)="handleEmailOptionAdded($event)">
                    </mat-chip-list>
                </mat-form-field>

                <div class="form-element">
                    <mat-checkbox color="accent" formControlName="stoppedForServicing">
                        Stopped for servicing
                    </mat-checkbox>
                </div>
                <div class="form-element">&nbsp;</div>

                <div class="__common-settings-button-block">
                    <button *ngIf="permission>1" mat-flat-button color="primary" type="submit">
                        SAVE
                    </button>
                </div>
            </div>
            <div class="__common-settings-grid-column-two">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>person</mat-icon>
                            <span class="__common-settings-slider-title">Authentication settings</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <div class="form-section-title-box">
                        <mat-form-field class="form-element">
                            <mat-label>Email conformation code maximal length</mat-label>
                            <input matInput required formControlName="emailCodeNumberLength" />
                            <mat-error *ngIf="form.controls.emailCodeNumberLength.hasError('required')">
                                Mandatory field
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            <span class="__common-settings-slider-title">Custody Providers</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <mat-form-field class="form-element">
                        <mat-label>Transfer Orders Tracking Time Delta, in days</mat-label>
                        <input matInput formControlName="transferOrdersTrackingTimedeltaDays" required />
                        <mat-error *ngIf="form.controls.transferOrdersTrackingTimedeltaDays.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <div class="form-section-title-box">
                        <h2>Fireblocks</h2>
                    </div>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached Deposit Address Lifetime, in ms</mat-label>
                        <input matInput formControlName="fireblocksCachedDepositAddressLifetime" required />
                        <mat-error *ngIf="form.controls.fireblocksCachedDepositAddressLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached External Wallet Lifetime, in ms</mat-label>
                        <input matInput formControlName="fireblocksCachedExternalWalletLifetime" required />
                        <mat-error *ngIf="form.controls.fireblocksCachedExternalWalletLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached Internal Wallet Lifetime, in ms</mat-label>
                        <input matInput formControlName="fireblocksCachedInternalWalletLifetime" required />
                        <mat-error *ngIf="form.controls.fireblocksCachedInternalWalletLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached Vault Account Lifetime, in ms</mat-label>
                        <input matInput formControlName="fireblocksCachedVaultAccountLifetime" required />
                        <mat-error *ngIf="form.controls.fireblocksCachedVaultAccountLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Default User Vault Name</mat-label>
                        <input matInput formControlName="fireblocksDefaultUserVaultName" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal From Liquidity Provider Destination Address</mat-label>
                        <input matInput formControlName="fireblocksWithdrawalFromLiquidityProviderDestinationAddress" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal To End User Source Vault Account Id</mat-label>
                        <input matInput formControlName="fireblocksWithdrawalToEndUserSourceVaultAccountId" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal To End User Speed</mat-label>
                        <input matInput formControlName="fireblocksWithdrawalToEndUserSpeed" required />
                        <mat-error *ngIf="form.controls.fireblocksWithdrawalToEndUserSpeed.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="fireblocksTrackWithdrawals">
                            Track Withdrawals
                        </mat-checkbox>
                    </div>
                    <div class="form-element">&nbsp;</div>
        
                    <div class="form-section-title-box">
                        <h2>Trustology</h2>
                    </div>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached Deposit Address Lifetime, in ms</mat-label>
                        <input matInput formControlName="trustologyCachedDepositAddressLifetime" required />
                        <mat-error *ngIf="form.controls.trustologyCachedDepositAddressLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached External Wallet Lifetime, in ms</mat-label>
                        <input matInput formControlName="trustologyCachedExternalWalletLifetime" required />
                        <mat-error *ngIf="form.controls.trustologyCachedExternalWalletLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached Internal Wallet Lifetime, in ms</mat-label>
                        <input matInput formControlName="trustologyCachedInternalWalletLifetime" required />
                        <mat-error *ngIf="form.controls.trustologyCachedInternalWalletLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Cached Vault Account Lifetime, in ms</mat-label>
                        <input matInput formControlName="trustologyCachedVaultAccountLifetime" required />
                        <mat-error *ngIf="form.controls.trustologyCachedVaultAccountLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Default Host Wallet Id</mat-label>
                        <input matInput formControlName="trustologyDefaultHostWalletId" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Network Fee Estimation Vault Account Id</mat-label>
                        <input matInput formControlName="trustologyNetworkFeeEstimationVaultAccountId" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Network Fee Estimation Vault Account Subwallet</mat-label>
                        <input matInput formControlName="trustologyNetworkFeeEstimationVaultAccountIdSubwallet" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal From Liquidity Provider Destination Address</mat-label>
                        <input matInput formControlName="trustologyWithdrawalFromLiquidityProviderDestinationAddress" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal To End User Source Vault Account Id</mat-label>
                        <input matInput formControlName="trustologyWithdrawalToEndUserSourceVaultAccountId" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal To End User Source Vault Account Subwallet</mat-label>
                        <input matInput formControlName="trustologyWithdrawalToEndUserSourceVaultAccountIdSubwallet" />
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal To End User Speed</mat-label>
                        <input matInput formControlName="trustologyWithdrawalToEndUserSpeed" required />
                        <mat-error *ngIf="form.controls.trustologyWithdrawalToEndUserSpeed.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="trustologyTrackWithdrawals">
                            Track Withdrawals
                        </mat-checkbox>
                    </div>
                    <div class="form-element">&nbsp;</div>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            <span class="__common-settings-slider-title">Liquidity Providers</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <mat-form-field class="form-element">
                        <mat-label>Benchmark Tracking Interval, ms</mat-label>
                        <input matInput formControlName="liquidityBenchmarkTrackingInterval" required />
                        <mat-error *ngIf="form.controls.liquidityBenchmarkTrackingInterval.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Crypto Rate Lifetime, ms</mat-label>
                        <input matInput formControlName="liquidityCryptoRateLifetime" required />
                        <mat-error *ngIf="form.controls.liquidityCryptoRateLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Exchange Info Lifetime, ms</mat-label>
                        <input matInput formControlName="liquidityExchangeInfoLifetime" required />
                        <mat-error *ngIf="form.controls.liquidityExchangeInfoLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Exchange Orders Tracking Time Delta, in days</mat-label>
                        <input matInput formControlName="liquidityExchangeOrdersTrackingTimedeltaDays" required />
                        <mat-error *ngIf="form.controls.liquidityExchangeOrdersTrackingTimedeltaDays.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Exchange Tracking Interval, ms</mat-label>
                        <input matInput formControlName="liquidityExchangeTrackingInterval" required />
                        <mat-error *ngIf="form.controls.liquidityExchangeTrackingInterval.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Settings Currency Lifetime, ms</mat-label>
                        <input matInput formControlName="liquiditySettingsCurrencyLifetime" required />
                        <mat-error *ngIf="form.controls.liquiditySettingsCurrencyLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Transfer Orders Tracking Time Delta, in days</mat-label>
                        <input matInput formControlName="liquidityTransferOrdersTrackingTimedeltaDays" required />
                        <mat-error *ngIf="form.controls.liquidityTransferOrdersTrackingTimedeltaDays.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <div class="form-section-title-box">
                        <h2>Bitstamp</h2>
                    </div>
        
                    <mat-form-field class="form-element">
                        <mat-label>Timeout, ms</mat-label>
                        <input matInput formControlName="bitstampTimeout" required />
                        <mat-error *ngIf="form.controls.bitstampTimeout.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal Benchmark</mat-label>
                        <input matInput formControlName="bitstampWithdrawalBenchmark" required />
                        <mat-error *ngIf="form.controls.bitstampWithdrawalBenchmark.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal Benchmark Amount To Remain</mat-label>
                        <input matInput formControlName="bitstampWithdrawalBenchmarkAmountToRemain" required />
                        <mat-error *ngIf="form.controls.bitstampWithdrawalBenchmarkAmountToRemain.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="bitstampRateLimit">
                            Rate Limit
                        </mat-checkbox>
                    </div>
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="bitstampTrackOrders">
                            Track Orders
                        </mat-checkbox>
                    </div>
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="bitstampTrackWithdrawals">
                            Track Withdrawals
                        </mat-checkbox>
                    </div>
                    <div class="form-element">&nbsp;</div>
        
                    <div class="form-section-title-box">
                        <h2>Kraken</h2>
                    </div>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal Benchmark</mat-label>
                        <input matInput formControlName="krakenWithdrawalBenchmark" required />
                        <mat-error *ngIf="form.controls.krakenWithdrawalBenchmark.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Withdrawal Benchmark Amount To Remain</mat-label>
                        <input matInput formControlName="krakenWithdrawalBenchmarkAmountToRemain" required />
                        <mat-error *ngIf="form.controls.krakenWithdrawalBenchmarkAmountToRemain.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="krakenTrackOrders">
                            Track Orders
                        </mat-checkbox>
                    </div>
                    <div class="form-element">
                        <mat-checkbox color="accent" formControlName="krakenTrackWithdrawals">
                            Track Withdrawals
                        </mat-checkbox>
                    </div>
                    <div class="form-element">&nbsp;</div>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            <span class="__common-settings-slider-title">KYC Providers</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <div class="form-section-title-box">
                        <h2>SumSub</h2>
                    </div>
        
                    <mat-form-field class="form-element">
                        <mat-label>WebApi Token Lifetime, in ms</mat-label>
                        <input matInput formControlName="kycSumSubWebApiTokenLifetime" required />
                        <mat-error *ngIf="form.controls.kycSumSubWebApiTokenLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            <span class="__common-settings-slider-title">Risk Center</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <mat-form-field class="form-element">
                        <mat-label>Login Count To Compare IP address</mat-label>
                        <input matInput formControlName="riskCenterLoginCountToCompareIpAddress" required />
                        <mat-error *ngIf="form.controls.riskCenterLoginCountToCompareIpAddress.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Max Failed Login Attempts</mat-label>
                        <input matInput formControlName="riskCenterMaxFailedLoginAttempts" required />
                        <mat-error *ngIf="form.controls.riskCenterMaxFailedLoginAttempts.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
                </mat-expansion-panel>
        
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            <span class="__common-settings-slider-title">Transactions</span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
        
                    <mat-form-field class="form-element">
                        <mat-label>Payment Code Number Length</mat-label>
                        <input matInput formControlName="transactionsPaymentCodeNumberLength" required />
                        <mat-error *ngIf="form.controls.transactionsPaymentCodeNumberLength.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Transaction Code Number Length</mat-label>
                        <input matInput formControlName="transactionsTransactionCodeNumberLength" required />
                        <mat-error *ngIf="form.controls.transactionsTransactionCodeNumberLength.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>QuickCheckout Transaction Confirmation Lifetime, ms</mat-label>
                        <input matInput formControlName="transactionsQuickCheckoutTransactionConfirmationLifetime" required />
                        <mat-error
                            *ngIf="form.controls.transactionsQuickCheckoutTransactionConfirmationLifetime.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
        
                    <mat-form-field class="form-element">
                        <mat-label>Transaction Confirmation Mode</mat-label>
                        <mat-select formControlName="transactionsTransactionConfirmationMode">
                            <mat-option *ngFor="let item of transactionConfirmationModeOptions" [value]="item.id">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="form.controls.transactionsTransactionConfirmationMode.hasError('required')">
                            Mandatory field
                        </mat-error>
                    </mat-form-field>
                </mat-expansion-panel>
            </div>
        </div>
    </form>
</div>