<div class="detailed-table-split">
    <div>
        <div class="admin-page-title">
            <h1>
                Affiliates
                <br>
                <span style="color: maroon;font-style: italic;">Under construction</span>
            </h1>
            <div *ngIf="inProgress">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                <br>
            </div>
            <div class="form-error-box" *ngIf="errorMessage!==''">
                {{errorMessage}}
            </div>
        </div>
    </div>
</div>