<mat-tab-group class="form-element" color="primary" animationDuration="0" [selectedIndex]="selectedTab"
    (selectedIndexChange)="setSelectedTab($event)">
    <!-- Crypro wallets tab -->
    <mat-tab>
        <ng-template mat-tab-label>
            <app-tab-label labelText="Crypto wallets"></app-tab-label>
        </ng-template>
        <div class="action-panel">
            <app-filter-panel [fields]="cryptoFilterFields" (filter)="handleCryptoFilterApplied($event)">
            </app-filter-panel>
        </div>
        <app-crypto-wallet-list [wallets]="cryptoWallets" [currencyList]="currencyList"
            [walletCount]="cryptoWalletCount" [listOptions]="cryptoListFilter" [permission]="permission"
            (reload)="reloadCryptoWallets($event)" (select)="selectCryptoWallet($event)">
        </app-crypto-wallet-list>
    </mat-tab>

    <!-- Fiat wallets tab -->
    <mat-tab>
        <ng-template mat-tab-label>
            <app-tab-label labelText="Fiat wallets"></app-tab-label>
        </ng-template>
        <div class="action-panel">
            <app-filter-panel [fields]="fiatFilterFields" (filter)="handleFiatFilterApplied($event)">
            </app-filter-panel>
        </div>
        <app-fiat-wallet-list [wallets]="fiatWallets" [walletCount]="fiatWalletCount" [listOptions]="fiatListFilter"
            [permission]="permission" (reload)="reloadFiatWallets($event)" (select)="selectFiatWallet($event)">
        </app-fiat-wallet-list>
    </mat-tab>
</mat-tab-group>

<ng-template *ngIf="selectedCryptoWallet || selectedFiatWallet" appRightPanel
    (panelClosed)="handleDetailsPanelClosed()">
    <app-crypto-wallet-details *ngIf="selectedCryptoWallet && selectedTab===0" [permission]="permission"
        [wallet]="selectedCryptoWallet" [currencies]="currencyList" (save)="onSavedCryptoWallet($event)"
        (delete)="onDeleteCryptoWallet($event)" (cancel)="onCancelEdit()">
    </app-crypto-wallet-details>
    <app-fiat-wallet-details *ngIf="selectedFiatWallet && selectedTab===1" [permission]="permission"
        [wallet]="selectedFiatWallet" (cancel)="onCancelEdit()">
    </app-fiat-wallet-details>
    <!-- <app-cost-editor *ngIf="selectedCryptoWallet && selectedTab===0" [permission]="permission" [currentScheme]="selectedCryptoWallet" 
        (save)="onSavedCryptoWallet($event)" (delete)="onDeleteCryptoWallet($event)" (cancel)="onCancelEdit()">
    </app-cost-editor> -->
    <!-- <app-bank-account-editor *ngIf="selectedAccount && selectedTab===1" [permission]="permission" [currentAccount]="selectedAccount"
        [create]="createAccount" (save)="onSavedAccount($event)" (delete)="onDeleteAccount($event)"
        (cancel)="onCancelEdit()">
    </app-bank-account-editor> -->
</ng-template>