@import "../../scss/variables";

:host {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-tab-group, .mat-tab-body-wrapper, .mat-tab-body-content {
      flex: 1 1 0;
    }

    .mat-tab-body-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
  }
}

.action-panel {
  padding: 0px;
  background: $color-grey-0;
}
