@import "colors.scss";

.order-details {
    &__wrapper { 
        // width: 900px;
        width: auto;
        height: 630px;
        justify-content: center;  
        display: flex; 
    }
    &__logo{
        height: 36px;
        display: grid;
        grid-template-columns: auto 56px;
        grid-template-rows: 36px;
        margin: auto;
    } 
    &__content {
        position: relative;
        padding: 24px 0;
        background: white;
        height: 630px;
        // border-radius: 8px;
        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .__widget-title-logo-container {
                align-items: center;
            }
            &-buttons {
                background: var(--white);
                display: flex;
                border-radius: 100px;
                height: 40px;
                padding: 4px;
                &--inactive {
                    opacity: .4;
                    cursor: not-allowed;
                    .order-details__content-header-button-blink {
                        display: none !important;
                    }
                }
            }
            &-button {
                position: relative;
                width: auto;
                min-width: 68px;
                padding: 0 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 2px;
                color: var(--greyscale-700);
                &-blink {
                    position: absolute;
                    right: 2px;
                    top: 10px;
                    transform: translate(-50%) translateY(-50%);
                    width: 10px;
                    height: 10px;
                    display: none;
                    &--active {
                        display: block;
                    }
                    &:before {
                        content: "";
                        display: block;
                        position: relative;
                        top: -7px;
                        width: 300%;
                        height: 300%;
                        margin-left: -100%;
                        margin-top: -100%;
                        border-radius: 100%;
                        background-color: rgb(196, 33, 38);
                        animation: innerBlink 1.5s cubic-bezier(.2,.5,.1,1) infinite;
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -7px;
                        width: 100%;
                        height: 100%;
                        background-color: rgb(196, 33, 38);
                        border-radius: 100%;
                        animation: outerBlink 1.5s cubic-bezier(.5,.1,.5,1) -.3s infinite;
                    }
                }
                &--active {
                    cursor: default;
                    background: #00a2f8;
                    box-shadow: 0 8px 34px rgba(16, 172, 234, 0.39);
                    border-radius: 100px;
                    color: #fff;
                }
            }
        }

        &--first{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 400px;
            padding-top: 10px;
        }
        &--second {
            flex: 1 1;
            // margin-left: 3px;
            display: none;
            flex-direction: column;
            width: 500px;
            opacity: 0;
        }
        &--active{
            opacity: 1;
            display: flex;
        }
    }
    &__container {
        scrollbar-width: thin;
        overflow-y: auto;
        display: flex;
        gap: 8px 0;
        flex-direction: column;
        padding: 11px 16px 12px;
        width: 100%;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 4px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title {
            font-size: 12px;
            font-weight: 700;
         
            span {
                font-size: 11px;
                color: var(--secondary);
                font-weight: 500;
                letter-spacing: 0;
            }
        }
        &-button {
            border: none;
            background: transparent;
            padding-right: 0;
            cursor: pointer;
            margin-left: auto;
            font-size: 11px;
            color: var(--secondary)
        }
    }
    &__item {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }

        &-value, &-label {
            display: flex;
            font-size: 12px;
            line-height: 16px;
            height: 100%;
            max-height: 16px;
            color: rgb(108, 118, 137);
        }
    }
    &__overview {
        flex: 1 1;
        background: white;
        padding: 24px;
        padding-top: 10px;
        margin-left: 3px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 57px;
        width: 516px;
        height: auto;
        min-height: 290px;
        &-title {
            margin: -56px auto 20px;
            font-size: 18px;
            line-height: 24px;
            color: var(--secondary);
            text-align: center;
            font-weight: 700;
            width: 100%;
        }
        &-details{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            flex-grow: 1;
            position: relative;
            width: 400px;
            margin: 0 auto;
            &-item {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                border-radius: 4px;
                width: 100%;
            }
        }
        &-terms {
            font: 500 11px/18px Mulish,sans-serif !important;
            color: var(--secondary);
            margin: 10px auto;
            width: 400px;
            a {
                font: inherit;
                text-decoration: underline;
            }
        }
        &-actions {
            position: sticky;
            bottom: 0;
            transition: all .3s;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 400px;
            margin: 0 auto;
            column-gap: 24px;
            button {
                font-weight: 600;
                padding: 16px;
                min-height: 48px;
                position: relative;
                text-transform: uppercase;
                &:first-child {
                    background: white;
                    color: rgb(108, 118, 137);
                }
                &:last-child {
                    justify-content: left;
                    flex-grow: 1;
                    flex-shrink: 0;
                    letter-spacing: 2px;
                    background-color: #00a2f8;
                    color: $color_white;
            
                    &:disabled {
                        opacity: .38;
                    }
                }
            }
        }
    }
}

.button-proceed-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
    
    button {
        justify-content: left;
        font-weight: 700;
        color: $color_white;
        width: 100%;
        padding: 16px;
        min-height: 48px;
        letter-spacing: 2px;
        background-color: #00a2f8;
        text-transform: uppercase;
        &:disabled {
            opacity: .38;
        }
    }
}

hr.order-details__divider {
    margin: 0 auto;
    background: lightgray;
    width: 100%;
    height: 1px;
    border: none
}


app-form-textbox {
    width: 100%;
}

@keyframes innerBlink {
    0% {
        transform: scale(.3)
    }

    60%, to {
        opacity: 0
    }
}

@keyframes outerBlink {
    0% {
        transform: scale(.7)
    }

    50% {
        transform: scale(1)
    }

    to {
        transform: scale(.7)
    }
}

.moon {
    color: #f1c40f;
}

.sun {
    color: #f39c12;
}

$color_1: #444;
$color_2: #00a2f8;
$border-color_1: #444;

.navbar {
	display: flex;
	justify-content: center;
	margin-top: 3px;
    padding: 0;
	.navbar__item {
		box-sizing: border-box;
		position: relative;
		cursor: pointer;
		border-bottom: 2px solid transparent;
		transition: all 0.2s;
		.navbar__item-group-link {
			text-decoration: none;
			display: block;
			color: $color_1;
			cursor: pointer;
            font-size: 13px;
		}
		.navbar__item-group {
			width: auto;
			list-style: none;
			padding: 0;
			position: absolute;
			left: 0;
			top: 25px;
			z-index: 22;
			max-height: 0;
			overflow: hidden;
			-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
			-webkit-transform-origin: 50% 0;
			-webkit-transition: 350ms;
			-moz-transition: 350ms;
			-o-transition: 350ms;
			transition: 350ms;
			background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1);
			.navbar__subitem {
				text-decoration: none;
				.navbar__link {
					color: $color_1;
					display: block;
					font-size: 13px;
					line-height: 1;
					padding: 8px 10px;
					text-decoration: none;
					white-space: nowrap;
					&:hover {
						color: $color_2;
					}
				}
			}
		}
		.navbar__item-group--left {
			right: 0;
			left: auto;
		}
		&:hover {
			.navbar__item-group {
				display: block;
				max-height: 1000px;
				-webkit-transform: perspective(400px) rotate3d(0, 0, 0, 0);
				opacity: 0.97;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
			}
		}
		&:after {
			.navbar__item-group {
				clear: both;
			}
		}
	}
	.navbar__item--active {
		border-color: $border-color_1;
	}
}
    
@media (max-width: 567.9px) {
    .order-details__wrapper {
        width: auto;
    }
    .navbar__item-group-link {
        .fa {
            display: none;
        }
    }
}