
<div class="order-details__wrapper">
    <div class="order-details__content order-details__content--first">

        <div class="__widget-title-container__ order-details__content-header m-0">
            <div class="__widget-title-logo-container d-flex m-0 ms-1">
              <img class="__widget-title-logo" [src]="logoSrc" [alt]="logoAlt" width="160">

              <ng-container *ngIf="themeService.theme$ | async as theme">
                <button 
                  type="button" 
                  mat-icon-button 
                  [title]="theme === 'light' ? ('widget-internal-overview.theme_hint-light' | transloco) : ('widget-internal-overview.theme_hint-dark' | transloco) "
                  [ngClass]="{'moon': theme === 'dark', 'sun': theme === 'light'}"
                  (click)="themeService.toggleTheme()">
                  <mat-icon>
                    {{ theme === 'light' ? 'dark_mode' : 'light_mode' }}
                  </mat-icon>
                </button>
              </ng-container>

                <div class="navbar">
                    <div class="navbar__item">
                        <a class="navbar__item-group-link">{{activeLang}}
                            <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                        <ul class="navbar__item-group navbar__item-group--left">
                            <li *ngFor="let lang of availableLangs" class="navbar__subitem">
                                <a class="navbar__link navlink" (click)="onLangSelect(lang)">
                                    {{lang.label}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
              
            </div>

            <div class="order-details__content-header-buttons" 
                [class.order-details__content-header-buttons--inactive]="false">
                <div class="order-details__content-header-button" 
                    (click)="toggleTransationType(TRANSACTION_TYPE.Buy)"
                    [class.order-details__content-header-button--active]="currentTransaction === TRANSACTION_TYPE.Buy">
                    {{'widget-internal-overview.transaction-type_button-buy' | transloco}}
                </div>
                <div class="order-details__content-header-button"
                    (click)="toggleTransationType(TRANSACTION_TYPE.Sell)"
                    [class.order-details__content-header-button--active]="currentTransaction === TRANSACTION_TYPE.Sell">
                    {{'widget-internal-overview.transaction-type_button-sell' | transloco}}
                    <div class="order-details__content-header-button-blink"
                        [class.order-details__content-header-button-blink--active]="currentTransaction === TRANSACTION_TYPE.Buy">
                    </div>
                </div>
            </div>
        </div>

        <form [formGroup]="dataForm">
            <app-widget-input-group 
                [label]="spendTitle" 
                [boxFieldName]="'amountSpend'"
                [boxField]="amountSpendField" 
                [comboField]="currencySpendField" 
                [comboFieldName]="'currencySpend'"
                [comboList]="spendCurrencyList" 
                [errorMessages]="amountSpendErrorMessages">
            </app-widget-input-group>
    
            <app-widget-input-group 
                [label]="receiveTitle" 
                [boxFieldName]="'amountReceive'"
                [boxField]="amountReceiveField" 
                [comboField]="currencyReceiveField" 
                [comboFieldName]="'currencyReceive'"
                [comboList]="receiveCurrencyList" 
                [errorMessages]="amountReceiveErrorMessages">
            </app-widget-input-group>
    
            <div *ngIf="!settings.embedded" class="mt-3 order-details__theme">
                <app-widget-rate 
                    class="__widget-rate-container" 
                    [currencySpend]="currencySpendField.value"
                    [currencyReceive]="currencyReceiveField.value" 
                    [showRate]="settings.showRate !== false" 
                    [rate]="summary?.rate">
                </app-widget-rate>
            </div>
    
            <div class="order-details__container mt-3">
                <div class="order-details__header">
                  <span class="order-details__header-title">
                    {{amountSpendField.valid ? amountSpendField.value : ''}} {{currencySpendField?.value || ''}} 
                    <span>{{'widget-internal-overview.order-details_title' | transloco}}</span>
                  </span>
                  <button type="button" class="order-details__header-button" (click)="mobileSummary = !mobileSummary">
                    {{!mobileSummary ? ('widget-internal-overview.order-details_btn-details' | transloco) : 'widget-internal-overview.order-details_btn-hide' | transloco}} 
                  </button>
                </div>
                <div *ngIf="mobileSummary">
                    <hr class="order-details__divider mb-2">
    
                    <div class="order-details__item">
                      <span class="order-details__item-label">
                        {{'widget-internal-overview.order-details_label-transaction' | transloco}}
                      </span>
                      <span class="order-details__item-value">{{summary?.transaction}}</span>
                    </div>
    
                    <div class="order-details__item">
                        <span class="order-details__item-label">
                            {{'widget-internal-overview.order-details_label-spend' | transloco}}
                        </span>
                        <span class="order-details__item-value">{{summary?.amountFrom?.toFixed(summary?.amountFromPrecision) || 0}} {{summary?.currencyFrom}}</span>
                    </div>
    
                    <div class="order-details__item">
                        <span class="order-details__item-label">
                            {{'widget-internal-overview.order-details_label-receive' | transloco}}
                        </span>
                        <span class="order-details__item-value">{{summary?.amountTo?.toFixed(summary?.amountToPrecision) || 0}} {{summary?.currencyTo}}</span>
                    </div>
        
                    <div class="order-details__item">
                        <span class="order-details__item-label">
                            {{'widget-internal-overview.order-details_label-rate' | transloco}}
                        </span>
                        <span class="order-details__item-value">{{summary?.rate || '-'}}</span>
                    </div>
        
                    <div class="order-details__item" *ngIf="summary?.fee > 0">
                        <span class="order-details__item-label">
                            {{'widget-internal-overview.order-details_label-ewallet-fee' | transloco}}
                        </span>
                        <span class="order-details__item-value"> {{summary?.transactionFee}} {{summary?.transactionFeeCurrency}}</span>
                    </div>
        
                    <div class="order-details__item" *ngIf="summary?.networkFee > 0">
                        <span class="order-details__item-label">
                            {{'widget-internal-overview.order-details_label-network-fee' | transloco}}
                        </span>
                        <span class="order-details__item-value"> {{summary?.networkFee}} {{summary?.networkFeeCurrency}}</span>
                    </div>
                </div>
            </div>

           <ng-container *ngIf="isSinglePage">
                <div class="mt-3">
                    <app-form-textbox 
                        [placeholder]="'widget-internal-overview.field_email' | transloco" 
                        [maxlength]="50"
                        formControlName="email" 
                        [errorMessages]="emailErrorMessages" 
                        [separator]="true">
                    </app-form-textbox>

                    <app-form-textbox *ngIf="showWallet"
                        [placeholder]="'widget-internal-overview.field_wallet' | transloco" 
                        [maxlength]="120" formControlName="wallet"
                        [errorMessages]="walletErrorMessages" >
                    </app-form-textbox>

                    <div *ngIf="walletField?.hasError('walletAddress')" class="__form-assist __form-assist-error">
                        {{'widget-internal-overview.field_wallet-error-invalid' | transloco}}
                    </div>
                </div>
           </ng-container>
    
            <div class="button-proceed-wrapper" *ngIf="hideProceedButton">
                <span class="order-details__overview-terms" *ngIf="isSinglePage">
                    {{'widget-internal-overview.terms_part-1' | transloco}}
                    <a [href]="termsLink" target="_blank">
                        {{'widget-internal-overview.terms_part-2' | transloco}}
                    </a> {{'widget-internal-overview.terms_part-3' | transloco}} 
                    <a [href]="privacyLink" target="_blank">
                        {{'widget-internal-overview.terms_part-4' | transloco}}
                    </a>
                </span>
                <button type="button" mat-raised-button [disabled]="!isOrderProceedFormValid" (click)="onProceed()">
                    <span class="d-flex"> 
                        {{'widget-internal-overview.proceed_button-label' | transloco}}
                         <span class="tx-30">&#183;</span> 
                         {{'widget-internal-overview.proceed_button-label-total' | transloco}} {{amountSpendField.valid ? amountSpendField.value : '---'}}</span>
                </button>
            </div>
        </form>
    
        <div class="__widget-data-error">
            {{errorMessageData}}
        </div>

        <ng-container *ngIf="!summary?.rate">
			<app-spinner></app-spinner>
		</ng-container>
    </div>

    <div class="order-details__content order-details__content--second" 
        [class.order-details__content--active]="isSecondPartActive && !isOrderDetailsComplete" 
        [ngClass]="isSecondPartActive && !isOrderDetailsComplete ? 'd-flex' : 'd-none'" >
        <form class="order-details__overview" [formGroup]="dataForm">
          <div class="order-details__overview-details">
            <h3 class="order-details__overview-title">
                {{'widget-internal-overview.order-details_title2' | transloco}}
            </h3>
            <div class="order-details__overview-details-item">
                <app-form-textbox 
                    [label]="'widget-internal-overview.field_email' | transloco" 
                    [maxlength]="50"
                    formControlName="email" 
                    [errorMessages]="emailErrorMessages" 
                    [separator]="true">
                </app-form-textbox>
            
                <app-form-textbox 
                    *ngIf="showWallet"
                    [label]="'widget-internal-overview.field_wallet' | transloco" 
                    [maxlength]="120" formControlName="wallet"
                    [errorMessages]="walletErrorMessages" >
                </app-form-textbox>
        
                <div *ngIf="walletField?.hasError('walletAddress')" class="__form-assist __form-assist-error">
                    {{'widget-internal-overview.field_wallet-error-invalid' | transloco}}
                </div>
            </div>
          </div>
          <span class="order-details__overview-terms">
            {{'widget-internal-overview.terms_part-1' | transloco}} 
            <a [href]="termsLink" target="_blank">
                {{'widget-internal-overview.terms_part-2' | transloco}} 
            </a> {{'widget-internal-overview.terms_part-2' | transloco}}  
            <a [href]="privacyLink" target="_blank">
                {{'widget-internal-overview.terms_part-4' | transloco}} 
            </a>
          </span>
          <div class="order-details__overview-actions">
            <button type="button" mat-raised-button (click)="onCancel()">
                {{'global.widget_btn-back' | transloco}}
            </button>
            <button type="button" mat-raised-button (click)="onSubmit()" [disabled]="!isOrderDetailsFormValid">
                {{'global.widget_btn-next' | transloco}}
            </button>
          </div>
      </form>
    </div>
</div>
