.order-details {
    &__wrapper { 
        width: 900px;
        height: 590px;
        justify-content: center;  
        display: flex; 
    }
    &__logo{
        height: 36px;
        display: grid;
        grid-template-columns: auto 56px;
        grid-template-rows: 36px;
        margin: auto;
    
        // @media (max-width: #{$widget_max_width}px) {
        //     grid-template-rows: 56px;
        //     height: 56px;
        // }
    }
    &__content {
        position: relative;
        padding: 24px 0;
        background: white;
        height: 590px;
        border-radius: 8px;
        &--first{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 400px;
            padding-top: 10px;
        }
        &--second {
            flex: 1 1;
            margin-left: 3px;
            display: none;
            flex-direction: column;
            width: 500px;
            opacity: 0;
        }
        &--active{
            opacity: 1;
            display: flex;
        }
    }
    &__container {
        scrollbar-width: thin;
        overflow-y: auto;
        display: flex;
        gap: 8px 0;
        flex-direction: column;
        padding: 11px 16px 12px;
        width: 100%;
        background-color: white;
        border: 1px solid lightgray;
        border-radius: 4px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-title {
            font-size: 12px;
            font-weight: 700;
         
            span {
                font-size: 11px;
                color: var(--secondary);
                font-weight: 500;
                letter-spacing: 0;
            }
        }
        &-button {
            margin-left: auto;
            font-size: 11px;
            color: var(--secondary);
            border: none;
            background: transparent;
            padding-right: 0;
            cursor: pointer;
            margin-left: auto;
            font-size: 11px;
            color: var(--secondary)
        }
    }
    &__item {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }

        &-value, &-label {
            display: flex;
            font-size: 12px;
            line-height: 16px;
            height: 100%;
            max-height: 16px;
            color: rgb(108, 118, 137);
        }
    }
    &__overview {
        flex: 1 1;
        background: white;
        padding: 24px;
        padding-top: 10px;
        margin-left: 3px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 57px;
        width: 516px;
        height: auto;
        min-height: 290px;
        &-title {
            margin: -56px auto 20px;
            font-size: 18px;
            line-height: 24px;
            color: var(--secondary);
            text-align: center;
            font-weight: 700;
            width: 100%;
        }
        &-details{
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            flex-grow: 1;
            position: relative;
            width: 400px;
            margin: 0 auto;
            &-item {
                position: relative;
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                border-radius: 4px;
                width: 100%;
            }
        }
        &-terms {
            font: 500 11px/18px Mulish,sans-serif !important;
            color: var(--secondary);
            margin: 10px auto;
            width: 400px;
            a {
                font: inherit;
                text-decoration: underline;
            }
        }
        &-actions {
            position: sticky;
            bottom: 0;
            transition: all .3s;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 400px;
            margin: 0 auto;
            column-gap: 24px;
    
            &--back, &--next {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 0;
                border-radius: 4px;
                outline: none;
                font-size: 14px;
                font-weight: 600;
                color: white;
                width: fit-content;
                cursor: pointer;
                transition: all .18s ease-in;
                padding: 16px;
                max-height: 48px;
                position: relative;
            }
            &--back {
                border: 1px solid lightgray;
                background: white;
                color: rgb(108, 118, 137);
            }
        
            &--next {
                flex-grow: 1;
                flex-shrink: 0;
                letter-spacing: 2px;
                font-weight: 700;
                background-color: #00a2f8;
                border: 2px solid transparent;
                text-transform: uppercase;
        
                &:disabled {
                    opacity: .38;
                }
            }
        }
    }
}

.button-proceed-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
    button {
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        align-items: center;
        border: 2px solid transparent;
        border-radius: 4px;
        outline: none;
        font-size: 14px;
        font-weight: 700;
        color: white;
        width: 100%;
        cursor: pointer;
        transition: all .18s ease-in;
        padding: 16px;
        max-height: 48px;
        position: relative;
        letter-spacing: 2px;
        background-color: #00a2f8;
        text-transform: uppercase;
    
        &:disabled {
            opacity: .38;
        }
    }    
}

hr.order-details__divider {
    margin: 0 auto;
    background: lightgray;
    width: 100%;
    height: 1px;
    border: none
}


app-form-textbox {
    width: 100%;
}