<!-- eslint-disable @angular-eslint/template/no-inline-styles -->
<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <form novalidate [formGroup]="form">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <div *ngIf="defaultSchemeName===''" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Scheme name
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control" type="text" formControlName="name"
            required [ngClass]="{'has-error': !form.controls.name.valid}">
          <div *ngIf="(form.controls.name.touched || submitted) && (form.controls.name.errors?.['required'])"
            class="tx-danger">
            <small>
              Scheme name is required
            </small>
          </div>
        </div>
        <div *ngIf="defaultSchemeName!==''" class="form-group">
          <app-admin-details-item label="Scheme name" [value]="defaultSchemeName">
          </app-admin-details-item>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Description
          </label>
          <input class="form-control" type="text" formControlName="description">
        </div>

        <div class="card card-body pd-20 pd-md-40 border shadow-none">
          <h5 class="card-title mg-b-20">
            Targets
          </h5>
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Target
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="target" required [items]="targets"
              [clearable]=false [clearOnBackspace]=false>
            </ng-select>
            <div *ngIf="(form.controls.target.touched || submitted) && (form.controls.target.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify a target
              </small>
            </div>
          </div>

          <!-- Target values -->
          <div *ngIf="targetType!==TARGET_TYPE.None" class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              {{targetsTitle}}
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <ng-select *ngIf="targetType!==TARGET_TYPE.InitiateFrom" formControlName="targetValues"
              bindLabel="title" required [minTermLength]="minTargetsLengthTerm"
              notFoundText="No {{targetEntity[1]}} found" [loading]="isTargetsLoading" [multiple]="true"
              [typeToSearchText]="targetSearchText" placeholder="Start typing to search a {{targetEntity[0]}}" [typeahead]="targetsSearchInput$">
              <ng-option *ngFor="let item of targetsOptions$ | async" [value]="item">
                <app-dropdown-item [itemValue]="item.title" [imageClass]="item.imgClass" [imageSource]="item.imgSource">
                </app-dropdown-item>
              </ng-option>
            </ng-select>
            <ng-select *ngIf="targetType===TARGET_TYPE.InitiateFrom" bindLabel="title" formControlName="targetValues"
              required [items]="sourceTargetsOptions" [multiple]="true"
              placeholder="Select one or more {{targetEntity[1]}}">
            </ng-select>
            <div
              *ngIf="(form.controls.targetValues.touched || submitted) && (form.controls.targetValues.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify at least one {{targetEntity[0]}}
              </small>
            </div>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetFilterValues"> </app-fee-similiar-panel>
          </div>

          <!-- WidgetId -->
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Widgets
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <ng-select formControlName="widgetIds"
              bindLabel="title"
              required 
              [minTermLength]="minTargetsLengthTerm"
              notFoundText="No widgets found" 
              [loading]="isTargetsLoading" 
              [multiple]="true"
              typeToSearchText="type widget name" 
              placeholder="Start typing to search a widget" [typeahead]="widgetsSearchInput$">
              <ng-option *ngFor="let item of widgetsOptions$ | async" [value]="item">
                <app-dropdown-item [itemValue]="item.title" [imageClass]="item.imgClass" [imageSource]="item.imgSource">
                </app-dropdown-item>
              </ng-option>
            </ng-select>

            <div
              *ngIf="(form.controls.targetValues.touched || submitted) && (form.controls.targetValues.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify at least one {{targetEntity[0]}}
              </small>
            </div>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.widgetIds"> </app-fee-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Transaction types
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="trxType" placeholder="Select one or more types"
              [items]="transactionTypes" [multiple]="true" [closeOnSelect]="false">
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetTransactionTypes"> </app-fee-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Payment Methods
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="instrument" 
              placeholder="Select payment method" [items]="instruments" [clearable]=false required>
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetInstruments"> </app-fee-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Currencies From
            </label>
            <ng-select bindLabel="display" bindValue="symbol" formControlName="currenciesFrom"
              [items]="currencyOptions" [clearable]=true [clearOnBackspace]=true [multiple]="true"
              [closeOnSelect]="false">
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetCurrenciesFrom"> </app-fee-similiar-panel>
          </div>
  
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Currencies To
            </label>
            <ng-select bindLabel="display" bindValue="symbol" formControlName="currenciesTo"
              [items]="currencyOptions" [clearable]=true [clearOnBackspace]=true [multiple]="true"
              [closeOnSelect]="false">
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetCurrenciesTo"> </app-fee-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Payment providers
            </label>
            <ng-select 
              bindLabel="name"
              bindValue="id"
              formControlName="provider"
              [items]="!isWireTransfer ? filteredProviders : costSchemes"
              [multiple]="!isWireTransfer" 
              [placeholder]="!isWireTransfer ? 'Select one or more providers' : 'Select cost scheme'" 
              [closeOnSelect]="isWireTransfer"
              >
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetPaymentProviders"> </app-fee-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              User types
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="userType" [items]="userTypeOptions"
              [clearable]=true [clearOnBackspace]=true [multiple]="true" [closeOnSelect]="false">
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetUserTypes"> </app-fee-similiar-panel>
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              User modes
            </label>
            <ng-select bindLabel="name" bindValue="id" formControlName="userMode" [items]="userModes" [clearable]=true
              [clearOnBackspace]=true [multiple]="true" [closeOnSelect]="false">
            </ng-select>
            <app-fee-similiar-panel [targetField]="(similarSchemas$ | async)?.targetUserModes"> </app-fee-similiar-panel>
          </div>
        </div>

        <div class="card card-body pd-20 pd-md-40 border shadow-none">
          <h5 class="card-title mg-b-20">
            Terms
          </h5>
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Transaction fees, %
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <input class="form-control" type="text" formControlName="transactionFees"
              maxlength="7" placeholder="2%" required [ngClass]="{'has-error': !form.controls.transactionFees.valid}">
            <div *ngIf="(form.controls.transactionFees.touched || submitted) && (form.controls.transactionFees.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify transaction fee percentage
              </small>
            </div>
            <div *ngIf="(form.controls.transactionFees.touched || submitted) && (form.controls.transactionFees.errors?.['pattern'])"
              class="tx-danger">
              <small>
                Invalid number value
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Minimal transaction fee, {{currency}}
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <input class="form-control" type="text" formControlName="minTransactionFee"
              maxlength="10" placeholder="&#8364;5" required [ngClass]="{'has-error': !form.controls.minTransactionFee.valid}">
            <div
              *ngIf="(form.controls.minTransactionFee.touched || submitted) && (form.controls.minTransactionFee.errors?.['required'])"
              class="tx-danger">
              <small>
                Please specify transaction fee
              </small>
            </div>
            <div
              *ngIf="(form.controls.minTransactionFee.touched || submitted) && (form.controls.minTransactionFee.errors?.['pattern'])"
              class="tx-danger">
              <small>
                Invalid number value
              </small>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
        <h4 class="card-title2 mg-b-20 color_brown">
          {{errorMessage}}
        </h4>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        {{currentScheme?.deleted}}
        <button type="button" class="btn btn-primary pd-x-30 me-2 mg-t-5" (click)="onSubmit()">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Save
        </button>
        <button type="button" class="btn btn-primary pd-x-30 me-2 mg-t-5" (click)="onTest()">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          TEST
        </button>
        <button *ngIf="!createNew" type="button" class="btn btn-secondary pd-x-30 me-2 mg-t-5" (click)="onStateChangeScheme()">
          <span *ngIf="disableInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          {{deleted ? 'Enable' : 'Disable'}}
        </button>
        <button *ngIf="permission > 1 && !createNew && defaultSchemeName === ''" class="btn btn-danger pd-x-30 me-2 mg-t-5"
          type="button" (click)="deleteScheme(delete_content)">
          Delete
        </button>
        <button class="btn btn-outline-primary pd-x-30 mg-t-5" type="button" (click)="close.emit()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #delete_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Delete fee scheme</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 class="text-center">
      You are going to delete selected fee scheme. Confirm operation.
    </h4>
    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
      <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.dismiss('Reject')">
        Reject
      </button>
      <button type="button" class="btn btn-primary pd-x-30 mg-t-5" (click)="modal.close('Confirm')">
        Confirm
      </button>
    </div>
  </div>
</ng-template>