<div>
    <div class="__profile-settings-top-button-bar-container">
        <button class="__outlined-button __button-wide" type="button" (click)="createKey()">
            ADD KEY
        </button>
    </div>

    <table mat-table class="__profile-data-table" [dataSource]="keys" matSort [matSortActive]="sortedField"
        matSortDirection="desc" matSortDisableClear>
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell mat-sort-header *matHeaderCellDef 
                class="__profile-table-column __profile-api-keys-table-column-title">
                <span class="__profile-table-header">
                    API key
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-api-keys-table-cell-plain">
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <div class="__profile-api-keys-table-cell-data">
                        {{element.title}}
                    </div>
                    <span *ngIf="element.disabled" style="font-size: 14px;margin: 0px 0px 0px 4px;" class="material-icons">
                        lock
                    </span>
                </div>
            </td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created">
            <th mat-header-cell mat-sort-header *matHeaderCellDef
                class="__profile-table-column __profile-api-keys-table-column-created">
                <span class="__profile-table-header">
                    Created
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-api-keys-table-cell-plain">
                <div class="__profile-api-keys-table-cell-data">
                    {{element.created}}
                </div>
            </td>
        </ng-container>

        <!-- Remove Column -->
        <ng-container matColumnDef="remove">
            <th mat-header-cell *matHeaderCellDef
                class="__profile-table-column __profile-api-keys-table-column-remove">
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="__profile-api-keys-table-cell-details">
                    <button type="button" class="__table-button __table-button-dark" (click)="removeApiKey(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-mdc-paginator color="accent" *ngIf="keyCount > pageCounts[0] && keyCount > 0"
        class="__profile-data-table" [pageIndex]="pageIndex" [length]="keyCount" [pageSize]="pageSize"
        [pageSizeOptions]="pageCounts" showFirstLastButtons (page)="handlePage($event)">
    </mat-mdc-paginator>
</div>