@import "../../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.mat-column-kyc-table {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-kyc-table-name {
  flex: 0 0 15%;
  width: 15%;
  min-width: 5em;
}

.mat-column-kyc-table-amount {
  flex: 0 0 9%;
  width: 9%;
  min-width: 3em;
}

.mat-column-kyc-table-target {
  flex: 0 0 15%;
  width: 15%;
  min-width: 5em;
}

.mat-column-kyc-table-user-type {
  flex: 0 0 10%;
  width: 10%;
  min-width: 5em;
}

.mat-column-kyc-table-user-mode {
  flex: 0 0 15%;
  width: 15%;
  min-width: 5em;
}

.mat-column-kyc-table-provider {
  flex: 0 0 15%;
  width: 15%;
  min-width: 5em;
}

.mat-column-kyc-table-level {
  flex: 0 0 15%;
  width: 15%;
  min-width: 5em;
}

.mat-column-kyc-table-details {
  flex: 0 0 2%;
  width: 2%;
  min-width: 1.5em;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
