.kyc-editor-split {
    display: flex;
    height : 100%;
}

.kyc-editor-left-panel {
    padding  : 1em;
    width    : 55%;
    min-width: 10em;
    height   : 100%;
    overflow : auto;
}

.kyc-editor-right-panel {
    z-index         : 100;
    background-color: rgb(206, 219, 236);
    padding         : 1.2em;
    width           : 45%;
    max-width       : 45%;
    height          : 100%;
    overflow        : auto;
}

.kyc-editor-box {
    margin    : 0em;
    margin-top: 2em;

    h2 {
        margin   : auto;
        font-size: medium;
    }
}

.upload-icon-box {
    padding: 3em;
    text-align: center;
}

.upload-icon {
    color    : #b1b1b1;
    font-size: 3em;
}