@import "../../../../../assets/fonts.scss";
@import "../../../../../assets/colors.scss";

.__profile-contacts-table-column-icon {
    flex: 0 0 7%;
    width: 7%;
    min-width: 72px;
}

.__profile-contacts-table-column-user-name {
    // flex: 0 0 13%;
    // width: 13%;  size, if the table has __profile-contacts-table-column-sent
    flex: 0 0 26%;
    width: 26%;
    min-width: 143px;
}

.__profile-contacts-table-column-email {
    // flex: 0 0 21%;
    // width: 21%;  size, if the table has __profile-contacts-table-column-received
    flex: 0 0 34%;
    width: 34%;
    min-width: 215px;
}

.__profile-contacts-table-column-coin {
    flex: 0 0 7%;
    width: 7%;
    min-width: 71px;
}

.__profile-contacts-table-column-sent {
    flex: 0 0 13%;
    width: 13%;
    min-width: 143px;
}

.__profile-contacts-table-column-received {
    flex: 0 0 13%;
    width: 13%;
    min-width: 144px;
}

.__profile-contacts-table-column-added {
    flex: 0 0 13%;
    width: 13%;
    min-width: 143px;
}

.__profile-contacts-table-column-details {
    flex: 0 0 13%;
    width: 13%;
    min-width: 143px;
}

.__profile-contacts-table-cell-data {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

.__profile-contacts-table-cell-plain {
    padding: 0px 0px 0px 4px !important;
}

.__profile-contacts-table-cell-user-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.__profile-contacts-table-cell-coin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.__profile-contacts-table-cell-coin-icon {
    width: 18px;
    height: 18px;
}

.__profile-contacts-table-cell-details {
    padding: 0px !important;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
