<div class="__profile-settings-narrow-container">
    <div class="__profile-settings-item-bar">
        <div class="__tool-bar-block">
            <div class="__tool-bar-label">
                Two-factor Authentication
            </div>
        </div>
        <div class="__tool-bar-block">
            <div class="__toggle-switch">
                <form [formGroup]="twoFaForm">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider" formControlName="switch">
                </form>
            </div>
        </div>
    </div>
    <div class="__profile-settings-delimitter"></div>

    <app-profile-change-password *ngIf="passwordCanBeChanged" [twoFaRequired]="password2FaRequired" (error)="error.emit($event)"
        (progressChange)="progressChange.emit($event)">
    </app-profile-change-password>
</div>