<div class="exchange-rate-panel">
    <div class="exchange-rate-from">
        {{summary?.amountTo}} {{summary?.currencyTo}} from
    </div>
    <div class="exchange-rate-to">
        {{summary?.amountFrom}} {{summary?.currencyFrom}}
    </div>
</div>

<div class="exchange-rate-loader">
    <div class="exchange-rate-indicator">
        <mat-spinner [color]="getSpinnerColor()" diameter="30" [mode]="spinnerMode" [value]="spinnerValue">
        </mat-spinner>
    </div>
    <div class="exchange-rate-loading-info">
        <div *ngIf="countDown>0">
            The price will be updated in {{getCountDownValue()}}
        </div>
        <div *ngIf="countDown<=0">
            Updating...
        </div>
        <div class="exchange-rate-loading-error" *ngIf="errorMessage!==''">
            {{errorMessage}}
        </div>
    </div>
</div>