<div class="__intro-container">
    <div class="__intro-top-container">
        <div class="__intro-background"></div>
        <div class="__intro-login-container">
            <div class="__intro-login-title-container">
                <span class="__intro-logo">
                    GetCoins
                </span>
                <div class="__intro-login-buttons-area">
                    <button class="__main-button" type="button" (click)="routeTo('/personal/auth/login')">
                        log in
                    </button>
                    <button class="__outlined-button __button-wide-separator" type="button" (click)="routeTo('/personal/auth/register')">
                        SIGN UP
                    </button>
                </div>
                <div class="__intro-menu-button-area">
                    <input #intro_menu_toggle id="intro_menu_toggle" type="checkbox" />
                    <label class="__intro-menu-button" for="intro_menu_toggle">
                        <span></span>
                    </label>
                    <ul class="__intro-menu-panel">
                        <li>
                            <a [routerLink]="" class="__intro-menu-item"
                                (click)="routeTo('/personal/auth/login')">
                                Login
                            </a>
                        </li>
                        <div class="__top-menu-hamburger-separator"></div>
                        <li>
                            <a [routerLink]="" class="__intro-menu-item"
                                (click)="routeTo('/personal/auth/register')">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="__intro-frame-container">
            <div class="__intro-frame-data-container">
                <h2 class="__intro-header">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </h2>
                <div class="__intro-create-account-block">
                    <button class="__outlined-button-giant" type="button" (click)="routeTo('/personal/auth/register')">
                        Create account
                    </button>
                </div>
            </div>
            <div class="__intro-frame-order-container">
                
            </div>
        </div>
        <div class="__intro-about-container">
            About Us
        </div>
        <div class="__intro-stat-container">
            Stat
        </div>
        <div class="__intro-pricelist-container">
            Pricelist
        </div>
        <div class="__intro-info-container">
            Info
        </div>
        <div class="__intro-info-container">
            Info
        </div>
        <div class="__intro-contact-container">
            Contact Us
        </div>
        <div class="__intro-footer-container">
            Footer
        </div>
    </div>
</div>



<!-- <div class="menu-bar">
    <div class="menu-content-bar">
        <div class="menu-box">
            <button mat-icon-button (click)="routeTo('/')">
                <mat-icon>attractions</mat-icon>
            </button>
            <button class="link-button link-button-accent" (click)="routeTo('/personal/intro')">
                Personal
            </button>
            <button class="link-button link-button-primary" (click)="routeTo('/merchant/intro')">
                Business
            </button>
        </div>
        <div class="menu-box">
            <button class="link-button link-button-primary" (click)="routeTo('/personal/auth/login')">
                LOG IN
            </button>
            <button class="main-button main-button-primary" (click)="routeTo('/personal/auth/register')">
                SIGN UP
            </button>
        </div>
        <div class="menu-box">
            <button class="link-button link-button-accent" (click)="routeTo('/payment')">
                Quick Checkout
            </button>
        </div>
    </div>
</div> -->