<div class="__intro-container">
    <div class="__intro-top-container">
        <div class="__intro-background"></div>
        <div class="__intro-login-container">
            <div class="__intro-login-title-container">
                <span class="__intro-logo">
                    GetCoins
                </span>
                <div class="__intro-login-buttons-area">
                    <button class="__main-button" type="button" (click)="routeTo('/personal/auth/login')">
                        log in
                    </button>
                    <button class="__outlined-button __button-wide-separator" type="button"
                        (click)="routeTo('/personal/auth/register')">
                        SIGN UP
                    </button>
                </div>
                <div class="__intro-menu-button-area">
                    <input #intro_menu_toggle id="intro_menu_toggle" type="checkbox" />
                    <label class="__intro-menu-button" for="intro_menu_toggle">
                        <span></span>
                    </label>
                    <ul class="__intro-menu-panel">
                        <li>
                            <a class="__intro-menu-item" href="/personal/auth/login">
                                Login
                            </a>
                        </li>
                        <div class="__top-menu-hamburger-separator"></div>
                        <li>
                            <a class="__intro-menu-item" href="/personal/auth/register">
                                Sign Up
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="__intro-frame-container">
            <div class="__intro-frame-data-container">
                <h1 class="__intro-header-1" style="font-weight: 800;">
                    Buy Crypto Instantly!
                </h1>
                <h1 class="__intro-header-1">
                    Made in Australia
                </h1>
                <div class="__intro-create-account-block">
                    <button class="__outlined-button-giant" type="button" (click)="routeTo('/personal/auth/register')">
                        Create account
                    </button>
                </div>
            </div>
            <app-payment-intro class="__intro-frame-order-container">
            </app-payment-intro>
        </div>
        <div class="__intro-about-container">
            <div class="__intro-about-title-container">
                <h2 class="__intro-header-2">
                    About Us
                </h2>
            </div>
            <div class="__intro-about-content">
                <p class="__intro-regular-text">
                    GetCoins is the fastest growing Crypto provider in Australia.
                    <br>
                    Our main objective is to simplify and enhance the Crypto experience for individuals, making it
                    easier and safer than ever before to engage in the Crypto market.
                    <br>
                    with GetCoins you can instantly open account and start buying and storing all your favorite Crypto
                    assets knowing you have an Australian Regulated Partner you can Trust.
                </p>
            </div>
            <div class="__intro-about-section-container">
                <div class="__intro-about-data-section">
                    <div class="__intro-about-section-icon __intro-about-section-shield-icon"></div>
                    <h3 class="__intro-header-3">
                        AUSTRAC REGULATED
                    </h3>
                    <div class="__intor-about-data-section-content">
                        <p class="__intro-regular-text">
                            All Wallet's Keys used on the platform are encrypted and mostly stored in offline storage.
                        </p>
                    </div>
                </div>
                <div class="__intro-about-data-section">
                    <div class="__intro-about-section-icon __intro-about-section-rocket-icon"></div>
                    <h3 class="__intro-header-3">
                        FASTEST IN AUSTRALIA
                    </h3>
                    <div class="__intor-about-data-section-content">
                        <p class="__intro-regular-text">
                            Buy and Send Crypto currencies faster than ever before using our Express Checkout.
                        </p>
                    </div>
                </div>
                <div class="__intro-about-data-section">
                    <div class="__intro-about-section-icon __intro-about-section-globe-icon"></div>
                    <h3 class="__intro-header-3">
                        ACCESSIBLE EVERYWHERE
                    </h3>
                    <div class="__intor-about-data-section-content">
                        <p class="__intro-regular-text">
                            Each Customer assets held in a seperate vault. ensuring Your Crypto is always accessible for
                            you
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="__intro-stat-container">
            <div class="__intro-stat-data-section">
                <div class="__intro-stat-data-section-container">
                    <h3 class="__intro-stat-data-title">
                        $100K
                    </h3>
                    <p class="__intro-stat-data-text">
                        Daily volume exchanged
                    </p>
                </div>
            </div>
            <div class="__intro-stat-data-section-separator"></div>
            <div class="__intro-stat-data-section">
                <div class="__intro-stat-data-section-container">
                    <h3 class="__intro-stat-data-title">
                        50+
                    </h3>
                    <p class="__intro-stat-data-text">
                        Cryptocurrenceis Available
                    </p>

                </div>
            </div>
            <div class="__intro-stat-data-section-separator"></div>
            <div class="__intro-stat-data-section">
                <div class="__intro-stat-data-section-container">
                    <h3 class="__intro-stat-data-title">
                        24h
                    </h3>
                    <p class="__intro-stat-data-text">
                        Live Customer Support
                    </p>
                </div>
            </div>
        </div>
        <div class="__intro-pricelist-container">
            <div class="__intro-pricelist-data-container">
                <app-profile-pricelist class="__intro-pricelist-table-container">
                </app-profile-pricelist>
                <a class="__intro-link" [routerLink]="">
                    VIEW MORE MARKETS
                </a>
            </div>
        </div>
        <div class="__intro-info-container">
            <div class="__intro-info-data-container">
                <div class="__intro-info-title-container">
                    <h1 class="__intro-header-1">
                        24/7 Customer Support
                    </h1>
                </div>
                <div class="__intro-info-content-container">
                    <p class="__intro-regular-text">
                        We are always here for you!
                        <br>
                        Our support team is working around the clock to ensure our customers receiving the best support
                        service.
                        <br>
                        Ready to Go?
                    </p>
                </div>
                <div class="__intro-data-button-container">
                    <button class="__main-button" type="button" (click)="routeTo('/personal/auth/register')">
                        Create account
                    </button>
                </div>
            </div>
            <div class="__intro-info-image-container"></div>
        </div>
        <div class="__intro-contact-container">
            <div class="__intro-about-title-container">
                <h2 class="__intro-header-2">
                    Contact Us
                </h2>
            </div>
            <div class="__intro-contacts-subtitle">
                <p class="__intro-regular-text">
                    to help us resolve your inquiry faster, please use the same email as register in your GetCoins account
                </p>
            </div>
            <app-contact-form class="__intro-contacts-panel">
            </app-contact-form>
        </div>
        <div class="__intro-footer-container">
            <div class="__intro-footer-policy-list">
                <a class="__intro-policy-link" target="_blank" rel="noopener noreferrer" href="/terms">
                    Terms of Use
                </a>
                <span class="__intro-policy-link-separator">|</span>
                <a class="__intro-policy-link" target="_blank" rel="noopener noreferrer" href="/terms">
                    Privacy Policy
                </a>
                <span class="__intro-policy-link-separator __intro-policy-link-middle-separator">|</span>
                <a class="__intro-policy-link" target="_blank" rel="noopener noreferrer" href="/terms">
                    Cookie Policy
                </a>
                <span class="__intro-policy-link-separator">|</span>
                <a class="__intro-policy-link" target="_blank" rel="noopener noreferrer" href="/terms">
                    AML/CTF Policy
                </a>
            </div>
            <div class="__intro-footer-payment-block">
                <div class="__intro-footer-payment-icon __intro-footer-payment-visa"></div>
                <div class="__intro-footer-payment-icon __intro-footer-payment-mastercard"></div>
                <div class="__intro-footer-payment-icon __intro-footer-payment-paypal"></div>
                <div class="__intro-footer-payment-icon __intro-footer-payment-americanexpress"></div>
                <div class="__intro-footer-payment-icon __intro-footer-payment-discover"></div>
                <div class="__intro-footer-payment-icon __intro-footer-payment-jcb"></div>
            </div>
            <div class="__intro-copyright">
                All rights reserved © 2022 GetCoins.com.au
                <br>
                GetCoins, 9 Grosvenor street, Neutral bay, NSW, 2089, AU
            </div>
        </div>
    </div>
</div>