<div class="__container">
    <div [ngClass]="{'__profile-disabled-block': showDetails}">
        <div class="__top-menu-bar">
            <div
                [ngClass]="expandedMenu ? '__top-menu-content-bar-profile-side-menu-expanded' : '__top-menu-content-bar-profile-side-menu-collapsed'">
                <div class="__top-menu-content-box">
                    <button class="__top-menu-button" (click)="routeTo('/payment')">
                        <mat-icon>account_balance</mat-icon>&nbsp;&nbsp;&nbsp;Buy & Sell
                    </button>
                    <div class="__top-menu-button-separator"></div>
                    <button class="__top-menu-button" (click)="routeTo('/payment')">
                        <mat-icon>file_download</mat-icon>&nbsp;&nbsp;&nbsp;Receive
                    </button>
                    <div class="__top-menu-button-separator"></div>
                    <button class="__top-menu-button" (click)="routeTo('/payment')">
                        <mat-icon>file_upload</mat-icon>&nbsp;&nbsp;&nbsp;Send
                    </button>
                    <div class="__top-menu-button-separator"></div>
                    <button class="__top-menu-button" (click)="routeTo('/payment')">
                        <img width="16" height="16" src="assets/paper-plane-solid.svg">&nbsp;&nbsp;&nbsp;Express
                        transfer
                    </button>
                </div>
                <div class="__top-menu-content-box">
                    <app-nav-popup [items]="popupItems" [userName]="userName" (onMenuClick)="popupMenuClick($event)">
                    </app-nav-popup>
                </div>
            </div>
        </div>
        <div *ngIf="expandedMenu" class="__profile-top-menu-logo-box">
            <a style="font-size: 20px;margin: auto;color: mediumspringgreen;" href="/">
                eWallet Logo
            </a>
        </div>
        <div class="__profile-container">
            <div [ngClass]="expandedMenu ? '__profile-side-menu-expanded' : '__profile-side-menu'">
                <div class="__side-menu-container">
                    <app-side-menu [items]="menuItems" [selectedItem]="selectedMenu" [expanded]="expandedMenu"
                        (onMenuClick)="sideMenuClick($event)">
                    </app-side-menu>
                    <div class="__side-menu-footer-container">
                        <app-side-expander-button [expanded]="expandedMenu" (stateChanged)="sideMenuExpanded($event)">
                        </app-side-expander-button>
                    </div>
                </div>
            </div>
            <div [ngClass]="expandedMenu ? '__profile-content-expanded' : '__profile-content'">
                <router-outlet (activate)="onActivatePage($event)" (deactivate)="onDeactivatePage($event)">
                </router-outlet>
            </div>
        </div>
    </div>

    <div *ngIf="showDetails" class="__profile-details-block">
        <div class="__profile-details-panel">
            <div class="__profile-details-title-bar">
                <div class="__profile-details-close-button">
                    <button class="__tool-button" (click)="closeDetails()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="__profile-details-data-block">
                <app-personal-transaction-details *ngIf="detailsType==='transaction'"
                    [transaction]="detailsContainer?.transaction">
                </app-personal-transaction-details>
                <app-personal-wallet-details *ngIf="detailsType==='wallet'" [wallet]="detailsContainer?.wallet"
                    (onComplete)="detailsComplete($event)">
                </app-personal-wallet-details>
                <app-personal-wallet-create *ngIf="detailsType==='new_wallet'" [cryptoList]="cryptoList"
                    (onComplete)="detailsComplete($event)">
                </app-personal-wallet-create>
            </div>
        </div>
    </div>

    <div class="__profile-unsupported-device">
        <div class="__profile-unsupported-device-title">
            The screen size of your device is not supported.
            <br><br>
            Please, install our application <a style="font-size: 14px;" href="#">here</a>.
        </div>
    </div>
</div>