<div class="table-responsive">
    <app-admin-filter [filterType]="'dashboard'" [fields]="filterFields" [fiatCurrencies]="fiatCurrencies" [filterData]="defaultFilter"
        (filter)="handleFilterApplied($event)">
    </app-admin-filter>

    <mat-progress-bar *ngIf="dashboardService.loading" color="accent" mode="indeterminate">
    </mat-progress-bar>

    <div *ngIf="dashboardService.isLoaded | async" class="__dashboard-panel-container">
        <ng-container *ngIf="this.dashboardService.data | async as dashboardData">
            <div class="__dashboard-panel-column">
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.totalEur !== false"
                    title="Total volume in EUR" 
                    source="total" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card
                    *ngIf="showDeposits && adminAdditionalSettings?.tabs?.dashboard?.Deposit !== false" 
                    title="Deposit" 
                    source="deposits"
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card
                    *ngIf="showWithdrawals && adminAdditionalSettings?.tabs?.dashboard?.Withdrawal !== false"
                    title="Withdrawal" 
                    source="withdrawals" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Buy !== false" 
                    title="Buy" 
                    source="buys"
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Sell !== false" 
                    title="Sell" 
                    source="sells"
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Receive !== false"
                    title="Receive" 
                    source="receives" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
            </div>
            <div class="__dashboard-panel-column">
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Fees !== false"
                    title="Fees collected" 
                    source="fees" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.BalanceAll !== false"
                    title="Balances in all wallets" 
                    source="balances" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Openpayd !== false"
                    title="Balances in all Sepa wallets" 
                    source="openpaydBalances" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Monoova !== false"
                    title="Balances in Bank Wallet" 
                    source="monoovaBalances" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
                <!-- Manoova was changed to Bank, get back later -->

                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.Liquidity !== false"
                    source="liquidityBalances" 
                    [dashboardData]="dashboardData" 
                    [title]="'Liquidity provider balances'">
                </app-admin-dashboard-card>
                <app-admin-dashboard-card 
                    *ngIf="adminAdditionalSettings?.tabs?.dashboard?.PaidTransaction !== false" 
                    title="Paid transactions" 
                    source="paids" 
                    [dashboardData]="dashboardData">
                </app-admin-dashboard-card>
            </div>
        </ng-container>
    </div>
</div>