<div class="action-page-split action-page-left-panel split-page-60">
    <div class="back-box">
        <back-button></back-button>
    </div>
    <div class="auth-panel-content">
        <div class="login-form-box">
            <button mat-icon-button>
                <mat-icon>attractions</mat-icon>
            </button>
            <div style="text-align: left;margin-top: 1em;">
                <h3>Information placeholder (personal)</h3>
            </div>
        </div>
    </div>
</div>

<div class="action-page-split action-page-right-panel split-page-40">
    <div class="auth-panel-content">
        <div class="login-form-box">
            <h2>Sign in</h2>

            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

            <div class="form-error-box" *ngIf="errorMessage!==''">
                {{errorMessage}}
            </div>
            
            <app-login-panel (error)="onError($event)" (progressChange)="onProgressChange($event)"
                (authenticated)="onAuthenticated($event)" (socialAuthenticated)="onSocialAuthenticated($event)">
            </app-login-panel>
            <br>
            <div class="form-element">
                <span>Forgot your password? Please, click&nbsp;<a href="/auth/personal/restore">here</a></span>
            </div>
            <div class="form-element">
                <span>No account?&nbsp;<a href="/auth/personal/register">Register</a></span>
            </div>
        </div>
    </div>
</div>