<div class="action-page-split action-page-left-panel split-page-60">
    <div class="back-box">
        <app-back-button></app-back-button>
    </div>
    <div class="auth-panel-content">
        <div class="login-form-box">
            <button mat-icon-button>
                <mat-icon>attractions</mat-icon>
            </button>
            <div style="text-align: left;margin-top: 1em;">
                <h3>Information placeholder (personal)</h3>
            </div>
        </div>
    </div>
</div>

<div class="action-page-split action-page-right-panel split-page-40">
    <div class="auth-panel-content">
        <div class="login-form-box">
            <h2>Register</h2>

            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

            <app-signup-panel (error)="onError($event)" (progressChange)="onProgressChange($event)"
                (registered)="onRegistered($event)">
            </app-signup-panel>

            <div class="form-error-box" *ngIf="errorMessage!=''">
                {{errorMessage}}
            </div>
            <br>
            <div class="form-element">
                <span>Already have an account?&nbsp;<a href="/personal/auth/login">Sign in</a></span>
            </div>
        </div>
    </div>
</div>