<div class="__auth-frame-box">
    <div class="__auth-body">
        <div class="__auth-container">
            <div class="__auth-title-container">
                <div style="color: mediumslateblue;margin: auto;font-size: 20px;">
                    eWallet Logo
                </div>
            </div>
            <div class="__auth-data-container">
                <app-login-panel [socialButtons]="true" (error)="onError($event)"
                    (progressChange)="onProgressChange($event)" (authenticated)="onAuthenticated($event)"
                    (socialAuthenticated)="onSocialAuthenticated($event)" (extraDataVisible)="onLoginExtraData($event)">
                </app-login-panel>
            </div>
        </div>
    </div>
</div>