<div class="__auth-frame-box">
    <div class="__auth-body">
        <div class="__auth-container">
            <div class="__auth-title-container">
                <span class="__auth-title-logo" (click)="router.navigateByUrl('/')">
                    GetCoins
                </span>
            </div>
            <div class="__auth-account-type-tab-container">
                <div class="__auth-account-type-tab __auth-account-type-tab-left __auth-account-type-tab-selected">
                    Personal Account
                </div>
                <div class="__auth-account-type-tab __auth-account-type-tab-right"
                    (click)="router.navigateByUrl('/merchant/auth/login')">
                    Business Account
                </div>
            </div>
            <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
            <div class="__auth-data-container">
                <app-login-panel [socialButtons]="true" [errorMessage]="errorMessage" (error)="onError($event)"
                    (progressChange)="onProgressChange($event)" (authenticated)="onAuthenticated($event)"
                    (socialAuthenticated)="onSocialAuthenticated($event)" (extraDataVisible)="onLoginExtraData($event)">
                </app-login-panel>
            </div>
        </div>
    </div>
</div>