<div class="__auth-frame-box">
    <div class="__auth-body">
        <div class="__auth-container">
            <div class="__auth-title-container">
                <img class="__auth-title-logo" src="../../../assets/logo-color.png" alt="GetCoins" width="160"
                    (click)="router.navigateByUrl('/')">
            </div>
            <div class="__auth-account-type-tab-container">
                <div class="__auth-account-type-tab __auth-account-type-tab-left __auth-account-type-tab-selected">
                    Personal Account
                </div>
                <div class="__auth-account-type-tab __auth-account-type-tab-right"
                    (click)="router.navigateByUrl('/merchant/auth/register')">
                    Business Account
                </div>
            </div>
            <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
            <div class="__auth-data-container">
                <app-signup-panel [errorMessage]="errorMessage" (error)="onError($event)"
                    (progressChange)="onProgressChange($event)" (registered)="onRegistered($event)">
                </app-signup-panel>
            </div>
        </div>
    </div>
</div>