<h2>{{!form.value.id ? "Create widget" : "Change widget"}}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="form-element">
        <mat-label>User</mat-label>
        <input type="text"
               placeholder="Select user"
               aria-label="User"
               matInput
               formControlName="user"
               (input)="handleUserInputChange($event)"
               [matAutocomplete]="autoUser">
        <mat-autocomplete #autoUser="matAutocomplete" [displayWith]="formatUserValue">
            <mat-option *ngFor="let option of filteredUserOptions" [value]="option">
                {{option.fullName + (option.email ? ' ('+  option.email + ')'  : '')}}
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="this.form.controls.user.hasError('required')">
            Mandatory field
        </mat-error>
    </mat-form-field>

    <app-details-attribute *ngIf="form.value.id" label="Widget link" [value]="widgetMaskLink"></app-details-attribute>
    <app-details-attribute *ngIf="form.value.id" [linkUrl]="widgetLink" label="Quick Checkout link" [value]="widgetLink"></app-details-attribute>
    
    <mat-form-field class="form-element">
        <mat-label>Widget name</mat-label>
        <input matInput formControlName="name" required/>
        <mat-error *ngIf="this.form.controls.name.hasError('required')">
            Mandatory field
        </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Countries</mat-label>
        <mat-chip-list #countryChipList aria-label="Country selection">
            <mat-chip *ngFor="let opt of this.form.controls.countries.value" (removed)="removeCountryOption(opt)">
                {{opt.name}}
                <mat-icon matChipRemove matTooltip="Remove country" matTooltipClass="info-tooltip">cancel
                </mat-icon>
            </mat-chip>
            <input #countrySearchInput
                   placeholder="Countries"
                   [matAutocomplete]="countryAuto"
                   [matChipInputFor]="countryChipList"
                   (input)="handleCountrySearchInputChange($event)"
                   (matChipInputTokenEnd)="handleCountryOptionAdded($event)">
        </mat-chip-list>
        <mat-autocomplete #countryAuto="matAutocomplete" (optionSelected)="handleCountryOptionSelected($event)">
            <mat-option *ngFor="let item of filteredCountryOptions" [value]="item" [id]="item.code2">
                <app-dropdown-item itemValue="{{item.name}}" imageClass="country-flag"
                                   imageSource="assets/svg-country-flags/{{getCountryFlag(item.code2)}}">
                </app-dropdown-item>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Crypto Currencies</mat-label>
        <mat-select formControlName="currenciesCrypto" multiple>
            <mat-option *ngFor="let item of currencyOptionsCrypto" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Fiat Currencies</mat-label>
        <mat-select formControlName="currenciesFiat" multiple>
            <mat-option *ngFor="let item of currencyOptionsFiat" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Destination address</mat-label>
        <input matInput formControlName="destinationAddress" />
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Payment Methods</mat-label>
        <mat-select formControlName="instruments" multiple>
            <mat-option *ngFor="let item of instrumentOptions" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Liquidity provider</mat-label>
        <mat-select formControlName="liquidityProvider">
            <mat-option *ngFor="let item of liquidityProviderOptions" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.controls.liquidityProvider.hasError('required')">
            Mandatory field
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="showPaymentProviders" class="form-element">
        <mat-label>Payment providers</mat-label>
        <mat-select formControlName="paymentProviders" multiple>
            <mat-option *ngFor="let item of paymentProviderOptions" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-element">
        <mat-label>Transaction types</mat-label>
        <mat-select formControlName="transactionTypes" multiple>
            <mat-option *ngFor="let item of transactionTypeOptions" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="panel-actions">
        <button mat-flat-button color="primary" type="submit">
            SAVE
        </button>
        <button *ngIf="!!this.form.value.id" mat-flat-button color="warn" type="button" (click)="onDelete()">
            DELETE
        </button>
        <button mat-flat-button (click)="onCancel()" type="button">
            CANCEL
        </button>
    </div>
</form>
