@import "../../assets/scss/admin-table";

.table-button-container {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  padding-bottom: 16px;
}

.widget-list-selector-column {
  margin: 0px;
  padding: 0px 8px;
  background-color: $color_white;
}

.widget-list-data-column {
  margin: 0px;
  padding: 0px;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.widget-chips-align {
  .mat-mdc-chip {
    display: block;
    margin: 5px 0;
    width: max-content;
  }
  .mat-mdc-chip-action-label {
    font-size: 14px;
  }
}
