<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div *ngIf="form.value.id" class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Links
        </h5>
        <app-admin-details-item label="Widget identifier" [value]="widgetId">
        </app-admin-details-item>
        <app-admin-details-item label="Widget link" [value]="widgetMaskLink">
        </app-admin-details-item>
        <app-admin-details-item [linkUrl]="widgetLink" label="Quick Checkout link" [value]="widgetLink">
        </app-admin-details-item>

      </div>
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Destination
        </h5>
        <div class="form-group">
          <table mat-table [dataSource]="currenciesTable">
            <ng-container matColumnDef="details">
              <th *matHeaderCellDef>
                <!-- <button *ngIf="permission>1" class="mat-focus-indicator mat-tooltip-trigger row-button mat-icon-button mat-button-base" type="button"
                  (click)="addWidgetDestinationAddress()">
                  <i class="material-icons" style="font-size: 20px;">
                    add_circle
                  </i>
                </button> -->
                <i class="material-icons cursor-icon" style="font-size: 20px;" (click)="addWidgetDestinationAddress()">
                  add_circle
                </i>
              </th>
              <td *matCellDef="let element">
                <!-- <button *ngIf="permission>1" class="mat-focus-indicator mat-tooltip-trigger row-button mat-icon-button mat-button-base" type="button"
                  (click)="delWidgetDestinationAddress(element)">
                  <i class="material-icons" style="font-size: 20px;">
                    cancel
                  </i>
                </button> -->
                <i class="material-icons cursor-icon" style="font-size: 20px;" (click)="delWidgetDestinationAddress(element)">
                  cancel
                </i>
              </td>
            </ng-container>
              <!-- <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="widget-list-selector-column">
                  <input style="margin-right: 4px;" [checked]="element.selected" type="checkbox">
                </td>
              </ng-container> -->
      
              <ng-container matColumnDef="currency">
                <th *matHeaderCellDef>
                  Currency
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <ng-select [(ngModel)]="element.currency" [ngModelOptions]="{standalone: true}" [items]="currencyOptionsCrypto" bindLabel="display" bindValue="symbol" 
                    [clearable]=true [clearOnBackspace]=true [multiple]="false" [closeOnSelect]="false">
                  </ng-select>
                  <!-- {{element.currency}} -->
                </td>
              </ng-container>
    
              <ng-container matColumnDef="destination">
                <th *matHeaderCellDef>
                  Destination
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <input class="form-control"
                  type="text" [(ngModel)]="element.destination" maxlength="50" required [ngModelOptions]="{standalone: true}" [required]="destinationRequired">
                  <div *ngIf="destinationRequired && !element.destination"
                    class="tx-danger">
                    <small>
                      Destination is required
                    </small>
                  </div>
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Merchant fee destination
        </h5>
        <div class="form-group">
          <table mat-table [dataSource]="merchantFeeDestinationCurrencies">
            <ng-container matColumnDef="details">
              <th *matHeaderCellDef>
                <!-- <button *ngIf="permission>1" class="mat-focus-indicator mat-tooltip-trigger row-button mat-icon-button mat-button-base" type="button"
                  (click)="addWidgetDestinationAddress()">
                  <i class="material-icons" style="font-size: 20px;">
                    add_circle
                  </i>
                </button> -->
                <i class="material-icons cursor-icon" style="font-size: 20px;" (click)="addMerchantFeeDestinationAddress()">
                  add_circle
                </i>
              </th>
              <td *matCellDef="let element">
                <!-- <button *ngIf="permission>1" class="mat-focus-indicator mat-tooltip-trigger row-button mat-icon-button mat-button-base" type="button"
                  (click)="delWidgetDestinationAddress(element)">
                  <i class="material-icons" style="font-size: 20px;">
                    cancel
                  </i>
                </button> -->
                <i class="material-icons cursor-icon" style="font-size: 20px;" (click)="delMerchantFeeDestinationAddress(element)">
                  cancel
                </i>
              </td>
            </ng-container>
              <!-- <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="widget-list-selector-column">
                  <input style="margin-right: 4px;" [checked]="element.selected" type="checkbox">
                </td>
              </ng-container> -->
      
              <ng-container matColumnDef="currency">
                <th *matHeaderCellDef>
                  Currency
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <ng-select [(ngModel)]="element.currency" [ngModelOptions]="{standalone: true}" [items]="currencyOptionsCrypto" bindLabel="display" bindValue="symbol" 
                    [clearable]=true [clearOnBackspace]=true [multiple]="false" [closeOnSelect]="false">
                  </ng-select>
                  <!-- {{element.currency}} -->
                </td>
              </ng-container>
    
              <ng-container matColumnDef="destination">
                <th *matHeaderCellDef>
                  Destination
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <input class="form-control"
                  type="text" [(ngModel)]="element.destination" maxlength="50" required [ngModelOptions]="{standalone: true}" [required]="destinationRequired">
                  <div *ngIf="destinationRequired && !element.destination"
                    class="tx-danger">
                    <small>
                      Destination is required
                    </small>
                  </div>
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Currency amounts
        </h5>
        <div class="form-group">
          <table mat-table [dataSource]="currencyAmountsTable">
            <ng-container matColumnDef="details">
              <th *matHeaderCellDef>
                <!-- <button *ngIf="permission>1" class="mat-focus-indicator mat-tooltip-trigger row-button mat-icon-button mat-button-base" type="button"
                  (click)="addWidgetDestinationAddress()">
                  <i class="material-icons" style="font-size: 20px;">
                    add_circle
                  </i>
                </button> -->
                <i class="material-icons cursor-icon" style="font-size: 20px;" (click)="addWidgetAmounts()">
                  add_circle
                </i>
              </th>
              <td *matCellDef="let element">
                <!-- <button *ngIf="permission>1" class="mat-focus-indicator mat-tooltip-trigger row-button mat-icon-button mat-button-base" type="button"
                  (click)="delWidgetDestinationAddress(element)">
                  <i class="material-icons" style="font-size: 20px;">
                    cancel
                  </i>
                </button> -->
                <i class="material-icons cursor-icon" style="font-size: 20px;" (click)="delWidgetAmounts(element)">
                  cancel
                </i>
              </td>
            </ng-container>
              <!-- <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="widget-list-selector-column">
                  <input style="margin-right: 4px;" [checked]="element.selected" type="checkbox">
                </td>
              </ng-container> -->
      
              <ng-container matColumnDef="currency">
                <th *matHeaderCellDef>
                  Currency
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <ng-select [(ngModel)]="element.currency" [ngModelOptions]="{standalone: true}" [items]="currencyOptions" bindLabel="display" bindValue="symbol" 
                    [clearable]=true [clearOnBackspace]=true [multiple]="false" [closeOnSelect]="false">
                  </ng-select>
                  <!-- {{element.currency}} -->
                </td>
              </ng-container>
    
              <ng-container matColumnDef="minAmount">
                <th *matHeaderCellDef>
                  Min Amount
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <input class="form-control"
                  type="number" [(ngModel)]="element.minAmount" [ngModelOptions]="{standalone: true}" [required]="destinationRequired">
                </td>
              </ng-container>

              <ng-container matColumnDef="maxAmount">
                <th *matHeaderCellDef>
                  Max Amount
                </th>
                <td *matCellDef="let element" class="widget-list-data-column">
                  <input class="form-control"
                  type="number" [(ngModel)]="element.maxAmount" [ngModelOptions]="{standalone: true}" [required]="destinationRequired">
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedAmountColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedAmountColumns;"></tr>
            </table>
        </div>
      </div>
      
      <!-- <div *ngIf="form.value.id" class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20">
          Destination
        </h5>
        <div *ngFor="let widgetDestinationItem of widgetDestinationAddress;let index = index;" class="card card-body pd-20 pd-md-40 border shadow-none">
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              DESTINATION ADDRESS
              <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
            </label>
            <input class="form-control"
              type="text" [(ngModel)]="widgetDestinationAddress[index].destination" maxlength="50" required [ngModelOptions]="{standalone: true}">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Crypto Currencies
            </label>
            <ng-select [(ngModel)]="widgetDestinationAddress[index].currency" [ngModelOptions]="{standalone: true}" [items]="currencyOptionsCrypto" bindLabel="display" bindValue="symbol" 
              [clearable]=true [clearOnBackspace]=true [multiple]="false" [closeOnSelect]="false">
            </ng-select>
          </div>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <button *ngIf="permission>1" class="btn btn-primary pd-x-30 me-2 mg-t-5" type="button"
          (click)="addWidgetDestinationAddress()">
            Add
          </button>
        </div>
      </div> -->

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 *ngIf="form.value.id" class="card-title mg-b-20">
          Settings
        </h5>
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            User
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select [items]="usersOptions$ | async" bindLabel="extendedName" [minTermLength]="minUsersLengthTerm"
            notFoundText="No users found" [loading]="isUsersLoading" [multiple]="false" formControlName="user"
            typeToSearchText="Type email or user name" placeholder="Start typing to search a user"
            [typeahead]="usersSearchInput$" required>
          </ng-select>
          <div *ngIf="(form.controls.user.touched || submitted) && (form.controls.user.errors?.['required'])"
            class="tx-danger">
            <small>
              Please specify a user
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Widget name
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control"
            [ngClass]="{'has-error': (form.controls.name.touched || submitted) && !form.controls.name.valid}"
            type="text" formControlName="name" maxlength="50" required>
          <div *ngIf="(form.controls.name.touched || submitted) && (form.controls.name.errors?.['required'])"
            class="tx-danger">
            <small>
              Widget name is required
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Description
          </label>
          <input class="form-control" type="text" formControlName="description" maxlength="150">
        </div>

        <div *ngIf="adminAdditionalSettings?.widgetDetails?.secret == true" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Secret phrase
          </label>
          <input class="form-control" type="text" formControlName="secret" maxlength="100">
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Countries
          </label>
          <ng-select formControlName="countries" [clearable]=true [clearOnBackspace]=true [multiple]="true"
            [closeOnSelect]="false">
            <ng-option *ngFor="let country of countryOptions" [value]="country">
              <app-dropdown-item itemValue="{{country.name}}" imageClass="country-flag-admin"
                imageSource="assets/svg-country-flags/{{getCountryFlag(country.code2)}}">
              </app-dropdown-item>
            </ng-option>
          </ng-select>
        </div>

        <!-- <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Crypto Currencies
          </label>
          <ng-select [items]="currencyOptionsCrypto" bindLabel="display" bindValue="symbol"
            formControlName="currenciesCrypto" [clearable]=true [clearOnBackspace]=true [multiple]="true"
            [closeOnSelect]="false">
          </ng-select>
        </div> -->

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Fiat Currencies
          </label>
          <ng-select [items]="currencyOptionsFiat" bindLabel="display" bindValue="symbol"
            formControlName="currenciesFiat" [clearable]=true [clearOnBackspace]=true [multiple]="true"
            [closeOnSelect]="false">
          </ng-select>
        </div>

        <!-- <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Destination address
          </label>
          <input class="form-control" type="text" formControlName="destinationAddress" maxlength="75">
        </div> -->

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Payment Methods
          </label>
          <ng-select [items]="instrumentOptions" bindLabel="name" bindValue="id" formControlName="instruments"
            [clearable]=true [clearOnBackspace]=true [multiple]="true" [closeOnSelect]="false">
          </ng-select>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Liquidity provider
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <ng-select [items]="liquidityProviderOptions" bindLabel="name" bindValue="id"
            formControlName="liquidityProvider" [clearable]=false [clearOnBackspace]=false required>
          </ng-select>
          <div
            *ngIf="(form.controls.liquidityProvider.touched || submitted) && (form.controls.liquidityProvider.errors?.['required'])"
            class="tx-danger">
            <small>
              Liquidity provider name is required
            </small>
          </div>
        </div>

        <div *ngIf="showPaymentProviders" class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Payment Providers
          </label>
          <ng-select [items]="filteredProviders" bindLabel="name" bindValue="id" formControlName="paymentProviders"
            [clearable]=true [clearOnBackspace]=true [multiple]="true" [closeOnSelect]="false">
          </ng-select>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Transaction types
          </label>
          <ng-select [items]="transactionTypeOptions" bindLabel="name" bindValue="id" formControlName="transactionTypes"
            [clearable]=true [clearOnBackspace]=true [multiple]="true" [closeOnSelect]="false">
          </ng-select>
        </div>

        <label class="main-content-label tx-11 tx-medium tx-gray-600">
          User Type
          <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
        </label>
        <ng-select [items]="userTypeOptions" bindLabel="name" bindValue="id" formControlName="userType"
          [clearable]=false [clearOnBackspace]=false required>
        </ng-select>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Min. Amount
          </label>
          <input class="form-control" type="number" formControlName="minAmountFrom">
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Max. Amount
          </label>
          <input class="form-control" type="number" formControlName="maxAmountFrom">
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Pre. Fee
          </label>
          <input class="form-control" type="number" formControlName="fee">
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Merchant. Fee, %
          </label>
          <input class="form-control" type="number" formControlName="merchantFeePercent">
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Merchant. Min. Fee
          </label>
          <input class="form-control" type="number" formControlName="merchantFeeMinAmount">
        </div>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 *ngIf="form.value.id" class="card-title mg-b-20">
          Configuration
        </h5>
        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  Allow to pay if kyc failed
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="allowToPayIfKycFailed">
                </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  New Vault Per Transaction 
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="newVaultPerTransaction">
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  Kyc Before Payment
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="kycBeforePayment">
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  Disclaimer
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="disclaimer">
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  2FA
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="twoFA">
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  Show Rate
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="showRate">
                </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="__tool-bar-double-sided-data-box __row-per-checkbox">
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                  Mask
                </div>
            </div>
            <div class="__tool-bar-block" style="margin-left: 10px">
                <div class="__toggle-switch">
                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                        formControlName="masked">
                </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
        <h4 class="card-title2 mg-b-20 color_brown">
          {{errorMessage}}
        </h4>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <button *ngIf="permission>1" class="btn btn-primary pd-x-30 me-2 mg-t-5">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Save
        </button>
        <button *ngIf="permission>1" class="btn btn-danger pd-x-30 me-2 mg-t-5" type="button"
          (click)="onDeleteWidget(delete_confirm_content)">
          <span *ngIf="deleteInProgress" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
          Delete
        </button>
        <button class="btn btn-outline-primary pd-x-30 mg-t-5" type="button" (click)="close.emit()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #delete_confirm_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Delete widget</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 style="text-align: center;">
      You are going to delete selected widget. Confirm operation.
    </h4>
    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
      <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.dismiss('Reject')">
        Reject
      </button>
      <button class="btn btn-danger pd-x-30 mg-t-5" (click)="modal.close('Confirm')">
        Confirm
      </button>
    </div>
  </div>
</ng-template>