<h2>{{!settingsId ? "Create scheme" : "Change scheme"}}</h2>

<form [formGroup]="schemeForm" (ngSubmit)="onSubmit()">
    <!-- Scheme name -->
    <div *ngIf="defaultSchemeFlag===''">
        <mat-form-field class="form-element">
            <mat-label>Scheme name</mat-label>
            <input type="text" matInput formControlName="name" maxlength="50" placeholder="Fee scheme name" required/>
            <mat-error *ngIf="this.schemeForm.get('name')?.hasError('required')">
                Please specify a scheme name
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="defaultSchemeFlag!==''">
        <mat-form-field class="form-element">
            <mat-label>Scheme name</mat-label>
            <input type="text" matInput [value]="defaultSchemeFlag" disabled/>
        </mat-form-field>
    </div>

    <!-- Description -->
    <mat-form-field class="form-element">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description" maxlength="100"
               placeholder="Fee scheme description"/>
    </mat-form-field>

    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <mat-tab-group class="form-element" color="primary" mat-stretch-tabs animationDuration="0"
                   [selectedIndex]="selectedTab" (selectedIndexChange)="setSelectedTab($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <app-tab-label [hasErrors]="tabHasError('tab1')" labelText="Targets"></app-tab-label>
            </ng-template>
            <div class="target-tab-box">
                <!-- Target -->
                <mat-form-field class="form-element">
                    <mat-label>Target</mat-label>
                    <mat-select formControlName="target" required>
                        <mat-option *ngFor="let item of targets" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.schemeForm.get('target')?.hasError('required')">
                        Please specify a target
                    </mat-error>
                </mat-form-field>

                <!-- Target values -->
                <mat-form-field *ngIf="targetValueParams.title!==''" class="form-element">
                    <mat-label>{{targetValueParams.title}}</mat-label>
                    <mat-chip-list #chipList aria-label="Target selection" formControlName="targetValues">
                        <mat-chip *ngFor="let val of schemeForm.get('targetValues')?.value"
                                  (removed)="removeTargetValue(val)">
                            {{val}}
                            <mat-icon matChipRemove matTooltip="Remove" matTooltipClass="info-tooltip">cancel</mat-icon>
                        </mat-chip>
                        <input [placeholder]="targetValueParams.inputPlaceholder" #targetValueInput
                               formControlName="targetValue" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                               (input)="handleTargetInputChange($event)"
                               (matChipInputTokenEnd)="addTargetValue($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="targetItemSelected($event)">
                        <mat-option *ngFor="let item of filteredTargetValues$ | async" [value]="item.title">
                            <app-dropdown-item itemValue="{{item.title}}" imageClass="{{item.imgClass}}"
                                               imageSource="{{item.imgSource}}"></app-dropdown-item>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="this.schemeForm.get('targetValues')?.hasError('required')">
                        Please specify at least one {{targetEntity}}
                    </mat-error>
                </mat-form-field>

                <!-- Transaction type -->
                <mat-form-field class="form-element">
                    <mat-label>Transaction type</mat-label>
                    <mat-select formControlName="trxType" multiple required>
                        <mat-option *ngFor="let item of transactionTypes" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.schemeForm.get('trxType')?.hasError('required')">
                        Please specify an transaction type
                    </mat-error>
                </mat-form-field>

                <!-- Payment Method -->
                <mat-form-field class="form-element">
                    <mat-label>Payment Methods</mat-label>
                    <mat-select formControlName="instrument" required>
                        <mat-option *ngFor="let item of instruments" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.schemeForm.get('instrument')?.hasError('required')">
                        Please specify payment method
                    </mat-error>
                </mat-form-field>

                <!-- Payment provider -->
                <mat-form-field class="form-element">
                    <mat-label>Payment provider</mat-label>
                    <mat-select formControlName="provider" multiple required>
                        <mat-option *ngFor="let item of providers" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.schemeForm.get('provider')?.hasError('required')">
                        Please specify a payment provider
                    </mat-error>
                </mat-form-field>

                <!-- User type -->
                <mat-form-field class="form-element">
                    <mat-label>User type</mat-label>
                    <mat-select formControlName="userType" multiple required>
                        <mat-option *ngFor="let item of userTypes" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.schemeForm.get('userType')?.hasError('required')">
                        Please specify a user type
                    </mat-error>
                </mat-form-field>

                <!-- User mode -->
                <mat-form-field class="form-element">
                    <mat-label>User mode</mat-label>
                    <mat-select formControlName="userMode" multiple required>
                        <mat-option *ngFor="let item of userModes" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="this.schemeForm.get('userMode')?.hasError('required')">
                        Please specify a user mode
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <app-tab-label [hasErrors]="tabHasError('tab2')" labelText="Terms"></app-tab-label>
            </ng-template>
            <!-- Transaction fees -->
            <mat-form-field class="form-element">
                <mat-label>Transaction fees, %</mat-label>
                <input type="text" matInput formControlName="transactionFees" maxlength="7" placeholder="5%" required/>
                <mat-error *ngIf="this.schemeForm.get('transactionFees')?.hasError('required')">
                    Please specify transaction fee
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('transactionFees')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>

            <!-- Min transaction fee -->
            <mat-form-field class="form-element">
                <mat-label>Min. transaction fee, {{currency}}</mat-label>
                <input type="text" matInput formControlName="minTransactionFee" maxlength="10" placeholder="&#8364;5"
                       required/>
                <mat-error *ngIf="this.schemeForm.get('minTransactionFee')?.hasError('required')">
                    Please specify minimal transaction fee
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('minTransactionFee')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>

            <!-- Rolling Reserves -->
            <mat-form-field class="form-element">
                <mat-label>Rolling reserves, %</mat-label>
                <input type="text" matInput formControlName="rollingReserves" maxlength="7" placeholder="5%" required/>
                <mat-error *ngIf="this.schemeForm.get('rollingReserves')?.hasError('required')">
                    Please specify rolling reserves value
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('rollingReserves')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>

            <!-- Rolling reserves days -->
            <mat-form-field class="form-element">
                <mat-label>Rolling reserves days, %</mat-label>
                <input type="text" matInput formControlName="rollingReservesDays" maxlength="7" placeholder="5%"
                       required/>
                <mat-error *ngIf="this.schemeForm.get('rollingReservesDays')?.hasError('required')">
                    Please specify percentage of rolling reserves days
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('rollingReservesDays')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>

            <!-- Chargeback fees -->
            <mat-form-field class="form-element">
                <mat-label>Chargeback fees, %</mat-label>
                <input type="text" matInput formControlName="chargebackFees" maxlength="7" placeholder="5%" required/>
                <mat-error *ngIf="this.schemeForm.get('chargebackFees')?.hasError('required')">
                    Please specify chargeback fee
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('chargebackFees')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>

            <!-- Monthly fees -->
            <mat-form-field class="form-element">
                <mat-label>Monthly fees<span style="font-style: italic;"> (only in system)</span></mat-label>
                <input type="text" matInput formControlName="monthlyFees" maxlength="7" placeholder="5" required/>
                <mat-error *ngIf="this.schemeForm.get('monthlyFees')?.hasError('required')">
                    Please specify monthly fee
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('monthlyFees')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>

            <!-- Minimal monthly fees -->
            <mat-form-field class="form-element">
                <mat-label>Min. monthly fees<span style="font-style: italic;"> (in system)</span></mat-label>
                <input type="text" matInput formControlName="minMonthlyFees" maxlength="7" placeholder="5" required/>
                <mat-error *ngIf="this.schemeForm.get('minMonthlyFees')?.hasError('required')">
                    Please specify minimal monthly fee
                </mat-error>
                <mat-error *ngIf="this.schemeForm.get('minMonthlyFees')?.hasError('pattern')">
                    Invalid number value
                </mat-error>
            </mat-form-field>
        </mat-tab>
    </mat-tab-group>

    <div class="panel-actions">
        <button mat-flat-button color="primary" type="submit">
            SAVE
        </button>
        <button *ngIf="defaultSchemeFlag === '' && !!this.settingsId" mat-flat-button color="warn" (click)="onDeleteScheme()">
            DELETE
        </button>
        <button mat-flat-button (click)="onCancel()">
            CANCEL
        </button>
    </div>
</form>
