<h2>{{create ? "Create bank account scheme" : "Change bank account scheme"}}</h2>

<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <!-- Scheme name -->
    <mat-form-field class="form-element">
        <mat-label>Bank account name</mat-label>
        <input type="text" matInput formControlName="name" maxlength="50" placeholder="Bank account name" required />
        <mat-error *ngIf="this.accountForm.get('name')?.hasError('required')">
            Please specify a name
        </mat-error>
    </mat-form-field>

    <!-- Description -->
    <mat-form-field class="form-element">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description" maxlength="100"
            placeholder="Bank account description" />
    </mat-form-field>

    <!-- AU Banks -->
    <div class="form-element">
        <mat-checkbox color="accent" formControlName="auSelected">
            Australia Banks
        </mat-checkbox>
    </div>

    <div *ngIf="this.accountForm.get('auSelected')?.value===true">
        <mat-form-field class="form-element">
            <mat-label>Account Name</mat-label>
            <input type="text" matInput formControlName="auAccountName" maxlength="100" placeholder="Bank Account Name" />
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Account Number</mat-label>
            <input type="text" matInput formControlName="auAccountNumber" maxlength="100" placeholder="Bank Account Number" />
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>BSB</mat-label>
            <input type="text" matInput formControlName="auBsb" maxlength="100" placeholder="BSB" />
        </mat-form-field>
    </div>

    <div class="form-element">
        <mat-checkbox color="accent" formControlName="ukSelected">
            UK Banks
        </mat-checkbox>
    </div>

    <div *ngIf="this.accountForm.get('ukSelected')?.value===true">
        <mat-form-field class="form-element">
            <mat-label>Account Name</mat-label>
            <input type="text" matInput formControlName="ukAccountName" maxlength="100" placeholder="Bank Account Name" />
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Account Number</mat-label>
            <input type="text" matInput formControlName="ukAccountNumber" maxlength="100" placeholder="Bank Account Number" />
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>Sort Code</mat-label>
            <input type="text" matInput formControlName="ukSortCode" maxlength="100" placeholder="Sort Code" />
        </mat-form-field>
    </div>

    <div class="form-element">
        <mat-checkbox color="accent" formControlName="euSelected">
            EU Banks
        </mat-checkbox>
    </div>

    <div *ngIf="this.accountForm.get('euSelected')?.value===true">
        <mat-form-field class="form-element">
            <mat-label>Account Owner Name</mat-label>
            <input type="text" matInput formControlName="euAccountOwnerName" maxlength="100" placeholder="Bank Account Owner Name" />
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>SWIFT</mat-label>
            <input type="text" matInput formControlName="euSwift" maxlength="100" placeholder="SWIFT" />
        </mat-form-field>

        <mat-form-field class="form-element">
            <mat-label>IBAN</mat-label>
            <input type="text" matInput formControlName="euIban" maxlength="100" placeholder="IBAN" />
        </mat-form-field>
    </div>

    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <div class="form-element">&nbsp;</div>

    <div class="panel-actions">
        <button mat-flat-button color="primary" type="submit">
            SAVE
        </button>
        <button *ngIf="create===false" mat-flat-button color="warn" type="button" (click)="onDeleteScheme()">
            DELETE
        </button>
        <button mat-flat-button (click)="onCancel()">
            CANCEL
        </button>
    </div>
</form>