<div class="menu-bar">
    <div class="menu-content-bar">
        <div class="menu-box">
            <button mat-icon-button (click)="routeTo('/')">
                <mat-icon>attractions</mat-icon>
            </button>
            <button class="link-button link-button-primary" (click)="routeTo('/personal/intro')">
                Personal
            </button>
            <button class="link-button link-button-accent" (click)="routeTo('/merchant/intro')">
                Business
            </button>
            <span class="menu-delimiter"></span>
            <button class="link-button link-button-accent" (click)="routeTo('/payment')">
                Quick Checkout
            </button>
        </div>
        <div class="menu-box">
            <button class="link-button link-button-primary" (click)="routeTo('/merchant/auth/login')">
                LOG IN
            </button>
            <button class="main-button main-button-primary" (click)="routeTo('/merchant/auth/register')">
                SIGN UP
            </button>
        </div>
    </div>
</div>