<div class="__container">
    <div [ngClass]="{'__profile-disabled-block': showDetails || showPayment}">
        <!-- Top menu -->
        <div class="__top-menu-bar">
            <div
                [ngClass]="expandedMenu ? '__top-menu-content-bar-profile-side-menu-expanded' : '__top-menu-content-bar-profile-side-menu-collapsed'">
                <div class="__top-menu-content-box">
                    <button *ngIf="merchantApproved && showDepositWithdrawal" class="__top-menu-button"
                        (click)="showPaymentPanel(WIDGET_TYPE.Deposit)">
                        <mat-icon>monetization_on</mat-icon>
                        &nbsp;&nbsp;&nbsp;Deposit & Withdrawal
                    </button>
                    <div *ngIf="merchantApproved" class="__top-menu-button-separator"></div>
                    <button *ngIf="merchantApproved" class="__top-menu-button"
                        (click)="showPaymentPanel(WIDGET_TYPE.Buy)">
                        <mat-icon>account_balance</mat-icon>
                        &nbsp;&nbsp;&nbsp;Buy & Sell
                    </button>
                    <div *ngIf="merchantApproved" class="__top-menu-button-separator"></div>
                    <button *ngIf="merchantApproved" class="__top-menu-button"
                        (click)="showPaymentPanel(WIDGET_TYPE.Receive)">
                        <mat-icon>file_download</mat-icon>
                        &nbsp;&nbsp;&nbsp;Receive
                    </button>
                    <div *ngIf="merchantApproved" class="__top-menu-button-separator"></div>
                    <button *ngIf="merchantApproved" class="__top-menu-button"
                        (click)="showPaymentPanel(WIDGET_TYPE.Send)">
                        <mat-icon>file_upload</mat-icon>
                        &nbsp;&nbsp;&nbsp;Send
                    </button>
                </div>
                <div class="__top-menu-content-box">
                    <app-nav-popup [items]="popupItems" [userName]="userName" [avatar]="avatar"
                        (onMenuClick)="popupMenuClick($event)" (onTransactionUpdate)="transactionStatusUpdate($event)">
                    </app-nav-popup>
                </div>
            </div>
        </div>
        <!-- Top menu logo -->
        <div *ngIf="expandedMenu" class="__profile-top-menu-logo-box">
            <img class="__profile-top-menu-logo" [src]="logoSrc" [alt]="logoAlt" width="180">
        </div>
        <!-- Error bar -->
        <div [ngClass]="errorMessage==='' ? '__top-menu-error-bar-hidden' : '__top-menu-error-bar'">
            <div class="__error-message-text">
                {{errorMessage}}
            </div>
            <div class="__error-close-button">
                <button class="__tool-button-inversed" type="button" (click)="closeErrorBar()">
                    <span style="font-size: 22px;" class="material-icons">close</span>
                </button>
            </div>
        </div>

        <!-- Mobile only menu -->
        <div class="__top-menu-hamburger">
            <input #top_menu_hamburger_toggle id="top_menu_hamburger_toggle" type="checkbox" />
            <label class="__top-menu-hamburger-button" for="top_menu_hamburger_toggle">
                <span></span>
            </label>
            <ul class="__top-menu-hamburger-box">
                <li *ngIf="merchantApproved && showDepositWithdrawal">
                    <a [routerLink]="null" class="__top-menu-hamburger-item"
                        (click)="showPaymentPanel(WIDGET_TYPE.Deposit)">
                        Deposit & Withdrawal
                    </a>
                    <a [routerLink]="null" class="__top-menu-hamburger-item" (click)="showPaymentPanel(WIDGET_TYPE.Buy)">
                        Buy & Sell
                    </a>
                    <a [routerLink]="null" class="__top-menu-hamburger-item"
                        (click)="showPaymentPanel(WIDGET_TYPE.Receive)">
                        Receive
                    </a>
                    <a [routerLink]="null" class="__top-menu-hamburger-item" (click)="showPaymentPanel(WIDGET_TYPE.Send)">
                        Send
                    </a>
                    <!-- <a [routerLink]="" class="__top-menu-hamburger-item"
                        (click)="showPaymentPanel(WIDGET_TYPE.Transfer)">
                        Express transfer
                    </a> -->
                </li>
                <div *ngIf="merchantApproved" class="__top-menu-hamburger-separator"></div>
                <li *ngFor="let item of menuItems;let i=index;">
                    <a *ngIf="item.id!=='wallets' && item.id!=='contactlist'" [routerLink]="null"
                        class="__top-menu-hamburger-item" (click)="sideMenuClick(item)">
                        {{item.name}}
                    </a>
                </li>
                <div class="__top-menu-hamburger-separator"></div>
                <li *ngFor="let item of popupItems;let i=index;">
                    <a [routerLink]="null" class="__top-menu-hamburger-item"
                        (click)="popupMenuClick(item)">
                        {{item.name}}
                    </a>
                </li>
            </ul>
        </div>

        <!-- Data container with side bar and data panels -->
        <div class="__profile-container">
            <div [ngClass]="expandedMenu ? '__profile-side-menu-expanded' : '__profile-side-menu'">
                <div class="__side-menu-container">
                    <app-side-menu [items]="menuItems" [selectedItem]="selectedMenu" [expanded]="expandedMenu"
                        (onMenuClick)="sideMenuClick($event)">
                    </app-side-menu>
                    <div class="__side-menu-footer-container">
                        <app-side-expander-button [expanded]="expandedMenu" (stateChanged)="sideMenuExpanded($event)">
                        </app-side-expander-button>
                    </div>
                </div>
            </div>
            <div [ngClass]="expandedMenu ? '__profile-content-expanded' : '__profile-content'">
                <router-outlet (activate)="onActivatePage($event)" (deactivate)="onDeactivatePage($event)">
                </router-outlet>
            </div>
        </div>
    </div>

    <!-- Right pane for details and payment -->
    <div *ngIf="showDetails || showPayment" class="__profile-details-block">
        <!-- Details -->
        <div *ngIf="showDetails" class="__profile-details-panel">
            <div class="__profile-details-title-bar">
                <div class="__profile-details-close-button">
                    <button class="__tool-button" (click)="closeDetails()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <div class="__profile-details-data-block">
                <app-profile-transaction-details *ngIf="detailsType==='transaction'"
                    [transaction]="detailsContainer?.transaction">
                </app-profile-transaction-details>
                <app-profile-wallet-details *ngIf="detailsType==='wallet'" [wallet]="detailsContainer?.wallet"
                    (onComplete)="detailsComplete($event)">
                </app-profile-wallet-details>
                <app-profile-wallet-create *ngIf="detailsType==='new_wallet'" [cryptoList]="cryptoList"
                    (onComplete)="detailsComplete($event)">
                </app-profile-wallet-create>
                <app-profile-contact-details *ngIf="detailsType==='contact'" [contact]="detailsContainer?.contact"
                    (onComplete)="detailsComplete($event)">
                </app-profile-contact-details>
                <app-profile-contact-create *ngIf="detailsType==='new_contact'" [cryptoList]="cryptoList"
                    (onComplete)="detailsComplete($event)">
                </app-profile-contact-create>
                <app-profile-payment-complete *ngIf="detailsType==='payment_complete'"
                    [payment]="paymentCompleteDetails" (onComplete)="detailsComplete($event)">
                </app-profile-payment-complete>
                <app-profile-payment-error *ngIf="detailsType==='payment_error'" [error]="paymentErrorDetails"
                    (onComplete)="detailsComplete($event)">
                </app-profile-payment-error>
            </div>
        </div>
        <!-- Payment -->
        <div *ngIf="showPayment" class="__profile-payment-panel">
            <header class="__profile-payment-title-box">
                <div class="__profile-details-title-bar">
                    <div class="__profile-details-close-button">
                        <button class="__tool-button-inversed" (click)="closePayment()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </div>
                </div>
                <h3 class="__profile-payment-title-bar">
                    {{paymentPanelTitle}}
                </h3>
            </header>
            <div class="__profile-payment-data-area">
                <app-buy-sell-fiat-widget
                    *ngIf="selectedPaymentType===WIDGET_TYPE.Deposit || selectedPaymentType===WIDGET_TYPE.Withdrawal"
                    [widgetType]="selectedPaymentType" (onComplete)="widgetComplete($event)"
                    (onError)="widgetError($event)">
                </app-buy-sell-fiat-widget>
                <app-buy-sell-widget
                    *ngIf="selectedPaymentType===WIDGET_TYPE.Buy || selectedPaymentType===WIDGET_TYPE.Sell"
                    [widgetType]="selectedPaymentType" (onComplete)="widgetComplete($event)"
                    (onError)="widgetError($event)">
                </app-buy-sell-widget>
                <app-receive-widget *ngIf="selectedPaymentType===WIDGET_TYPE.Receive" [presetCurrency]="presetCurrency"
                    [presetWalletId]="presetWalletId">
                </app-receive-widget>
                <app-send-widget *ngIf="selectedPaymentType===WIDGET_TYPE.Send" [presetContactId]="presetContactId"
                    [presetWalletId]="presetWalletId" [presetCurrency]="presetCurrency"
                    (onComplete)="widgetComplete($event)" (onError)="widgetError($event)">
                </app-send-widget>
                <app-transfer-widget *ngIf="selectedPaymentType===WIDGET_TYPE.Transfer"
                    (onComplete)="widgetComplete($event)" (onError)="widgetError($event)">
                </app-transfer-widget>
            </div>
            <div *ngIf="selectedPaymentType!==WIDGET_TYPE.Deposit && selectedPaymentType!==WIDGET_TYPE.Withdrawal"
                class="__profile-payment-footer">
                <app-risk-warning [warningText]="riskWarningText"></app-risk-warning>
            </div>
        </div>
    </div>
</div>

<!-- Chat button -->
<!-- <div class="__profile-chat-block" *ngIf="!showDetails && !showPayment">
    <button type="button" class="__main-button __main-button-chat" (click)="getChat()">
        <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
            <img width="24" height="24" src="/assets/chat.svg" alt="">
            <span style="margin: 0px 4px 0px 12px;font-size: 14px;">
                chat
            </span>
        </div>
    </button>
</div> -->