<div class="__profile-details-container">
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="!completeMode">
        <h2 class="__profile-details-title __profile-details-title-small">
            {{title}}
        </h2>
        <div class="__profile-details-data-container __profile-details-data-form">
            <div class="__profile-details-data-area">
                <form [formGroup]="createForm" (ngSubmit)="submit()">
                    <!-- Currency -->
                    <div class="__profile-details-item-block">
                        <div class="__profile-details-data-caption">
                            Select coin
                        </div>
                    </div>
                    <div class="__profile-details-item-block">
                        <div class="__form-text-border">
                            <mat-select formControlName="currency" style="margin: 3px 0px 0px 0px;"
                                placeholder="Select coin from your list">
                                <mat-select-trigger>
                                    <div class="__form-finance-combo-item">
                                        <img class="__form-combo-item-img" [src]="selectedCurrency?.img + '.svg'">
                                        <span class="__form-finance-combo-item-text">
                                            {{selectedCurrency?.display}}
                                        </span>
                                    </div>
                                </mat-select-trigger>
                                <mat-option *ngFor="let item of cryptoList" [value]="item.symbol" style="height: 32px;">
                                    <div class="__form-finance-combo-item">
                                        <img class="__form-combo-item-img" [src]="item.img + '.svg'">
                                        <span class="__form-finance-combo-item-text">
                                            {{item.display}}
                                        </span>
                                    </div>
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="__profile-details-item-block">
                        <div *ngIf="!currencyField?.valid && currencyInit" class="__form-assist __form-assist-error">
                            Currency is required
                        </div>
                    </div>
                    <div class="__profile-details-item-block">
                        <div class="__form-separator"></div>
                    </div>

                    <div *ngIf="(selectedCurrency?.currencyBlockchain) && wallets.length>0">
                        <div class="__tool-bar-double-sided-data-box-top">
                            <div class="__tool-bar-block">
                                <div class="__toggle-switch">
                                    <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                                        formControlName="useExistingWallet">
                                </div>
                            </div>
                            <div class="__tool-bar-block">
                                <div class="__tool-bar-label">
                                    &nbsp;&nbsp;&nbsp;Use existing wallet address
                                </div>
                            </div>
                        </div>

                        <div *ngIf="useExistingWallet" class="__profile-details-item-block">
                            <div class="__form-text-border">
                                <mat-select formControlName="existingWallet" style="margin: 8px 0px 0px 0px;"
                                    placeholder="Select existing wallet">
                                    <mat-select-trigger>
                                        <div class="__form-finance-combo-item">
                                            <span class="__form-finance-combo-item-text">
                                                {{selectedWallet}}
                                            </span>
                                        </div>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let item of wallets" [value]="item.walletId" style="height: 32px;">
                                        <div class="__form-finance-combo-item">
                                            <span class="__form-finance-combo-item-text">
                                                {{item.name}}
                                            </span>
                                        </div>
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>

                        <div class="__profile-details-item-block">
                            <div class="__form-separator"></div>
                        </div>
                    </div>

                    <!-- Wallet name -->
                    <app-form-textbox *ngIf="!useExistingWallet" [label]="'Wallet name'" [smallLabel]="true" [boxType]="'text'"
                        [placeholder]="'Enter wallet name'" [maxlength]="50" formControlName="walletName"
                        [errorMessages]="walletNameErrorMessages" [separator]="true">
                    </app-form-textbox>

                    <div class="__profile-details-item-block">
                        <div class="__profile-details-item-value-box __profile-details-item-error">
                            {{errorMessage}}
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="__profile-details-button-container">
                        <button type="submit" class="__main-button" [disabled]="!createForm.valid || inProgress">
                            create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="completeMode">
        <h2 class="__profile-details-title __profile-details-title-small __profile-details-title-center">
            {{title}}
        </h2>
        <div class="__profile-details-data-container">
            <div class="__profile-details-data-area">
                <!-- Name (show) -->
                <div class="__profile-details-item-block">
                    <div class="__profile-details-item-title">
                        Name:
                    </div>
                    <div class="__profile-details-item-value">
                        {{wallet?.nameValue}}
                    </div>
                </div>

                <!-- Address -->
                <div class="__profile-details-item-title-block">
                    <div class="__profile-details-item-title">
                        Address:
                    </div>
                </div>
                <div class="__profile-details-item-value-block">
                    <div class="__profile-details-item-value __profile-details-item-single-value">
                        {{wallet?.address}}
                    </div>
                    <div class="__inline-button-box">
                        <button type="button" class="__inline-button" (click)="copyAddress()">
                            <mat-icon style="font-size: 20px;">content_copy</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>