<div class="__profile-details-container">
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <h2 class="__profile-details-title">
        {{walletData?.name}}
    </h2>
    <div class="__profile-details-data-container">
        <div class="__profile-details-data-area">
            <!-- Name (show) -->
            <div class="__profile-details-item-block" *ngIf="!editMode">
                <div class="__profile-details-item-title">
                    Name:
                </div>
                <div class="__profile-details-item-value">
                    {{walletData?.nameValue}}
                </div>
                <div *ngIf="walletData?.crypto===true" class="__inline-button-box">
                    <button type="button" class="__inline-button" (click)="editName()">
                        <mat-icon style="font-size: 20px;">edit</mat-icon>
                    </button>
                </div>
            </div>
            <!-- Name (edit) -->
            <div class="__profile-details-item-block" *ngIf="editMode">
                <div class="__profile-details-item-title __profile-details-item-title-edit">
                    Name:
                </div>
                <div style="margin: 4px 0px 0px 0px;">
                    <form [formGroup]="editForm">
                        <app-form-editbox [maxlength]="50" formControlName="walletName" (onSubmit)="saveName()">
                        </app-form-editbox>
                    </form>
                </div>
            </div>

            <!-- Symbol -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Symbol:
                </div>
                <div class="__profile-details-item-value-box">
                    {{walletData?.symbol}}
                </div>
            </div>

            <!-- Balance -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Balance:
                </div>
                <div class="__profile-details-item-value-box">
                    {{walletData?.available}}
                </div>
            </div>

            <!-- Total Balance -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Total Balance:
                </div>
                <div class="__profile-details-item-value-box">
                    {{walletData?.total}}
                </div>
            </div>

            <!-- Address -->
            
            <div *ngIf="walletData?.crypto" class="__profile-details-item-value-block" style="margin-bottom: 28px">
                <div *ngIf="walletData?.crypto" class="__profile-details-item-title-block">
                    <div class="__profile-details-item-title">
                        Address:
                    </div>
                </div>
                <div class="__profile-details-item-value __profile-details-item-single-value" style="word-wrap: break-word; max-width: 200px;">
                    {{walletAddressShow}}
                </div>
                <div class="__inline-button-box">
                    <button type="button" class="__inline-button" (click)="copyAddress()">
                        <mat-icon style="font-size: 20px;">content_copy</mat-icon>
                    </button>
                </div>
            </div>

            <!-- Network -->
            <div *ngIf="walletData?.crypto===true" class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Network:
                </div>
                <div class="__profile-details-item-value-box">
                    {{walletData?.fullName}}
                </div>
            </div>

            <!-- Show wallet transactions -->
            <div class="__profile-details-link-block">
                <a [href]="walletTransactionLink" class="__profile-details-link">
                    Show wallet transactions
                </a>
            </div>

            <div class="__profile-details-item-block">
                <div class="__profile-details-item-value-box __profile-details-item-error">
                    {{errorMessage}}
                </div>
            </div>

            <!-- Buttons -->
            <div class="__profile-details-button-container">
                <button type="button" class="__outlined-button" (click)="transactionAction('receive')">
                    <mat-icon style="font-size: 18px;margin-top: 8px;">
                        file_download
                    </mat-icon>
                    <span style="font-weight: 500;">
                        {{receiveButton}}
                    </span>
                </button>
                <button type="button" class="__outlined-button __button-wide-separator" (click)="transactionAction('send')">
                    <mat-icon style="font-size: 18px;margin-top: 8px;">
                        file_upload
                    </mat-icon>
                    <span style="font-weight: 500;">
                        {{sendButton}}
                    </span>
                </button>
            </div>
        </div>

    </div>
</div>