<div class="action-page-split action-page-left-panel split-page-60">
    <div class="back-box">
        <back-button></back-button>
    </div>
    <div class="auth-panel-content">
        <div class="login-form-box">
            <button mat-icon-button>
                <mat-icon>attractions</mat-icon>
            </button>
            <div style="text-align: left;margin-top: 1em;">
                <h3>Information placeholder (merchant)</h3>
            </div>
        </div>
    </div>
</div>

<div class="action-page-split action-page-right-panel split-page-40">
    <div class="auth-panel-content">
        <div class="login-form-box">
            <h2>Register</h2>

            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
            
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <!-- Email -->
                <mat-form-field class="form-element">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" maxlength="60" 
                    placeholder="User email" autocomplete="off" required/>
                    <mat-error *ngIf="this.signupForm.get('email')?.hasError('required')">
                        Please specify your email
                    </mat-error>
                    <mat-error *ngIf="this.signupForm.get('email')?.hasError('pattern')">
                        Email has incorrect format
                    </mat-error>
                </mat-form-field>

                <!-- Nick name -->
                <mat-form-field class="form-element">
                    <mat-label>Nick name</mat-label>
                    <input matInput formControlName="username" maxlength="30" type="search"
                    placeholder="Nick name" required>
                    <mat-error *ngIf="this.signupForm.get('username')?.hasError('required')">
                        Please specify your nick name
                    </mat-error>
                </mat-form-field>

                <!-- Company name -->
                <mat-form-field class="form-element">
                    <mat-label>Company name</mat-label>
                    <input matInput formControlName="companyName" maxlength="50" type="search"
                    placeholder="Company name" required>
                    <mat-error *ngIf="this.signupForm.get('companyName')?.hasError('required')">
                        Please specify a company name
                    </mat-error>
                </mat-form-field>

                <!-- Country -->
                <mat-form-field class="form-element">
                    <mat-label>Country</mat-label>
                    <input type="country" placeholder="Country" aria-label="Country" matInput
                    formControlName="country" [matAutocomplete]="auto" maxlength="40" required>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let c of filteredCountries | async" [value]="c.name">
                            <dropdown-item itemValue="{{c.name}}" imageClass="country-flag"
                            imageSource="assets/svg-country-flags/{{getCountryFlag(c.code)}}"></dropdown-item>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="this.countryField?.hasError('required')">
                        Please specify country
                    </mat-error>
                </mat-form-field>

                <div class="form-element phone-box-split">
                    <!-- Phone code -->
                    <mat-form-field class="phone-box-left-panel">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="phoneCode" maxlength="5" type="search"
                        placeholder="Code" required>
                        <mat-error *ngIf="this.phoneCodeField?.hasError('required')">
                            Required
                        </mat-error>
                        <mat-error *ngIf="this.phoneCodeField?.hasError('pattern')">
                            Bad code
                        </mat-error>
                    </mat-form-field>
                    
                    <!-- Phone number -->
                    <mat-form-field class="phone-box-right-panel">
                        <mat-label>Phone number</mat-label>
                        <input matInput formControlName="phoneNumber" maxlength="10" type="search"
                        placeholder="Number" required>
                        <mat-error *ngIf="this.phoneNumberField?.hasError('required')">
                            Please specify your phone number
                        </mat-error>
                        <mat-error *ngIf="this.phoneNumberField?.hasError('pattern')">
                            Bad phone format
                        </mat-error>
                    </mat-form-field>
                </div>

                <!-- Password -->
                <mat-form-field class="form-element">
                    <mat-label>Password</mat-label>
                    <input [type]="hidePassword1 ? 'password' : 'text'" matInput autocomplete="off" 
                    formControlName="password1" maxlength="30" placeholder="Password" required>
                    <button mat-icon-button matSuffix type="button" 
                    (click)="hidePassword1 = !hidePassword1" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword1"
                    [matTooltip]="hidePassword1 ? 'Show password' : 'Hide password'"
                    matTooltipClass="info-tooltip">
                        <mat-icon>{{hidePassword1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Info'"
                    matTooltip="Password must be at least 8 symbols long, and must contain latin lowercase and uppercase symbols, digits, and special symbols"
                    matTooltipClass="info-tooltip">
                        <mat-icon>info_outline</mat-icon>
                    </button>
                    <mat-error *ngIf="this.getPasswordValidation()!=''">
                        {{getPasswordValidation()}}
                    </mat-error>
                </mat-form-field>

                <!-- Confirm password -->
                <mat-form-field class="form-element">
                    <mat-label>Confirm Password</mat-label>
                    <input [type]="hidePassword2 ? 'password' : 'text'" matInput autocomplete="off" 
                    formControlName="password2" maxlength="30" placeholder="Confirm Password" required>
                    <button mat-icon-button matSuffix type="button" 
                    (click)="hidePassword2 = !hidePassword2" 
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword2"
                    [matTooltip]="hidePassword2 ? 'Show password' : 'Hide password'"
                    matTooltipClass="info-tooltip">
                        <mat-icon>{{hidePassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="this.signupForm.get('password2')?.hasError('required')">
                        Please specify your password
                    </mat-error>
                    <mat-error *ngIf="this.signupForm.get('password2')?.hasError('minlength')">
                        Password must contain at least 8 symbols
                    </mat-error>
                </mat-form-field>

                <div class="form-element">
                    <mat-checkbox color="primary" [checked]="agreementChecked" (change)="checkAgreement()">
                        <span>I agree to the 
                            <a target="_blank" rel="noopener noreferrer" href="/auth/terms">
                                terms and conditions
                            </a>
                        </span>
                    </mat-checkbox>
                </div>

                <div class="form-element">
                    <button class="form-button" type="submit" mat-flat-button color="primary" 
                    [disabled]="!agreementChecked">
                        Sign up
                    </button>
                </div>
            </form>
            <div class="form-error-box" *ngIf="errorMessage!=''">
                {{errorMessage}}
            </div>
            <br>
            <div class="form-element">
                <span>Already have an account?&nbsp;<a href="/auth/login">Sign in</a></span>
            </div>
        </div>
    </div>
</div>