<ng-container *ngIf="data">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <section>
            <app-details-attribute label="Transaction Id" [value]="transactionId"
                [linkUrl]="'/admin/transactions/'+ transactionId"></app-details-attribute>
            <app-details-attribute label="Transaction Created" [value]="data?.created"></app-details-attribute>
            <app-details-attribute label="Transaction Executed" [value]="data?.executed"></app-details-attribute>
            <app-details-attribute label="First Name" [value]="data?.user?.firstName"></app-details-attribute>
            <app-details-attribute label="Last Name" [value]="data?.user?.lastName"></app-details-attribute>
            <app-details-attribute label="Company" [value]="data?.user?.company"></app-details-attribute>
            <app-details-attribute label="Country" [value]="data?.user?.country"></app-details-attribute>
                        
            <mat-form-field *ngIf="data?.address!==''" class="form-element">
                <mat-label>Wallet address</mat-label>
                <input matInput formControlName="address" required/>
                <mat-error *ngIf="form.controls.address.hasError('required')">
                    Address is required
                </mat-error>
            </mat-form-field>

            <app-details-attribute label="Transaction Type" [value]="data?.transactionTypeName"></app-details-attribute>
            <app-details-attribute label="Instrument" [value]="data?.instrumentName"></app-details-attribute>
            <app-details-attribute label="Instrument Details" [value]="data?.instrumentDetails"></app-details-attribute>
            
            <!-- Amount to spend -->
            <mat-form-field class="form-element">
                <mat-label>Amount To Spend</mat-label>
                <input matInput formControlName="amountToSpend" required/>
                <mat-error *ngIf="form.controls.amountToSpend.hasError('required')">
                    Amount is required
                </mat-error>
                <mat-error *ngIf="form.controls.amountToSpend.hasError('pattern')">
                    Incorrect number value
                </mat-error>
            </mat-form-field>

            <!-- Currency to spend -->
            <mat-form-field class="form-element">
                <mat-label>Currency to spend</mat-label>
                <mat-select formControlName="currencyToSpend" required>
                    <mat-option *ngFor="let item of currenciesToSpend" [value]="item.id">
                        {{item.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Amount to receive -->
            <mat-form-field class="form-element">
                <mat-label>Amount To Receive</mat-label>
                <input matInput formControlName="amountToReceive" required/>
                <mat-error *ngIf="form.controls.amountToReceive.hasError('required')">
                    Amount is required
                </mat-error>
                <mat-error *ngIf="form.controls.amountToReceive.hasError('pattern')">
                    Incorrect number value
                </mat-error>
            </mat-form-field>

            <!-- Currency to receive -->
            <mat-form-field class="form-element">
                <mat-label>Currency to receive</mat-label>
                <mat-select formControlName="currencyToReceive" required>
                    <mat-option *ngFor="let item of currenciesToReceive" [value]="item.id">
                        {{item.id}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Rate -->
            <mat-form-field class="form-element">
                <mat-label>Exchange rate</mat-label>
                <input matInput formControlName="rate" required/>
                <mat-error *ngIf="form.controls.rate.hasError('required')">
                    Rate is required
                </mat-error>
                <mat-error *ngIf="form.controls.rate.hasError('pattern')">
                    Incorrect number value
                </mat-error>
            </mat-form-field>

            <app-details-attribute label="Transaction status" [value]="data?.transactionStatusName">
            </app-details-attribute>
            <app-details-attribute label="Transaction fees" [value]="(data?.fees | number: '1.0-5') + ' EUR'">
            </app-details-attribute>
            <app-details-attribute label="IP Address" [value]="data?.ip"></app-details-attribute>
            <app-details-attribute label="Initiated from" [value]="data?.transactionSourceName"></app-details-attribute>
            <app-details-attribute label="Wallet type" [value]="data?.userModeName"></app-details-attribute>
        </section>

        <section>
            <h2>AML Checks</h2>
            <app-details-attribute label="Account ID" [value]="data?.user?.id"></app-details-attribute>
            <app-details-attribute label="KYC Status" [value]="data?.kycStatus"></app-details-attribute>
        </section>

        <div class="panel-actions">
            <button mat-flat-button color="primary" type="submit">
                SAVE
            </button>
            <button *ngIf="removable" mat-flat-button color="warn" (click)="onDeleteTransaction()">
                DELETE
            </button>
            <button *ngIf="cancelable" mat-flat-button (click)="onCancel()">
                CANCEL
            </button>
        </div>
    </form>
</ng-container>