<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <div class="card card-body pd-20 pd-md-40 border shadow-none">
      <app-admin-details-item label="Balance" [value]="walletData?.balance"></app-admin-details-item>
      <app-admin-details-item label="Currency" [value]="walletData?.asset"></app-admin-details-item>
      <app-admin-details-item label="Wallet created" [value]="walletData?.created"></app-admin-details-item>
      <app-admin-details-item label="User" [value]="walletData?.userId"></app-admin-details-item>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <button *ngIf="permission>1" class="btn btn-outline-primary pd-x-30" type="button" (click)="close.emit()">
        Close
      </button>
    </div>
  </div>
</div>