<div class="file-upload-wrapper">
    <mat-form-field>
        <mat-toolbar>
            <div class="file-input-wrapper">
                <input matInput readonly name="fileName" [(ngModel)]="fileName" />
                <button class="btn btn-primary" type="button"> Browse File</button>
            </div>  
        </mat-toolbar>
          <input
            #fileInput
            type="file"
            id="uploadFile"
            name="uploadFile"
            [multiple]="multiple"
            [accept]="requiredFileType"
            (change)="onFileSelected($event)"
          />
    </mat-form-field>
</div>