<div class="file-upload-wrapper">
    <mat-form-field>
        <mat-toolbar>
            <div class="file-input-wrapper">
                <input matInput [(ngModel)]="fileName" readonly name="fileName" />
                <button class="btn btn-primary" type="button"> Browse File</button>
            </div>  
        </mat-toolbar>
          <input
            type="file"
            #fileInput
            id="uploadFile"
            (change)="onFileSelected($event)"
            name="uploadFile"
            [accept]="requiredFileType"
          />
    </mat-form-field>
</div>