<div class="__profile-details-container">
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <!-- Name (title) -->
    <div class="__profile-details-item-block" *ngIf="!editMode">
        <h2 class="__profile-details-title-editable">
            {{contact?.displayName}}
        </h2>
        <div class="__inline-title-button-box">
            <button type="button" class="__inline-button" (click)="editName()">
                <mat-icon style="font-size: 20px;">edit</mat-icon>
            </button>
        </div>
    </div>
    <!-- Name (edit) -->
    <div class="__profile-details-item-block" *ngIf="editMode">
        <div style="margin: 4px 0px 0px 16px;">
            <form [formGroup]="editForm">
                <app-form-editbox [maxlength]="70" formControlName="displayName" (onSubmit)="saveName()">
                </app-form-editbox>
            </form>
        </div>
    </div>
    <!-- Show data -->
    <div *ngIf="!deleteMode" class="__profile-details-data-container">
        <div class="__profile-details-data-area">
            <!-- Added -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Date Added:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.created}}
                </div>
            </div>

            <!-- Name -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    User Name:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.displayName}}
                </div>
            </div>

            <!-- Email -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Email:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.contactEmail}}
                </div>
            </div>

            <!-- Coin -->
            <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Wallet Coin:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.asset}}
                </div>
            </div>

            <!-- Total sent -->
            <!-- <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Total Sent:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.sent}}
                </div>
            </div> -->

            <!-- Total received -->
            <!-- <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Total Received:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.received}}
                </div>
            </div> -->

            <!-- last Transaction Date -->
            <!-- <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Last Transaction:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.lastTransactionDate}}
                </div>
            </div> -->

            <!-- last Transaction Status -->
            <!-- <div class="__profile-details-item-grid">
                <div class="__profile-details-item-title-box">
                    Status:
                </div>
                <div class="__profile-details-item-value-box">
                    {{contact?.lastTransactionStatus}}
                </div>
            </div> -->

            <div class="__form-separator"></div>

            <!-- Buttons -->
            <div class="__profile-details-button-container">
                <button type="button" class="__outlined-button" (click)="receiveStart()">
                    <mat-icon style="font-size: 18px;margin-top: 8px;">
                        file_download
                    </mat-icon>
                    <span style="font-weight: 500;">
                        Receive
                    </span>
                </button>
                <button type="button" class="__outlined-button __button-wide-separator" (click)="sendStart()">
                    <mat-icon style="font-size: 18px;margin-top: 8px;">
                        file_upload
                    </mat-icon>
                    <span style="font-weight: 500;">
                        Send
                    </span>
                </button>
            </div>
        </div>
        <div class="__profile-details-footer">
            <a [routerLink]="" class="__profile-details-link __profile-details-link-accent"
                (click)="requestDeleteContact()">
                Delete contact
            </a>
        </div>
    </div>
    <div *ngIf="deleteMode" class="__profile-details-data-container">
        <div class="__profile-details-data-area">
            <div class="__profile-details-subtitle">
                You are going to delete the contact. Please confirm.
            </div>

            <!-- Buttons -->
            <div class="__profile-details-button-container">
                <button type="button" class="__outlined-button" (click)="cancelDelete()">
                    CANCEL
                </button>
                <button type="button" class="__main-button __main-button-danger __button-wide-separator"
                    (click)="deleteContact()">
                    DELETE
                </button>
            </div>
        </div>
    </div>
</div>