<div class="checkout-summary-box">
    <h2>Summary</h2>
    <div *ngIf="summary?.orderId!==''">
        <label class="checkout-summary-lable">Order Id</label>
        <div class="checkout-summary-value">
            {{summary?.orderId}}
        </div>
    </div>
    <div *ngIf="summary?.email!==''">
        <label class="checkout-summary-lable">Email</label>
        <div class="checkout-summary-value">
            {{summary?.email}}
        </div>
    </div>
    <label class="checkout-summary-lable">{{summary?.currencyFrom}} amount</label>
    <div class="checkout-summary-value">
        {{summary?.amountFrom}}
    </div>
    <label class="checkout-summary-lable">{{summary?.currencyTo}} amount</label>
    <div class="checkout-summary-value">
        {{summary?.amountTo}}
    </div>
    <div *ngIf="summary?.address!==''">
        <label class="checkout-summary-lable">{{summary?.currencyTo}} wallet</label>
        <div class="checkout-summary-value">
            {{summary?.address}}
        </div>
    </div>
    <div *ngIf="fee!==''">
        <label class="checkout-summary-lable">{{feeTitle}}</label>
        <div class="checkout-summary-value">
            {{fee}}
        </div>
    </div>
</div>