.checkout-summary-box {
    margin-top: 1.5em;

    h2 {
        margin-bottom: 0.5em;
    }
}

.checkout-summary-lable {
    margin-left: 0.1em;
    font-size: 12px;
    /* Grey 2 800 */
    color: #3B4D5A;
}

.checkout-summary-value {
    margin-bottom: 0.5em;
}