<div *ngIf="summary?.initialized" class="checkout-summary-box">
    <h2>Summary</h2>
    <label class="checkout-summary-lable">Order Id</label>
    <div class="checkout-summary-value">
        {{summary?.orderId}}
    </div>
    <label class="checkout-summary-lable">Email</label>
    <div class="checkout-summary-value">
        {{summary?.email}}
    </div>
    <label class="checkout-summary-lable">{{summary?.currencyFrom}} amount</label>
    <div class="checkout-summary-value">
        {{summary?.amountFrom}}
    </div>
    <label class="checkout-summary-lable">{{summary?.currencyTo}} amount</label>
    <div class="checkout-summary-value">
        {{summary?.amountTo}}
    </div>
    <label class="checkout-summary-lable">{{summary?.currencyTo}} wallet</label>
    <div class="checkout-summary-value">
        {{summary?.address}}
    </div>
    <label class="checkout-summary-lable">Fees</label>
    <div class="checkout-summary-value">
        {{summary?.fees}}%
    </div>
</div>