<div class="checkout-summary-box">
    <h2>Make a Payment with Bank Transfer</h2>
    <div>
        <p>
            <span>
                <mat-icon class="icon-block">info</mat-icon>
            </span>
            Please send your deposit amount using the bank details below:
        </p>
    </div>
    <div *ngIf="summary?.card!==null">
        <div>
            <label class="checkout-summary-label">Bank Name</label>
            <div class="checkout-summary-value">
                {{summary?.card?.bankName}}
            </div>
        </div>
        <div>
            <label class="checkout-summary-label">Card Number</label>
            <div class="checkout-summary-value">
                <div style="display: inline;">
                    <img class="payment-logo" [src]="summary?.card?.cardInfo?.imgSource"/>
                    {{summary?.card?.secureCardNumber}}
                </div>
            </div>
        </div>
        <div>
            <label class="checkout-summary-label">Cardholder Name</label>
            <div class="checkout-summary-value">
                {{summary?.card?.holderName}}
            </div>
        </div>
        <div>
            <label class="checkout-summary-label">Card expired</label>
            <div class="checkout-summary-value">
                {{summary?.card?.cardExpired}}
            </div>
        </div>
        <div>
            <label class="checkout-summary-label">Processor Name</label>
            <div class="checkout-summary-value">
                {{summary?.card?.processor}}
            </div>
        </div>
    </div>

    
    <!-- <div>
        <label class="checkout-summary-label">Bank Address</label>
        <div class="checkout-summary-value">
            <div style="color: darkred;">Bank address</div>
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">SWIFT Code</label>
        <div class="checkout-summary-value">
            <div style="color: darkred;">MIEGLT21</div>
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Beneficiary</label>
        <div class="checkout-summary-value">
            <div style="color: darkred;">Deck Labs OU</div>
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Account Number</label>
        <div class="checkout-summary-value">
            <div style="color: darkred;">LT156461651847986461</div>
        </div>
    </div> -->
    <div>
        <label class="checkout-summary-label">Add Reference</label>
        <div class="checkout-summary-value">
            Cryptocurrency Purchase {{summary?.orderId}}
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">{{amountTitle}}</label>
        <div class="checkout-summary-value">
            {{summary?.amountTo}} {{summary?.currencyTo}}
        </div>
    </div>

    <div style="display: flex;background-color: #B2C2CF;margin-top: 1em;margin-bottom: 1em;padding: 0.5em;">
        <div style="width: 2em;">
            <mat-icon class="icon-block">report_problem</mat-icon>
        </div>
        <div>
            <p>Above you will find all the details you need to complete your purchase.</p>
            <p>Remember,</p>
            <ul>
                <li>The name on your bank account must match the name on your Coindeck account.</li>
                <li>
                    Transfer fees (charged by your bank) are your responsibility. Some banks deduct the fees from the
                    amount being transferred so it is important you insist the exact amount be transferred.
                </li>
                <li>
                    Cryptocurrency rates can change radically so it is important that you send your transfer as soon as
                    possible to keep your rate. The exact exchange rate will be calculated when the transfer is
                    received.
                </li>
            </ul>
            <div>
                It is very important you include your Coindeck Order ID number as a descriptor or reference with your
                wire. Your Order ID number: {{summary?.orderId}}
            </div>
        </div>
    </div>

    <h2>Order confirmation {{summary?.orderId}}</h2>
    <div>
        <label class="checkout-summary-label">Status</label>
        <div class="checkout-summary-value">
            {{summary?.status}}
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Date</label>
        <div class="checkout-summary-value">
            {{summary?.transactionDate}}
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Exchange Rate</label>
        <div class="checkout-summary-value">
            {{rate}}
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Processing Fee</label>
        <div class="checkout-summary-value">
            {{fee}} EUR
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Total Received</label>
        <div class="checkout-summary-value">
            ~{{summary?.amountTo}} {{summary?.currencyTo}}
        </div>
    </div>
    <div>
        <label class="checkout-summary-label">Total Spent</label>
        <div class="checkout-summary-value">
            {{summary?.amountFrom}} {{summary?.currencyFrom}}
        </div>
    </div>
    <!-- <h2>Payment</h2>
    <div>
        <label class="checkout-summary-label">Bank Transfer</label>
        <div class="checkout-summary-value">
            <div style="color: darkred;">UAB Mistertango</div>
        </div>
    </div> -->
</div>