.exchange-rate-panel {
    margin-top: 1.1em;
}

.exchange-rate-from {
    /* Grey 5 900 */
    color: #1E2025;
    font-size: 18px;
}

.exchange-rate-to {
    padding-top: 0.5em;
    /* Grey 2 900 */
    color: #293742;
    font-size: 24px;
    font-weight: bold;
}

.exchange-rate-loader {
    margin-top: 1em;
    display: flex;
}

.exchange-rate-indicator {
    margin-top: 3px;
    width: 40px;
}

.exchange-rate-loading-info {
    margin-left: 3px;
    font-size: 12px;
}

.exchange-rate-loading-error {
    /* 7 900 */
    color: #B71B1C;
}