.kyc-panel-split {
    display   : flex;
    //height  : 100%;
    //overflow: auto;
}

.kyc-panel-left-panel {
    padding      : 0em;
    padding-top  : 0.5em;
    padding-right: 1em;
    width        : 35%;
    min-width    : 5em;
    //height   : 100%;
    //overflow : auto;
}

.kyc-panel-right-panel {
    padding           : 0em;
    width             : 65%;
    max-width         : 65%;
    //height          : 100%;
    //overflow        : auto;
}

