<!-- <div class="kyc-panel-split">
    <div class="kyc-panel-left-panel">
        <div class="kyc-panel-title">
            {{level?.name}}
        </div>
        <div class="kyc-panel-title-line"></div>
        <div class="kyc-panel-info-block" [innerHTML]="description | linebreak"></div>
        <button (click)="load(level?.flowData?.value)">Load</button>
    </div>
    <div class="kyc-panel-right-panel">
        <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
        <div id="sumsub-websdk-container"></div>
    </div>
</div> -->


Test