<div *ngIf="inProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<div class="form-element" *ngIf="errorMessage !== ''">
    <div class="form-error-box">
        {{ errorMessage }}
    </div>
</div>
<div *ngIf="!twoFaEnabled">
    <div class="form-element">
        <span>Download and install the Google Authenticator application</span>
    </div>
    <div class="form-element">
        <div class="two-fa-store-section">
            <a target="_blank" rel="noopener noreferrer" [href]="GA_APP_STORE_URL" class="store-button">
                <img alt="a" src="assets/ga-app-store.svg" height="40px">
            </a>
            <a target="_blank" rel="noopener noreferrer" [href]="GA_GOOGLE_PLAY_URL" class="store-button">
                <img alt="G" src="assets/ga-google-play.svg" height="40px">
            </a>
        </div>
    </div>
    <div class="form-element">
        <span>Scan this QR code in the Google Authenticator application</span>
    </div>
    <qrcode [qrdata]="qr" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <div class="form-element">
        <span>
            If you are unable to scan the QR code, please enter this code manually into the application
        </span>
    </div>
    <mat-form-field class="form-element">
        <mat-label>QR Code</mat-label>
        <input type="text" matInput [ngModel]="qr" disabled />
        <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Copy to clipboard'"
            [cdkCopyToClipboard]="qr" matTooltip="Copy to clipboard" matTooltipClass="info-tooltip">
            <mat-icon>content_copy</mat-icon>
        </button>
    </mat-form-field>
    <div class="form-element">
        <span class="two-fa-warning">
            Please keep this Key in a safe place.
        </span>
        <br>
        <span>
            This Key will allow you to recover your Google Authenticator in case of phone loss
        </span>
    </div>
</div>
<div class="two-fa-confirm-code-block">
    <div class="form-element">
        <span>
            Enter the generated code in the input below
        </span>
    </div>

    <form [formGroup]="codeForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-element">
            <mat-label>Confirmation Code</mat-label>
            <input type="text" matInput formControlName="code" />
            <mat-error *ngIf="this.codeForm.get('code')?.hasError('required')">
                Please enter your Confirmation Code
            </mat-error>
        </mat-form-field>

        <div class="form-element">
            <button class="main-button main-button-accent" type="submit">{{buttonTitle}}</button>
        </div>
    </form>
</div>