:host {
  display: block;
  width: 480px;
  padding: 16px 24px;
}

.__bank-account-radio-group {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
}

.__bank-account-radio-button {
  margin: 5px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 24px;
}

.__bank-account-label {
  font-weight: 300;
  font-size: 13px;
}