<div class="__widget-data-box">
    <div *ngIf="!success">
        <span class="__widget-page-header">
           {{'widget-registration.title' | transloco}}
        </span>
        <app-signup-panel [widget]="true" [userType]="userType" [userName]="email" [wizardButtons]="true"
            [errorMessage]="errorMessage" (error)="registerError($event)" (progressChange)="onProgress.emit($event)"
            (onBack)="onBack.emit()" (registered)="registerComplete()">
        </app-signup-panel>
    </div>
    
    <div *ngIf="success" class="__auth-disclaimer-area">
        <div class="__auth-disclaimer-container">
            <span class="__auth-disclaimer-line">
                {{'widget-registration.success_title' | transloco}}
            </span>
        </div>
        <div class="__auth-disclaimer-container">
            <span class="__auth-disclaimer-line">
                {{'widget-registration.success_msg-1' | transloco}} <span class="__widget-fake-link">{{email}}</span>.
            </span>
            <br>
            <span class="__auth-disclaimer-line">
                {{'widget-registration.success_msg-2' | transloco}}
            </span>
        </div>
    </div>
    <div *ngIf="success" class="__widget-buttons-area">
        <button class="__main-button" type="button" (click)="onComplete.emit(email)">
            {{'global.widget_btn-next' | transloco}}
        </button>
    </div>
</div>