$color_white: #FFFFFF;
$color_black: #000000;
$color_grey: rgba(54, 44, 54, 0.6);

$color_pink_900: #7C1F45;
$color_pink_800: #A1264D;
$color_pink_700: #B62B51;
$color_pink_600: #CB2F55;
$color_pink_500: #DB3358;
$color_pink_400: #E1496E;
$color_pink_300: #E86687;
$color_pink_200: #EF90A8;
$color_pink_100: #F5BBCB;
$color_pink_50: #FBE4EA;

$color_green_900: #075737;
$color_green_800: #147351;
$color_green_700: #1C835F;
$color_green_600: #22946E;
$color_green_500: #26A17B;
$color_green_400: #3BB08C;
$color_green_300: #5BBF9F;
$color_green_200: #88D1BA;
$color_green_100: #B6E3D5;
$color_green_50: #E1F4EE;

$color_orange_900: #DB5113;
$color_orange_800: #E66A15;
$color_orange_700: #EC7916;
$color_orange_600: #F38818;
$color_orange_500: #F7931A;
$color_orange_400: #F9A331;
$color_orange_300: #FAB352;
$color_orange_200: #FBC983;
$color_orange_100: #FDDEB3;
$color_orange_50: #FEF2E1;

$color_purple_900_text: rgba(54, 44, 54, 0.75);
$color_purple_900_icons: rgba(54, 44, 54, 0.6);
$color_purple_800: #463944;
$color_purple_700: #564451;
$color_purple_600: #665060;
$color_purple_500: #72596A;
$color_purple_400: #85727F;
$color_purple_300: #998C95;
$color_purple_200: #B4AEB2;
$color_purple_100: #D0CFCF;
$color_purple_50: #ECECEC;

$color_secondary_blue_900: #314F89;
$color_secondary_blue_800: #3E6CA9;
$color_secondary_blue_700: #467CBB;
$color_secondary_blue_600: #508ECE;
$color_secondary_blue_500: #589CDB;
$color_secondary_blue_400: #68A9E0;
$color_secondary_blue_300: #7EB9E5;
$color_secondary_blue_200: #9ECDED;
$color_secondary_blue_100: #C2E0F4;
$color_secondary_blue_50: #E6F3FA;


$color_main_blue_900: #06509E;
$color_main_blue_800: #0070C0;
$color_main_blue_700: #0081D4;
$color_main_blue_600: #0094E9;
$color_main_blue_500: #00A2F8;
$color_main_blue_400: #19B0FA;
$color_main_blue_300: #47BEFB;
$color_main_blue_200: #7ED0FD;
$color_main_blue_100: #B2E3FE;
$color_main_blue_50: rgba(224, 244, 255, 0.3);
