.menu-bar {
    position: fixed;
    box-sizing      : border-box;
    -moz-box-align  : center;
    align-items     : center;
    -moz-box-pack   : justify;
    width           : 1366px;
    height          : 96px;
    background-color: #E5E5E5;
    padding         : 24px;
    z-index: 100;
}

.menu-content-bar {
    margin         : auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
}

.menu-box {
    margin: 0 0em;

}

.menu-delimiter {
    margin: 0 1.5em;
}