@import "./fonts.scss";
@import "./colors.scss";

$top-menu-height: 64;

.__top-menu-bar {
    display: flex;
    justify-content: flex-end;
    box-sizing      : border-box;
    -moz-box-align  : center;
    align-items     : center;
    -moz-box-pack   : justify;
    height          : $top-menu-height + px;
    padding         : 24px;
    background-color: $color_white;
}

.menu-bar {
    position: fixed;
    box-sizing      : border-box;
    -moz-box-align  : center;
    align-items     : center;
    -moz-box-pack   : justify;
    width           : 1366px;
    height          : 96px;
    background-color: $color_white;
    padding         : 24px;
    z-index: 100;
}

.menu-content-bar {
    margin         : auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
}

.menu-box {
    margin: 0 0em;

}

.menu-delimiter {
    margin: 0 1.5em;
}