@import "./fonts.scss";
@import "./colors.scss";
@import "./menu.scss";
@import "./consts.scss";

.__profile-container {
    display: flex;
}

.__profile-side-menu {
    width           : $side_menu_narrow_width_lg + px;
    min-height      : ($max_height - $top_menu_height - 10) + px;
    background-color: $color_white;
    
    @media (max-width: $md1 + px) {
        width     : $side_menu_narrow_width_sm + px;
        min-height: ($min_height - $top_menu_height) + px;
    }

    @media (max-width: $md2 + px) {
        width     : $side_menu_narrow_width_sm + px;
        min-height: $min_height + px;
    }

    @media (max-width: $md3 + px) {
        width     : 0px;
        visibility: hidden;
    }
}

.__profile-content {
    background-color: $color_white;
    width           : 100%;
    padding         : 0px 16px;

    @media (max-width: $md1 + px) {
        width           : 100%;
        padding: 0px;
    }
    
    @media (max-width: $md2 + px) {
        width           : 100%;
        padding: 0px;
    }

    @media (max-width: $md3 + px) {
        padding         : 0px;
        width           : 0px;
        visibility      : hidden;
    }
}

.__profile-side-menu-expanded {
    width           : $side_menu_width_lg + px;
    min-height      : ($max_height - $top_menu_height - 10) + px;
    background-color: $color_white;

    @media (max-width: $md1 + px) {
        width: $side_menu_width_sm + px;
        min-height: ($min_height - $top_menu_height) + px;
    }
    
    @media (max-width: $md2 + px) {
        width: $side_menu_width_sm + px;
        min-height: $min_height + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__profile-content-expanded {
    background-color: $color_white;
    width           : 100%;
    padding         : 0px 16px;

    @media (max-width: $md1 + px) {
        padding: 0px;
        width: 100%;
    }
    
    @media (max-width: $md2 + px) {
        padding: 0px;
        width: 100%;
    }

    @media (max-width: $md3 + px) {
        padding         : 0px;
        width           : 0px;
        visibility      : hidden;
    }
}

.__profile-top-menu-logo-box {
    text-align      : center;
    width           : ($side_menu_width_lg - 48) + px;

    @media (max-width: $md1 + px) {
        width: ($side_menu_width_sm - 48) + px;
    }
    
    @media (max-width: $md2 + px) {
        width: ($side_menu_width_sm - 48) + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__profile-details-block {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 200;
    padding: 0px;
    display: flex;
    justify-content: right;
    align-items: baseline;
}

.__profile-details-container {
    width: $details_pane_width + px;
    height: 100%;
    background-color: $color_white;
    box-shadow: 0px 8px 11px rgba(208, 207, 207, 0.2), 0px 17px 26px rgba(208, 207, 207, 0.14), 0px 6px 32px rgba(0, 0, 0, 0.12);
}

.__profile-unsupported-device {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align      : center;
    background-color: $color_white;
    width           : 0px;
    visibility      : hidden;

    @media (max-width: $md3 + px) {
        width: 100%;
        visibility: visible;
    }
}

.__profile-unsupported-device-title {
    margin: 48px;
    text-align: center;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    
    color: $color_purple_900_text;
}

.__profile-data-container {
    display: block;
    margin: 0px 24px 24px 24px;
}

.__profile-data-table {
    width: 100%;
    background-color: $color_white;
}

.__profile-table-column {
    word-wrap: break-word;
    white-space: unset;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    height: 48px;
    padding: 0px !important;
}

.__profile-table-header {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 14px;
    color: $color_purple_200;
    margin-left: 4px;
}

.__profile-table-details-table {
    display: flex;
    justify-content: end;
}

.__profile-disabled-block {
    opacity: 0.6;
}

// .__profile-details-container {
//     position: relative;
//     left: 100px;
//     width: 400px;
//     height: 100%;
//     background-color: $color_white;
//     box-shadow: 0px 8px 11px rgba(208, 207, 207, 0.2), 0px 17px 26px rgba(208, 207, 207, 0.14), 0px 6px 32px rgba(0, 0, 0, 0.12);
// }