@import "./fonts.scss";
@import "./colors.scss";
@import "./menu.scss";
@import "../styles.scss";

$side_menu_narrow_width_sm: 134;
$side_menu_width_sm: 244;
$side_menu_narrow_width_lg: 140;
$side_menu_width_lg: 336;

.__profile-container {
    display: flex;
}

.__profile-side-menu {
    width           : $side_menu_narrow_width_lg + px;
        background-color: $color_white;

    @media (max-width: $md1 + px) {
        width: $side_menu_narrow_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        width: $side_menu_narrow_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
    }
}

.__profile-content {
    background-color: $color_white;
    width           : ($max_width_container - $side_menu_narrow_width_lg) + px;

    @media (max-width: $md1 + px) {
        width: ($mid_width_container - $side_menu_narrow_width_sm) + px;
    }
    
    @media (max-width: $md2 + px) {
        width: ($mid_width_container - $side_menu_narrow_width_sm) + px;
    }

    @media (max-width: $md3 + px) {
        width: $out_width_container + px;
    }
}

.__profile-side-menu-expanded {
    width           : $side_menu_width_lg + px;
    background-color: $color_white;

    @media (max-width: $md1 + px) {
        width: $side_menu_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        width: $side_menu_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
    }
}

.__profile-content-expanded {
    background-color: $color_white;
    width           : ($max_width_container - $side_menu_width_lg) + px;

    @media (max-width: $md1 + px) {
        width: ($mid_width_container - $side_menu_width_sm) + px;
    }
    
    @media (max-width: $md2 + px) {
        width: ($mid_width_container - $side_menu_width_sm) + px;
    }

    @media (max-width: $md3 + px) {
        width: $out_width_container + px;
    }
}

.__profile-top-menu-logo-box {
    text-align      : center;
    width           : ($side_menu_width_lg - 48) + px;

    @media (max-width: $md1 + px) {
        width: ($side_menu_width_sm - 48) + px;
    }
    
    @media (max-width: $md2 + px) {
        width: ($side_menu_width_sm - 48) + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
    }
}
