<div class="__intro-container">
    <div class="__intro-login-container">
        <div class="__intro-login-title-container">
            <img class="__intro-logo __intro-logo-link" src="../assets/logo-color.png" alt="GetCoins" width="180"
                (click)="routeTo('/')">
            <div class="__intro-login-buttons-area">
                <button class="__main-button" type="button" (click)="routeTo('/personal/auth/login')">
                    log in
                </button>
                <button class="__outlined-button __button-wide-separator" type="button"
                    (click)="routeTo('/personal/auth/register')">
                    SIGN UP
                </button>
            </div>
            <div class="__intro-menu-button-area">
                <input #intro_menu_toggle id="intro_menu_toggle" type="checkbox" />
                <label class="__intro-menu-button" for="intro_menu_toggle">
                    <span></span>
                </label>
                <ul class="__intro-menu-panel">
                    <li>
                        <a class="__intro-menu-item" href="/personal/auth/login">
                            Login
                        </a>
                    </li>
                    <div class="__top-menu-hamburger-separator"></div>
                    <li>
                        <a class="__intro-menu-item" href="/personal/auth/register">
                            Sign Up
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="__intro-terms-container">
        <div class="__intro-terms-data-container">
            <div class="__intro-terms-title-container">
                <h2 class="__intro-header-2-sm">
                    {{title}}
                </h2>
            </div>
            <div class="__intro-terms-data-content">
                <p class="__intro-regular-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie a iaculis. Lorem donec massa
                    sapien faucibus et. Eu turpis egestas pretium aenean pharetra magna. Eleifend donec pretium
                    vulputate sapien nec sagittis aliquam malesuada. Est ante in nibh mauris cursus mattis. Urna
                    condimentum mattis pellentesque id nibh tortor. Tellus pellentesque eu tincidunt tortor aliquam
                    nulla facilisi cras fermentum. Et tortor at risus viverra adipiscing. Vestibulum rhoncus est
                    pellentesque elit ullamcorper dignissim. Nec dui nunc mattis enim ut tellus. Vivamus arcu felis
                    bibendum ut tristique et egestas. Et pharetra pharetra massa massa ultricies mi quis hendrerit
                    dolor.
                </p>
            </div>
            <div class="__intro-terms-data-content">
                <p class="__intro-regular-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie a iaculis. Lorem donec massa
                    sapien faucibus et. Eu turpis egestas pretium aenean pharetra magna. Eleifend donec pretium
                    vulputate sapien nec sagittis aliquam malesuada. Est ante in nibh mauris cursus mattis. Urna
                    condimentum mattis pellentesque id nibh tortor. Tellus pellentesque eu tincidunt tortor aliquam
                    nulla facilisi cras fermentum. Et tortor at risus viverra adipiscing. Vestibulum rhoncus est
                    pellentesque elit ullamcorper dignissim. Nec dui nunc mattis enim ut tellus. Vivamus arcu felis
                    bibendum ut tristique et egestas. Et pharetra pharetra massa massa ultricies mi quis hendrerit
                    dolor.
                </p>
            </div>
            <div class="__intro-terms-data-content">
                <p class="__intro-regular-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie a iaculis. Lorem donec massa
                    sapien faucibus et. Eu turpis egestas pretium aenean pharetra magna. Eleifend donec pretium
                    vulputate sapien nec sagittis aliquam malesuada. Est ante in nibh mauris cursus mattis. Urna
                    condimentum mattis pellentesque id nibh tortor. Tellus pellentesque eu tincidunt tortor aliquam
                    nulla facilisi cras fermentum. Et tortor at risus viverra adipiscing. Vestibulum rhoncus est
                    pellentesque elit ullamcorper dignissim. Nec dui nunc mattis enim ut tellus. Vivamus arcu felis
                    bibendum ut tristique et egestas. Et pharetra pharetra massa massa ultricies mi quis hendrerit
                    dolor.
                </p>
            </div>
            <div class="__intro-terms-data-content">
                <p class="__intro-regular-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie a iaculis. Lorem donec massa
                    sapien faucibus et. Eu turpis egestas pretium aenean pharetra magna. Eleifend donec pretium
                    vulputate sapien nec sagittis aliquam malesuada. Est ante in nibh mauris cursus mattis. Urna
                    condimentum mattis pellentesque id nibh tortor. Tellus pellentesque eu tincidunt tortor aliquam
                    nulla facilisi cras fermentum. Et tortor at risus viverra adipiscing. Vestibulum rhoncus est
                    pellentesque elit ullamcorper dignissim. Nec dui nunc mattis enim ut tellus. Vivamus arcu felis
                    bibendum ut tristique et egestas. Et pharetra pharetra massa massa ultricies mi quis hendrerit
                    dolor.
                </p>
            </div>
            <div class="__intro-terms-data-content">
                <p class="__intro-regular-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ante in nibh mauris cursus mattis molestie a iaculis. Lorem donec massa
                    sapien faucibus et. Eu turpis egestas pretium aenean pharetra magna. Eleifend donec pretium
                    vulputate sapien nec sagittis aliquam malesuada. Est ante in nibh mauris cursus mattis. Urna
                    condimentum mattis pellentesque id nibh tortor. Tellus pellentesque eu tincidunt tortor aliquam
                    nulla facilisi cras fermentum. Et tortor at risus viverra adipiscing. Vestibulum rhoncus est
                    pellentesque elit ullamcorper dignissim. Nec dui nunc mattis enim ut tellus. Vivamus arcu felis
                    bibendum ut tristique et egestas. Et pharetra pharetra massa massa ultricies mi quis hendrerit
                    dolor.
                </p>
            </div>
        </div>
    </div>
    <div class="__intro-footer-sticky-container">
        <div class="__intro-footer-policy-list">
            <a class="__intro-policy-link" href="/terms/main">
                Terms of Use
            </a>
            <span class="__intro-policy-link-separator">|</span>
            <a class="__intro-policy-link" href="/terms/privacy">
                Privacy Policy
            </a>
            <span class="__intro-policy-link-separator __intro-policy-link-middle-separator">|</span>
            <a class="__intro-policy-link" href="/terms/cookie">
                Cookie Policy
            </a>
            <span class="__intro-policy-link-separator">|</span>
            <a class="__intro-policy-link" href="/terms/aml">
                AML/CTF Policy
            </a>
        </div>
        <div class="__intro-footer-payment-block">
            <div class="__intro-footer-payment-icon __intro-footer-payment-visa"></div>
            <div class="__intro-footer-payment-icon __intro-footer-payment-mastercard"></div>
            <div class="__intro-footer-payment-icon __intro-footer-payment-paypal"></div>
            <div class="__intro-footer-payment-icon __intro-footer-payment-americanexpress"></div>
            <div class="__intro-footer-payment-icon __intro-footer-payment-discover"></div>
            <div class="__intro-footer-payment-icon __intro-footer-payment-jcb"></div>
        </div>
        <div class="__intro-copyright">
            All rights reserved © 2021-2022 GetCoin.com
        </div>
    </div>
</div>