<mat-tab-group class="form-element" color="primary" animationDuration="0" [selectedIndex]="selectedTab"
    (selectedIndexChange)="setSelectedTab($event)">
    <!-- Common tab -->
    <mat-tab>
        <ng-template mat-tab-label>
            <app-tab-label labelText="Common"></app-tab-label>
        </ng-template>
        <app-common-settings [permission]="permission">
        </app-common-settings>
    </mat-tab>
    <!-- API Keys tab -->
    <mat-tab>
        <ng-template mat-tab-label>
            <app-tab-label labelText="API Keys"></app-tab-label>
        </ng-template>
        <app-apikey-table>
        </app-apikey-table>
    </mat-tab>
</mat-tab-group>