<mat-tab-group class="form-element" color="primary" animationDuration="0" [selectedIndex]="selectedTab"
    (selectedIndexChange)="setSelectedTab($event)">
    <!-- Common tab -->
    <mat-tab>
        <ng-template mat-tab-label>
            <app-tab-label labelText="Common"></app-tab-label>
        </ng-template>
        <app-common-settings [permission]="permission">
        </app-common-settings>
    </mat-tab>
    <!-- API Keys tab -->
    <mat-tab>
        <ng-template mat-tab-label>
            <app-tab-label labelText="API Keys"></app-tab-label>
        </ng-template>
        <div class="action-panel">
            <div class="form-element" *ngIf="accountKeyErrorMessage!==''">
                <div class="form-error-box">
                    {{accountKeyErrorMessage}}
                </div>
            </div>
            <button mat-flat-button color="primary" *ngIf="permission>1 && accountKeyErrorMessage===''" 
                (click)="createKey()">
                ADD KEY
            </button>
        </div>
        <app-apikey-table [apiKeys]="apiKeys" [keyCount]="keyCount" [permission]="permission" [filter]="listFilter"
        (onUpdate)="reload($event)" (onDelete)="deleteKey($event)">
        </app-apikey-table>
    </mat-tab>
</mat-tab-group>