<div class="action-page-split action-page-left-panel split-page-10">
    <div class="split-panel-menu">
        <div style="margin: 0.5em;margin-bottom: 2em;height: 5em;width: 10em;background-color: white;vertical-align: middle;text-align: center;">
            <h1>Logo placeholder</h1>
        </div>
        
        <mat-selection-list [multiple]="false" (selectionChange)="menuChanged($event)">
            <mat-list-option *ngFor="let item of menuItems" [value]="item" 
            [selected]="selectedMenu===item.id">
                {{item.name}}
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>

<div class="action-page-split action-page-right-panel split-page-90">
    <div class="split-panel-content">
        <router-outlet></router-outlet>
    </div>
</div>