.admin-page-title {
    margin: 1em;
}

.data-table {
    width: 100%;
}

.link-block {
    color: black;

    a {
        color: black;
    }
}

.panel-dim {
    background-color: #00000060;
    position        : fixed;
    left            : 0;
    top             : 0;
    height          : 100%;
}

th.mat-header-cell {
    font-size  : medium;
    font-weight: bold;
}

.default-icon {
    font-size   : large;
    margin-right: 0.25em;
}

.details-icon {
    font-size: medium;
}

.detailed-table-split {
    display: flex;
}

.detailed-table-left-panel-full {
    flex     : 100%;
    min-width: 10em;
    margin   : 0;
}

.detailed-table-right-panel-full {
    flex      : 0%;
    width     : 0;
    margin    : 0;
    visibility: collapse;
}

.detailed-table-left-panel-details {
    flex     : 60%;
    min-width: 10em;
    margin   : 0;
}

.detailed-table-right-panel-details {
    z-index         : 100;
    background-color: white;
    flex            : 40%;
    max-width       : 40%;
    margin          : 0;
    margin-left     : 1em;
    margin-right    : 1em;
}

.button-form-panel {
    display: flex;
}

.button-panel-left {
    width     : 50%;
    text-align: left;
}

.button-panel-right {
    width     : 50%;
    text-align: right;
}