.admin-page-title {
    margin: 1em;
}

.data-table {
    width: 100%;
}

.link-block {
    color: black;

    a {
        color: black;
    }
}

.panel-dim {
    background-color: #00000060;
    position        : fixed;
    left            : 0;
    top             : 0;
    height          : 100%;
    overflow        : auto;
}

.panel-dim-table {
    background-color: #00000060;
    position        : absolute;
    left            : 0;
    top             : 0;
    height          : 200%;
    width           : 60%;
    overflow        : auto;
}

th.mat-header-cell {
    font-size  : medium;
    font-weight: bold;
}

.default-icon {
    font-size   : large;
    margin-right: 0.25em;
}

.details-icon {
    font-size: medium;
}

.detailed-table-split {
    display: flex;
    height : 100%;
}

.detailed-table-left-panel-full {
    padding  : 0;
    width    : 100%;
    min-width: 10em;
}

.detailed-table-right-panel-full {
    width     : 0;
    margin    : 0;
    visibility: collapse;
}

.detailed-table-left-panel-details {
    padding  : 0;
    width    : 60%;
    min-width: 10em;
}

.detailed-table-right-panel-details {
    z-index         : 100;
    background-color: white;
    padding         : 0;
    width           : 40%;
    max-width       : 40%;
}

.button-form-panel {
    display: flex;
}

.button-panel-left {
    width     : 50%;
    text-align: left;
}

.button-panel-right {
    width     : 50%;
    text-align: right;
}

.details-editor {
    margin    : 2em;
    margin-top: 6em;
    padding-bottom: 2em;
}