<div class="horizontalMenucontainer">
    <!-- <app-switcher></app-switcher> -->
    <div class="page">
        <div class="">
            <!-- header -->
            <app-admin-header></app-admin-header>
            <!-- sidebar -->
            <app-admin-sidebar appHoverEffectSidebar></app-admin-sidebar>
        </div>
        <div class="main-content app-content">
            <div class="main-container container-fluid" (click)="toggleSwitcherBody()">
                <!-- contetnt  -->
                <router-outlet >
                    <!-- <app-loader></app-loader> -->
                </router-outlet>
            </div>
        </div>
    </div>
</div>