.data-table-full {
    width: 100%;
}

.data-table-detailed {
    width: 50%;
}

.link-block {
    color: black;
    a {
        color: black;
    }
}

th.mat-header-cell {
    font-size: medium;
    font-weight: bold;
}

.default-icon {
    font-size: large;
    margin-right: 0.25em;
}

.details-icon {
    font-size: medium;
}
