.mat-column-fee-table {
    word-wrap: break-word;
    white-space: unset;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-fee-table-is-default {
    flex: 0 0 2%;
    width: 2%;
    min-width: 1.5em;
}

.mat-column-fee-table-name {
    flex: 0 0 20%;
    width: 20%;
    min-width: 5em;
}

.mat-column-fee-table-target {
    flex: 0 0 20%;
    width: 20%;
    min-width: 5em;
}

.mat-column-fee-table-trx-type {
    flex: 0 0 20%;
    width: 20%;
    min-width: 5em;
}

.mat-column-fee-table-instrument {
    flex: 0 0 18%;
    width: 18%;
    min-width: 5em;
}

.mat-column-fee-table-provider {
    flex: 0 0 18%;
    width: 18%;
    min-width: 5em;
}

.mat-column-fee-table-details {
    flex: 0 0 2%;
    width: 2%;
    min-width: 1.5em;
}

.target-tab-box {
    overflow: hidden;
}
