<h1>
  Fee schemes
</h1>

<mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

<div class="detailed-table-split">
  <div [ngClass]="showDetailed ? 'detailed-table-left-panel-details' : 'detailed-table-left-panel-full'">
    <table mat-table class="data-table" [dataSource]="schemes">
      <!-- Is Default Column -->
      <ng-container matColumnDef="isDefault">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-is-default"></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="default-icon" *ngIf="element.isDefault" matTooltip="Default scheme"
            matTooltipClass="info-tooltip">
            assistant_photo
          </mat-icon>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-name">Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Target Column -->
      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-target">Target</th>
        <td mat-cell *matCellDef="let element"> {{element.target}} </td>
      </ng-container>

      <!-- Transaction type Column -->
      <ng-container matColumnDef="trxType">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-trx-type">
          Transaction type
        </th>
        <td mat-cell *matCellDef="let element"> {{element.trxType}} </td>
      </ng-container>

      <!-- Instrument Column -->
      <ng-container matColumnDef="instrument">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-instrument">
          Instrument
        </th>
        <td mat-cell *matCellDef="let element"> {{element.instrument}} </td>
      </ng-container>

      <!-- Provider Column -->
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-provider">
          Provider
        </th>
        <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
      </ng-container>

      <!-- Details Column -->
      <ng-container *ngIf="!showDetailed" matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef class="mat-column-fee-table mat-column-fee-table-details"></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button type="button" (click)="toggleDetails(element)" [attr.aria-label]="'Change scheme'"
            [attr.aria-pressed]="showDetailed" matTooltip="Change scheme" matTooltipClass="info-tooltip">
            <mat-icon class="details-icon">description</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div [ngClass]="showDetailed ? 'detailed-table-right-panel-details' : 'detailed-table-right-panel-full'">
    <div class="form-section-title-box">
      <h1>Change scheme</h1>
    </div>

    <form *ngIf="showDetailed" [formGroup]="schemeForm" (ngSubmit)="onSubmit()">
      <!-- Scheme name -->
      <mat-form-field class="form-element">
        <mat-label>Scheme name</mat-label>
        <input type="text" matInput formControlName="name" maxlength="50" placeholder="Fee scheme name" required />
        <mat-error *ngIf="this.schemeForm.get('name')?.hasError('required')">
          Please specify a scheme name
        </mat-error>
      </mat-form-field>

      <mat-tab-group color="primary" mat-stretch-tabs animationDuration="0" [selectedIndex]="selectedTab"
      (selectedIndexChange)="setSelectedTab($event)">
        <mat-tab>
          <ng-template mat-tab-label>
            <tab-label [hasErrors]="tabHasError('tab1')" labelText="Targets"></tab-label>
          </ng-template>
          <div class="target-tab-box">
            <!-- Target -->
            <mat-form-field class="form-element">
              <mat-label>Target</mat-label>
              <mat-select formControlName="target" required>
                <mat-option *ngFor="let item of targets" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.schemeForm.get('target')?.hasError('required')">
                Please specify a target
              </mat-error>
            </mat-form-field>

            <!-- Target values -->
            <mat-form-field *ngIf="targetValueParams.title!==''" class="form-element">
              <mat-label>{{targetValueParams.title}}</mat-label>
              <mat-chip-list #chipList aria-label="Target selection">
                <mat-chip *ngFor="let val of targetValues" (removed)="removeTargetValue(val)">
                  {{val}}
                  <mat-icon matChipRemove matTooltip="Remove" matTooltipClass="info-tooltip">cancel</mat-icon>
                </mat-chip>
                <input [placeholder]="targetValueParams.inputPlaceholder" #targetValueInput
                  formControlName="targetValues" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTargetValue($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="targetItemSelected($event)">
                <mat-option *ngFor="let item of filteredTargetValues | async" [value]="item.title">
                  <dropdown-item itemValue="{{item.title}}" imageClass="{{item.imgClass}}"
                    imageSource="{{item.imgSource}}"></dropdown-item>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <!-- Transaction type -->
            <mat-form-field class="form-element">
              <mat-label>Transaction type</mat-label>
              <mat-select formControlName="trxType" multiple required>
                <mat-option *ngFor="let item of transactionTypes" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.schemeForm.get('trxType')?.hasError('required')">
                Please specify an transaction type
              </mat-error>
            </mat-form-field>

            <!-- Instrument -->
            <mat-form-field class="form-element">
              <mat-label>Instrument</mat-label>
              <mat-select formControlName="instrument" multiple required>
                <mat-option *ngFor="let item of instruments" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.schemeForm.get('instrument')?.hasError('required')">
                Please specify an instrument
              </mat-error>
            </mat-form-field>

            <!-- Payment provider -->
            <mat-form-field class="form-element">
              <mat-label>Payment provider</mat-label>
              <mat-select formControlName="provider" multiple required>
                <mat-option *ngFor="let item of providers" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.schemeForm.get('provider')?.hasError('required')">
                Please specify a payment provider
              </mat-error>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <tab-label [hasErrors]="tabHasError('tab2')" labelText="Terms"></tab-label>
          </ng-template>
          <!-- Transaction fees -->
          <mat-form-field class="form-element">
            <mat-label>Transaction fees, %</mat-label>
            <input type="text" matInput formControlName="transactionFees" maxlength="7" placeholder="5%" required />
            <mat-error *ngIf="this.schemeForm.get('transactionFees')?.hasError('required')">
              Please specify transaction fee
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('transactionFees')?.hasError('min')">
              Minimal transaction fee is 0%
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('transactionFees')?.hasError('max')">
              Maximal transaction fee is 100%
            </mat-error>
          </mat-form-field>

          <!-- Min transaction fee -->
          <mat-form-field class="form-element">
            <mat-label>Min. transaction fee, euro</mat-label>
            <input type="text" matInput formControlName="minTransactionFee" maxlength="10" placeholder="&#8364;5"
              required />
            <mat-error *ngIf="this.schemeForm.get('minTransactionFee')?.hasError('required')">
              Please specify minimal transaction fee
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('minTransactionFee')?.hasError('min')">
              Minimal value of minimal transaction fee is &#8364;0
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('minTransactionFee')?.hasError('max')">
              Maximal value of minimal transaction fee is &#8364;1000
            </mat-error>
          </mat-form-field>

          <!-- Rolling Reserves -->
          <mat-form-field class="form-element">
            <mat-label>Rolling reserves, %</mat-label>
            <input type="text" matInput formControlName="rollingReserves" maxlength="7" placeholder="5%" required />
            <mat-error *ngIf="this.schemeForm.get('rollingReserves')?.hasError('required')">
              Please specify rolling reserves value
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('rollingReserves')?.hasError('min')">
              Maximal value of rolling reserves value is 0%
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('rollingReserves')?.hasError('max')">
              Maximal value of rolling reserves value is 100%
            </mat-error>
          </mat-form-field>

          <!-- Rolling reserves days -->
          <mat-form-field class="form-element">
            <mat-label>Rolling reserves days</mat-label>
            <input type="text" matInput formControlName="rollingReservesDays" maxlength="7" placeholder="5%" required />
            <mat-error *ngIf="this.schemeForm.get('rollingReservesDays')?.hasError('required')">
              Please specify number of rolling reserves days
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('rollingReservesDays')?.hasError('min')">
              Maximal value of rolling reserves days is 0%
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('rollingReservesDays')?.hasError('max')">
              Maximal value of rolling reserves days is 100%
            </mat-error>
          </mat-form-field>

          <!-- Chargeback fees -->
          <mat-form-field class="form-element">
            <mat-label>Chargeback fees, %</mat-label>
            <input type="text" matInput formControlName="chargebackFees" maxlength="7" placeholder="5%" required />
            <mat-error *ngIf="this.schemeForm.get('chargebackFees')?.hasError('required')">
              Please specify chargeback fee
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('chargebackFees')?.hasError('min')">
              Minimal chargeback fee is 0%
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('chargebackFees')?.hasError('max')">
              Maximal chargeback fee is 100%
            </mat-error>
          </mat-form-field>

          <!-- Monthly fees -->
          <mat-form-field class="form-element">
            <mat-label>Monthly fees<span style="font-style: italic;"> (only in system)</span></mat-label>
            <input type="text" matInput formControlName="monthlyFees" maxlength="7" placeholder="5" required />
            <mat-error *ngIf="this.schemeForm.get('monthlyFees')?.hasError('required')">
              Please specify monthly fee
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('monthlyFees')?.hasError('min')">
              Minimal monthly fee is 0
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('monthlyFees')?.hasError('max')">
              Maximal monthly fee is 100
            </mat-error>
          </mat-form-field>

          <!-- Transaction fees -->
          <mat-form-field class="form-element">
            <mat-label>Min. monthly fees<span style="font-style: italic;"> (in system)</span></mat-label>
            <input type="text" matInput formControlName="minMonthlyFees" maxlength="7" placeholder="5" required />
            <mat-error *ngIf="this.schemeForm.get('minMonthlyFees')?.hasError('required')">
              Please specify minimal monthly fee
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('minMonthlyFees')?.hasError('min')">
              Minimal value of minimal monthly fee is 0
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('minMonthlyFees')?.hasError('max')">
              Maximal value of minimal monthly fee is 100
            </mat-error>
          </mat-form-field>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <tab-label [hasErrors]="tabHasError('tab3')" labelText="Wire details"></tab-label>
          </ng-template>
          <!-- Beneficiary name -->
          <mat-form-field class="form-element">
            <mat-label>Beneficiary name</mat-label>
            <input type="text" matInput formControlName="beneficiaryName" maxlength="50" placeholder="Beneficiary name"
              required />
            <mat-error *ngIf="this.schemeForm.get('beneficiaryName')?.hasError('required')">
              Please specify beneficiary name
            </mat-error>
          </mat-form-field>

          <!-- IBAN -->
          <mat-form-field class="form-element">
            <mat-label>IBAN</mat-label>
            <input type="text" matInput formControlName="iban" maxlength="30" placeholder="IBAN" required />
            <mat-error *ngIf="this.schemeForm.get('iban')?.hasError('required')">
              Please specify IBAN
            </mat-error>
          </mat-form-field>

          <!-- Bank name -->
          <mat-form-field class="form-element">
            <mat-label>Bank name</mat-label>
            <input type="text" matInput formControlName="bankName" maxlength="30" placeholder="Bank name" required />
            <mat-error *ngIf="this.schemeForm.get('bankName')?.hasError('required')">
              Please specify a bank name
            </mat-error>
          </mat-form-field>

          <!-- Bank address -->
          <mat-form-field class="form-element">
            <mat-label>Bank address</mat-label>
            <input type="text" matInput formControlName="bankAddress" maxlength="30" placeholder="Bank address"
              required />
            <mat-error *ngIf="this.schemeForm.get('bankAddress')?.hasError('required')">
              Please specify a bank address
            </mat-error>
          </mat-form-field>

          <!-- SWIFT -->
          <mat-form-field class="form-element">
            <mat-label>SWIFT</mat-label>
            <input type="text" matInput formControlName="swift" maxlength="11" minlength="8" placeholder="SWIFT"
              required />
            <mat-error *ngIf="this.schemeForm.get('swift')?.hasError('required')">
              Please specify SWIFT
            </mat-error>
            <mat-error *ngIf="this.schemeForm.get('swift')?.hasError('minlength')">
              Minimal length of SWIFT is 8 symbols
            </mat-error>
          </mat-form-field>
        </mat-tab>
      </mat-tab-group>

      <div class="form-element">
        <button class="form-button" type="submit" mat-flat-button color="primary">
          Save
        </button>
      </div>
    </form>

    <div class="form-error-box" *ngIf="errorMessage!=''">
      {{errorMessage}}
    </div>
  </div>
</div>