<div class="__auth-frame-box">
    <div class="__auth-body">
        <div class="__auth-container">
            <div class="__auth-title-container">
                <span class="__auth-title-logo" (click)="router.navigateByUrl('/')">
                    GetCoins
                </span>
            </div>
            <div class="__auth-account-type-tab-container">
                <div class="__auth-account-type-tab __auth-account-type-tab-left"
                    (click)="router.navigateByUrl('/personal/auth/login')">
                    Personal Account
                </div>
                <div class="__auth-account-type-tab __auth-account-type-tab-right __auth-account-type-tab-selected">
                    Business Account
                </div>
            </div>
            <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
            <div class="__auth-data-container">
                <app-login-panel [socialButtons]="false" [errorMessage]="errorMessage" [userTypeSection]="'merchant'"
                    (error)="onError($event)" (progressChange)="onProgressChange($event)"
                    (authenticated)="onAuthenticated($event)" (extraDataVisible)="onLoginExtraData($event)">
                </app-login-panel>
            </div>
        </div>
    </div>
</div>