<div class="__auth-frame-box">
    <div class="__auth-body">
        <div class="__auth-container">
            <div class="__auth-title-container">
                <span class="__auth-title-logo" (click)="router.navigateByUrl('/merchant/intro')">
                    GetCoins
                </span>
            </div>
            <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
            <div class="__auth-data-container">
                <app-login-panel [socialButtons]="false" [errorMessage]="errorMessage" [userTypeSection]="'merchant'"
                    (error)="onError($event)" (progressChange)="onProgressChange($event)"
                    (authenticated)="onAuthenticated($event)" (extraDataVisible)="onLoginExtraData($event)">
                </app-login-panel>
            </div>
        </div>
    </div>
</div>