<section>
    <h2>Message info</h2>
    <app-details-attribute label="Recipient" [value]="message?.userEmail"></app-details-attribute>
    <app-details-attribute label="Level" [value]="message?.level"></app-details-attribute>
    <app-details-attribute label="Created" [value]="message?.created"></app-details-attribute>
    <app-details-attribute label="Viewed" [value]="message?.viewed"></app-details-attribute>
    <app-details-attribute label="Code" [value]="message?.userNotificationTypeCode"></app-details-attribute>
    <app-details-attribute label="Message Title" [value]="message?.title"></app-details-attribute>
    <app-details-attribute label="Message Text" [value]="message?.text"></app-details-attribute>
</section>

<div class="panel-actions">
    <button mat-flat-button color="primary" (click)="resend.emit(message?.id)">
        RESEND
    </button>
</div>