<div class="dashboard-block">
    <h3>{{title}}</h3>

    <table mat-table class="data-table" [dataSource]="transactions">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-title">
                Instrument
            </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Approved Column -->
        <ng-container matColumnDef="approved">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-approved">
                Approved
            </th>
            <td mat-cell *matCellDef="let element"> {{element.approvedValue}} </td>
        </ng-container>

        <!-- Declined Column -->
        <ng-container matColumnDef="declined">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-declined">
                Declined
            </th>
            <td mat-cell *matCellDef="let element"> {{element.declinedValue}} </td>
        </ng-container>

        <!-- Abandoned Column -->
        <ng-container matColumnDef="abandoned">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-abandoned">
                Abandoned
            </th>
            <td mat-cell *matCellDef="let element"> {{element.abandonedValue}} </td>
        </ng-container>

        <!-- In Process Column -->
        <ng-container matColumnDef="inProcess">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-inProcess">
                Processing
            </th>
            <td mat-cell *matCellDef="let element"> {{element.inProcessValue}} </td>
        </ng-container>

        <!-- Ratio Column -->
        <ng-container matColumnDef="ratio">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-ratio">
                Ratio
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ratioValue}} </td>
        </ng-container>

        <!-- Fee Column -->
        <ng-container matColumnDef="fee">
            <th mat-header-cell *matHeaderCellDef class="mat-column-transactions-table mat-column-transactions-table-fee">
                Fee
            </th>
            <td mat-cell *matCellDef="let element"> {{element.feeValue}} </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>