<div class="dashboard-filter-block">
    <h3>Filters</h3>
    <div *ngIf="inProgress">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
        <div class="dashboard-filter-field">
            <div class="dashboard-filter-item">
                <!-- Account type filter -->
                <mat-form-field class="form-element">
                    <mat-label>Account type</mat-label>
                    <mat-select formControlName="accountType" multiple>
                        <mat-option *ngFor="let item of userTypes" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="dashboard-filter-item">
                <!-- User filter-->
                <mat-form-field class="form-element">
                    <mat-label>Users</mat-label>
                    <mat-chip-list #userChipList aria-label="User selection" formControlName="users">
                        <mat-chip *ngFor="let u of selectedUsers;let i=index;" (removed)="removeUser(u, i)">
                            {{u.email}}
                            <mat-icon matChipRemove matTooltip="Remove user" matTooltipClass="info-tooltip">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Users" #userInput
                            formControlName="user" [matAutocomplete]="autoUser" [matChipInputFor]="userChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addUser($event)">
                    </mat-chip-list>
                    <mat-autocomplete #autoUser="matAutocomplete" (optionSelected)="userSelected($event)">
                        <mat-option *ngFor="let item of filteredUsers | async" [value]="item" [id]="item.userId">
                            <app-dropdown-item itemValue="{{item.email}}"></app-dropdown-item>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="dashboard-filter-item">
                <!-- Affiliate filter -->
                <mat-form-field class="form-element">
                    <mat-label>Affiliates</mat-label>
                    <mat-chip-list #affiliateChipList aria-label="Affiliate selection" formControlName="affiliates">
                        <mat-chip *ngFor="let a of selectedAffiliates;let i=index;" (removed)="removeAffiliate(a, i)">
                            {{a}}
                            <mat-icon matChipRemove matTooltip="Remove affiliate" matTooltipClass="info-tooltip">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Affiliates" #userInput
                            formControlName="affiliate" [matAutocomplete]="autoAffiliate" [matChipInputFor]="affiliateChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addAffiliate($event)">
                    </mat-chip-list>
                    <mat-autocomplete #autoAffiliate="matAutocomplete" (optionSelected)="affiliateSelected($event)">
                        <mat-option *ngFor="let item of filteredAffiliates | async" [value]="item">
                            <app-dropdown-item itemValue="{{item}}"></app-dropdown-item>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="dashboard-filter-item">
                <!-- Country filter-->
                <mat-form-field class="form-element">
                    <mat-label>Countries</mat-label>
                    <mat-chip-list #countryChipList aria-label="Country selection" formControlName="countries">
                        <mat-chip *ngFor="let c of selectedCountries;let i=index;" (removed)="removeCountry(c, i)">
                            {{c.name}}
                            <mat-icon matChipRemove matTooltip="Remove country" matTooltipClass="info-tooltip">cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Countries" #countryInput
                            formControlName="country" [matAutocomplete]="autoCountry" [matChipInputFor]="countryChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="addCountry($event)">
                    </mat-chip-list>
                    <mat-autocomplete #autoCountry="matAutocomplete" (optionSelected)="countrySelected($event)">
                        <mat-option *ngFor="let item of filteredCountries | async" [value]="item" [id]="item.code3">
                            <app-dropdown-item itemValue="{{item.name}}" imageClass="country-flag"
                                imageSource="assets/svg-country-flags/{{getCountryFlag(item.code2)}}">
                            </app-dropdown-item>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="dashboard-filter-item">
                <!-- Source type filter -->
                <mat-form-field class="form-element">
                    <mat-label>Source</mat-label>
                    <mat-select formControlName="source" multiple>
                        <mat-option *ngFor="let item of sources" [value]="item.id">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="dashboard-filter-field">
            <button class="main-button main-button-accent dashboard-filter-button" type="submit">
                APPLY
            </button>
            <button class="main-button main-button-primary dashboard-filter-button" type="button" (click)="resetFilter()">
                RESET
            </button>
        </div>
    </form>
</div>