<h2 class="__form-settings-title">
    Change Password
</h2>

<div class="__form-control-panel">
    <form #passwordform="ngForm" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <app-settings-password [label]="'Current password'" [maxlength]="50" formControlName="currentPassword"
            [errorMessages]="passwordErrorMessages" [separator]="true">
        </app-settings-password>

        <app-settings-password [label]="'New password'" [maxlength]="50" formControlName="newPassword"
            [externalError]="passwordForm.errors?.passwordEqual" [errorMessages]="passwordErrorMessages"
            [separator]="true">
        </app-settings-password>

        <app-settings-password [label]="'Confirm new password'" [maxlength]="50" formControlName="confirmPassword"
            [externalError]="passwordForm.errors?.passwordEqual" [errorMessages]="passwordErrorMessages"
            [separator]="false">
        </app-settings-password>
        <div *ngIf="passwordForm.errors?.passwordEqual && confirmPasswordField?.valid"
            class="__form-assist __form-assist-error">
            Passwords are not equal
        </div>

        <div class="__form-separator-small"></div>
        <div class="__form-separator"></div>
        <div class="form-element">
            <button class="__main-button __button-wide" type="submit" [disabled]="!passwordForm?.valid">
                change password
            </button>
        </div>
    </form>
</div>