<div class="action-panel">
    <button mat-flat-button color="primary" *ngIf="errorMessage===''" [disabled]="createScheme"
                    (click)="createNewScheme()">
                ADD SCHEME
            </button>
</div>
<div class="data-table">
        <mat-table [dataSource]="schemes">

            <!-- Details Column -->
            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-details"></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button class="row-button" (click)="toggleDetails(element)"
                            [attr.aria-label]="'Change scheme'"
                            [attr.aria-pressed]="showDetailed" [matTooltip]="getDetailsTooltip(element.id)"
                            matTooltipClass="info-tooltip" [disabled]="createScheme">
                        <mat-icon class="details-icon">{{getDetailsIcon(element.id)}}</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Is Default Column -->
            <ng-container matColumnDef="isDefault">
                <th mat-header-cell *matHeaderCellDef
                    class="mat-column-cost-table mat-column-cost-table-is-default"></th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="default-icon" *ngIf="element.isDefault" matTooltip="Default scheme"
                              matTooltipClass="info-tooltip">
                        offline_bolt
                    </mat-icon>
                </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-name">Name</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Target Column -->
            <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-target">
                    Target
                </th>
                <td mat-cell *matCellDef="let element"> {{element.targetName}} </td>
            </ng-container>

            <!-- Transaction type Column -->
            <ng-container matColumnDef="trxType">
                <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-trx-type">
                    Transaction type
                </th>
                <td mat-cell *matCellDef="let element"> {{element.transactionTypeList}} </td>
            </ng-container>

            <!-- Instrument Column -->
            <ng-container matColumnDef="instrument">
                <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-instrument">
                    Instrument
                </th>
                <td mat-cell *matCellDef="let element"> {{element.instrumentList}} </td>
            </ng-container>

            <!-- Provider Column -->
            <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef class="mat-column-cost-table mat-column-cost-table-provider">
                    Provider
                </th>
                <td mat-cell *matCellDef="let element"> {{element.providerList}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </div>

<ng-template *ngIf="showDetailed" appRightPanel>
            <app-cost-editor *ngIf="showDetailed"
                             [currentScheme]="selectedScheme"
                             [create]="createScheme"
                             (save)="onSaved($event)"
                             (delete)="onDeleteScheme($event)"
                             (cancel)="onCancelEdit()"
                             (formChanged)="onEditorFormChanged($event)">
            </app-cost-editor>
</ng-template>
