.__common-settings-container {
    margin: 24px;
    width: 500px;
}

.__common-settings-button-block {
    margin: 24px 16px;
    display: flex;
}

.__common-settings-slider-title {
    margin: 0px 8px;
}