@import "../../../../assets/consts.scss";

.__admin-filter-block-col-4 {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr 4fr;
    grid-template-rows: 1fr;
    gap: 4px 16px;

    @media (max-width: $md2 + px) {
        grid-template-columns: 3fr 3fr 3fr;
    }
}

.__admin-filter-block-col-3 {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 1fr;
    gap: 4px 16px;
}

.__admin-filter-block-col-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr;
    gap: 4px 16px;
}

.__admin-filter-block-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 4px 16px;
}

.__admin-filter-button-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
}

.__admin-filter-top-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
}
