<div class="card custom-card">
    <div class="card-body">
        <form *ngIf="filterForm" [formGroup]="filterForm">
            <div class="__admin-filter-top-bar" [class.justify-content-between]="isPlainSearch" [class.justify-content-end]="!isPlainSearch">
                <input *ngIf="isPlainSearch" class="form-control me-2 maxWidth-80p" type="text" formControlName="search" placeholder="Search ...">

                <div>
                    <button 
                        type="button" 
                        class="btn btn-outline-primary me-2" 
                        (click)="collapse.toggle()"
                        [attr.aria-expanded]="!isFilterCollapsed" aria-controls="collapseExample">
                        <i class="material-icons tx-16">
                            {{isFilterCollapsed ? 'keyboard_double_arrow_down' : 'keyboard_double_arrow_up'}}
                        </i>
                        Filter
                    </button>
                    <button (click)="applyFilters()" class="btn btn-primary me-2" type="button">
                        Apply
                    </button>
                    <button (click)="resetFilters()" class="btn btn-outline-secondary me-2" type="button">
                        Reset
                    </button>
                </div>
            </div>
            <div #collapse="ngbCollapse" [(ngbCollapse)]="isFilterCollapsed">
                <div class="card">
                    <div class="card-body">
                        <div class="__admin-filter-block-col-4">
                            <div *ngFor="let field of filteredFields">
                                <ng-container>
                                    <div *ngIf="field === 'notificationType'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Notification type
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'notificationType')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="notificationTypeOptions" bindLabel="name" bindValue="id"
                                            formControlName="notificationType"
                                            placeholder="Select notification type">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'accountType'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Account type
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'accountTypes')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="userTypeOptions" bindLabel="name" bindValue="id"
                                            formControlName="accountTypes" [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select account types">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'accountMode'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Account mode
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'accountModes')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="userModeOptions" bindLabel="name" bindValue="id"
                                            formControlName="accountModes" [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select account modes">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'accountStatus'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Account status
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'accountStatuses')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="userStatusOptions" bindLabel="name" bindValue="id"
                                            formControlName="accountStatuses" [multiple]="true"
                                            [closeOnSelect]="false" placeholder="Select account statuses">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'country'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Country
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'countries')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select formControlName="countries" [multiple]="true"
                                            [closeOnSelect]="false" placeholder="Select countries">
                                            <ng-option *ngFor="let country of countryOptions"
                                                [value]="country.code3">
                                                <app-dropdown-item itemValue="{{country.name}}"
                                                    imageClass="country-flag-admin"
                                                    imageSource="assets/svg-country-flags/{{getCountryFlag(country.code2)}}">
                                                </app-dropdown-item>
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'source'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Source
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'sources')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="sourceOptions" bindLabel="name" bindValue="id"
                                            formControlName="sources" [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select transaction sources">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'kycStatus'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            DocsCheck Statuses
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'kycStatuses')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="kysStatusOptions" bindLabel="name" bindValue="id"
                                            formControlName="kycStatuses" [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select user verification statuses">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'transactionKycStatus'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            DocsCheck Statuses
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionKycStatuses')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="transactionKysStatusOptions" bindLabel="name"
                                            bindValue="id" formControlName="transactionKycStatuses"
                                            [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select transaction verification statuses">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'riskLevel'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Risk Levels
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'riskLevels')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="riskLevelsOptions" bindLabel="name" bindValue="id"
                                            formControlName="riskLevels" [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select risk levels">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'fiatCurrency'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Fiat currency
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'fiatCurrency')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="fiatCurrencies" bindLabel="name" bindValue="symbol"
                                            formControlName="fiatCurrency"
                                            placeholder="Select fiat">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'transactionType'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transaction Types
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionTypes')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="transactionTypeOptions" bindLabel="name" bindValue="id"
                                            formControlName="transactionTypes" [multiple]="true"
                                            [closeOnSelect]="false" placeholder="Select transaction types">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'userActionType'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            User Actions Types
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'userActionTypes')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="userActionTypeOptions" bindLabel="name" bindValue="id"
                                            formControlName="userActionTypes" [multiple]="true"
                                            [closeOnSelect]="false" placeholder="Select user action type">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'tier'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Verification Levels
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'tiers')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="tierOptions$ | async" [loading]="isTierLoading"
                                            [closeOnSelect]="false" [multiple]="true" bindLabel="title"
                                            bindValue="id" formControlName="tiers" placeholder="Select levels">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'transactionIds'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transaction ID
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionIds')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <input class="form-control" type="text" formControlName="transactionIds"
                                            placeholder="Type transaction ID">
                                    </div>
                                    <div *ngIf="field === 'transactionStatus'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transaction Statuses
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionStatuses')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="transactionStatusOptions" bindLabel="name"
                                            bindValue="id" formControlName="transactionStatuses" [multiple]="true"
                                            [closeOnSelect]="false" placeholder="Select transaction statuses">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'paymentInstrument'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Payment methods
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'paymentInstruments')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="paymentInstrumentsOptions" bindLabel="name"
                                            bindValue="id" formControlName="paymentInstruments" [multiple]="true"
                                            [closeOnSelect]="false" placeholder="Select payment methods">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'createdDate'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transactions created
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['createdDateRangeStart', 'createdDateRangeEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #created_filter
                                            [startField]="filterForm?.controls?.createdDateRangeStart ?? null"
                                            [endField]="filterForm?.controls?.createdDateRangeEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'createdDateAction'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            User action created
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['createdDateRangeStart', 'createdDateRangeEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #created_filter
                                            [startField]="filterForm?.controls?.createdDateRangeStart ?? null"
                                            [endField]="filterForm?.controls?.createdDateRangeEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'completedDate'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transactions completed
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['completedDateRangeStart', 'completedDateRangeEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #completed_filter
                                            [startField]="filterForm?.controls?.completedDateRangeStart ?? null"
                                            [endField]="filterForm?.controls?.completedDateRangeEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'registrationDate'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Registered
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['registrationDateRangeStart', 'registrationDateRangeEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #registered_filter
                                            [startField]="filterForm?.controls?.registrationDateRangeStart ?? null"
                                            [endField]="filterForm?.controls?.registrationDateRangeEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'updatedDate'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transactions updated
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['updatedDateRangeStart', 'updatedDateRangeEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #updated_filter
                                            [startField]="filterForm?.controls?.updatedDateRangeStart ?? null"
                                            [endField]="filterForm?.controls?.updatedDateRangeEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'user'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            User
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'user')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="usersOptions$ | async" bindLabel="title" bindValue="id"
                                            [minTermLength]="minUsersLengthTerm" notFoundText="No users found"
                                            [loading]="isUsersLoading" [multiple]="false" formControlName="user"
                                            typeToSearchText="Type email or user name"
                                            placeholder="Start typing to search a user"
                                            [typeahead]="usersSearchInput$">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'users'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Customer search
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'users')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="usersOptions$ | async" bindLabel="title" bindValue="id"
                                            [minTermLength]="minUsersLengthTerm" notFoundText="No users found"
                                            [loading]="isUsersLoading" [multiple]="true" formControlName="users"
                                            typeToSearchText="Type email or user name"
                                            [closeOnSelect]="false"
                                            placeholder="Start typing to search users"
                                            [typeahead]="usersSearchInput$">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'widget'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Widget Identifiers
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'widgets')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="widgetsOptions$ | async" bindLabel="title"
                                            bindValue="id" [minTermLength]="minWidgetsLengthTerm"
                                            notFoundText="No widgets found" [loading]="isWidgetsLoading"
                                            [multiple]="true" formControlName="widgets"
                                            [closeOnSelect]="false"
                                            typeToSearchText="Type widget identifier"
                                            placeholder="Start typing to search widgets"
                                            [typeahead]="widgetsSearchInput$">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'widgetName'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                          Widget Names
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'widgetNames')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>

                                        <ng-select [items]="widgetNamesOptions$ | async" bindLabel="title"
                                            bindValue="id" [minTermLength]="minWidgetNamesLengthTerm"
                                            notFoundText="No widgets found" [loading]="isWidgetsLoading"
                                            [multiple]="true" formControlName="widgetNames"
                                            [closeOnSelect]="false"
                                            typeToSearchText="Type widget name"
                                            placeholder="Start typing to search widgets"
                                            [typeahead]="widgetNamesSearchInput$">
                                        </ng-select>
                                    </div>
                          
                                    <div *ngIf="field === 'riskAlertCode'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Risk Alert Code
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'riskAlertCode')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <ng-select [items]="riskAlertOptions" bindLabel="name" bindValue="id"
                                            formControlName="riskAlertCode" [multiple]="false"
                                            placeholder="Select alert code">
                                        </ng-select>
                                    </div>
                                    <div *ngIf="field === 'walletAddress'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Wallet address
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'walletAddress')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <input class="form-control" type="text" formControlName="walletAddress"
                                            placeholder="Type wallet address">
                                    </div>
                                    <div *ngIf="field === 'totalBuyVolume'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Buy volume over
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'totalBuyVolumeOver')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <input class="form-control" [onlyNumber]="true"
                                            formControlName="totalBuyVolumeOver"
                                            placeholder="Specify buy volume limit">
                                    </div>
                                    <div *ngIf="field === 'transactionCount'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transaction count over
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionCountOver')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <input class="form-control" [onlyNumber]="true"
                                            formControlName="transactionCountOver"
                                            placeholder="Specify transaction count limit">
                                    </div>
                                    <div *ngIf="field === 'recallNumber'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Recall number
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'recallNumber')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <input class="form-control"
                                            formControlName="recallNumber"
                                            placeholder="Specify recall number">
                                    </div>
                                    <div *ngIf="field === 'from'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                            From
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'verifyWhenPaid')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <input class="form-control" type="text" formControlName="from"
                                            placeholder="Type plain search text">
                                    </div>
                                    <div *ngIf="field === 'verifyWhenPaid'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Verify When Paid
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'verifyWhenPaid')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <div class="__admin-filter-top-bar">
                                            <input type="checkbox" formControlName="verifyWhenPaid">
                                            <span class="ml-8px">Verify When Paid</span>
                                        </div>
                                    </div>
                                    <div *ngIf="field === 'transactionFlag'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Flag
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionFlag')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <div class="__admin-filter-top-bar">
                                            <input type="checkbox" formControlName="transactionFlag">
                                            <span class="ml-8px">Flag</span>
                                        </div>
                                    </div>
                                    <div *ngIf="field === 'transactionWasEverCompleted'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Transaction Was Ever Completed
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'transactionWasEverCompleted')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <div class="__admin-filter-top-bar">
                                            <input type="checkbox" formControlName="transactionWasEverCompleted">
                                            <span class="ml-8px">Transaction Was Ever Completed</span>
                                        </div>
                                    </div>
                                    <div *ngIf="field === 'hasRecallNumber'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Has recall number
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'hasRecallNumber')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <div class="__admin-filter-top-bar">
                                            <input type="checkbox" formControlName="hasRecallNumber">
                                            <span class="ml-8px">Has recall number</span>
                                        </div>
                                    </div>
                                    <div *ngIf="field === 'reversalProcessed'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Refund date
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['reversalProcessedStart', 'reversalProcessedEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #reversal_processed_filter
                                            [startField]="filterForm?.controls?.reversalProcessedStart ?? null"
                                            [endField]="filterForm?.controls?.reversalProcessedEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'recallRegistered'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Recall registered date
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, ['recallRegisteredStart', 'recallRegisteredEnd'])">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <app-admin-date-range #recall_registered_filter
                                            [startField]="filterForm?.controls?.recallRegisteredStart ?? null"
                                            [endField]="filterForm?.controls?.recallRegisteredEnd ?? null">
                                        </app-admin-date-range>
                                    </div>
                                    <div *ngIf="field === 'preauthFlag'" class="form-group">
                                        <label class="main-content-label tx-11 tx-medium tx-gray-600 d-flex align-items-center justify-content-between mb-1">
                                            Preauth
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'preauthFlag')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </label>
                                        <div class="__admin-filter-top-bar">
                                            <input type="checkbox" formControlName="preauthFlag">
                                            <span class="ml-8px">Preauth</span>
                                        </div>
                                    </div>
                                    <div *ngIf="field === 'zeroBalance'" class="form-group __tool-bar-double-sided-data-box">
                                        <div class="__tool-bar-block d-flex align-items-center justify-content-between mb-1">
                                            <div class="__tool-bar-label">
                                                Hide zero balance
                                            </div>
                                            <button type="button" class="close" aria-label="Close" (click)="onFilterRemove(field, 'zeroBalance')">
                                                <span aria-hidden="true" class="tx-20">&times;</span>
                                            </button>
                                        </div>
                                        <div class="__tool-bar-block">
                                            <div class="__toggle-switch mt-18px">
                                                <input type="checkbox" id="toggle-button" class="__toggle-switch-slider"
                                                    formControlName="zeroBalance">
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <div class="form-group" *ngIf="isFilterSelected">
                                <label class="main-content-label tx-11 tx-medium tx-gray-600">
                                    Available Filters
                                </label>
                                <ng-select 
                                    [items]="filteredFieldsList" 
                                    bindLabel="name" bindValue="value"
                                    [formControl]="filteredField" 
                                    groupBy="groupName">
                                    <ng-template ng-optgroup-tmp let-item="item">
                                        {{item.groupName || 'Unnamed group'}}
                                    </ng-template>
                                </ng-select>
                            </div>

                            <div class="form-group d-flex align-items-end">
                                <button 
                                    *ngIf="!isFilterSelected"
                                    [disabled]="filteredFieldsList?.length === 0 || isFiltersUdating" 
                                    (click)="isFilterSelected = true; filteredField.patchValue(null)" 
                                    class="btn btn-outline-secondary me-2" 
                                    type="button">
                                    Add Filter
                                </button>
                            </div>
                        </div>

                        <div class="__admin-filter-button-bar">
                            <button 
                                (click)="updateUserFilters()" 
                                class="btn btn-outline-secondary me-2" 
                                type="button">
                                Save Filters
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>