<div *ngIf="riskAlertTypes" class="card card-body pd-20 pd-md-40 border shadow-none">
  <h5 class="card-title mg-b-20 d-flex justify-content-between">
    Extra Fees
    <span class="m-0 error tx-12 tx-transform-none">{{isListItemContainDuplicate ? 'Extra fees cointains duplicates' : ''}}</span>
  </h5>
  <div class="form-group">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="details">
        <th *matHeaderCellDef>
          <i class="material-icons cursor-icon tx-20" (click)="addFeeRiskCode()">
            add_circle
          </i>
        </th>
        <td *matCellDef="let i = index" class="mat-column-fee-risk-table mat-column-fee-risk-table-details">
          <i class="material-icons cursor-icon tx-20" (click)="deleteFeeRiskCode(i)">
            cancel
          </i>
        </td>
      </ng-container>

      <ng-container matColumnDef="riskCode">
        <th *matHeaderCellDef>
          Risk Code
        </th>
        <td *matCellDef="let element" class="mat-column-fee-risk-table mat-column-fee-risk-table-riskCode">
          <ng-select 
            bindLabel="riskAlertTypeCode" 
            bindValue="riskAlertTypeCode" 
            [ngModelOptions]="{standalone: true}" 
            [items]="riskAlertTypes" 
            [clearable]="false" 
            [clearOnBackspace]="true"
            [hideSelected]="true" 
            [closeOnSelect]="true"
            [(ngModel)]="element.riskCode">
            <ng-template let-item="item" ng-option-tmp>
              <span class="tx-13">{{item.riskAlertTypeCode}}</span>
              <br />
							<small class="tx-12" style="white-space: initial;">{{item.description}}</small>
						</ng-template>
          </ng-select>
        </td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th *matHeaderCellDef>
          Fee
        </th>
        <td *matCellDef="let element; let i = index" class="mat-column-fee-risk-table mat-column-fee-risk-table-feePercent">
            <div class="input-group">
              <input 
                style="padding: 1px 6px;"
                class="form-control" 
                type="text"
                maxlength="4"
                [id]="'input-' + i" 
                [ngClass]="{'has-error': element.feePercent === null || element.feePercent === '' }" 
                [ngModelOptions]="{standalone: true}" 
                [required]="true" 
                [(ngModel)]="element.feePercent">
  
              <div class="input-group-append">
                <span style="padding: 1px 2px;" class="input-group-text">%</span>
              </div>
            </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>