.mat-column-fee-risk-table-details {
  width: 2em;
}

.mat-column-fee-risk-table-riskCode {
  width: 20em;
  max-width: 20em;
}

.mat-column-fee-risk-table-feePercent {
  width: 5em;
}

.has-error {
  border: 1px solid #f16d75;
}
