<div *ngIf="!twoFa && !extraData">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <app-form-textbox [label]="'Email'" [boxType]="'email'" [placeholder]="'Enter your email here'" [maxlength]="50"
            formControlName="email" [errorMessages]="emailErrorMessages" [separator]="true">
        </app-form-textbox>

        <!-- Password -->
        <app-form-password [label]="'Password'" [placeholder]="'Enter your password here'" [maxlength]="50"
            formControlName="password" [errorMessages]="passwordErrorMessages" [separator]="true">
        </app-form-password>
        <!-- Errors -->
        <div *ngIf="errorMessage!==''">
            <span class="__auth-error-line">
                {{errorMessage}}
            </span>
        </div>
        <div class="__form-separator"></div>
        <!-- Buttons for a wizard -->
        <div *ngIf="wizardButtons" class="__auth-buttons-wizard-area">
            <button class="__outlined-button" type="button" (click)="onBack.emit()">BACK</button>
            <button class="__main-button __button-separator" type="submit" [disabled]="!loginForm?.valid">login</button>
        </div>
        <!-- Default Buttons -->
        <div *ngIf="!wizardButtons" class="__auth-buttons-wizard-area">
            <button class="__main-button __button-login-wide __main-button-auth" type="submit" [disabled]="!loginForm?.valid">login</button>
        </div>
        <div *ngIf="!wizardButtons" class="__form-separator"></div>
        <div *ngIf="!wizardButtons" class="__auth-buttons-wizard-area">
            <a href="/{{userTypeSection}}/auth/restore">Forgot your password?</a>
        </div>
    </form>
    <div *ngIf="socialButtons">
        <div class="__auth-social-delimitter">
            <div class="__auth-social-delimitter-line-container">
                <div class="__auth-social-delimitter-line"></div>
            </div>
            <div class="__auth-social-delimitter-title-container">
                <span class="__auth-social-delimitter-title">or</span>
            </div>
        </div>
        <div class="__auth-buttons-wizard-area">
            <button class="__google-button" (click)="socialSignIn('Google')">
                <div class="__google-button-icon"></div>
                <span class="__google-button-title">Log in with Google</span>
            </button>
        </div>
        <!-- <div class="__auth-buttons-wizard-area">
            <button class="__facebook-button" (click)="socialSignIn('Facebook')">
                <div class="__facebook-button-icon"></div>
                <span class="__facebook-button-title">Log in with Facebook</span>
            </button>
        </div> -->
    </div>
</div>

<app-signup-info-panel #signupInfo *ngIf="extraData" buttonTitle="SAVE" (error)="registerError($event)"
    (progressChange)="onSignupProgress($event)" (done)="onSignupDone($event)"></app-signup-info-panel>

<div *ngIf=twoFa>
    <form [formGroup]="twoFaForm" (ngSubmit)="onTwoFaSubmit()">
        <!-- 2FA code -->
        <app-form-textbox [label]="'2FA Confirmation code'" [boxType]="'text'"
            [placeholder]="'Enter your confirmation code'" [maxlength]="20" formControlName="code"
            [errorMessages]="twoFaErrorMessages" [separator]="true">
        </app-form-textbox>
        <!-- Errors -->
        <div *ngIf="errorMessage!==''">
            <span class="__auth-error-line">
                {{errorMessage}}
            </span>
            <div class="__form-separator"></div>
        </div>
        <button class="__main-button __button-wide" type="submit">send</button>
    </form>
</div>

<div *ngIf="!twoFa && !extraData && !wizardButtons" class="__auth-footer-area">
    <span class="__auth-footer-text">Not a member yet?</span>
    <a href="/{{userTypeSection}}/auth/register">Create an account</a>
</div>