<div *ngIf="!twoFa && !extraData">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <app-form-textbox 
            [label]="'login-panel.field_email'" 
            [boxType]="'email'" 
            [placeholder]="'login-panel.field_email-placeholder'" 
            [maxlength]="50"
            formControlName="email" 
            [errorMessages]="emailErrorMessages" 
            [separator]="true">
        </app-form-textbox>

        <!-- Password -->
        <app-form-password 
            [label]="'login-panel.field_password'" 
            [placeholder]="'login-panel.field_password-placeholder' | transloco" 
            [maxlength]="50"
            formControlName="password" 
            [errorMessages]="passwordErrorMessages" 
            [separator]="true">
        </app-form-password>

        <app-recaptcha *ngIf="isWidget === false" (completed)="capchaResult($event)"></app-recaptcha>
        
        <!-- Errors -->
        <div *ngIf="errorMessage!==''">
            <span class="__auth-error-line">
                {{errorMessage}}
            </span>
        </div>
        <div class="__form-separator"></div>
        <!-- Buttons for a wizard -->
        <div *ngIf="wizardButtons" class="__auth-buttons-wizard-area">
            <button class="__outlined-button" type="button" (click)="onBack.emit()">
                {{'global.widget_btn-back' | transloco}}
            </button>
            <button class="__main-button __button-separator" type="submit" [disabled]="done">
                {{'login-panel.btn_login' | transloco}}
            </button>
        </div>
        <!-- Default Buttons -->
        <div *ngIf="!wizardButtons" class="__auth-buttons-wizard-area">
            <button class="__main-button __button-login-wide __main-button-auth" type="submit" [disabled]="done">
                {{'login-panel.btn_login' | transloco}}
            </button>
        </div>
        <div class="__form-separator"></div>
        <div class="__auth-buttons-wizard-area">
            <span class="fake_link" (click)="openForgotPasswordPage()">
                {{'login-panel.forgot_password' | transloco}}
            </span>
        </div>
    </form>
</div>

<app-signup-info-panel #signupInfo *ngIf="extraData" buttonTitle="SAVE" (error)="registerError($event)"
    (progressChange)="onSignupProgress($event)" (done)="onSignupDone($event)"></app-signup-info-panel>

<div *ngIf=twoFa>
    <form [formGroup]="twoFaForm" (ngSubmit)="onTwoFaSubmit()">
        <!-- 2FA code -->
        <app-form-textbox 
            [label]="'login-panel.field_code'" 
            [boxType]="'text'"
            [placeholder]="'login-panel.field_code-placeholder'" 
            [maxlength]="20" 
            formControlName="code"
            [errorMessages]="twoFaErrorMessages" [separator]="true">
        </app-form-textbox>
        <!-- Errors -->
        <div *ngIf="errorMessage!==''">
            <span class="__auth-error-line">
                {{errorMessage}}
            </span>
            <div class="__form-separator"></div>
        </div>
        <button class="__main-button __button-wide" type="submit" [disabled]="done2Fa">
            {{'login-panel.btn_send' | transloco}}
        </button>
    </form>
</div>

<div *ngIf="!twoFa && !extraData && !wizardButtons && allowCreate" class="__auth-footer-area">
    <span class="__auth-footer-text">
        {{'login-panel.not_member' | transloco}}
    </span>
    <a href="/{{userTypeSection}}/auth/register">
        {{'login-panel.create_account' | transloco}}
    </a>
</div>