<div *ngIf="!extraData">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <app-form-textbox [label]="'Email'" [boxType]="'email'" [placeholder]="'Enter your email here'" [maxlength]="50"
            formControlName="email" [errorMessages]="emailErrorMessages" [separator]="true">
        </app-form-textbox>

        <!-- Password 1 -->
        <app-form-password [label]="'Password'" [placeholder]="'Enter your password here'" [maxlength]="50"
            formControlName="password1" [errorMessages]="password1ErrorMessages" [separator]="true">
        </app-form-password>

        <!-- Confirm password -->
        <app-form-password [label]="'Password confirmation'" [placeholder]="'Repeat your password here'" [maxlength]="50"
            formControlName="password2" [errorMessages]="password2ErrorMessages" [separator]="true">
        </app-form-password>

        <!-- Agreement -->
        <mat-checkbox color="primary" formControlName="agreement" class="__widget-checkout">
            I agree to the
            <a target="_blank" rel="noopener noreferrer" href="/terms">
                Terms & Conditions
            </a>
        </mat-checkbox>
        <div class="__form-separator"></div>

        <!-- Errors -->
        <div *ngIf="errorMessage!==''">
            <span class="__auth-error-line">
                {{errorMessage}}
            </span>
            <div class="__form-separator"></div>
        </div>

        <!-- Buttons -->
        <div class="__widget-buttons-area">
            <button class="__main-button __button-wide" type="submit" [disabled]="!validData">create account</button>
            <a class="__button-wide-separator" href="/personal/auth/login">
                Already member?
            </a>
        </div>
    </form>
</div>

<app-signup-info-panel #signupInfo *ngIf="extraData" buttonTitle="SAVE" (error)="registerError($event)"
    (progressChange)="onSignupProgress($event)" (done)="onSignupDone($event)">
</app-signup-info-panel>
