<h2 class="__auth-title">
    Please, specify your personal data
</h2>
<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
    <!-- Full name (Personal) -->
    <div *ngIf="requireUserFullName && !isMerchant">
        <app-form-textbox [label]="'First Name'" [boxType]="'text'" [placeholder]="'User first name'" [maxlength]="80"
            formControlName="firstName" [errorMessages]="firstNameErrorMessages" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Last Name'" [boxType]="'text'" [placeholder]="'User last name'" [maxlength]="80"
            formControlName="lastName" [errorMessages]="lastNameErrorMessages" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Company name (Merchant) -->
    <div *ngIf="requireUserFullName && isMerchant">
        <app-form-textbox [label]="'Company Name'" [boxType]="'text'" [placeholder]="'Company Name'" [maxlength]="80"
            formControlName="firstName" [errorMessages]="companyNameErrorMessages" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Birthday -->
    <mat-form-field class="form-element" *ngIf="requireUserBirthday">
        <mat-label>Birthday</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startBirthday"></mat-datepicker>
        <mat-error *ngIf="birthdayControl?.hasError('required')">
            Please specify your birthday
        </mat-error>
    </mat-form-field>

    <div class="__auth-phone-container" *ngIf="requireUserPhone">
        <app-form-textbox [label]="'Code'" [boxType]="'text'" [placeholder]="'Code'" [maxlength]="4"
            formControlName="phoneCode" [errorMessages]="phoneCodeErrorMessages">
        </app-form-textbox>
        <app-form-textbox [label]="'Phone number'" [boxType]="'text'" [placeholder]="'Phone number'" [maxlength]="10"
            formControlName="phoneNumber" [errorMessages]="phoneNumberErrorMessages">
        </app-form-textbox>
        <div class="__form-separator"></div>
    </div>

    <!-- Address -->
    <div *ngIf="requireUserAddress">
        <app-form-textbox [label]="'Post Code'" [boxType]="'text'" [placeholder]="'Post Code'" [maxlength]="10"
            formControlName="postCode" [errorMessages]="postCodeErrorMessages" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'City'" [boxType]="'text'" [placeholder]="'City'" [maxlength]="30"
            formControlName="town" [errorMessages]="townErrorMessages" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Street'" [boxType]="'text'" [placeholder]="'Street'" [maxlength]="50"
            formControlName="street" [errorMessages]="streetErrorMessages" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Substreet'" [boxType]="'text'" [placeholder]="'Substreet'" [maxlength]="50"
            formControlName="subStreet" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'State Name'" [boxType]="'text'" [placeholder]="'State Name'" [maxlength]="30"
            formControlName="stateName" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Building Name'" [boxType]="'text'" [placeholder]="'Building Name'" [maxlength]="30"
            formControlName="buildingName" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Building Number'" [boxType]="'text'" [placeholder]="'Building Number'" [maxlength]="4"
            formControlName="buildingNumber" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Flat Number -->
    <div *ngIf="requireUserFlatNumber || requireUserAddress">
        <app-form-textbox [label]="'Flat Number'" [boxType]="'text'" [placeholder]="'Flat Number'" [maxlength]="7"
            formControlName="flatNumber" [errorMessages]="flatNumberErrorMessages" [separator]="true">
        </app-form-textbox>
    </div>
    
    <div class="__auth-buttons-wizard-area">
        <button class="__main-button __button-wide" type="submit">
            {{buttonTitle}}
        </button>
    </div>

    <div class="__form-separator"></div>
</form>