<div *ngIf="!extraData">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <app-form-textbox [label]="'Email'" [boxType]="'email'" [placeholder]="'Enter your email here'" [maxlength]="50"
            formControlName="email" [errorMessages]="emailErrorMessages" [separator]="true">
        </app-form-textbox>

        <!-- Password 1 -->
        <app-form-password [label]="'Password'" [placeholder]="'Enter your password here'" [maxlength]="50"
            formControlName="password1" [errorMessages]="password1ErrorMessages" [separator]="true">
        </app-form-password>

        <!-- Confirm password -->
        <app-form-password [label]="'Password confirmation'" [placeholder]="'Repeat your password here'" [maxlength]="50"
            formControlName="password2" [errorMessages]="password2ErrorMessages" [separator]="true">
        </app-form-password>

        <!-- Agreement -->
        <mat-checkbox color="accent" formControlName="agreement" class="__widget-checkout">
            I agree to the
            <a target="_blank" rel="noopener noreferrer" href="/terms">
                Terms & <br *ngIf="wizardButtons">Conditions
            </a>
        </mat-checkbox>
        <div class="__form-separator"></div>
        <div class="__auth-body">
            <mat-checkbox color="accent" formControlName="pep" class="__widget-checkout">
                <span style="white-space: pre-line;">
                    I herby confirm i am not a PEP, relative of PEP, or close associate of a PEP
                </span>
            </mat-checkbox>
        </div>
        <div class="__form-separator"></div>

        <!-- Errors -->
        <div *ngIf="errorMessage!==''">
            <span class="__auth-error-line">
                {{errorMessage}}
            </span>
            <div class="__form-separator"></div>
        </div>

        <!-- Wizard Buttons -->
        <div *ngIf="wizardButtons" class="__widget-buttons-area">
            <button class="__outlined-button" type="button" (click)="onBack.emit()">BACK</button>
            <button class="__main-button __button-separator" type="submit" [disabled]="!validData">create</button>
        </div>
        <!-- Default Buttons -->
        <div *ngIf="!wizardButtons" class="__auth-buttons-wizard-area">
            <button class="__main-button __button-login-wide __main-button-auth" type="submit" [disabled]="!validData">create account</button>
        </div>
        <div *ngIf="!wizardButtons" class="__form-separator"></div>
        <div *ngIf="!wizardButtons" class="__auth-buttons-wizard-area">
            <span class="__auth-footer-text">Already member?</span>
            <a href="/{{userTypeSection}}/auth/login">
                Log in to your account
            </a>
        </div>
    </form>
</div>

<app-signup-info-panel #signupInfo *ngIf="extraData" buttonTitle="SAVE" (error)="registerError($event)"
    (progressChange)="onSignupProgress($event)" (done)="onSignupDone($event)">
</app-signup-info-panel>
