<h2 class="__auth-title">
    Please, specify your personal data
</h2>
<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
    <!-- Full name (Personal) -->
    <div *ngIf="requireUserFullName && !isMerchant">
        <app-form-textbox [label]="'First Name'" [boxType]="'text'" [placeholder]="'User first name'" [maxlength]="80"
            formControlName="firstName" [errorMessages]="firstNameErrorMessages" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Last Name'" [boxType]="'text'" [placeholder]="'User last name'" [maxlength]="80"
            formControlName="lastName" [errorMessages]="lastNameErrorMessages" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Company name (Merchant) -->
    <div *ngIf="requireUserFullName && isMerchant">
        <app-form-textbox [label]="'Company Name'" [boxType]="'text'" [placeholder]="'Company Name'" [maxlength]="80"
            formControlName="firstName" [errorMessages]="companyNameErrorMessages" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Birthday -->
    <mat-form-field class="form-element" *ngIf="requireUserBirthday">
        <mat-label>Birthday</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startBirthday"></mat-datepicker>
        <mat-error *ngIf="birthdayControl?.hasError('required')">
            Please specify your birthday
        </mat-error>
    </mat-form-field>

    <div class="__auth-phone-container" *ngIf="requireUserPhone">
        <app-form-textbox [label]="'Code'" [boxType]="'text'" [placeholder]="'Code'" [maxlength]="4"
            formControlName="phoneCode" [errorMessages]="phoneCodeErrorMessages">
        </app-form-textbox>
        <app-form-textbox [label]="'Phone number'" [boxType]="'text'" [placeholder]="'Phone number'" [maxlength]="10"
            formControlName="phoneNumber" [errorMessages]="phoneNumberErrorMessages">
        </app-form-textbox>
    </div>

    <!-- Address -->
    <div *ngIf="requireUserAddress">
        <!-- Post code -->
        <mat-form-field class="form-element">
            <mat-label>Post Code</mat-label>
            <input type="text" matInput formControlName="postCode" maxlength="10" placeholder="Post Code" required />
            <mat-error *ngIf="this.postCodeControl?.hasError('required')">
                Please specify your post code
            </mat-error>
        </mat-form-field>

        <!-- City -->
        <mat-form-field class="form-element">
            <mat-label>City</mat-label>
            <input type="text" matInput formControlName="town" maxlength="30" placeholder="City" required />
            <mat-error *ngIf="this.townControl?.hasError('required')">
                Please specify your city name
            </mat-error>
        </mat-form-field>

        <!-- Post code -->
        <mat-form-field class="form-element">
            <mat-label>Street</mat-label>
            <input type="text" matInput formControlName="street" maxlength="50" placeholder="Street" required />
            <mat-error *ngIf="this.streetControl?.hasError('required')">
                Please specify your street name
            </mat-error>
        </mat-form-field>

        <!-- Substreet -->
        <mat-form-field class="form-element">
            <mat-label>Substreet</mat-label>
            <input type="text" matInput formControlName="subStreet" maxlength="50" placeholder="Substreet" />
        </mat-form-field>

        <!-- State Name -->
        <mat-form-field class="form-element">
            <mat-label>State Name</mat-label>
            <input type="text" matInput formControlName="stateName" maxlength="30" placeholder="State Name" />
        </mat-form-field>

        <!-- Building Name -->
        <mat-form-field class="form-element">
            <mat-label>Building Name</mat-label>
            <input type="text" matInput formControlName="buildingName" maxlength="30" placeholder="Building Name" />
        </mat-form-field>

        <!-- Building Number -->
        <mat-form-field class="form-element">
            <mat-label>Building Number</mat-label>
            <input type="text" matInput formControlName="buildingNumber" maxlength="4" placeholder="Building Number" />
        </mat-form-field>
    </div>

    <!-- Flat Number -->
    <mat-form-field class="form-element" *ngIf="requireUserFlatNumber || requireUserAddress">
        <mat-label>Flat Number</mat-label>
        <input type="text" matInput formControlName="flatNumber" maxlength="7" placeholder="Flat number"
            [required]="requireUserFlatNumber" />
        <mat-error *ngIf="this.infoForm.get('flatNumber')?.hasError('required')">
            Please specify your flat number
        </mat-error>
    </mat-form-field>

    <div class="__widget-buttons-area">
        <button class="__main-button __button-wide" type="submit">
            {{buttonTitle}}
        </button>
    </div>
</form>