<h2 class="__auth-title">
    Please, specify your personal data
</h2>
<form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
    <div class="__form-separator"></div>
    
    <!-- Full name (Personal) -->
    <div *ngIf="requireUserFullName && !isMerchant">
        <app-form-textbox [label]="'First Name'" [boxType]="'text'" [placeholder]="'User first name'" [maxlength]="80"
            formControlName="firstName" [errorMessages]="firstNameErrorMessages" [asterisk]="true" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Last Name'" [boxType]="'text'" [placeholder]="'User last name'" [maxlength]="80"
            formControlName="lastName" [errorMessages]="lastNameErrorMessages" [asterisk]="true" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Company name (Merchant) -->
    <div *ngIf="requireUserFullName && isMerchant">
        <app-form-textbox [label]="'Company Name'" [boxType]="'text'" [placeholder]="'Company Name'" [maxlength]="80"
            formControlName="companyName" [errorMessages]="companyNameErrorMessages" [asterisk]="true" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Birthday -->
    <div *ngIf="requireUserBirthday">
        <div class="__form-label">
            Birthday <span class="__form-assist-error">*</span>
        </div>
        <div class="__form-textbox-border">
            <input
                [ngClass]="{'__form-text-box': infoForm.controls.birthday?.valid, '__form-text-box-error': !infoForm.controls.birthday?.valid}"
                type="text" mask="d0/M0/0000" placeholder="DD/MM/YYYY" [dropSpecialCharacters]="false"
                formControlName="birthday" autocomplete="false" />
            <div *ngIf="!infoForm.controls.birthday?.valid" class="__form-input-error-icon-container">
                <mat-icon class="__form-input-error-icon">
                    error
                </mat-icon>
            </div>
        </div>
        <div *ngIf="!infoForm.controls.birthday?.valid" class="__form-assist __form-assist-error">
            Please specify your birthday
        </div>
        <div class="__form-separator"></div>
    </div>

    <!-- Phone -->
    <div class="__auth-phone-container" *ngIf="requireUserPhone">
        <app-form-textbox [label]="'Code'" [boxType]="'text'" [placeholder]="'Code'" [maxlength]="4"
            formControlName="phoneCode" [asterisk]="true" [errorMessages]="phoneCodeErrorMessages">
        </app-form-textbox>
        <app-form-textbox [label]="'Phone number'" [boxType]="'text'" [placeholder]="'Phone number'" [maxlength]="10"
            formControlName="phoneNumber" [numberField]="true" [asterisk]="true" [errorMessages]="phoneNumberErrorMessages">
        </app-form-textbox>
        <div class="__form-separator"></div>
    </div>

    <!-- Address -->
    <div *ngIf="requireUserAddress">
        <app-form-textbox [label]="'Post Code'" [boxType]="'text'" [placeholder]="'Post Code'" [maxlength]="10"
            formControlName="postCode" [errorMessages]="postCodeErrorMessages" [asterisk]="true" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'City'" [boxType]="'text'" [placeholder]="'City'" [maxlength]="30"
            formControlName="town" [errorMessages]="townErrorMessages" [asterisk]="true" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Street'" [boxType]="'text'" [placeholder]="'Street'" [maxlength]="50"
            formControlName="street" [errorMessages]="streetErrorMessages" [asterisk]="true" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Substreet'" [boxType]="'text'" [placeholder]="'Substreet'" [maxlength]="50"
            formControlName="subStreet" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'State Name'" [boxType]="'text'" [placeholder]="'State Name'" [maxlength]="30"
            formControlName="stateName" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Building Name'" [boxType]="'text'" [placeholder]="'Building Name'" [maxlength]="30"
            formControlName="buildingName" [separator]="true">
        </app-form-textbox>
        <app-form-textbox [label]="'Building Number'" [boxType]="'text'" [placeholder]="'Building Number'"
            [maxlength]="4" formControlName="buildingNumber" [numberField]="true" [separator]="true">
        </app-form-textbox>
    </div>

    <!-- Flat Number -->
    <div *ngIf="requireUserFlatNumber || requireUserAddress">
        <app-form-textbox [label]="'Flat Number'" [boxType]="'text'" [placeholder]="'Flat Number'" [maxlength]="7"
            formControlName="flatNumber" [errorMessages]="flatNumberErrorMessages" [numberField]="true"
            [asterisk]="true" [separator]="true">
        </app-form-textbox>
    </div>

    <div class="__auth-buttons-wizard-area">
        <button class="__main-button __button-wide" type="submit" [disabled]="!infoForm.valid">
            {{buttonTitle}}
        </button>
    </div>

    <div class="__form-separator"></div>
</form>