<div *ngIf="inProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
</div>
<div class="form-error-box" *ngIf="errorMessage!==''">
    {{errorMessage}}
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;">
        <!-- <app-account-balance></app-account-balance> -->
        <app-two-FA></app-two-FA>
    </div>
    <div style="width: 50%;margin: 0.5em;">
        <app-quick-transfer></app-quick-transfer>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;">
        <app-exchange></app-exchange>
    </div>
    <div style="width: 50%;margin: 0.5em;">
        <app-notifications></app-notifications>
    </div>
</div>
<div style="margin: 0.5em;">
    <app-transactions [recent]="true"></app-transactions>
</div>