<div class="__profile-data-container">
    <div class="form-error-box" *ngIf="errorMessage!==''">
        {{errorMessage}}
    </div>
    <!-- <app-personal-balance-chart></app-personal-balance-chart> -->
    <app-personal-balance-list></app-personal-balance-list>

    <div class="__profile-data-title">Recent transactions</div>
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <app-personal-transaction-list [recent]=true #transactions (onShowDetails)="showTransactionDetails($event)"
        (onError)="handleError($event)" (onProgress)="progressChanged($event)"></app-personal-transaction-list>
</div>