<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;background-color: darkkhaki;">
        Account Balance
    </div>
    <div style="width: 50%;margin: 0.5em;background-color:darksalmon;">
        Quick Transfer
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;background-color:darkturquoise;">
        Exchange
    </div>
    <div style="width: 50%;margin: 0.5em;background-color:greenyellow;">
        Recent Notifications
    </div>
</div>
<div style="margin: 0.5em;background-color: hotpink;">
    Transactions
</div>