<div class="kyc-page-split">
    <div class="kyc-page-left-panel">
        <div class="kyc-page-box">
            <a [href]="getUserMainPage()" style="margin-left: 1em;color: #000000;">
                <mat-icon>attractions</mat-icon>
            </a>
            <h2>Personal profile - data approval</h2>
        </div>
    </div>
    <div class="kyc-page-right-panel">
        <div class="kyc-page-box">
            <div class="form-error-box" *ngIf="errorMessage!==''">
                {{errorMessage}}
            </div>
            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
            <kyc-panel [url]="settingsCommon?.kycBaseAddress" [flow]="flow">
            </kyc-panel>
        </div>
    </div>
</div>