<div class="kyc-editor-split">
    <div class="kyc-editor-left-panel">
        <div class="kyc-editor-box">
            <h2>Personal profile - data approval</h2>
        </div>
    </div>
    <div class="kyc-editor-right-panel">
        <div class="kyc-editor-box">
            <div class="form-error-box" *ngIf="errorMessage!==''">
                {{errorMessage}}
            </div>
            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>

            <div>
                <kyc-panel class="kyc-level-item" *ngFor="let level of levels" 
                [level]="level" [url]="settingsCommon?.kycBaseAddress">

                </kyc-panel>
            </div>
        </div>
        <!-- <div id="sumsub-websdk-container"></div> -->
    </div>
</div>