<div *ngIf="inProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
</div>
<div class="form-error-box" *ngIf="errorMessage!==''">
    {{errorMessage}}
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;">
        <app-info [user]="user"></app-info>
    </div>
    <div style="width: 50%;margin: 0.5em;">
        <app-two-FA></app-two-FA>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;">
        <app-password [twoFaEnabled]="twoFaEnabled" *ngIf="passwordCanBeChanged"></app-password>
    </div>
    <div style="width: 50%;margin: 0.5em;">
        <app-verification></app-verification>
    </div>
</div>
<div style="margin: 0.5em;">
    <app-notifications></app-notifications>
</div>