<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;">
        <app-info></app-info>
    </div>
    <div style="width: 50%;margin: 0.5em;">
        <app-two-FA></app-two-FA>
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;">
        <app-password></app-password>
    </div>
    <div style="width: 50%;margin: 0.5em;">
        <app-verification></app-verification>
    </div>
</div>
<div style="margin: 0.5em;">
    <app-notifications></app-notifications>
</div>