<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;background-color: darkkhaki;">
        Info
    </div>
    <div style="width: 50%;margin: 0.5em;background-color:darksalmon;">
        Tow-Factor Authentication
    </div>
</div>
<div style="display: flex;">
    <div style="width: 50%;margin: 0.5em;background-color:darkturquoise;">
        Password
    </div>
    <div style="width: 50%;margin: 0.5em;background-color:greenyellow;">
        Verification
    </div>
</div>
<div style="margin: 0.5em;background-color: hotpink;">
    Recent Notifications
</div>