<app-notifications-filter [data]="filter" (update)="onFilterUpdate($event)"></app-notifications-filter>
<div class="__profile-data-container __profile-data-container-full">
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <div class="__profile-internal-table-container">
        <div
            [ngClass]="details ? '__profile-internal-table-data-container-open' : '__profile-internal-table-data-container-closed'">
            <app-personal-notification-list #datalist (onOpenDetails)="showDetails($event)" (onCloseDetails)="details=false"
                (onError)="handleError($event)" (onProgress)="progressChanged($event)"></app-personal-notification-list>
        </div>
        <div
            [ngClass]="details ? '__profile-internal-table-details-container-open' : '__profile-internal-table-details-container-closed'">
            <div class="__profile-internal-table-details-header-box">
                <button class="__tool-button" (click)="details=false">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
            <div class="__profile-internal-table-details-box">
                <div class="__profile-internal-table-details-data-box">
                    <h2 class="__profile-internal-details-title">
                        {{selectedNotification?.title}}
                    </h2>
                    <div class="__profile-internal-table-details-value-box">
                        <div class="__profile-internal-table-details-item-title-box">
                            <div class="__profile-internal-details-item-title">
                                Notification ID:
                            </div>
                        </div>
                        <div class="__profile-internal-details-item-title">
                            {{selectedNotification?.id}}
                        </div>
                    </div>
                    <div class="__profile-internal-table-details-value-box">
                        <div class="__profile-internal-table-details-item-title-box">
                            <div class="__profile-internal-details-item-title">
                                Date:
                            </div>
                        </div>
                        <div class="__profile-internal-details-item-title">
                            {{selectedNotification?.created}}
                        </div>
                    </div>
                    <div class="__profile-internal-table-details-text-box">
                        <div class="__profile-internal-details-item-title">
                            {{selectedNotification?.text}}
                        </div>
                    </div>
                    <div class="__profile-buttons-area">
                        <button class="__main-button __button-wide-separator" type="button" [disabled]="lastItem" (click)="nextItem()">next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>