.kyc-page-split {
    display : flex;
    height  : 100%;
    overflow: auto;
}

.kyc-page-left-panel {
    padding  : 0em;
    width    : 55%;
    min-width: 10em;
    height   : 100%;
    overflow : auto;
}

.kyc-page-right-panel {
    z-index         : 100;
    background-color: #DDDFE6;
    padding         : 0;
    width           : 45%;
    max-width       : 45%;
    height          : 100%;
    overflow        : auto;
}

.kyc-page-box {
    padding: 1em;
    margin    : 0em;
    margin-top: 1em;

    h2 {
        margin   : auto;
        font-size: medium;
    }
}
