<app-settings-bar></app-settings-bar>
<div class="__profile-data-container __profile-data-container-full">
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <div class="__profile-internal-table-container">
        <!-- <div
            [ngClass]="details ? '__profile-internal-table-data-container-open' : '__profile-internal-table-data-container-closed'">
            <app-personal-notification-list #datalist (onOpenDetails)="showDetails($event)" (onCloseDetails)="details=false"
                (onError)="handleError($event)" (onProgress)="progressChanged($event)"></app-personal-notification-list>
        </div> -->
    </div>
</div>