.__profile-transactions-table-column-transaction {
    flex: 0 0 12%;
    width: 12%;
    min-width: 119px;
}

.__profile-transactions-table-column-sender {
    flex: 0 0 15%;
    width: 15%;
    min-width: 179px;
}

.__profile-transactions-table-column-recipient {
    flex: 0 0 15%;
    width: 15%;
    min-width: 179px;
}

.__profile-transactions-table-column-sent {
    flex: 0 0 12%;
    width: 12%;
    min-width: 119px;
}

.__profile-transactions-table-column-received {
    flex: 0 0 12%;
    width: 12%;
    min-width: 119px;
}

.__profile-transactions-table-column-fees {
    flex: 0 0 12%;
    width: 12%;
    min-width: 119px;
}

.__profile-transactions-table-column-status {
    flex: 0 0 12%;
    width: 12%;
    min-width: 120px;
}

.__profile-transactions-table-column-details {
    flex: 0 0 10%;
    width: 10%;
    min-width: 59px;
}
