<!-- main-header -->
<div class="main-header side-header sticky nav nav-item">
  <div class=" main-container container-fluid">
    <div class="main-header-left ">
      <div class="responsive-logo">
        <div style="display: flex; padding: 0 30px;">
          <img class="__admin-top-menu-logo logo-fix" [src]="logoSrc" [alt]="logoAlt" (click)="goToMainPage()">
        </div>
      </div>
      <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
        <a appSidemenuToggle class="open-toggle" href="javascript:void(0);">
          <i class="header-icon fe fe-align-left"></i>
        </a>
        <a appSidemenuToggle class="close-toggle" href="javascript:void(0);">
          <i class="header-icon fe fe-x"></i>
        </a>
      </div>
      <div class="logo-horizontal">
        <div style="display: flex; padding: 0 30px;">
          <img class="__admin-top-menu-logo logo-fix" [src]="logoSrc" [alt]="logoAlt" (click)="goToMainPage()">
        </div>
      </div>
    </div>
    <div class="main-header-right">    
      <div class="d-flex">
        <a (click)="signout()" class="demo-icon new nav-link" href="javascript:void(0);">
          <i class="material-icons" style="font-size: 20px;color: rgb(136, 136, 136);">logout</i>
        </a>
      </div>

    </div>
  </div>
</div>
<!-- /main-header -->
