<app-filter-panel [fields]="filterFields" (filter)="handleFilterApplied($event)"></app-filter-panel>

<div class="data-table">
    <mat-table matSort matSortDirection="desc" matSortDisableClear [matSortActive]="sortedField" [dataSource]="data">

        <ng-container matColumnDef="details" sticky>
            <th mat-header-cell *matHeaderCellDef class="action"></th>
            <td mat-cell *matCellDef="let element" style="margin: 0px;padding: 0px 8px; background-color: white;">
                <button mat-icon-button class="row-button" (click)="toggleDetails(element)"
                    [attr.aria-label]="'Notification details'" [attr.aria-pressed]="!!selectedItem"
                    [matTooltip]="getDetailsTooltip(element.id)" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">{{getDetailsIcon(element.id)}}</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="created">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Created</th>
            <td mat-cell *matCellDef="let element"> {{element.created}} </td>
        </ng-container>

        <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef>Text</th>
            <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>


        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>


        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>User</th>
            <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
        </ng-container>


        <ng-container matColumnDef="userNotificationId">
            <th mat-header-cell *matHeaderCellDef>User notification Id</th>
            <td mat-cell *matCellDef="let element"> {{element.userNotificationId}} </td>
        </ng-container>


        <ng-container matColumnDef="userNotificationLevel">
            <th mat-header-cell *matHeaderCellDef>User notification level</th>
            <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>User notification type code</th>
            <td mat-cell *matCellDef="let element"> {{element.userNotificationTypeCode}} </td>
        </ng-container>

        <ng-container matColumnDef="viewed">
            <th mat-header-cell *matHeaderCellDef>Viewed</th>
            <td mat-cell *matCellDef="let element"> {{element.viewed}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>

<mat-paginator [length]="messageCount" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons
    (page)="handlePage($event)">
</mat-paginator>

<ng-template *ngIf="selectedItem" appRightPanel (panelClosed)="handleDetailsPanelClosed()">
    <app-notification-details [message]="selectedItem" (resend)="onMessageResend($event)">
    </app-notification-details>
</ng-template>