<div *ngIf="data" class="card card-body pd-20 pd-md-40 border shadow-none overflow-hidden">
    <h5 class="card-title mg-b-20">
        {{title}}
    </h5>
    <div class="__dashboard-card-block">
        <div *ngFor="let col of data.columns" class="__dashboard-card-column"
            [ngClass]="{'__dashboard-card-column': true, 'align-right': col.type !== 'text'}">
            <div class="__dashboard-card-header">{{col.label}}</div>
            <div *ngFor="let row of data.rows">
                @switch (col.type) {
                    @case ('count-volume') {
                        @if (row[col.key + 'Volume']) {
                            @if (row[col.key + 'Count']) {
                                <span>({{row[col.key + 'Count']}})</span>
                            }
                            <span>&nbsp;&euro;</span>
                            <span>{{row[col.key + 'Volume'] | customNumberFormat}}</span>
                        }
                    }
                    @case ('number') {
                        @if (source === 'fees' && col.label === 'Value') {
                            <span>&nbsp;&euro;</span>
                        }
                        @if (source === 'fees' && col.label === 'Count' ||
                            source === 'balances' && col.label === 'Wallets' ||
                            source === 'paids' && col.label === 'Count') {
                            <span>{{row[col.key]}}</span>
                        } @else {
                            <span>{{row[col.key] | customNumberFormat}}</span>
                        }
                    }
                    @default {
                        <span>{{row[col.key]}}</span>
                   }
                }
            </div>
        </div>
    </div>
</div>