<div class="__widget-frame-box">
 
  <!-- <app-widget 
    ngClass="widget-size-qc"
    [ngStyle]="{'margin': '0 auto', 'letter-spacing': '.1em', 'min-width': !widgetSize ? '100%' : ''}" 
    [settings]="settings" 
    [userParamsId]="userParamsId" 
    (onIFramePay)="iframePay($event)"
    [quickCheckout]=true>
  </app-widget> -->

  <app-widget-internal
    [ngStyle]="{'margin': '0 auto', 'letter-spacing': '.1em', 'min-width': !widgetSize ? '100%' : ''}" 
    [settings]="settings" 
    [userParamsId]="userParamsId" 
    (onIFramePay)="iframePay($event)"
    [quickCheckout]=true>
  </app-widget-internal>
</div>

<div *ngIf="!prodMode" style="grid-column: 3;grid-row: 1;padding: 12px;color: #1A68AD;height: 48px;z-index: 333;">
  mkBUjw37y46goULToq6b7y6ciJc3Qi32YM
</div>
