<h3>Change Password</h3>
<div *ngIf="inProgress">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <br />
</div>
<div class="form-element" *ngIf="errorMessage !== ''">
  <div class="form-error-box">
    {{ errorMessage }}
  </div>
  <br />
</div>
<form #passwordform="ngForm" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <!--2FA Code-->
  <mat-form-field *ngIf='twoFaEnabled' class="form-element">
    <mat-label>Two-Factor Authentication Code</mat-label>
    <input type="text" matInput formControlName="twofaCode" />
    <mat-error *ngIf="this.passwordForm.get('twofaCode')?.hasError('required')">
      Please specify your Two-Factor Authentication Code
    </mat-error>
  </mat-form-field>

  <!--Current Password-->
  <mat-form-field class="form-element">
    <mat-label>Current Password</mat-label>
    <input [type]="hidePassword1 ? 'password' : 'text'" matInput maxlength="30" placeholder="Type your current password"
      formControlName="currentPassword" />
    <button mat-icon-button matSuffix type="button" (click)="hidePassword1 = !hidePassword1"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword1"
      [matTooltip]="hidePassword1 ? 'Show password' : 'Hide password'" matTooltipClass="info-tooltip">
      <mat-icon>{{ hidePassword1 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="this.passwordForm.get('currentPassword')?.hasError('required')">
      Please specify your current password
    </mat-error>
  </mat-form-field>

  <!--New Password-->
  <mat-form-field class="form-element">
    <mat-label>New Password</mat-label>
    <input [type]="hidePassword2 ? 'password' : 'text'" matInput maxlength="30" placeholder="Type your new password"
      formControlName="newPassword" />
    <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Info'"
      matTooltip="Password must be at least 8 symbols long, and must contain latin lowercase and uppercase symbols, digits, and special symbols"
      matTooltipClass="info-tooltip">
      <mat-icon>info_outline</mat-icon>
    </button>
    <button mat-icon-button matSuffix type="button" (click)="hidePassword2 = !hidePassword2"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword2"
      [matTooltip]="hidePassword2 ? 'Show password' : 'Hide password'" matTooltipClass="info-tooltip">
      <mat-icon>{{ hidePassword2 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="this.passwordForm.get('currentPassword')?.hasError('required')">
      Please specify your new password
    </mat-error>
  </mat-form-field>

  <!--Confirm Password-->
  <mat-form-field class="form-element">
    <mat-label>Confirm Password</mat-label>
    <input [type]="hidePassword3 ? 'password' : 'text'" matInput maxlength="30" placeholder="Type your confirm password"
      formControlName="confirmPassword" />
    <button mat-icon-button matSuffix type="button" (click)="hidePassword3 = !hidePassword3"
      [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword3"
      [matTooltip]="hidePassword3 ? 'Show password' : 'Hide password'" matTooltipClass="info-tooltip">
      <mat-icon>{{ hidePassword3 ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="this.passwordForm.get('currentPassword')?.hasError('required')">
      Please confirm your password
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="this.passwordForm.errors?.passwordEqual">
    Passwords are not equal
  </mat-error>

  <div class="form-element">
    <button class="main-button main-button-accent" type="submit">SAVE</button>
  </div>
</form>