@import "../../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.action-list-selector-column {
  margin: 0px;
  padding: 0px 8px;
}

.action-list-data-column {
  margin: 0px;
  padding: 0px;
}

.action-list-data-date {
  flex: 0 0 10%;
  width: 10%;
  min-width: 2em;
}

.action-list-data-user {
  flex: 0 0 18%;
  width: 18%;
  min-width: 5em;
}

.action-list-data-action-type {
  flex: 0 0 20%;
  width: 20%;
  min-width: 5em;
}

.action-list-data-result {
  flex: 0 0 12%;
  width: 12%;
  min-width: 4em;
}

.action-list-data-status {
  flex: 0 0 15%;
  width: 15%;
  min-width: 4em;
}

.action-list-data-info {
  flex: 0 0 35%;
  width: 35%;
  min-width: 6em;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
