<app-admin-page-header [title]="'User actions'" [items]="['Home']" [active_item]="'User actions'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <app-admin-filter [fields]="filterFields" [filterData]="filter" (filter)="handleFilterApplied($event)">
          </app-admin-filter>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="data-table">
            <mat-table matSort [matSortActive]="sortedField" matSortDirection="desc" matSortDisableClear
              [dataSource]="actions">
              <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="action-list-selector-column">
                  <button mat-icon-button class="row-button" (click)="showDetails(element, details_content)"
                    [attr.aria-label]="'Action details'" [attr.aria-pressed]="!!selectedAction"
                    matTooltip="Action details" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">wysiwyg</i>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element" class="action-list-data-date">
                  {{element.date}}
                </td>
              </ng-container>

              <ng-container matColumnDef="userId">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>User</th>
                <td mat-cell *matCellDef="let element" class="action-list-data-user">
                  {{element.userId}}
                 </td>
              </ng-container>

              <ng-container matColumnDef="actionType">
                <th mat-header-cell *matHeaderCellDef>Action type</th>
                <td mat-cell *matCellDef="let element" class="action-list-data-action-type">
                  {{element?.actionType?.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="result">
                <th mat-header-cell *matHeaderCellDef>Result</th>
                <td mat-cell *matCellDef="let element" class="action-list-data-result">
                  {{element?.result?.name}}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element" class="action-list-data-status">
                  {{element.status}}
                </td>
              </ng-container>

              <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef>Info</th>
                <td mat-cell *matCellDef="let element" class="action-list-data-info">
                  {{element.info}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
          </div>

          <div *ngIf="actionCount > pageSize" class="card card-body border shadow-none">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="actionCount"
              [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="10" aria-label="Table pagination"
              (pageChange)="handlePage($event)">
              <ng-template ngbPaginationFirst>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">first_page</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_left</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationNext>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationLast>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">last_page</i>
                </div>
              </ng-template>
            </ngb-pagination>
          </div>

          <ng-template #details_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">
                Action details
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-action-details [permission]="permission" [message]="selectedAction"
                (close)="modal.dismiss('Close')">
              </app-admin-action-details>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>