<div class="__widget-data-box">
    <div *ngIf="!methodSelected" class="__widget-provider-list-container">
        <button *ngFor="let method of methods" type="button" class="__widget-provider-item-button"
            (click)="onPaymentMethodSelected(method)">
            <!-- <img class="__widget-provider-item-image" alt="provider" [src]="item.image"> -->
            <h2 class="__widget-provider-item-title">
                {{method.name}}
            </h2>
        </button>
    </div>

    <div *ngIf="paymentProviders?.length > 1 && methodSelected" class="__widget-provider-list-container">
        <button *ngFor="let item of paymentProviders" type="button" class="__widget-provider-item-button"
            (click)="onProviderSeleted(item)">
            <img class="__widget-provider-item-image" alt="provider" [src]="item.image">
            <h2 class="__widget-provider-item-title">
                {{item.name}}
            </h2>
        </button>
    </div>

    <div class="__widget-buttons-area">
        <button class="__outlined-button" type="button" (click)="onBack.emit()">
            {{'global.widget_btn-back' | transloco}}
        </button>
    </div>

    <div class="__widget-data-error">
        {{errorMessage}}
    </div>
</div>

<ng-container *ngIf="isLoading">
    <app-spinner></app-spinner>
</ng-container>