<div class="action-panel">
    <button mat-flat-button color="primary" (click)="sendMessage()" [disabled]="!selected">
        SEND MESSAGE
    </button>
</div>

<app-filter-panel [fields]="filterFields" (filter)="handleFilterApplied($event)"></app-filter-panel>

<div class="data-table">
    <mat-table matSort matSortDirection="desc" matSortDisableClear [matSortActive]="sortedField"
        [dataSource]="customers">

        <ng-container matColumnDef="details" sticky>
            <th mat-header-cell *matHeaderCellDef class="action"></th>
            <td mat-cell *matCellDef="let element" style="margin: 0px;padding: 0px 8px; background-color: white;">
                <mat-checkbox color="accent" [checked]="element.selected"
                    (change)="onCustomerSelected(element)">
                </mat-checkbox>
                <button mat-icon-button class="row-button" (click)="toggleDetails(element)"
                    [attr.aria-label]="'Customer details'" [attr.aria-pressed]="!!selectedCustomer"
                    [matTooltip]="getDetailsTooltip(element.id)" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">
                        {{getDetailsIcon(element.id)}}
                    </mat-icon>
                </button>

                <button mat-icon-button class="row-button" (click)="showTransactions(element.id)"
                    [attr.aria-label]="'Customer transactions'" 
                    [matTooltip]="'Customer\'s transactions'" matTooltipClass="info-tooltip">
                    <mat-icon class="details-icon">
                        compare_arrows
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- ID Column -->
        <ng-container matColumnDef="referralCode">
            <th mat-header-cell *matHeaderCellDef>Customer ID</th>
            <td mat-cell *matCellDef="let element"> {{element.referralCode}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>First name</th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Last name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Last name</th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="accountStatus">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Account status</th>
            <td mat-cell *matCellDef="let element"> {{element.accountStatus}} </td>
        </ng-container>

        <!-- KYC Column -->
        <ng-container matColumnDef="kycStatus">
            <th mat-header-cell *matHeaderCellDef>KYC status</th>
            <td mat-cell *matCellDef="let element"> {{element.kycStatus}} </td>
        </ng-container>

        <!-- widgetId Column -->
        <ng-container matColumnDef="widgetId">
            <th mat-header-cell *matHeaderCellDef>Widget ID</th>
            <td mat-cell *matCellDef="let element"> {{element.widgetId}} </td>
        </ng-container>

        <!-- totalBought Column -->
        <ng-container matColumnDef="totalBought">
            <th mat-header-cell *matHeaderCellDef>Total Bought</th>
            <td mat-cell *matCellDef="let element"> {{element.totalBought}} </td>
        </ng-container>

        <!-- totalSold Column -->
        <ng-container matColumnDef="totalSold">
            <th mat-header-cell *matHeaderCellDef>Total Sold</th>
            <td mat-cell *matCellDef="let element"> {{element.totalSold}} </td>
        </ng-container>

        <!-- totalSent Column -->
        <ng-container matColumnDef="totalSent">
            <th mat-header-cell *matHeaderCellDef>Total Sent</th>
            <td mat-cell *matCellDef="let element"> {{element.totalSent}} </td>
        </ng-container>

        <!-- totalReceived Column -->
        <ng-container matColumnDef="totalReceived">
            <th mat-header-cell *matHeaderCellDef>Total Received</th>
            <td mat-cell *matCellDef="let element"> {{element.totalReceived}} </td>
        </ng-container>

        <!-- Registered Column -->
        <ng-container matColumnDef="created">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Registered</th>
            <td mat-cell *matCellDef="let element"> {{element.created}} </td>
        </ng-container>

        <!-- Country Column -->
        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef>Country</th>
            <td mat-cell *matCellDef="let element"> {{element.country?.title}} </td>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef>Phone</th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <!-- Risk Column -->
        <ng-container matColumnDef="risk">
            <th mat-header-cell *matHeaderCellDef>Risk Level</th>
            <td mat-cell *matCellDef="let element"> {{element.risk}} </td>
        </ng-container>

        <!-- User ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </mat-table>
</div>

<mat-paginator [length]="customerCount" [pageSize]="pageSize" [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons
    (page)="handlePage($event)">
</mat-paginator>

<ng-template *ngIf="selectedCustomer" appRightPanel (panelClosed)="handleDetailsPanelClosed()">
    <app-customer-details [customer]="selectedCustomer" [currencies]="currencyList" [cancelable]=true (save)="onSaveCustomer($event)"
        (delete)="onDeleteCustomer($event)" (cancel)="onCancelEdit()" (formChanged)="onEditorFormChanged($event)">
    </app-customer-details>
</ng-template>