<div class="__widget-data-box">
    <div class="__widget-disclaimer-area-center">
        <div class="__profile-details-payment-title-block">
            <div class="__profile-details-payment-title-image">
                <img src="assets/rocket.svg" alt="complete">
            </div>
        </div>
        <div *ngFor="let block of textData.blocks" class="__widget-disclaimer-container">
            <div *ngFor="let item of block.list">
                <h1 *ngIf="item.type===TEXT_TYPE.MainTitle" class="__widget-title">
                    {{item.keyBlock}}
                </h1>
                <h3 *ngIf="item.type===TEXT_TYPE.Title" class="__widget-summary-title">
                    {{item.keyBlock}}
                </h3>
                <span *ngIf="item.type===TEXT_TYPE.Text" class="__widget-disclaimer-line">
                    {{item.leftBlock}}
                </span>
                <span *ngIf="item.type===TEXT_TYPE.Support" class="__widget-disclaimer-line">
                    {{item.leftBlock}}
                    <a [href]="supportEmailLink">{{supportEmail}}</a>
                    {{item.rightBlock}}
                </span>
            </div>
        </div>
    </div>

    <div class="__widget-buttons-area">
        <button *ngIf="showRestartButton" class="__main-button" type="button" (click)="onFinish.emit()">
            {{'global.widget_btn-done' | transloco}}
        </button>
        <button *ngIf="!showRestartButton && finishLink!==''" class="__main-button" type="button" (click)="onFinish.emit()">
            return
        </button>
    </div>
</div>