<div class="__profile-data-container">
    <div style="margin: 24px 0px;">
        <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- Balance chart -->
    <app-personal-balance-chart [selectedCurrency]="selectedFiat" [currencies]="fiatCurrencies" [loading]="loading"
        (onCurrencyChanged)="currencyChanged($event)" (onError)="handleError($event)"
        (onProgress)="chartProgressChanged($event)"></app-personal-balance-chart>
    <!-- Balance carousel -->
    <app-personal-balance-list #balancelist (onError)="handleError($event)"
        (onProgress)="balanceProgressChanged($event)"></app-personal-balance-list>
    <!-- Recent transactions -->
    <div class="__profile-data-title">Recent transactions</div>
    <app-personal-transaction-list [recent]=true #transactions (onShowDetails)="showTransactionDetails($event)"
        (onError)="handleError($event)" (onProgress)="transactionProgressChanged($event)">
    </app-personal-transaction-list>
</div>