<div class="__widget-data-box">
    <div class="__profile-details-data-area">
        <div *ngIf="complete" class="__profile-details-payment-title-block">
            <div class="__profile-details-payment-title-image">
                <img src="assets/rocket.svg" alt="complete">
            </div>
        </div>
        <div class="__profile-details-payment-title-block">
            <div class="__profile-details-payment-title">
                {{title}}
            </div>
        </div>
        <div *ngIf="complete" class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Dear Customer,
            </span>
            <br>
            <span class="__widget-disclaimer-line">
                Your payment has been successfully completed.
            </span>
        </div>
        <div *ngIf="!complete" class="__widget-disclaimer-container">
            <span class="__widget-disclaimer-line">
                Dear Customer,
            </span>
            <br>
            <span class="__widget-disclaimer-line">
                Your payment is received partially. Please wait until it is completed.
            </span>
        </div>
    </div>
</div>