<div class="__widget-data-box">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <!-- Currency -->
        <app-form-finance-combo [label]="amountTitle" [placeholder]="'...'" [boxFieldName]="'amountTo'"
            [boxField]="amountTo" [comboField]="currencyTo" [comboFieldName]="'currencyTo'"
            [comboList]="currencies" [errorMessages]="amountErrorMessages" [separator]="true">
        </app-form-finance-combo>
        <!-- Buttons -->
        <div class="__widget-buttons-area">
            <button class="__main-button __button-wide-separator" type="submit" [disabled]="done || !dataForm.valid">
                next
            </button>
        </div>
    </form>

    <div class="__widget-data-error">
        {{errorMessage}}
    </div>
</div>