<div class="__widget-data-box">
    <div class="__widget-disclaimer-area">
        <div *ngFor="let block of textData.blocks" class="__widget-disclaimer-container">
            <div *ngFor="let item of block.list">
                <h1 *ngIf="item.type===TEXT_TYPE.MainTitle" class="__widget-title">
                    {{item.keyBlock}}
                </h1>
                <h3 *ngIf="item.type===TEXT_TYPE.Title" class="__widget-summary-title">
                    {{item.keyBlock}}
                </h3>
                <span *ngIf="item.type===TEXT_TYPE.Text" class="__widget-disclaimer-line">
                    {{item.leftBlock}}
                </span>
                <span *ngIf="item.type===TEXT_TYPE.Terms" class="__widget-disclaimer-line">
                    {{item.leftBlock}}
                    <a target="_blank" rel="noopener noreferrer" [href]="termsLink">
                        {{item.keyBlock}}
                    </a>
                    {{item.rightBlock}}
                </span>
                <div *ngIf="item.type===TEXT_TYPE.Accept" class="__widget-disclaimer-container">
                    <label class="__main-checkbox-container">
                        {{item.keyBlock}}
                        <input type="checkbox" [checked]="agreementChecked" (change)="checkAgreement()">
                        <span class="__main-checkbox-mark"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="__widget-buttons-area">
        <button *ngIf="backButton" class="__outlined-button" type="button" (click)="onBack.emit()">
            BACK
        </button>
        <button class="__main-button __button-wide-separator" type="button" [disabled]="done || !agreementChecked"
            (click)="done=true;onNext.emit()">
            next
        </button>
    </div>
</div>