<div class="__widget-data-box">
    <app-kyc-panel *ngIf="showValidator" style="min-height: 300px;" [flow]="flow" [notifyCompleted]="true"
        [completedWhenVerified]="completedWhenVerified" (completed)="onNext.emit()" (onError)="onError.emit($event)"
        (onAuthError)="onAuthError.emit()" (onProgress)="onProgress.emit($event)">
    </app-kyc-panel>
    <div class="__widget-buttons-area">
        <button class="__outlined-button" type="button" (click)="onBack.emit()">BACK</button>
    </div>

    <div class="__widget-data-error">
        {{errorMessage}}
    </div>
</div>