<div class="__widget-data-box">
    <div *ngIf="!requiredExtraData" class="__widget-page-header">
        Your account seems to be registered. Please, authenticate
    </div>

    <app-login-panel [socialButtons]="false" [wizardButtons]="true" [userName]="email" [widgetId]="widgetId"
        [errorMessage]="errorMessage" [requiredExtraData]="requiredExtraData" (error)="loginError($event)"
        (progressChange)="onProgress.emit($event)" (onBack)="onBack.emit()" (authenticated)="onComplete.emit($event)">
    </app-login-panel>
</div>