<div class="__widget-data-box">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <app-form-textbox *ngIf="settings.email==='' && !settings.embedded" [label]="'Email'" [maxlength]="50"
            formControlName="email" [errorMessages]="emailErrorMessages" [separator]="true">
        </app-form-textbox>

        <!-- Transaction -->
        <div *ngIf="settings.transaction===undefined">
            <div class="__form-label">
                Transaction
            </div>
            <div class="__form-text-border">
                <mat-select formControlName="transaction">
                    <mat-select-trigger>
                        <div class="__form-combo-item">
                            {{currentTransactionName}}
                        </div>
                    </mat-select-trigger>
                    <mat-option *ngFor="let item of transactionList" [value]="item.id" style="height: 32px;">
                        <div class="__form-combo-item">
                            {{item.name}}
                        </div>
                    </mat-option>
                </mat-select>
            </div>
            <div class="__form-separator"></div>
        </div>

        <!-- Spend -->
        <app-form-finance-combo [label]="spendTitle" [placeholder]="'...'" [boxFieldName]="'amountSpend'"
            [boxField]="amountSpendField" [comboField]="currencySpendField" [comboFieldName]="'currencySpend'"
            [comboList]="spendCurrencyList" [errorMessages]="amountSpendErrorMessages" [separator]="false">
        </app-form-finance-combo>
        <div *ngIf="quoteExceed && this.verifyWhenPaidField?.value!==true" class="__form-assist __form-assist-error">
            Account Limit exceeded
        </div>
        <div class="__form-separator"></div>

        <div>
            <!-- Verification levels -->
            <div *ngIf="currentTier!=='' && settings.embedded">
                <div class="__widget-hint-line">
                    Current Verification: {{currentTier}}.
                </div>
                <div *ngIf="!quoteUnlimit" class="__widget-quote-block">
                    <div class="__widget-hint-line">
                        To increase limitations go to
                    </div>
                    <div class="__widget-hint-line __form-assist-link" (click)="showPersonalVerification()">
                        Verification
                    </div>
                </div>
                <div class="__form-separator-small"></div>
            </div>

            <!-- Receive -->
            <app-form-finance-combo [label]="receiveTitle" [placeholder]="'...'" [boxFieldName]="'amountReceive'"
                [boxField]="amountReceiveField" [comboField]="currencyReceiveField" [comboFieldName]="'currencyReceive'"
                [comboList]="receiveCurrencyList" [errorMessages]="amountReceiveErrorMessages" [separator]="false">
            </app-form-finance-combo>

            <!-- Wallets -->
            <div *ngIf="filteredWallets.length>1">
                <div class="__form-separator"></div>
                <div class="__form-label">
                    {{settings.transfer ? 'Select from Contact List' : 'Choose destination wallet'}}
                </div>
                <div class="__profile-details-item-block">
                    <div class="__form-text-border">
                        <mat-select formControlName="walletSelector" style="margin: 8px 0px 0px 0px;" placeholder="...">
                            <mat-select-trigger>
                                <div class="__form-combo-item-text">
                                    {{selectedWallet?.name}}
                                </div>
                            </mat-select-trigger>
                            <mat-option *ngFor="let item of filteredWallets" [value]="item.address"
                                style="height: 32px;">
                                <div class="__form-combo-item-block">
                                    <div class="__form-combo-item-text">
                                        {{item.name}}
                                    </div>
                                    <div *ngIf="item.name!=='...'" class="__form-combo-item-text-extra">
                                        {{item.total}} {{currentCurrencyReceive?.display}}
                                    </div>
                                </div>
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>

            <!-- Wallet address -->
            <div *ngIf="showWallet">
                <div class="__form-separator-small"></div>
                <app-form-textbox [label]="'Wallet address'" [maxlength]="120" formControlName="wallet"
                    [errorMessages]="walletErrorMessages" [separator]="false">
                </app-form-textbox>
                <div *ngIf="walletField?.hasError('walletAddress')" class="__form-assist __form-assist-error">
                    Wallet address is not valid
                </div>
            </div>

            <!-- Current Quote -->
            <div *ngIf="currentQuote!=='' && settings.embedded && !settings.transfer" class="__widget-quote-block">
                <div class="__form-separator"></div>
                <div class="__widget-hint-line">
                    Until next Verification:&nbsp;
                </div>
                <div class="__widget-hint-line __form-assist-accent">
                    {{currentQuote}}
                </div>
            </div>

            <mat-checkbox *ngIf="showVerifyWhenPaid && quoteUnlimit===false && settings.embedded===true" color="accent" formControlName="verifyWhenPaid"
                class="__widget-checkout" style="margin-top: 8px;">
                <span style="white-space: pre-line;font-size: 14px;">
                    Verify when Paid
                </span>
            </mat-checkbox>

            <!-- <div *ngIf="!settings.embedded && internalPayment" class="__widget-disclaimer-container">
                <div class="__form-separator"></div>
                <span class="__widget-disclaimer-line">
                    Don't have a wallet?
                </span>
                <a href="/personal/auth/register">
                    Create an account
                </a>
            </div> -->
        </div>

        <div *ngIf="currentTransaction === TRANSACTION_TYPE.Sell">
            <!-- Receive -->
            <app-form-finance-combo [label]="receiveTitle" [placeholder]="'...'" [boxFieldName]="'amountReceive'"
                [boxField]="amountReceiveField" [comboField]="currencyReceiveField" [comboFieldName]="'currencyReceive'"
                [comboList]="receiveCurrencyList" [errorMessages]="amountReceiveErrorMessages" [separator]="false">
            </app-form-finance-combo>

            <!-- Wallets -->
            <div *ngIf="filteredWallets.length>1">
                <div class="__form-separator"></div>
                <div class="__form-label">
                    Choose source wallet
                </div>
                <div class="__profile-details-item-block">
                    <div class="__form-text-border">
                        <mat-select formControlName="walletSelector" style="margin: 8px 0px 0px 0px;" placeholder="...">
                            <mat-select-trigger>
                                <div class="__form-combo-item-text">
                                    {{selectedWallet?.name}}
                                </div>
                            </mat-select-trigger>
                            <mat-option *ngFor="let item of filteredWallets" [value]="item.address"
                                style="height: 32px;">
                                <div class="__form-combo-item-block">
                                    <div class="__form-combo-item-text">
                                        {{item.name}}
                                    </div>
                                    <div *ngIf="item.name!=='...'" class="__form-combo-item-text-extra">
                                        {{item.total}} {{currentCurrencySpend?.display}}
                                    </div>
                                </div>
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="__profile-details-item-block">
                    <div *ngIf="selectedWallet" class="__form-assist">
                        Available in the wallet: {{selectedWallet.total}} {{currentCurrencySpend?.display}}
                        <span *ngIf="selectedWallet.total>0" class="__form-assist __form-assist-link"
                            (click)="sendAll()">sell all</span>
                    </div>
                </div>
            </div>

            <!-- Wallet address -->
            <div *ngIf="showWallet">
                <div class="__form-separator-small"></div>
                <app-form-textbox [label]="'Wallet address'" [maxlength]="120" formControlName="wallet"
                    [errorMessages]="walletErrorMessages" [separator]="false">
                </app-form-textbox>
                <div *ngIf="walletField?.hasError('walletAddress')" class="__form-assist __form-assist-error">
                    Wallet address is not valid
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="__widget-buttons-area">
            <button class="__main-button" type="submit"
                [disabled]="!initialized || !validData || !walletField?.valid || !emailField?.valid || (quoteUnlimit===false && quoteExceed && this.verifyWhenPaidField?.value!==true)">
                next
            </button>
        </div>
    </form>

    <div class="__widget-data-error">
        {{errorMessageData}}
    </div>
</div>