<div class="__widget-data-box">
    <div class="__widget-data-list-container">
        <button class="__menu-button" type="button" (click)="back.emit()">
            <mat-icon>west</mat-icon>
        </button>
        <h1 class="__widget-data-list-title">
            Recent Transactions
        </h1>
    </div>


    <table mat-table class="__profile-data-table" [dataSource]="transactions">
        <!-- Transaction type and date Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="__profile-table-column __profile-transactions-table-column-transaction">
                <span class="__profile-table-header">
                    Transaction
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div class="__profile-transactions-table-cell-data">
                    {{element.dateShort}}
                </div>
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="payment">
            <th mat-header-cell *matHeaderCellDef
                class="__profile-table-column __profile-transactions-table-column-status">
                <span class="__profile-table-header">
                    Status
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div
                    [ngClass]="{'__profile-transactions-table-cell-data': true, '__profile-transactions-table-cell-status-error': element.statusLevel === 'error'}">
                    {{element.statusName}}
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>




</div>