.mat-column-kyc-table {
    word-wrap      : break-word;
    white-space    : unset;
    overflow-wrap  : break-word;
    word-break     : break-word;
    -ms-hyphens    : auto;
    -moz-hyphens   : auto;
    -webkit-hyphens: auto;
    hyphens        : auto;
}

.mat-column-kyc-table-is-default {
    flex     : 0 0 2%;
    width    : 2%;
    min-width: 1.5em;
}

.mat-column-kyc-table-name {
    flex     : 0 0 20%;
    width    : 20%;
    min-width: 5em;
}

.mat-column-kyc-table-target {
    flex     : 0 0 15%;
    width    : 15%;
    min-width: 5em;
}

.mat-column-kyc-table-user-type {
    flex     : 0 0 10%;
    width    : 10%;
    min-width: 5em;
}

.mat-column-kyc-table-user-mode {
    flex     : 0 0 17%;
    width    : 17%;
    min-width: 5em;
}

.mat-column-kyc-table-provider {
    flex     : 0 0 17%;
    width    : 17%;
    min-width: 5em;
}

.mat-column-kyc-table-level {
    flex     : 0 0 17%;
    width    : 17%;
    min-width: 5em;
}

.mat-column-kyc-table-details {
    flex     : 0 0 2%;
    width    : 2%;
    min-width: 1.5em;
}

.mat-column-level-table-name {
    flex     : 0 0 41%;
    width    : 41%;
    min-width: 10em;
}

.mat-column-level-table-flow {
    flex     : 0 0 42%;
    width    : 42%;
    min-width: 10em;
}

.mat-column-level-table-user-type {
    flex     : 0 0 15%;
    width    : 15%;
    min-width: 10em;
}

.mat-column-level-table-details {
    flex     : 0 0 2%;
    width    : 2%;
    min-width: 1.5em;
}

.target-tab-box {
    overflow: hidden;
}

.level-box {
    min-width: 35em;
    width: 100%;
}

.level-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.level-chip.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}