<div class="details-editor" *ngIf="errorMessage!==''">
  <div class="form-error-box">
    {{errorMessage}}
  </div>
</div>

<div class="detailed-table-split" *ngIf="errorMessage===''">
  <div [ngClass]="showDetailed ? 'detailed-table-left-panel-details' : 'detailed-table-left-panel-full'">
    <div class="admin-page-title">
      <h1>
        KYC / KYB schemes
      </h1>
    </div>
    <mat-tab-group class="form-element" color="primary" animationDuration="0" [selectedIndex]="selectedTab"
      (selectedIndexChange)="setSelectedTab($event)">
      <!-- Levels tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <app-tab-label labelText="Levels"></app-tab-label>
        </ng-template>
        <div class="admin-page-title">
          <div *ngIf="inProgress">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>

          <div class="form-element" *ngIf="levelEditorErrorMessage!==''">
            <div class="form-error-box">
              {{levelEditorErrorMessage}}
            </div>
          </div>

          <button class="main-button main-button-primary" *ngIf="errorMessage===''" [disabled]="createLevel"
            (click)="createNewLevel()">
            ADD LEVEL
          </button>
        </div>

        <level-table [levels]="levels" [selectedLevel]="selectedLevel" (toggle)="toggleLevelDetails($event)">
        </level-table>
      </mat-tab>

      <!-- Schemes -->
      <mat-tab>
        <ng-template mat-tab-label>
          <app-tab-label labelText="Schemes"></app-tab-label>
        </ng-template>
        <div class="admin-page-title">
          <div *ngIf="inProgress">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>

          <div class="form-element" *ngIf="schemeEditorErrorMessage!==''">
            <div class="form-error-box">
              {{schemeEditorErrorMessage}}
            </div>
          </div>

          <button class="main-button main-button-primary" *ngIf="errorMessage===''" [disabled]="createScheme"
            (click)="createNewScheme()">
            ADD SCHEME
          </button>
        </div>

        <identification-table [schemes]="schemes" [selectedScheme]="selectedScheme"
          (toggle)="toggleSchemeDetails($event)">
        </identification-table>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div *ngIf="editMode" class="panel-dim-table"></div>

  <div [ngClass]="showDetailed ? 'detailed-table-right-panel-details' : 'detailed-table-right-panel-full'">
    <div class="details-editor">
      <level-editor *ngIf="showDetailed && selectedTab===0" [currentLevel]="selectedLevel" [create]="createLevel"
        (save)="onSavedLevel($event)" (delete)="onDeleteLevel($event)" (cancel)="onCancelEdit()"
        (formChanged)="onEditorFormChanged($event)"></level-editor>
      <kyc-editor *ngIf="showDetailed && selectedTab===1" [currentScheme]="selectedScheme" [create]="createScheme"
        (save)="onSavedScheme($event)" (delete)="onDeleteScheme($event)" (cancel)="onCancelEdit()"
        (formChanged)="onEditorFormChanged($event)"></kyc-editor>
    </div>
  </div>
</div>