<div class="form-section-title-box">
    <h1>{{create ? "Create scheme" : "Change scheme"}}</h1>
</div>

<form [formGroup]="schemeForm" (ngSubmit)="onSubmit()">
    <div class="form-element" *ngIf="errorMessage!==''">
        <div class="form-error-box">
            {{errorMessage}}
        </div>
        <br>
    </div>

    <!-- Scheme name -->
    <div *ngIf="defaultSchemeFlag===''">
        <mat-form-field class="form-element">
            <mat-label>Scheme name</mat-label>
            <input type="text" matInput formControlName="name" maxlength="50" placeholder="Scheme name" required />
            <mat-error *ngIf="this.schemeForm.get('name')?.hasError('required')">
                Please specify a scheme name
            </mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="defaultSchemeFlag!==''">
        <mat-form-field class="form-element">
            <mat-label>Scheme name</mat-label>
            <input type="text" matInput [value]="defaultSchemeFlag" disabled />
        </mat-form-field>
    </div>

    <!-- Description -->
    <mat-form-field class="form-element">
        <mat-label>Description</mat-label>
        <input type="text" matInput formControlName="description" maxlength="100" placeholder="Scheme description" />
    </mat-form-field>

    <!-- Target -->
    <mat-form-field class="form-element">
        <mat-label>Target</mat-label>
        <mat-select formControlName="target" required>
            <mat-option *ngFor="let item of targets" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.schemeForm.get('target')?.hasError('required')">
            Please specify a target
        </mat-error>
    </mat-form-field>

    <!-- Target values -->
    <mat-form-field *ngIf="targetValueParams.title!==''" class="form-element">
        <mat-label>{{targetValueParams.title}}</mat-label>
        <mat-chip-list #chipList aria-label="Target selection" formControlName="targetValues">
            <mat-chip *ngFor="let val of schemeForm.get('targetValues')?.value" (removed)="removeTargetValue(val)">
                {{val}}
                <mat-icon matChipRemove matTooltip="Remove" matTooltipClass="info-tooltip">cancel</mat-icon>
            </mat-chip>
            <input [placeholder]="targetValueParams.inputPlaceholder" #targetValueInput formControlName="targetValue"
                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTargetValue($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="targetItemSelected($event)">
            <mat-option *ngFor="let item of filteredTargetValues | async" [value]="item.title">
                <dropdown-item itemValue="{{item.title}}" imageClass="{{item.imgClass}}"
                    imageSource="{{item.imgSource}}"></dropdown-item>
            </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="this.schemeForm.get('targetValues')?.hasError('required')">
            Please specify at least one {{targetEntity}}
        </mat-error>
    </mat-form-field>

    <!-- User type -->
    <mat-form-field class="form-element">
        <mat-label>User type</mat-label>
        <mat-select formControlName="userType" multiple required>
            <mat-option *ngFor="let item of userTypes" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.schemeForm.get('userType')?.hasError('required')">
            Please specify a user type
        </mat-error>
    </mat-form-field>

    <!-- User Mode -->
    <mat-form-field class="form-element">
        <mat-label>User mode</mat-label>
        <mat-select formControlName="userMode" multiple required>
            <mat-option *ngFor="let item of userModes" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.schemeForm.get('userMode')?.hasError('required')">
            Please specify an user mode
        </mat-error>
    </mat-form-field>

    <!-- KYC provider -->
    <mat-form-field class="form-element">
        <mat-label>KYC provider</mat-label>
        <mat-select formControlName="provider" multiple required>
            <mat-option *ngFor="let item of providers" [value]="item.id">
                {{item.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="this.schemeForm.get('provider')?.hasError('required')">
            Please specify a KYC provider
        </mat-error>
    </mat-form-field>

    <div class="form-element">
        <div class="button-form-panel">
            <div class="button-panel-left">
                <button class="main-button main-button-accent" type="submit">
                    SAVE
                </button>
            </div>
            <div *ngIf="defaultSchemeFlag==='' && create==false" class="button-panel-right">
                <button class="main-button main-button-warn" (click)="onDeleteScheme()">
                    DELETE
                </button>
            </div>
        </div>
        <br>
        <div>
            <button class="main-button main-button-primary" (click)="onCancel()">
                CANCEL
            </button>
        </div>
    </div>
</form>