<div class="__widget-data-box">
    <app-kyc-panel *ngIf="showValidator" [flow]="flow" [notifyCompleted]="true" [widgetId]="widgetId"
        [completedWhenVerified]="completedWhenVerified" (completed)="onNext.emit()" (onError)="onError.emit($event)"
        (onAuthError)="onAuthError.emit()" (onProgress)="onProgress.emit($event)" (onReject)="handleReject()">
    </app-kyc-panel>
    <div class="__widget-buttons-area">
        <button *ngIf="allowToPayIfKycFailed && rejectKyc" class="__main-button" type="button" (click)="onReject.emit()">
            {{'kyc.btn_verify-later' | transloco}}
        </button>
    </div>

    <div class="__widget-data-error">
        {{errorMessage}}
    </div>
</div>