<app-admin-page-header [title]="'Transactions'" [items]="['Home']" [active_item]="'Transactions'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <!-- <div class="table-button-container">
            <button (click)="refresh()" class="btn btn-primary me-2">
              Refresh
            </button>
            <button (click)="export(export_content)" class="btn btn-outline-secondary">
              Export
            </button>
            <button (click)="unbenchmark(settle_content)" style="float: right;" class="btn btn-danger me-2"
              [disabled]="!selectedForUnbenchmark">
              Settle
            </button>
          </div> -->
          <div style="overflow: hidden;">
            <div class="table-button-container">
              <button type="button" (click)="refresh()" class="btn btn-primary me-2">
                Refresh
              </button>
              <button type="button" *ngIf="this.adminAdditionalSettings?.tabs?.transactions?.createTransaction === true" (click)="createUserTransactionShow(create_content)" class="btn btn-outline-secondary me-2">
                Create transaction
              </button>
              <button type="button" (click)="export(export_content)" class="btn btn-outline-secondary me-2">
                Export
              </button>
              <button type="button" (click)="unbenchmark(settle_content)" class="btn btn-danger me-2"
                [disabled]="!selectedForUnbenchmark">
                Settle
              </button>
            </div>
          </div>
          <app-admin-filter [fields]="filterFields" [filterData]="filter" (filter)="handleFilterApplied($event)">
          </app-admin-filter>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="table-button-container m-2">
            <button (click)="selectAll()" class="btn btn-secondary btn-sm mt-2">
              <div style="display: flex; flex-direction: row;justify-content: center;align-items: center;">
                <i class="material-icons" style="font-size: 20px;margin-right: 4px;">
                  library_add_check
                </i>
                Select all on the page
              </div>
            </button>
          </div>

          <div class="data-table">
            <mat-table matSort [matSortActive]="sortedField" matSortDirection="desc" matSortDisableClear
              [dataSource]="transactions">
              <!-- Details Column -->
              <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListSelectorColumnStyle">
                  <input style="margin-right: 4px;" [checked]="element.selected" type="checkbox"
                    (change)="onTransactionSelected(element)">
                  <button mat-icon-button class="row-button" (click)="showDetails(element, details_content, 'info')"
                    [attr.aria-label]="'Transaction details'" [attr.aria-pressed]="!!selectedTransaction"
                    matTooltip="Transaction details" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">wysiwyg</i>
                  </button>
                  <button *ngIf="element.screeningAnswer" mat-icon-button class="row-button" (click)="showDetails(element, details_content, 'infoScreening')"
                    [attr.aria-label]="'Transaction screening details'" [attr.aria-pressed]="!!selectedTransaction"
                    matTooltip="Transaction screening details" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;" [ngStyle]="{'color': element.screeningAnswer == 'RED' ? '#c90000' : '#6af16a'}">fact_check</i>
                  </button>
                  <button *ngIf="element.vaultIds.length>0" mat-icon-button class="row-button"
                    (click)="showWallets(element.id)" [attr.aria-label]="'Transaction wallet'"
                    [matTooltip]="'Transaction wallet'" matTooltipClass="info-tooltip">
                    <i class="material-icons tx-20">
                      account_balance_wallet
                    </i>
                  </button>
                  <button *ngIf="element.paymentOrderPreauth == true" mat-icon-button class="row-button" [attr.aria-label]="'PreAuth'" 
                  [matTooltip]="'PreAuth'" matTooltipClass="info-tooltip">
                    <i class="material-icons tx-20">
                      update
                    </i>
                  </button>
                  <button *ngIf="element.flag == true" mat-icon-button class="row-button" [attr.aria-label]="'Flaged Transaction'" 
                  [matTooltip]="'Flaged Transaction'" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="color:#c90000; font-size: 20px;">
                      flag
                    </i>
                  </button>
                </td>
              </ng-container>

              <!-- Transaction ID Column -->
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.code}}
                </td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Created</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.created}}
                </td>
              </ng-container>

              <!-- Customer Name Column -->
              <ng-container matColumnDef="accountName">
                <th mat-header-cell *matHeaderCellDef>Customer Name</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.accountName}} </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.user?.email}} </td>
              </ng-container>

              <!-- Account Status Column -->
              <ng-container matColumnDef="accountStatus">
                <th mat-header-cell *matHeaderCellDef>Account Status</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.accountStatus}} </td>
              </ng-container>

              <!-- Transaction Type Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Transaction Type</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.transactionTypeName}} </td>
              </ng-container>

              <!-- Sender Column -->
              <ng-container matColumnDef="widgetName">
                <th mat-header-cell *matHeaderCellDef>Widget Name</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.widgetName}} </td>
              </ng-container>

              <!-- Sender Column -->
              <ng-container matColumnDef="from">
                <th mat-header-cell *matHeaderCellDef>From</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.sender}} </td>
              </ng-container>

              <!-- Recipient Column -->
              <ng-container matColumnDef="to">
                <th mat-header-cell *matHeaderCellDef>To</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.recipient}} </td>
              </ng-container>

              <!-- Base Currency Column -->
              <ng-container matColumnDef="currencyToSpend">
                <th mat-header-cell *matHeaderCellDef>Base Coin</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.currencyToSpend}} </td>
              </ng-container>

              <!-- Base Amount Column -->
              <ng-container matColumnDef="amountToSpend">
                <th mat-header-cell *matHeaderCellDef>Base Amount</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.amountToSpend}} </td>
              </ng-container>

              <!-- Buy Currency Column -->
              <ng-container matColumnDef="currencyToReceive">
                <th mat-header-cell *matHeaderCellDef>Buy Coin</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.currencyToReceive}} </td>
              </ng-container>

              <!-- Buy Amount Column -->
              <ng-container matColumnDef="amountToReceive">
                <th mat-header-cell *matHeaderCellDef>Buy Amount</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.amountToReceive}} </td>
              </ng-container>

              <!-- Wallet Column -->
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef>Wallet</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.address}} </td>
              </ng-container>

              <!-- Payment Method Column -->
              <ng-container matColumnDef="instrument">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Payment Method</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.instrumentName}} </td>
              </ng-container>

              <!-- Payment Provider Column -->
              <ng-container matColumnDef="paymentProvider">
                <th mat-header-cell *matHeaderCellDef>Payment provider</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.paymentProvider}} </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Transaction Status</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.transactionStatusName}} </td>
              </ng-container>

              <!-- User Type Column -->
              <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef>User Type</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.userTypeName}} </td>
              </ng-container>

              <!-- Source Column -->
              <ng-container matColumnDef="source">
                <th mat-header-cell *matHeaderCellDef>Initiate from</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.transactionSourceName}} </td>
              </ng-container>

              <!-- DocsCheck Column -->
              <ng-container matColumnDef="kycStatus">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>DocsCheck</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.kycStatus}} </td>
              </ng-container>

              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.id}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
          </div>

          <div *ngIf="transactionCount > pageSize" class="card card-body border shadow-none">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="transactionCount"
              [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="10" aria-label="Table pagination"
              (pageChange)="handlePage($event)">
              <ng-template ngbPaginationFirst>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">first_page</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_left</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationNext>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationLast>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">last_page</i>
                </div>
              </ng-template>
            </ngb-pagination>
          </div>

          <ng-template #details_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Transaction details</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-transaction-details [permission]="permission" [transaction]="selectedTransaction"
                [currencies]="currencyOptions" [userStatuses]="userStatuses" (save)="onSaveTransaction()"
                [activeTab]="activeTab" (close)="onCloseDetails()">
              </app-admin-transaction-details>
            </div>
          </ng-template>

          <ng-template #create_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Create transaction</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-transaction-create [permission]="permission" (close)="onCloseDetails()">
              </app-admin-transaction-create>
            </div>
          </ng-template>

          <ng-template #export_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Export</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 style="text-align: center;">
                Exported list of transactions has been sent to your email.
              </h4>
              <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <button class="btn btn-primary pd-x-50 mg-t-5" (click)="modal.dismiss('OK')">
                  OK
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template #settle_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Settle transaction(s)</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 style="text-align: center;">
                You are going to update transaction data. Confirm operation.
              </h4>
              <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button"
                  (click)="modal.dismiss('Reject')">
                  Reject
                </button>
                <button class="btn btn-primary pd-x-30 mg-t-5" (click)="modal.close('Confirm')">
                  Confirm
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>