<div class="__widget-data-box">
    <div class="__widget-page-header">
        {{'widget-code-auth.title_part-1' | transloco}}
        <span class="__widget-fake-link">
            {{email}}
        </span>
        {{'widget-code-auth.title_part-2' | transloco}}
        <br>
        {{'widget-code-auth.title_part-3' | transloco}}
    </div>

    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div *ngIf="codeLength === 5">
            <!-- Code (5 digits) -->
            <div class="__form-label">
                {{'widget-code-auth.confirmation-title' | transloco}}
            </div>
            <div class="__widget-code-container">
                <input #code1input class="__form-text-box-plain" type="text" formControlName="code1" mask="0"
                    [dropSpecialCharacters]="false" maxlength="1" autocomplete="false" (paste)="onPaste($event)" />
                <input #code2input class="__form-text-box-plain" type="text" formControlName="code2" mask="0"
                    [dropSpecialCharacters]="false" maxlength="1" autocomplete="false" />
                <input #code3input class="__form-text-box-plain" type="text" formControlName="code3" mask="0"
                    [dropSpecialCharacters]="false" maxlength="1" autocomplete="false" />
                <input #code4input class="__form-text-box-plain" type="text" formControlName="code4" mask="0"
                    [dropSpecialCharacters]="false" maxlength="1" autocomplete="false" />
                <input #code5input class="__form-text-box-plain" type="text" formControlName="code5" mask="0"
                    [dropSpecialCharacters]="false" maxlength="1" autocomplete="false" />
            </div>
            
            <div class="__form-separator"></div>

            <div *ngIf="!codeField?.valid && init===true" class="__form-assist __form-assist-error">
                {{'widget-code-auth.code-required' | transloco}}
            </div>
            <div class="__form-separator"></div>
        </div>
        <div *ngIf="codeLength!==5">
            <!-- Code (not 5 digits) -->
            <app-form-textbox #codeinput [label]="'widget-code-auth.field_code'" [maxlength]="codeLength" formControlName="code"
                [numberField]="true" [inputMode]="'numeric'" [errorMessages]="codeErrorMessages" [separator]="true">
            </app-form-textbox>
        </div>

        <!-- Buttons -->
        <div class="__widget-buttons-area">
            <button class="__outlined-button" type="button" (click)="onBack.emit()">
                {{'global.widget_btn-back' | transloco}}
            </button>
            <button class="__main-button __button-wide-separator" type="submit" [disabled]="done || !validData">
                {{'global.widget_btn-next' | transloco}}
            </button>
        </div>

    </form>

    <div class="__widget-data-error">
        {{errorMessage}}
    </div>
</div>