@import "./fonts.scss";
@import "./colors.scss";
@import "./consts.scss";

.__auth-frame-box {
    border: none;
    display: flex;
    justify-content: center;
    padding: 0px;
}

.__auth-body {
    width: $widget_max_width + px;
    background-color: $color_white;
}

.__auth-container {
    margin: 0px 24px;
}

.__auth-data-container {
    padding: 36px 0px 0px 0px;
}

.__auth-title-container {
    display: flex;
    margin: 24px;
}

.__auth-footer-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px 24px;
}

.__auth-footer-area-small {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 24px 0px;
}

.__auth-buttons-wizard-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 24px;
}

.__auth-buttons-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px;
}

.__auth-disclaimer-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.__auth-disclaimer-container {
    margin: 0px 0px 12px 0px;
}

.__auth-disclaimer-line {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_text;
}

.__auth-error-area {
    margin: 0px;
}

.__auth-error-line {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_pink_500;
}

.__auth-title {
    margin: 0px 16px 24px 0px;
    width: 100%;
    height:28px;
    
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    color: $color_purple_900_text;
}

.__auth-social-delimitter {
    margin: 24px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 18px auto;
    grid-template-rows: 28px;
}

.__auth-social-delimitter-line-container {
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__auth-social-delimitter-line {
    background-color: $color_purple_50;
    height: 1px;
    width: 100%;
}

.__auth-social-delimitter-title-container {
    grid-row: 1;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_white;
}

.__auth-social-delimitter-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    
    color: $color_purple_900_text;
}

.__auth-footer-text {
    margin: 0px 18px 0px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}