@import "fonts.scss";
@import "colors.scss";
@import "./consts.scss";

.__main-button {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 31px;

    background: $color_main_blue_800;
    box-shadow: 0px 3px 3px rgba(208, 207, 207, 0.2), 0px 3px 4px rgba(208, 207, 207, 0.14), 0px 1px 8px rgba(208, 207, 207, 0.12);
    border-radius: 50px;
    border: none;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: $color_white;
    text-transform: uppercase;
}

.__main-button:focus {
    outline: none;
}

.__main-button:hover {
    background: $color_main_blue_600;
    box-shadow: 0px 4px 5px rgba(208, 207, 207, 0.2), 0px 7px 10px rgba(208, 207, 207, 0.14), 0px 2px 16px rgba(208, 207, 207, 0.12);
    cursor: pointer;
}

.__main-button:disabled {
    background: $color_purple_50;
    box-shadow: none;
    color: $color_purple_200;
    cursor: default;
}

.__borderless-button {
    justify-content: center;
    align-items: center;
    padding: 9px 16px 9px 12px;
    height: 36px;

    background: transparent;
    box-shadow: 0px 3px 5px rgba(208, 207, 207, 0.2), 0px 5px 8px rgba(208, 207, 207, 0.14), 0px 1px 14px rgba(208, 207, 207, 0.12);
    border-radius: 50px;
    border: none;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: $color_main_blue_800;
}

.__borderless-button:focus {
    outline: none;
}

.__borderless-button:hover {
    box-shadow: 0px 3px 5px rgba(208, 207, 207, 0.2), 0px 5px 8px rgba(208, 207, 207, 0.14), 0px 1px 14px rgba(208, 207, 207, 0.12);
    color: $color_main_blue_600;
    cursor: pointer;
}

.__borderless-button:disabled {
    background: $color_purple_50;
    box-shadow: none;
    color: $color_purple_200;
    cursor: default;
}

.__outlined-button {
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 31px;
    
    background: transparent;
    border: 1px solid $color_main_blue_800;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: $color_main_blue_800;
}

.__outlined-button:focus {
    outline: none;
}

.__outlined-button:hover {
    border: 1px solid $color_main_blue_600;
    color: $color_main_blue_600;
    cursor: pointer;
}

.__outlined-button:disabled {
    border: 1px solid $color_purple_200;
    color: $color_purple_200;
    cursor: default;
}

.__toggle-button {
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    height: 22px;
    
    background: transparent;
    border: 1px solid $color_purple_900_text;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color_purple_900_text;
}

.__toggle-button:focus {
    outline: none;
}

.__toggle-button:hover {
    border: 1px solid $color_main_blue_600;
    color: $color_main_blue_600;
    cursor: pointer;
}

.__toggle-button:disabled {
    border: 1px solid $color_purple_200;
    color: $color_purple_200;
    cursor: default;
}

.__toggle-button-active {
    border: 1px solid $color_main_blue_800;
    color: $color_main_blue_800;
}

.__toggle-like-button {
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    height: 22px;
    
    background: transparent;
    border: 1px solid $color_main_blue_800;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color_main_blue_800;
}

.__toggle-like-button:focus {
    outline: none;
}

.__toggle-like-button:hover {
    border: 1px solid $color_main_blue_600;
    color: $color_main_blue_600;
    cursor: pointer;
}

.__toggle-like-button:disabled {
    border: 1px solid $color_purple_200;
    color: $color_purple_200;
    cursor: default;
}

.__tool-button {
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 24px;
    height: 24px;

    background: $color_white;
    border: none;

    font-size: 4px;
    color: $color_purple_900_icons;
}

.__tool-button:focus {
    outline: none;
}

.__tool-button:hover {
    color: $color_main_blue_600;
    cursor: pointer;
}

.__tool-button:disabled {
    color: $color_purple_200;
    cursor: default;
}

.__tool-button-icon {
    margin: auto;
}

.__tool-button-icon-rotated {
    margin: auto;
    transform: rotate(180deg);
}

.__menu-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;

    background: $color_white;
    box-shadow: 0px 3px 5px rgba(208, 207, 207, 0.2), 0px 5px 8px rgba(208, 207, 207, 0.14), 0px 1px 14px rgba(208, 207, 207, 0.12);
    border-radius: 8px;
    border: none;

    color: $color_purple_900_icons;
}

.__menu-button:focus {
    outline: none;
}

.__menu-button:hover {
    color: $color_main_blue_600;
    cursor: pointer;
}

.__menu-button:disabled {
    color: $color_purple_200;
    cursor: default;
}

.__menu-button-icon {
    margin: auto;
}

.__top-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    margin: auto 24px;

    font-family: $font_main;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: $color_white;
}

.__top-menu-button:focus {
    outline: none;
}

.__top-menu-button:hover {
    color: $color_white;
    cursor: pointer;
}

.__top-menu-button:disabled {
    opacity: 0.1;
    cursor: default;
}

.__table-button {
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 24px;
    height: 24px;

    background: transparent;
    border: none;

    font-size: 4px;
    color: $color_main_blue_800;
}

.__table-button:focus {
    outline: none;
}

.__table-button:hover {
    color: $color_main_blue_600;
    cursor: pointer;
}

.__table-button:disabled {
    color: $color_purple_200;
    cursor: default;
}

.__small-button {
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    height: 22px;
    min-width: 46px;

    background: $color_main_blue_800;
    border-radius: 20px;
    border: none;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color_white;
}

.__small-button:focus {
    outline: none;
}

.__small-button:hover {
    background: $color_main_blue_600;
    cursor: pointer;
}

.__small-button:disabled {
    background: $color_purple_50;
    color: $color_purple_200;
    cursor: default;
}

.__side-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 0px 10px 0px 24px;
    width: 100%;
    height: 56px;
    margin: 12px auto;

    border: none;
    background-color: $color_white;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $color_purple_900_text;

    text-align: left;
}

.__side-menu-button:focus {
    outline: none;
}

.__side-menu-button:hover {
    color: $color_main_blue_600;
    cursor: pointer;
}

.__side-menu-button:disabled {
    color: $color_purple_300;
    cursor: default;
}

.__side-menu-selected-button {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    padding: 0px 10px 0px 24px;
    width: 100%;
    height: 56px;
    margin: 12px auto;

    border: 4px solid $color_main_blue_800;
    border-style: none solid none none;
    background-color: $color_white;
    
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $color_main_blue_800;

    text-align: left;
}

.__side-menu-selected-button:focus {
    outline: none;
}

.__side-menu-button:disabled {
    color: $color_purple_300;
}

.__side-menu-button-sm {
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 32px;
    margin: 36px auto;

    border: none;
    background-color: $color_white;

    #button_icon {
        font-size: 24px;
        margin: auto;
        width: 24px;
        height: 24px;
        color: $color_purple_900_icons;
    }
}

.__side-menu-button-sm:focus {
    outline: none;
}

.__side-menu-button-sm:hover {
    color: $color_main_blue_600;
    cursor: pointer;

    #button_icon {
        color: $color_main_blue_600;
    }
}

.__side-menu-button-sm:disabled {
    color: $color_purple_300;
    cursor: default;

    #button_icon {
        color: $color_purple_300;
    }
}

.__side-menu-selected-button-sm {
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 28px;
    margin: 38px auto;

    border: none;
    background-color: transparent;
    
    #button_icon {
        font-size: 24px;
        margin: auto;
        width: 24px;
        height: 24px;
        color: $color_main_blue_800;
    }
}

.__google-button {
    align-items  : center;
    padding      : 0px;
    width        : 276px;
    background-color: $color_white;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    display: grid;
    grid-template-columns: 42px auto;
    grid-template-rows: 42px;
    margin: 9px;

    div.__google-button-icon {
        grid-row: 1;
        grid-column: 1 / 2;
        width: 42px;
        height: 42px;
        background-image: url("./svg-social/btn_google_light_normal_ios.svg");
        background-repeat: no-repeat;
        background-size: 42px;
    }

    span.__google-button-title {
        grid-row: 1;
        grid-column: 2 / 3;
        font-family  : 'Roboto';
        font-weight: 500;
        color: $color_purple_900_text;
    }
}

.__google-button:hover {
    cursor: pointer;
}

.__google-button:focus {
    outline: none;
}

.__facebook-button {
    align-items  : center;
    padding      : 9px 0px 9px 12px;
    width        : 276px;
    background-color: #1977f3;
    border: 0px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-template-rows: 26px;
    margin: 9px;

    div.__facebook-button-icon {
        grid-row: 1;
        grid-column: 1 / 2;
        width: 26px;
        height: 26px;
        background-image: url("./svg-social/btn_facebook_dark.svg");
        background-repeat: no-repeat;
        background-size: 26px;
    }

    span.__facebook-button-title {
        grid-row: 1;
        grid-column: 2 / 3;
        font-family  : 'Helvetica';
        font-weight: 400;
        color: $color_white;
    }
}

.__facebook-button:hover {
    cursor: pointer;
}

.__facebook-button:focus {
    outline: none;
}

.__side-menu-selected-button-sm:focus {
    outline: none;
}

.__side-menu-button-sm:disabled {
    color: $color_purple_300;

    #button_icon {
        color: $color_purple_300;
    }
}

.__side-menu-button-title {
    margin: auto 16px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

.__button-separator {
    margin-left: 10px;
}

.__button-wide-separator {
    margin-left: 24px;
}

.__button-separator-sm {
    margin-left: 8px;
}

.__button-wide {
    padding: 8px 24px;
}
