$color_white: var(--color_white);

$color_pink_900: var(--color_pink_900);
$color_pink_800: var(--color_pink_800);
$color_pink_700: var(--color_pink_700);
$color_pink_600: var(--color_pink_600);
$color_pink_500: var(--color_pink_500);
$color_pink_400: var(--color_pink_400);
$color_pink_300: var(--color_pink_300);
$color_pink_200: var(--color_pink_200);
$color_pink_100: var(--color_pink_100);
$color_pink_50: var(--color_pink_50);

$color_green_900: var(--color_green_900);
$color_green_800: var(--color_green_800);
$color_green_700: var(--color_green_700);
$color_green_600: var(--color_green_600);
$color_green_500: var(--color_green_500);
$color_green_400: var(--color_green_400);
$color_green_300: var(--color_green_300);
$color_green_200: var(--color_green_200);
$color_green_100: var(--color_green_100);
$color_green_50: var(--color_green_50);

$color_orange_900: var(--color_orange_900);
$color_orange_800: var(--color_orange_800);
$color_orange_700: var(--color_orange_700);
$color_orange_600: var(--color_orange_600);
$color_orange_500: var(--color_orange_500);
$color_orange_400: var(--color_orange_400);
$color_orange_300: var(--color_orange_300);
$color_orange_200: var(--color_orange_200);
$color_orange_100: var(--color_orange_100);
$color_orange_50: var(--color_orange_50);

$color_purple_900_text: var(--color_purple_900_text);
$color_purple_900_icons: var(--color_purple_900_icons);
$color_purple_900: var(--color_purple_900); // top menu bar
$color_purple_800: var(--color_purple_800);
$color_purple_700: var(--color_purple_700);
$color_purple_600: var(--color_purple_600);
$color_purple_500: var(--color_purple_500);
$color_purple_400: var(--color_purple_400);
$color_purple_300: var(--color_purple_300);
$color_purple_200: var(--color_purple_200);
$color_purple_100: var(--color_purple_100);
$color_purple_50: var(--color_purple_50);

$color_main_blue_900: var(--color_main_blue_900);
$color_main_blue_800: var(--color_main_blue_800);
$color_main_blue_700: var(--color_main_blue_700);  // main color
$color_main_blue_600: var(--color_main_blue_600);
$color_main_blue_500: var(--color_main_blue_500);
$color_main_blue_400: var(--color_main_blue_400);
$color_main_blue_300: var(--color_main_blue_300);
$color_main_blue_200: var(--color_main_blue_200);
$color_main_blue_100: var(--color_main_blue_100);
$color_main_blue_50: var(--color_main_blue_50);

$color_test_900: var(#ac810b);
$color_test_800: var(#d69d00);
$color_test_700: var(#FFBD00);  // main color
$color_test_600: var(#fdbf16);
$color_test_500: var(#ffca38);
$color_test_400: var(#ffd86d);
$color_test_300: var(#ffe08c);
$color_test_200: var(#ffe8a8);
$color_test_100: var(#fdedc0);
$color_test_50:  var(#fff8e6);

// $color_main_blue_900: var(#06509e);
// $color_main_blue_800: var(#0070c0);
// $color_main_blue_700: var(#0081d4);  // main color
// $color_main_blue_600: var(#0094e9);
// $color_main_blue_500: var(#00a2f8);
// $color_main_blue_400: var(#19b0fa);
// $color_main_blue_300: var(#47befb);
// $color_main_blue_200: var(#7ed0fd);
// $color_main_blue_100: var(#b2e3fe);
// $color_main_blue_50:  var(#f6fcff);
