$min_width: 1024;
$max_width: 1920;
$max_width_container: 1920;
$mid_width_container: 1366;
$min_width_container: 1024;
$out_width_container: 320;
$max_height: 1080;
$min_height: 768;
$widget_max_width: 600;
$widget_min_width: 312;

$md1: $max_width_container - 12;
$md2: $mid_width_container - 12;
$md3: $min_width_container - 12;

$top_menu_height: 64;

$side_menu_narrow_width_sm: 134;
$side_menu_width_sm: 244;
$side_menu_narrow_width_lg: 200;
$side_menu_width_lg: 336;

$details_pane_width: 400;