@import "./fonts.scss";
@import "./colors.scss";

.__dialog-title {
    margin: 0px;
    padding: 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;

    color: $color_purple_900_text;
}

.__dialog-message {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_text;
}
