@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Prompt:400);
@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap);

@font-face {
    font-family: Rock Salt;
    src        : url(../assets/RockSalt-Regular.ttf) format("truetype");
}

$font_main: "Ubuntu";
$font_label: "Prompt";
$font_logo: "Montserrat Alternates";