@import '~@angular/material/theming';
@import "../app/colors.scss";

@include mat-core();

$bc-primary-palette: (
  50: $color_purple_50,
  100: $color_purple_100,
  200: $color_purple_200,
  300: $color_purple_300,
  400: $color_purple_400,
  500: $color_purple_500,
  600: $color_purple_600,
  700: $color_purple_700,
  800: $color_purple_800,
  900: $color_purple_900_text,
 A100: $color_purple_100,
 A200: $color_purple_200,
 A400: $color_purple_400,
 A700: $color_purple_700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$bc-accent-palette: (
   50: $color_main_blue_50,
  100: $color_main_blue_100,
  200: $color_main_blue_200,
  300: $color_main_blue_300,
  400: $color_main_blue_400,
  500: $color_main_blue_500,
  600: $color_main_blue_600,
  700: $color_main_blue_700,
  800: $color_main_blue_800,
  900: $color_main_blue_900,
 A100: $color_main_blue_100,
 A200: $color_main_blue_200,
 A400: $color_main_blue_400,
 A700: $color_main_blue_700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$bc-warn-palette: (
  50: $color_pink_50,
  100: $color_pink_100,
  200: $color_pink_200,
  300: $color_pink_300,
  400: $color_pink_400,
  500: $color_pink_500,
  600: $color_pink_600,
  700: $color_pink_700,
  800: $color_pink_800,
  900: $color_pink_900,
 A100: $color_pink_100,
 A200: $color_pink_200,
 A400: $color_pink_400,
 A700: $color_pink_700,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($bc-primary-palette);
$accent: mat-palette($bc-accent-palette);
$warn: mat-palette($bc-warn-palette);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);