@use '@angular/material' as mat;
@import "./colors.scss";

// Incluir el núcleo de Angular Material
@include mat.core();

// Definir la paleta primaria usando la nueva función m2-define-palette
$bc-primary-palette: mat.m2-define-palette((
  50: $color_purple_50,
  100: $color_purple_100,
  200: $color_purple_200,
  300: $color_purple_300,
  400: $color_purple_400,
  500: $color_purple_500,
  600: $color_purple_600,
  700: $color_purple_700,
  800: $color_purple_800,
  900: $color_purple_900_text,
  A100: $color_purple_100,
  A200: $color_purple_200,
  A400: $color_purple_400,
  A700: $color_purple_700,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #FFFFFF,
  )
));

// Definir la paleta de acento
$bc-accent-palette: mat.m2-define-palette((
  50: $color_main_blue_50,
  100: $color_main_blue_100,
  200: $color_main_blue_200,
  300: $color_main_blue_300,
  400: $color_main_blue_400,
  500: #00a2f8,
  600: $color_main_blue_600,
  700: $color_main_blue_700,
  800: $color_main_blue_800,
  900: $color_main_blue_900,
  A100: $color_main_blue_100,
  A200: $color_main_blue_200,
  A400: $color_main_blue_400,
  A700: $color_main_blue_700,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #FFFFFF,
  )
));

// Definir la paleta de advertencia
$bc-warn-palette: mat.m2-define-palette((
  50: $color_pink_50,
  100: $color_pink_100,
  200: $color_pink_200,
  300: $color_pink_300,
  400: $color_pink_400,
  500: $color_pink_500,
  600: $color_pink_600,
  700: $color_pink_700,
  800: $color_pink_800,
  900: $color_pink_900,
  A100: $color_pink_100,
  A200: $color_pink_200,
  A400: $color_pink_400,
  A700: $color_pink_700,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #FFFFFF,
    600: #FFFFFF,
    700: #FFFFFF,
    800: #FFFFFF,
    900: #FFFFFF,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #FFFFFF,
  )
));

// Define las paletas principales
$primary: mat.m2-define-palette($bc-primary-palette);
$accent: mat.m2-define-palette($bc-accent-palette);
$warn: mat.m2-define-palette($bc-warn-palette);

// Configura el tema
$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: -2,
));

// Aplica el tema a todos los componentes
@include mat.all-component-themes($theme);
