@import "./fonts.scss";
@import "./colors.scss";
@import "./consts.scss";

.__top-menu-bar {
    position: sticky;
    top: 0px;
    display: flex;
    box-sizing      : border-box;
    -moz-box-align  : center;
    align-items     : center;
    -moz-box-pack   : justify;
    height          : $top_menu_height_lg + px;
    padding         : 0px 24px 0px 0px;
    background-color: $color_purple_900;
    width: 100%;
    z-index: 100;

    @media (max-width: $md1 + px) {
        height          : $top_menu_height_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        height          : $top_menu_height_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        min-width: 0px;
        visibility: hidden;
    }
}

.__top-menu-content-bar {
    width           : 100%;
    display         : flex;
    justify-content : flex-end;
}

.__top-menu-content-bar-profile-side-menu-expanded {
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    align-items: center;
    margin-left: $side_menu_width_lg + px;

    @media (max-width: $md1 + px) {
        margin-left: $side_menu_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        margin-left: $side_menu_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__top-menu-content-bar-profile-side-menu-collapsed {
    width           : 100%;
    display         : flex;
    justify-content : space-between;
    align-items: center;
    margin-left: $side_menu_narrow_width_lg + px;

    @media (max-width: $md1 + px) {
        margin-left: $side_menu_narrow_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        margin-left: $side_menu_narrow_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__top-menu-content-box {
    display         : flex;
    align-items     : center;
}

.__popup-menu-separator {
    display: block;
    margin: 8px auto;
    width: 100%;
    height: 0.5px;
    background-color: $color_purple_200;
}

.__popup-menu-button {
    height: 28px;
    margin: 8px 30px 0px 2px;
    padding: 0px;
    border: none;
    background-color: $color_white;
    color: $color_purple_900_text;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    #button-icon {
        font-size: 32px;
        margin-right: 16px;
        color: $color_purple_900_icons;
    }
}

.__popup-menu-button:focus {
    outline: none;
}

.__popup-menu-button:hover {
    color: $color_main_blue_600;

    #button-icon {
        font-size: 32px;
        margin-right: 16px;
        color: $color_main_blue_600;
    }
}

.__popup-menu-button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.__side-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    width: 100%;
}

.__side-menu-footer-container {
    margin-left: 48px;

    @media (max-width: $md1 + px) {
        margin-left: 24px;
    }

    @media (max-width: $md2 + px) {
        margin-left: 24px;
    }
}

.__side-menu-data-container {
    margin-top: 44px;
    margin-left: 48px;

    @media (max-width: $md1 + px) {
        margin-left: 0px;
    }

    @media (max-width: $md2 + px) {
        margin-left: 0px;
    }
}

.__tool-bar-container {
    margin: 40px 24px 24px 24px;

    // @media (max-width: $md1 + px) {
    //     margin: 44px 24px 24px 24px;
    // }

    @media (max-width: $md1 + px) {
        margin: 24px 24px 24px 24px;
    }
}

.__tool-bar-filter-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.__tool-bar-filter-cloud {
    width: 100%;
    margin: 8px 0px 4px 0px;
}

.__tool-bar-block {
    height: 28px;
}

.__tool-bar-data-block {
    width: 50px;
    font-size: 8px !important;
}

.__tool-bar-label {
    margin: 0px 16px 0px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

.__tool-bar-error {
    display: block;
    width: 120px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: $color_pink_600;
}

.__tool-bar-double-sided-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 32px;
}

.__tool-bar-double-sided-data-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.__tool-bar-icon-box {
    display: block;
    margin: 0px 24px 0px 4px;
}

input.__tool-bar-text-box {
    width: 120px;
    border: 0px solid $color_purple_300;
    border-bottom-width: 0.5px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $color_purple_900_text;
}

input.__tool-bar-text-box:hover {
    border: 0px solid $color_main_blue_600;
    border-bottom-width: 1px;
}

input.__tool-bar-text-box:focus {
    outline: none;
    border: 0px solid $color_main_blue_800;
    border-bottom-width: 2px;
}

input.__tool-bar-text-box-error {
    border: 0px solid $color_pink_300;
    border-bottom-width: 0.5px;
}

input.__tool-bar-text-box-error:hover {
    border: 0px solid $color_pink_700;
    border-bottom-width: 1px;
}

input.__tool-bar-text-box-error:focus {
    border: 0px solid $color_pink_500;
    border-bottom-width: 2px;
}

.__top-menu-button-separator {
    width: 1px;
    height: 28px;
    background-color: $color_purple_50;
    margin: 0px 8px;
    opacity: 0.3;
}








.menu-bar {
    position: fixed;
    box-sizing      : border-box;
    -moz-box-align  : center;
    align-items     : center;
    -moz-box-pack   : justify;
    width           : 1366px;
    height          : 96px;
    background-color: $color_white;
    padding         : 24px;
    z-index         : 100;
}

.menu-content-bar {
    margin         : auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    width          : 100%;
}

.menu-box {
    margin: 0 0em;
}

.menu-delimiter {
    margin: 0 1.5em;
}

