@import "./fonts.scss";
@import "./colors.scss";
@import "./consts.scss";

$font_main: var(--font_main);

.__widget-frame-container {
    width: 100%;
    height: 100%;
    min-height: 768px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 10% 40%;
    background-color: $color_white;
}

.__widget-frame-background {
    grid-column: 1/3;
    grid-row: 1;
    background: linear-gradient(51.56deg, var(--widget_background_color_1) 0%, var(--widget_background_color_2) 28.65%, var(--widget_background_color_3) 66.67%, var(--widget_background_color_4) 100%);
}

.__widget-frame-background-pipes {
    grid-column: 1;
    grid-row: 1;
    background-color: var(--widget_background_solid_color);
    mask: var(--widget_background);
    mask-position: top;
    mask-repeat: no-repeat;
    mask-size: cover;
}

.__widget-frame-background-img {
    grid-column: 1/3;
    grid-row: 1;
    background-image: var(--widget_background);
    background-color: var(--widget_background_solid_color);
    background-repeat: no-repeat;
    background-size: 150%;
}

.__widget-frame-box {
    grid-row: 1;
    grid-column: 1/4;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
    margin: 0px 10% 0px 0px;
    z-index: 100;
}

.__widget-container {
    padding: 0px;
    min-height: 720px;
    width: $widget_max_width + px;

    background-color: $color_white;
    box-shadow: 0px 5px 6px rgba(153, 140, 149, 0.2), 0px 9px 12px rgba(153, 140, 149, 0.14),
        0px 3px 16px rgba(153, 140, 149, 0.12);
    border-radius: 8px;

    @media (max-width: $widget_max_width + px) {
        box-shadow: unset;
        border-radius: 0px;
        width: $widget_min_width + px;
    }

    @media (max-width: $widget_min_width + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__widget-embedded-container {
    padding: 0px;
    width: $details_pane_width + px;
    background-color: $color_white;
    overflow: hidden;
}

.__widget-title-container {
    height: 96px;
    display: grid;
    grid-template-columns: auto 56px;
    grid-template-rows: 96px;
    margin: auto;

    @media (max-width: $widget_max_width + px) {
        grid-template-rows: 56px;
        height: 56px;
    }
}

.__widget-title-logo-container {
    grid-row: 1;
    grid-column: 1 / 3;
    margin: auto;
    font-size: 20px;
}

.__widget-title-logo {
    margin: 0px;
    font-family: $font_logo;
    font-weight: 800;
    font-size: 32px;
    color: $color_main_blue_900;
    cursor: pointer;
}

.__widget-title-button-container {
    display: none;

    @media (max-width: $widget_max_width + px) {
        display: flex;
        grid-row: 1;
        grid-column: 2 / 3;
        margin: 8px 8px 0px 0px;
        width: 48px;
        height: 48px;
    }
}

.__widget-progress-container {
    height: 56px;
    margin: 0px 24px;

    @media (max-width: $widget_max_width + px) {
        margin: 0px 12px;
    }
}

.__widget-embedded-progress-container {
    height: 10px;
    margin: 8px 24px;
}

.__widget-progress-title-container {
    display: flex;
    flex-direction: column;
}

.__widget-progress-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    display: flex;
    margin-top: 12px;
    align-items: center;
    text-align: center;

    color: $color_purple_900_text;
}

.__widget-progress-line {
    position: relative;
    width: 100%;
    height: 2px;
    top: 6px;
    background-color: $color_purple_50;
}

.__widget-progress-indicator {
    position: relative;
    height: 2px;
    top: 4px;
    background-color: $color_main_blue_800;
}

.__widget-progress-indicator-step-1 {
    width: 17%;
}

.__widget-progress-indicator-step-2 {
    width: 33%;
}

.__widget-progress-indicator-step-3 {
    width: 50%;
}

.__widget-progress-indicator-step-4 {
    width: 67%;
}

.__widget-progress-indicator-step-5 {
    width: 83%;
}

.__widget-progress-indicator-step-6 {
    width: 100%;
}

.__widget-data-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;

    @media (max-width: $widget_max_width + px) {
    }

    @media (max-width: $widget_min_width + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__widget-mobile-rate-container {
    visibility: hidden;
    display: none;

    @media (max-width: $widget_max_width + px) {
        display: flex;
        visibility: visible;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
}

.__widget-wizard-container {
    min-height: 544px;
    width: 100%;
    max-width: 264px;
    margin: 0px 0px 24px 24px;

    background-color: $color_white;
    box-shadow: 0px 5px 6px rgba(153, 140, 149, 0.2), 0px 9px 12px rgba(153, 140, 149, 0.14),
        0px 3px 16px rgba(153, 140, 149, 0.12);
    border-radius: 8px;

    @media (max-width: $widget_max_width + px) {
        margin: 0px 12px;
        max-width: 320px;
    }
}

.__widget-wizard-container-data-list {
    min-height: 600px;
}

.__widget-wizard-container-single {
    max-width: 400px;
}

.__widget-wizard-container-embedded {
    width: 100%;
    max-width: $details_pane_width + px;
    margin: 0px;

    background-color: $color_white;
}

.__widget-data-box {
    margin: 24px;
}

.__widget-data-box-lg {
    margin: 24px 40px;
}

.__widget-data-box-extra {
    margin: 24px 0px 24px 24px;
}

.__widget-data-box-extra-internal {
    margin: 0px 24px 0px 0px;
}

.__widget-data-box-rounded-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto 18px 24px;
    grid-template-rows: auto 18px 24px;
    margin: 18px 0px;
}

.__widget-data-box-rounded-border {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px 24px;

    border: 2px solid $color_main_blue_800;
    box-sizing: border-box;
    border-radius: 8px;
}

.__widget-data-box-rounded-border-button-box {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_white;
}

.__widget-page-header {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
    margin: 0px 0px 24px 0px;
}

.__widget-fake-link {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_main_blue_800;
}

.__widget-buttons-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 24px 0px;
}

.__widget-summary-container {
    min-height: 244px;
    width: 100%;
    max-width: 312px;

    @media (max-width: $widget_max_width + px) {
        display: none;
        visibility: hidden;
    }
}

.__widget-mobile-summary-container {
    display: block;
    position: fixed;
    z-index: 300;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-color: $color_white;
}

.__widget-mobile-summary-box {
    width: $widget_min_width + px;
    margin: 12px;
    display: grid;
    grid-template-columns: auto 44px;
    grid-template-rows: 36px 8px auto;
}

.__widget-mobile-summary-data-box {
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 12px;
}

.__widget-mobile-summary-button-box {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.__widget-title {
    width: 100%;
    text-align: center;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    color: $color_main_blue_800;
}

.__widget-title-error {
    text-align: center;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;

    color: $color_pink_500;
    margin: 0px 0px 24px 0px;
}

.__widget-error-title-image {
    width: 126px;
    height: 106px;
    margin: 16px 0px 24px 0px;
}

.__widget-summary-close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    background: $color_white;
    border: none;

    color: $color_purple_900_icons;
}

.__widget-summary-close-button:focus {
    outline: none;
}

.__widget-summary-close-button:hover {
    cursor: pointer;
}

.__widget-summary-box {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.__widget-summary-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    color: $color_purple_900_icons;
}

.__widget-summary-data {
    width: 100%;
}

.__widget-summary-grid {
    display: grid;
    grid-template-columns: 100px auto 24px;
    place-items: center start;
}

.__widget-summary-grid-wide {
    grid-template-columns: 150px auto 24px;
}

.__widget-summary-item {
    margin: 8px 0px;
    display: flex;
    align-items: center;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_text;
}

.__widget-summary-double-item {
    grid-column: 1 / 3;
    margin: 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_text;
}

.__widget-summary-total {
    margin: 16px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.__widget-data-list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 0px 8px 0px;
}

.__widget-data-list-title {
    padding: 0px;
    margin: 0px 0px 0px 24px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    color: $color_main_blue_800;
}

.__widget-data-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
    max-height: 500px;
    overflow-y: scroll;
}

.__widget-data-list-item {
    width: 100%;
    background-color: $color_white;
    border: solid 1px $color_purple_50;
    border-style: none none solid none;
    padding: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.__widget-data-list-item:hover {
    background-color: $color_main_blue_50;
}

.__widget-data-list-item-line {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.__widget-data-list-item-type-icon {
    font-size: 16px;
    color: $color_purple_500;
    margin: 0px 4px 0px 0px;
}

.__widget-data-list-item-type-text {
    margin: 0px 8px 0px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: $color_purple_500;
}

.__widget-data-list-item-status-text {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;

    color: $color_purple_600;
}

.__widget-data-list-item-label {
    margin: 0px 4px 0px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    color: $color_purple_500;
}

.__widget-disclaimer-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.__widget-disclaimer-container {
    width: 100%;
    margin: 0px 0px 12px 0px;
}

.__widget-disclaimer-line {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_text;
}

.__widget-radio-line {
    margin: 0px 0px 0px 8px;
}

.__widget-error-title-block {
    margin: 48px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.__widget-hint-line {
    margin: 2px 0px;
    display: flex;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color_purple_200;
    white-space: pre-line;
}

.__widget-rate-container {
    margin: 8px 0px 18px 0px;
}

.__widget-rate-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    text-align: center;
    color: $color_purple_900_text;
}

.__widget-rate-line {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: $color_purple_900_text;
}

.__widget-rate-countdown {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 4px;

    font-family: $font_main;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: $color_main_blue_800;
}

.__widget-double-field-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.__widget-quote-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.__widget-double-field-left-box {
    margin: 0px 18px 0px 0px;
    width: 100%;
}

.__widget-double-field-right-box {
    width: 100%;
}

.__widget-code-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__widget-wallet-drop-item {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    color: $color_purple_900_text;
}

.__widget-provider-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.__widget-provider-item-button {
    width: 216px;
    height: 100px;
    margin: 0px 0px 14px 0px;
    padding: 0px;
    cursor: pointer;

    background: $color_white;
    border: 0px;
    box-shadow: 0px 3px 5px rgba(208, 207, 207, 0.2), 0px 5px 8px rgba(208, 207, 207, 0.14),
        0px 1px 14px rgba(208, 207, 207, 0.12);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.__widget-provider-item-button:hover {
    padding: 1px;
    box-shadow: 0px 5px 6px rgba(153, 140, 149, 0.2), 0px 9px 12px rgba(153, 140, 149, 0.14),
        0px 3px 16px rgba(153, 140, 149, 0.12);
}

.__widget-provider-item-button:focus {
    outline: none;
}

.__widget-provider-item-image {
    width: 82px;
    height: 82px;
    margin: 8px;
}

.__widget-provider-item-title {
    margin: 8px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;

    text-align: center;
    color: $color_purple_900_text;
}

.__widget-external-frame-container {
    width: 100%;
    height: 400px;
    min-height: 50%;
    margin: auto;
}

.__widget-external-frame-box {
    border: none;
    width: 100%;
    height: 100%;
}

.__widget-data-item-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    display: flex;
    align-items: center;

    color: $color_purple_900_text;
    margin: 4px 0px;
}

.__widget-data-item-value {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    display: flex;
    align-items: center;

    color: $color_purple_900_text;
    margin: 4px 0px;
}

.__widget-data-error {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: $color_pink_500;
    margin: 0px 0px 24px 0px;
}

.__risk-warning-container {
    display: flex;
    flex-direction: column;
}

.__risk-warning-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;

    color: $color_pink_500;
}

.__risk-warning-text {
    white-space: pre-line;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: $color_purple_900_icons;
    margin: 4px 0px 0px 0px;
}

.__widget-embedded-data-container {
    width: 100%;
    background-color: $color_white;
}

.__widget-embedded-tab-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 72px;
}

.__widget-embedded-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.__widget-embedded-left-tab-unselected {
    box-shadow: 3px -3px 5px rgba(208, 207, 207, 0.2), 5px -5px 8px rgba(208, 207, 207, 0.14),
        1px -1px 14px rgba(208, 207, 207, 0.12);
    cursor: pointer;
}

.__widget-embedded-right-tab-unselected {
    box-shadow: -3px -3px 5px rgba(208, 207, 207, 0.2), -5px -5px 8px rgba(208, 207, 207, 0.14),
        -1px -1px 14px rgba(208, 207, 207, 0.12);
    cursor: pointer;
}

.__widget-embedded-tab-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 56px;

    color: $color_main_blue_900;
}

.__widget-embedded-tab-title-unselected {
    color: $color_purple_900_icons;
}

.__widget-data-three-column-grid {
    display: grid;
    grid-template-columns: 70px auto 24px;
    grid-template-rows: 36px;
}

.__widget-data-three-column-item-one {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_icons;
}

.__widget-data-three-column-item-two {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 8px 0px 0px;
}

.__widget-data-three-column-item-three {
    grid-row: 1;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__widget-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

.__widget-radio-button {
    margin: 5px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 24px;
    color: $color_purple_900_icons;
}

.__widget-wizard-demo-box {
    padding: 24px;
    min-height: auto;
}