@import "./fonts.scss";
@import "./colors.scss";
@import "./menu.scss";
@import "./consts.scss";

.__profile-container {
    display: flex;
}

.__profile-side-menu {
    position: fixed;
    top: $top_menu_height_lg + px;
    left: 0px;
    height: 100%;
    width: $side_menu_narrow_width_lg + px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: $color_white;
    border: 1px solid $color_purple_50;
    border-style: none solid none none;
    z-index: 250;

    @media (max-width: $md1 + px) {
        top: $top_menu_height_sm + px;
        width     : $side_menu_narrow_width_sm + px;
    }

    @media (max-width: $md2 + px) {
        top: $top_menu_height_sm + px;
        width     : $side_menu_narrow_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width     : 0px;
        visibility: hidden;
    }
}

.__profile-side-menu-expanded {
    position: fixed;
    top: $top_menu_height_lg + px;
    left: 0px;
    height: 100%;
    width: $side_menu_width_lg + px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: $color_white;
    border: 1px solid $color_purple_50;
    border-style: none solid none none;
    z-index: 250;

    @media (max-width: $md1 + px) {
        top: $top_menu_height_sm + px;
        width: $side_menu_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        top: $top_menu_height_sm + px;
        width: $side_menu_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__profile-page-title {
    padding: 16px 0px 0px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    
    color: $color_purple_900_text;
}

.__profile-data-title {
    padding: 24px 0px 0px 0px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 28px;
    
    color: $color_purple_900_icons;
}

.__profile-content {
    width           : 100%;
    padding         : 0px 16px;
    background-color: $color_white;
    margin-left: $side_menu_narrow_width_lg + px;
    
    @media (max-width: $md1 + px) {
        width           : 100%;
        padding: 0px;
        margin-left: $side_menu_narrow_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        width           : 100%;
        padding: 0px;
        margin-left: $side_menu_narrow_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        padding         : 0px;
        width           : 0px;
        visibility      : hidden;
    }
}

.__profile-content-expanded {
    background-color: $color_white;
    width           : 100%;
    padding         : 0px 16px;
    margin-left: $side_menu_width_lg + px;

    @media (max-width: $md1 + px) {
        padding: 0px;
        width: 100%;
        margin-left: $side_menu_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        padding: 0px;
        width: 100%;
        margin-left: $side_menu_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        padding         : 0px;
        width           : 0px;
        visibility      : hidden;
    }
}

.__profile-top-menu-logo-box {
    position: fixed;
    display: flex;
    left: 0px;
    top: 0px;
    height: $top_menu_height_lg + px;
    width: $side_menu_width_lg + px;
    text-align: center;
    align-items: center;
    z-index: 200;

    @media (max-width: $md1 + px) {
        height: $top_menu_height_sm + px;
        width: $side_menu_width_sm + px;
    }
    
    @media (max-width: $md2 + px) {
        height: $top_menu_height_sm + px;
        width: $side_menu_width_sm + px;
    }

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__profile-details-block {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 200;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    background-color: #bbbbbb60;

    @media (max-width: $md3 + px) {
        width: 0px;
        visibility: hidden;
    }
}

.__profile-chat-block {
    position: fixed;
    bottom: 24px;
    right: 24px;

    z-index: 300;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: transparent;
    //background-color: red;

    @media (max-width: $md3 + px) {
        display: none;
        visibility: hidden;
    }
}

.__profile-internal-table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.__profile-internal-table-data-container-open {
    width: calc(100% - 475px);
    transition: width 250ms cubic-bezier(0, 0, 0.2, 1);

    @media (max-width: $md1 + px) {
        width: calc(100% - 342px);
        transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.__profile-internal-table-details-container-open {
    width: 475px;
    margin: 0px 0px 0px 24px;
    background-color: $color_white;
    
    @media (max-width: $md1 + px) {
        width: 342px;
    }
}

.__profile-internal-table-data-container-closed {
    width: 100%;
    transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
}

.__profile-internal-table-details-container-closed {
    width: 0px;
    transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
    -webkit-transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
    display: none;
}

.__profile-internal-table-details-box {
    border-style: solid;
    border-width: 0px 0px 0px 1px;
    border-color: $color_purple_50;

    margin: 0px;
    min-height: 700px;

    @media (max-width: $md1 + px) {
        width: 342px;
        min-height: 600px;
    }
}

.__profile-internal-table-details-data-box {
    margin: 16px 0px 0px 24px;
}

.__profile-internal-table-details-header-box {
    margin: 0px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.__profile-internal-table-details-value-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 0px 8px 0px;
}

.__profile-internal-table-details-text-box {
    margin: 16px 0px 8px 0px;
}

.__profile-internal-table-details-item-title-box {
    width: 110px;
}

.__profile-unsupported-device {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align      : center;
    background-color: $color_white;
    width           : 0px;
    visibility      : hidden;

    @media (max-width: $md3 + px) {
        width: 100%;
        visibility: visible;
    }
}

.__profile-unsupported-device-title {
    margin: 48px;
    text-align: center;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    
    color: $color_purple_900_text;
}

.__profile-data-container {
    display: block;
    margin: 0px 24px 24px 24px;
}

.__profile-data-container-full {
    height: 100%;
}

.__profile-data-table {
    width: 100%;
    background-color: $color_white;
}

.__profile-table-column {
    word-wrap: break-word;
    white-space: unset;
    overflow-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    height: 48px;
    padding: 0px !important;
}

.__profile-table-header {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 14px;
    color: $color_purple_200;
    margin-left: 4px;
}

.__profile-table-details-table {
    display: flex;
    justify-content: flex-end;
}

.__profile-disabled-block {
    opacity: 0.6;
}

.__profile-details-panel {
    width: $details_pane_width + px;
    height: 100%;
    background-color: $color_white;
    box-shadow: 0px 8px 11px rgba(208, 207, 207, 0.2), 0px 17px 26px rgba(208, 207, 207, 0.14), 0px 6px 32px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
}

.__profile-buttons-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 32px 0px;
}

.__profile-details-title-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.__profile-details-close-button {
    margin: 8px;
}

.__profile-details-data-block {
    height: 100%;
    margin: 0px 24px 24px 24px;
}

.__profile-payment-title-box {
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    background-color: $color_purple_900;
}

.__profile-payment-title-bar {
    width: 352px;
    word-wrap: normal;
    margin: 0px 24px 24px 24px;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: $color_white;
}

.__profile-grid-table-container-default {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    min-height: 400px;
    width: 100%;

    @media (max-width: $md1 + px) {
        min-height: 350px;
    }
}

.__profile-grid-table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: start;
    align-content: start;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    column-gap: 25px;
    row-gap: 26px;
    width: 100%;

    @media (max-width: $md1 + px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.__profile-grid-table-new-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.__profile-grid-table-new-item-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 32px;

    text-align: center;
    color: $color_main_blue_800;
}

.__profile-grid-table-new-item-title-mini {
    font-size: 56px;
}

.__profile-grid-table-new-item-text {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 56px;

    text-align: center;
    color: $color_main_blue_800;
}

.__profile-grid-table-new-item-text-mini {
    font-size: 18px;
    line-height: 35px;
}

.__profile-grid-table-item {
    height: 184px;
    background-color: $color_white;
    max-width: 300px;
}

.__profile-grid-table-item-new {
    border: 2px solid $color_main_blue_800;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-end;
    cursor: pointer;
}

.__profile-grid-table-item-data {
    box-shadow: 0px 3px 5px rgba(208, 207, 207, 0.2), 0px 5px 8px rgba(208, 207, 207, 0.14), 0px 1px 14px rgba(208, 207, 207, 0.12);
    border-radius: 8px;
}






.__profile-grid-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.__profile-grid-item-container {
    display: flex;
    padding: 16px;
    margin: 24px 36px;
    width: 179px;
    
    background-color: $color_white;
    box-shadow: 0px 3px 3px rgba(208, 207, 207, 0.2), 0px 3px 4px rgba(208, 207, 207, 0.14), 0px 1px 8px rgba(208, 207, 207, 0.12);
    border-radius: 8px;
}

.__profile-grid-item-data-container {
    display: flex;
    width: 100%;
    padding: 0px;
    flex-direction: column;
}

.__profile-profit-value {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: $color_green_500;
}

.__profile-profit-negative-value {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: $color_pink_600;
}

.__profile-extra-data-value {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: $color_purple_200;
}

.__profile-balance-chart-container {
    margin: 24px 0px;
}

.__profile-balance-chart-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.__profile-balance-chart-summary-container {
    display: block;
    margin: 0px 0px 24px 0px;
}

.__profile-balance-chart-currency-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 4px 0px 0px 0px;
}

.__profile-balance-chart-currency-selector-title {
    margin: 4px 10px 0px 0px;
}

.__profile-balance-chart-period-selector {
    margin: 32px 0px 0px 0px;
}

.__profile-balance-chart-data-container {
    width: 100%;
    height: 400px;
    display: block;
}

.__profile-internal-details-title {
    margin: 0px 0px 24px 0px;

    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;

    color: $color_purple_900_text;
}

.__profile-internal-details-item-title {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_icons;
}

.__profile-internal-details-item-value {
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;

    color: $color_purple_900_text;
}
