@import "./fonts.scss";
@import "./colors.scss";
@import "./consts.scss";

.__form-separator {
    height: 20px;
}

.__form-label {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

.__form-label-disabled {
    color: $color_purple_200;
}

.__form-assist {
    display: block;
    margin-left: 16px;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;    
    color: $color_purple_900_text;
}

.__form-assist-disabled {
    color: $color_purple_200;
}

.__form-assist-error {
    color: $color_pink_500;
}

.__widget-checkout {
    margin: 0px 4px;
}

.__form-card-type-icon-container {
    display: flex;
}

.__form-card-type-icon {
    grid-row: 1;
    grid-column: 1 / 2;
    width: 24px;
    height: 18px;
    margin: auto;
}

.__form-input-error-icon-container {
    grid-row: 1;
    grid-column: 2 / 3;
}

.__form-cardinput-error-icon-container {
    grid-row: 1;
    grid-column: 3 / 4;
}

.__form-input-password-icon-container {
    grid-row: 1;
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.__form-input-error-icon {
    display: block;
    margin: 9px auto;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: $color_pink_500;
}

.__form-input-password-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0px;
    background-color: $color_white;
    outline: 0px;
}

.__form-input-password-icon-block {
    height: 18px;
}

.__form-input-password-icon {
    margin: 2px auto;
    font-size: 18px;
    color: $color_purple_900_text;
}

.__form-text-border {
    height: 32px;
    width: 100%;
    padding: 0px 4px 0px 16px;

    border: 1px solid $color_purple_50;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
}

.__form-textbox-border {
    width: 100%;
    display: grid;
    grid-template-columns: auto 24px;
    grid-template-rows: 32px;

    border: 1px solid $color_purple_50;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
}

.__form-password-border {
    width: 100%;
    display: grid;
    grid-template-columns: auto 24px 24px;
    grid-template-rows: 32px;

    border: 1px solid $color_purple_50;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
}

.__form-cardbox-border {
    width: 100%;
    display: grid;
    grid-template-columns: 32px auto 24px;
    grid-template-rows: 32px;

    border: 1px solid $color_purple_50;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
}




.__form-combo-border {
    width: 100%;
    display: grid;
    grid-template-columns: auto 24px 86px;
    grid-template-rows: 32px;

    border: 1px solid $color_purple_50;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
}

input.__form-text-box {
    grid-row: 1;
    grid-column: 1 / 2;
    width: calc(100% - 24px);
    margin: 0px 16px;

    border: 0px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

input.__form-text-box:focus {
    outline: none;
}

input.__form-text-box:disabled {
    color: $color_purple_200;
}

input.__form-text-box-error {
    grid-row: 1;
    grid-column: 1 / 2;
    width: calc(100% - 24px);
    margin: 0px 16px;

    border: 0px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_pink_500;
}

input.__form-text-box-error:focus {
    outline: none;
}






input.__form-card-box {
    grid-row: 1;
    grid-column: 1 / 3;
    width: calc(100% - 24px);
    margin: 0px 16px;

    border: 0px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

input.__form-card-box:focus {
    outline: none;
}

input.__form-card-box:disabled {
    color: $color_purple_200;
}

input.__form-card-box-error {
    grid-row: 1;
    grid-column: 1 / 3;
    width: calc(100% - 24px);
    margin: 0px 16px;

    border: 0px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_pink_500;
}

input.__form-card-box-error:focus {
    outline: none;
}

input.__form-card-box-active-icon {
    grid-column: 2 / 3;
    width: calc(100% - 56px);
    margin: 0px 16px 0px 0px;
}




input.__form-finance-text-combo {
    grid-row: 1;
    grid-column: 1 / 3;
    width: calc(100% - 24px);
    margin: 0px 16px;

    border: 0px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

input.__form-finance-text-combo:focus {
    outline: none;
}

input.__form-finance-text-combo:disabled {
    color: $color_purple_200;
}

input.__form-finance-text-combo-error {
    grid-row: 1;
    grid-column: 1 / 3;
    width: calc(100% - 24px);
    margin: 0px 16px;

    border: 0px;
    background-color: transparent;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_pink_500;
}

input.__form-finance-text-combo-error:focus {
    outline: none;
}

.__form-uppercase-input {
    text-transform: uppercase;
}

.__form-finance-combo-separator {
    background-color: $color_purple_50;
    width: 1px;
    height: 32px;
}

.__form-finance-combo-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -32px;
    left: calc(100% - 110px);
    width: 110px;
    height: 32px;
}

.__form-finance-combo-block {
    grid-row: 1;
    grid-column: 3 / 4;

    border: 1px solid $color_purple_50;
    border-style: none none none solid;
    
    display: flex;
}

.__form-finance-combo-item {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.__form-finance-combo-item-img {
    margin: 0px 4px 0px 8px;
    width: 16px;
    height: 16px;
}

.__form-finance-combo-item-text {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: $color_purple_900_text;
}

.__form-combo-item {
    height: 32px;
    width: 100%;
    padding: 2px 0px;

    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}
