<app-admin-page-header [title]="'KYC Schemes'" [items]="['Home', 'KYC / KYB']" [active_item]="'Schemes'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-button-container">
            <button *ngIf="permission>1" (click)="showDetails(undefined, details_content)" type="button"
              class="btn btn-primary me-2">
              Add scheme
            </button>
          </div>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="data-table">
            <mat-table [dataSource]="schemes">
              <!-- Details Column -->
              <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-details">
                </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button class="row-button" (click)="showDetails(element, details_content)"
                    [attr.aria-label]="'Scheme details'" [attr.aria-pressed]="!!selectedScheme"
                    matTooltip="Scheme details" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">wysiwyg</i>
                  </button>
                </td>
              </ng-container>

              <!-- Default Column -->
              <ng-container matColumnDef="default">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-details">
                </th>
                <td mat-cell *matCellDef="let element">
                  <div *ngIf="element.isDefault" class="row-icon">
                    <i class="material-icons" style="font-size: 20px;">offline_bolt</i>
                  </div>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-name">
                  Name
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.name}}
                </td>
              </ng-container>

              <!-- Target Column -->
              <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-target">
                  Target
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.targetName}}
                </td>
              </ng-container>

              <!-- User type Column -->
              <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-user-type">
                  User type
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.userType}}
                </td>
              </ng-container>

              <!-- User mode Column -->
              <ng-container matColumnDef="userMode">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-user-mode">
                  User mode
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.userModeList}}
                </td>
              </ng-container>

              <!-- Provider Column -->
              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-provider">
                  Provider
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.kycProviderList}}
                </td>
              </ng-container>

              <!-- Level Column -->
              <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef class="mat-column-kyc-table mat-column-kyc-table-level">
                  Level
                </th>
                <td mat-cell *matCellDef="let element">
                  {{element.level.name}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
          </div>

          <ng-template #details_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">
                {{detailsTitle}}
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-kyc-details [permission]="permission" [currentScheme]="selectedScheme"
                (save)="modal.close('OK')" (close)="modal.dismiss('Close')">
              </app-admin-kyc-details>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>