<div *ngIf="label!==''" [ngClass]="{'__form-label': true, '__form-label-small': smallLabel, '__form-label-disabled': active===false}">
    {{label}}
</div>

<div class="__form-combo-border">
    <input [ngClass]="invalidForm ? '__form-finance-text-combo-error' : '__form-finance-text-combo'" type="text"
        [placeholder]="placeholder" [formControlName]="boxFieldName" maxlength="14"/>
    <div *ngIf="invalidForm" class="__form-input-error-icon-container">
        <mat-icon class="__form-input-error-icon">
            error
        </mat-icon>
    </div>
    <div class="__form-finance-combo-block">
        <mat-select [formControlName]="comboFieldName" style="margin: 8px 0px 0px 0px;">
            <mat-select-trigger>
                <div class="__form-finance-combo-item">
                    <img *ngIf="!selectedComboValue?.fiat" class="__form-finance-combo-item-img"
                        [src]="selectedComboValue?.img">
                    <div *ngIf="selectedComboValue?.fiat" class="__form-finance-combo-item-img"></div>
                    <span class="__form-finance-combo-item-text">
                        {{selectedComboValue?.display}}
                    </span>
                </div>
            </mat-select-trigger>
            <mat-option *ngFor="let item of comboList" [value]="item.symbol" style="height: 32px;">
                <div class="__form-finance-combo-item">
                    <img *ngIf="!item.fiat" class="__form-finance-combo-item-img" [src]="item.img">
                    <span class="__form-finance-combo-item-text">
                        {{item.display}}
                    </span>
                </div>
            </mat-option>
        </mat-select>
    </div>
</div>

<div *ngIf="assist!=='' || invalidForm"
    [ngClass]="{'__form-assist': true, '__form-assist-disabled': active===false, '__form-assist-error': invalidForm}">
    {{invalidForm ? errorAssist : assist}}
</div>
<div *ngIf="separator" class="__form-separator"></div>