<div *ngIf="label!==''" [ngClass]="{'__form-label': true, '__form-label-disabled': active===false, '__form-label-small': smallerLabel}">
    {{label | transloco}}
</div>

<div class="__form-password-border">
    <input [ngClass]="control?.valid || !initialized ? '__form-text-box' : '__form-text-box-error'"
        [type]="hidePassword ? 'password' : 'text'" [placeholder]="placeholder" [formControl]="control"
        [maxlength]="maxlength" [readonly]="active === false" autocomplete="false" />
    <div *ngIf="!control?.valid && initialized" class="__form-input-error-icon-container">
        <mat-icon class="__form-input-error-icon">
            error
        </mat-icon>
    </div>
    <div class="__form-input-password-icon-container">
        <button class="__form-input-password-button" type="button" (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword"
            [matTooltip]="hidePassword ? 'Show password' : 'Hide password'" matTooltipClass="info-tooltip">
            <div class="__form-input-password-icon-block">
                <mat-icon class="__form-input-password-icon">
                    {{hidePassword ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </div>
        </button>
    </div>
</div>

<div *ngIf="assist!=='' || (!control?.valid)"
    [ngClass]="{'__form-assist': true, '__form-assist-disabled': active===false, '__form-assist-error': errorMessage!==''}">
    {{errorMessage==='' ? assist : errorMessage}}
</div>
<div *ngIf="separator" class="__form-separator"></div>