<div *ngIf="label!==''" [ngClass]="{'__form-label': true, '__form-label-small': smallLabel, '__form-label-disabled': active===false}">
    {{label}}
</div>

<div class="__form-textbox-border">
    <input
        [ngClass]="{'__form-text-box': control?.valid || !initialized, '__form-text-box-error': !control?.valid && initialized, '__form-uppercase-input': upperCase}"
        [type]="boxType" [placeholder]="placeholder" [formControl]="control" [maxlength]="maxlength"
        [readonly]="active===false" [onlyNumber]="numberField" [attr.inputmode]="inputMode" [pattern]="inputPattern"
        autocomplete="false" />
    <div *ngIf="!control?.valid && initialized" class="__form-input-error-icon-container">
        <mat-icon class="__form-input-error-icon">
            error
        </mat-icon>
    </div>
</div>

<div *ngIf="assist!=='' || (!control?.valid)"
    [ngClass]="{'__form-assist': true, '__form-assist-disabled': active===false, '__form-assist-error': errorMessage!==''}">
    {{errorMessage==='' ? assist : errorMessage}}
</div>
<div *ngIf="separator" class="__form-separator"></div>