<h1 class="__dialog-title" mat-dialog-title>{{data.title}}</h1>
<div class="__dialog-secret-content-block">
    <div class="__dialog-space"></div>
    <div class="__dialog-message" mat-dialog-content>New API ket and secret were generated.</div>
    <div class="__dialog-space-small"></div>
    <div class="__dialog-message" mat-dialog-content>Copy the secret and store it in a safe place.</div>
    <div class="__dialog-message-accent" mat-dialog-content>It will be unable to show the secret anymore.</div>
    <div class="__dialog-space-large"></div>
    <div class="__dialog-secret-phrase-block">
        <div class="__dialog-title" mat-dialog-content>{{data.message}}</div>
        <span>&nbsp;&nbsp;&nbsp;</span>
        <button class="__tool-button" (click)="copySecret()">
            <mat-icon style="font-size: 22px;">content_copy</mat-icon>
        </button>
    </div>
    <div class="__dialog-space-large"></div>
</div>

<mat-dialog-actions align="center">
    <button class="__main-button __button-wide" [mat-dialog-close]="true">
        close
    </button>
</mat-dialog-actions>