<h1 mat-dialog-title>{{data.title}}</h1>

<app-kyc-panel *ngIf="!data.companyLevelVerification" [url]="data.message" [flow]="data.button" [notifyCompleted]=true [completedWhenVerified]=true
    (completed)="onComplete()">
</app-kyc-panel>

<kyc-company-level-verification *ngIf="data.companyLevelVerification" [levelName]="data.button" buttonTitle="SEND" (done)="onComplete()" (error)="handleError($event)" [errorMessage]="errorMessage"></kyc-company-level-verification>

<mat-dialog-actions align="center">
    <button class="__outlined-button" type="button" (click)="onClose()">
        CLOSE
    </button>
</mat-dialog-actions>