<h1 *ngIf="data.title!==''" class="__dialog-title" mat-dialog-title>{{data.title}}</h1>
<div class="__dialog-space-small"></div>
<form [formGroup]="messageForm">
    <app-form-textbox [label]="'Title'" [boxType]="'text'" [placeholder]="'Message title'" [maxlength]="50"
        formControlName="title" [separator]="true">
    </app-form-textbox>

    <app-form-textbox [label]="'Message text'" [boxType]="'text'" [placeholder]="'Message text'" [maxlength]="250"
        formControlName="text" [errorMessages]="textErrorMessages" [multiple]=true [separator]="true">
    </app-form-textbox>

    <mat-dialog-actions align="center">
        <button class="__main-button __button-wide" [mat-dialog-close]="messageForm" [disabled]="!messageForm.valid">
            SEND
        </button>
    </mat-dialog-actions>
</form>