.widget-iframe {
	height: 100vh;
    max-height: 100vh;
    width: 100%;
    background: transparent;
}

.widget__wrapper { 
    width: 895px;
    height: 590px;
    justify-content: center;  
    display: flex; 
}

.widget__container-1 {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 376px;
    height: 590px;
    background: white;
    border-radius: 8px;
    padding: 24px;
    padding-top: 10px;
}

.widget__container-2 {
    flex: 1 1;
    background: white;
    padding: 24px;
    margin-left: 3px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 516px;
    height: 590px;
}