<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="__tool-bar-container">
        <div class="__tool-bar-filter-container">
            <!-- Wallet type filter -->
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                    Wallet
                </div>
            </div>
            <div class="__tool-bar-block __tool-bar-data-block">
                <mat-select formControlName="walletTypes" multiple>
                    <mat-select-trigger>
                        <span class="__mat-select-item">
                            {{selectedWalletTypes}}{{selectedWalletTypesExtra}}
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let item of walletTypes" [value]="item.id" style="height: 36px;">
                        <span class="__mat-select-item">
                            {{item.name}}
                        </span>
                    </mat-option>
                </mat-select>
            </div>
            <div class="__tool-bar-label"></div> <!-- Space -->
            <!-- Transaction type filter -->
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                    Transaction type
                </div>
            </div>
            <div class="__tool-bar-block __tool-bar-data-block">
                <mat-select formControlName="transactionTypes" multiple>
                    <mat-select-trigger>
                        <span class="__mat-select-item">
                            {{selectedTransactionTypes}}{{selectedTransactionTypesExtra}}
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let item of transactionTypes" [value]="item.id" style="height: 36px;">
                        <span class="__mat-select-item">
                            {{item.name}}
                        </span>
                    </mat-option>
                </mat-select>
            </div>
            <div class="__tool-bar-label"></div> <!-- Space -->
            <!-- Transaction date filter -->
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                    Transaction date
                </div>
            </div>
            <div>
                <div class="__tool-bar-block">
                    <!-- <input class="__tool-bar-text-box __tool-bar-text-box-error" type="text"/> -->
                    <input
                        [ngClass]="{'__tool-bar-text-box': true, '__tool-bar-text-box-error': transactionDateField?.errors}"
                        type="text" mask="d0/M0/0000" placeholder="DD/MM/YYYY" [dropSpecialCharacters]="false"
                        formControlName="transactionDate" />
                </div>
                <div *ngIf="transactionDateField?.errors?.pattern && (transactionDateField?.dirty || transactionDateField?.touched)"
                    class="__tool-bar-error">
                    Invalid date format
                </div>
            </div>
            <div class="__tool-bar-label"></div> <!-- Space -->
            <!-- Sender / Recipient filter -->
            <div class="__tool-bar-block">
                <div class="__tool-bar-label">
                    Sender / Recipient
                </div>
            </div>
            <div class="__tool-bar-block">
                <input class="__tool-bar-text-box" type="text" formControlName="sender" maxlength="50" />
            </div>
            <div class="__tool-bar-label"></div> <!-- Space -->
            <!-- Search button -->
            <button class="__toggle-button" type="submit" [disabled]="filterForm.invalid">Search</button>
            <div class="__tool-bar-label"></div> <!-- Space -->
            <button class="__toggle-button" type="button" (click)="resetFilter()">Clear all</button>
        </div>

        <div class="__tool-bar-filter-cloud"></div>
    </div>
</form>