<form [formGroup]="filterForm">
    <div class="__tool-bar-container">
        <div class="__tool-bar-filter-container">
            <div class="__tool-bar-double-sided-container">
                <div class="__tool-bar-double-sided-data-box">
                    <div class="__tool-bar-block">
                        <div class="__tool-bar-label">
                            Filter coin
                        </div>
                    </div>
                </div>
                <div class="__tool-bar-double-sided-data-box">
                    <div class="__tool-bar-block">
                        <div class="__tool-bar-label">
                            Show zero balance
                        </div>
                    </div>
                    <div class="__tool-bar-block">
                        <div class="__toggle-switch">
                            <input type="checkbox" id="toggle-button" class="__toggle-switch-slider" formControlName="zeroBalance">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>