@import "../../../../assets/fonts.scss";
@import "../../../../assets/colors.scss";

.__profile-notifications-table-column-selected {
    flex: 0 0 4%;
    width: 4%;
    min-width: 60px;
}

.__profile-notifications-table-column-level {
    flex: 0 0 4%;
    width: 4%;
    min-width: 60px;
}

.__profile-notifications-table-column-viewed-icon {
    flex: 0 0 4%;
    width: 4%;
    min-width: 59px;
}

.__profile-notifications-table-column-created-date {
    flex: 0 0 23%;
    width: 23%;
    min-width: 89px;
}

.__profile-notifications-table-column-viewed-date {
    flex: 0 0 23%;
    width: 23%;
    min-width: 89px;
}

.__profile-notifications-table-column-notification-code {
    flex: 0 0 38%;
    width: 38%;
    min-width: 189px;
}

.__profile-notifications-table-column-remove {
    flex: 0 0 4%;
    width: 4%;
    min-width: 60px;
}

.__profile-notifications-table-cell-data {
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

.__profile-notifications-table-cell-plain {
    padding: 0px 0px 0px 4px !important;
    cursor: pointer;
}

.__profile-notifications-table-cell-icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.__profile-notifications-table-cell-button-box {
    margin: 0px 18px;
}

.__profile-notifications-table-cell-viewed-icon {
    width: 18px;
    height: 18px;
    margin: 0px 21px;
}

.__profile-notifications-table-cell-level-icon {
    width: 24px;
    height: 24px;
    margin: 0px 18px;
}
