<div class="checkout-page">
  <div class="wizard-panel-split">
    <div class="wizard-panel-stepper">
      <mat-horizontal-stepper linear #checkoutStepper class="stepper" [disableRipple]="true"
        (selectionChange)="stepChanged($event)">
        <!-- Order details -->
        <mat-step [stepControl]="detailsForm" label="details" editable="false" completed="false">
          <ng-template matStepLabel>Order details</ng-template>
          <form [formGroup]="detailsForm" #details="ngForm" *ngIf="!needToLogin">
            <div>
              <div *ngIf="inProgress" class="form-element">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
              <div>
                <h2>Choose your order details</h2>
              </div>
              <div *ngIf="errorMessage !== ''" class="form-error-box">
                {{ errorMessage }}
              </div>
              <!-- Email -->
              <mat-form-field class="form-element">
                <mat-label>Email</mat-label>
                <input type="email" #emailinput matInput formControlName="email" maxlength="60"
                  placeholder="Type your email address" required />
                <mat-error *ngIf="this.detailsForm.get('email')?.hasError('required')">
                  Please specify your email
                </mat-error>
                <mat-error *ngIf="this.detailsForm.get('email')?.hasError('pattern')">
                  Email has incorrect format
                </mat-error>
              </mat-form-field>
              <!-- Currencies -->
              <div class="currency-transfer-box">
                <!-- Amount from -->
                <div class="currency-transfer-source-box">
                  <mat-form-field class="form-element">
                    <mat-label>Amount to Spend</mat-label>
                    <div class="currency-transfer-box">
                      <div class="currency-transfer-amount-box">
                        <input type="text" matInput formControlName="amountFrom" maxlength="20" placeholder="200"
                          required />
                      </div>
                      <div class="currency-transfer-currency-box">
                        <mat-select formControlName="currencyFrom">
                          <mat-option *ngFor="let item of sourceCurrencies" [value]="item.id">
                            {{ item.title }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <mat-error *ngIf="
                        this.detailsForm.get('amountFrom')?.hasError('required')
                      ">
                      Please specify source amount
                    </mat-error>
                    <mat-error *ngIf="
                        this.detailsForm.get('amountFrom')?.hasError('pattern')
                      ">
                      Amount must be a valid number
                    </mat-error>
                    <mat-error *ngIf="
                        this.detailsForm.get('amountFrom')?.hasError('min')
                      ">
                      {{ getSourceAmountMinError() }}
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Amount to -->
                <div class="currency-transfer-source-box">
                  <mat-form-field class="form-element">
                    <mat-label>Amount To Receive</mat-label>
                    <div class="currency-transfer-box">
                      <div class="currency-transfer-amount-box">
                        <input type="text" matInput formControlName="amountTo" maxlength="20" placeholder="0"
                          required />
                      </div>
                      <div class="currency-transfer-currency-box">
                        <mat-select formControlName="currencyTo">
                          <mat-option *ngFor="let item of destinationCurrencies" [value]="item.id">
                            {{ item.title }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                    <mat-error *ngIf="
                        this.detailsForm.get('amountTo')?.hasError('required')
                      ">
                      Please specify amount to receive
                    </mat-error>
                    <mat-error *ngIf="
                        this.detailsForm.get('amountTo')?.hasError('pattern')
                      ">
                      Amount must be a valid number
                    </mat-error>
                    <mat-error *ngIf="this.detailsForm.get('amountTo')?.hasError('min')">
                      {{ getDestinationAmountMinError() }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- Transaction type -->
              <mat-form-field class="form-element">
                <mat-label>Transaction</mat-label>
                <mat-select formControlName="transaction">
                  <mat-option *ngFor="let item of transactionList" [value]="item.id">
                    {{ item.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="
                    this.detailsForm.get('transaction')?.hasError('required')
                  ">
                  Please specify your transaction type
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element">
              <button type="submit" class="main-button main-button-accent" [disabled]="errorMessage !== ''"
                (click)="detailsCompleted()">
                NEXT
              </button>
            </div>
          </form>
          <!-- Login -->
          <div *ngIf="needToLogin">
            <h2>Sign in</h2>
            <span>Your account seems to be registered. Please, authenticate</span>
            <mat-progress-bar *ngIf="inProgress" mode="indeterminate"></mat-progress-bar>
            <div class="form-error-box" *ngIf="errorMessage !== ''">
              {{ errorMessage }}
            </div>
            <app-login-panel [userName]="defaultUserName" (error)="onError($event)"
              (progressChange)="onProgressChange($event)" (authenticated)="onAuthenticated($event)"
              (socialAuthenticated)="onSocialAuthenticated($event)">
            </app-login-panel>
            <button type="submit" class="main-button main-button-primary inline-button" (click)="resetStepper()">
              RESET
            </button>
          </div>
        </mat-step>
        <!-- Payment info -->
        <mat-step [stepControl]="paymentInfoForm" label="paymentInfo" editable="false" completed="false">
          <ng-template matStepLabel>Payment info</ng-template>
          <form [formGroup]="paymentInfoForm" #paymentinfo="ngForm">
            <div *ngIf="inProgress" class="form-element">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div>
              <h2>Choose payment details</h2>
            </div>
            <div *ngIf="errorMessage !== ''" class="form-error-box">
              {{ errorMessage }}
            </div>
            <!-- Wallet address -->
            <mat-form-field *ngIf="isWalletVisible" class="form-element">
              <mat-label>{{ walletAddressName }}</mat-label>
              <input type="text" placeholder="Valid wallet address" aria-label="walletAddressName" matInput
                formControlName="address" [matAutocomplete]="auto" maxlength="60" required />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-optgroup *ngFor="let group of userWalletsFiltered | async" [label]="group.id">
                  <mat-option *ngFor="let wallet of group.values" [value]="wallet">
                    {{wallet}}
                  </mat-option>
                </mat-optgroup>
              </mat-autocomplete>
              <mat-error *ngIf="this.paymentInfoForm.get('address')?.hasError('required')">
                Please specify your wallet address
              </mat-error>
              <mat-error *ngIf="this.paymentInfoForm.get('address')?.hasError('walletAddress')">
                Wallet address is not valid
              </mat-error>
            </mat-form-field>
            <!-- Instrument -->
            <mat-form-field class="form-element">
              <mat-label>Payment</mat-label>
              <mat-select formControlName="instrument">
                <mat-option *ngFor="let item of paymentInstrumentList" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.paymentInfoForm.get('instrument')?.hasError('required')">
                Please specify payment method
              </mat-error>
            </mat-form-field>
            <!-- Provider -->
            <mat-form-field class="form-element" *ngIf="isApmSelected">
              <mat-label>Provider</mat-label>
              <mat-select formControlName="provider">
                <mat-option *ngFor="let item of paymentProviderList" [value]="item.id">
                  {{ item.name }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="this.paymentInfoForm.get('provider')?.hasError('required')">
                Please specify payment provider
              </mat-error>
            </mat-form-field>
            <div class="form-element">
              <button type="submit" #paymentinfonext class="main-button main-button-accent inline-button"
                [disabled]="errorMessage !== ''" (click)="paymentInfoCompleted()">
                NEXT
              </button>
              <button type="submit" class="main-button main-button-primary inline-button" (click)="resetStepper()">
                RESET
              </button>
            </div>
          </form>
        </mat-step>
        <!-- KYC Verification -->
        <mat-step [stepControl]="verificationForm" *ngIf="showKycStep" label="verification" editable="false"
          completed="false">
          <ng-template matStepLabel>Verification</ng-template>
          <form [formGroup]="verificationForm" #verification="ngForm">
            <div *ngIf="inProgress" class="form-element">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div>
              <h2>Provide your documents</h2>
            </div>
            <div *ngIf="errorMessage !== ''" class="form-error-box">
              {{ errorMessage }}
            </div>
            <div *ngIf="showKycValidator">
              <app-kyc-panel [url]="settingsCommon?.kycBaseAddress" [flow]="flow" [notifyCompleted]="true"
                (completed)="kycCompleted()">
              </app-kyc-panel>
            </div>
            <div class="form-element">
              <button type="submit" #verificationreset class="main-button main-button-primary inline-button"
                (click)="resetStepper()">
                RESET
              </button>
            </div>
          </form>
        </mat-step>
        <!-- Code Confirmation -->
        <mat-step [stepControl]="confirmationForm" *ngIf="showCodeConfirm" label="confirmation" editable="false"
          completed="false">
          <ng-template matStepLabel>Confirmation</ng-template>
          <form [formGroup]="confirmationForm" #confirmation="ngForm">
            <div *ngIf="inProgress" class="form-element">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div>
              <h2>Confirm your payment</h2>
            </div>
            <div *ngIf="errorMessage !== ''" class="form-error-box">
              {{ errorMessage }}
            </div>
            <div class="form-element" class="quick-checkout-info-label">
              <span>
                <mat-icon class="icon-block">info</mat-icon>
              </span>
              Please type a confirmation code from the letter you have received
              on your email
            </div>
            <!-- Code -->
            <mat-form-field class="form-element">
              <mat-label>Code</mat-label>
              <input type="text" #codeinput matInput formControlName="code" maxlength="10"
                placeholder="Confirmation code" required />
              <mat-error *ngIf="
                  this.confirmationForm.get('address')?.hasError('required')
                ">
                Please specify the confirmation code
              </mat-error>
            </mat-form-field>
            <div class="form-element">
              <button type="submit" class="main-button main-button-accent inline-button"
                [disabled]="errorMessage !== ''" (click)="confirmPayment()">
                CONFIRM
              </button>
              <button type="submit" class="main-button main-button-primary inline-button" (click)="resetStepper()">
                RESET
              </button>
            </div>
          </form>
        </mat-step>
        <!-- Payment -->
        <mat-step [stepControl]="paymentForm" label="payment" editable="false" completed="false">
          <ng-template matStepLabel>Payment</ng-template>
          <form [formGroup]="paymentForm" #payment="ngForm">
            <div *ngIf="inProgress" class="form-element">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div>
              <h2>{{ paymentTitle }}</h2>
            </div>
            <div *ngIf="errorMessage !== ''" class="form-error-box">
              {{ errorMessage }}
            </div>
            <app-credit-card *ngIf="paymentCreditCard" class="form-element" (cardDetails)="cardDetails($event)">
            </app-credit-card>
            <br />
            <div class="form-element">
              <button type="submit" #paymentnext class="main-button main-button-accent inline-button"
                [disabled]="!currentCard.valid" (click)="paymentCompleted()">
                NEXT
              </button>
              <button type="submit" class="main-button main-button-primary inline-button" (click)="resetStepper()">
                RESET
              </button>
            </div>
          </form>
        </mat-step>
        <!-- Payment complete -->
        <mat-step [stepControl]="redirectForm" label="redirect" editable="false" completed="false">
          <ng-template matStepLabel>Complete</ng-template>
          <form [formGroup]="redirectForm" #redirect="ngForm">
            <div *ngIf="inProgress" class="form-element">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div>
              <h2>Confirm your payment</h2>
            </div>
            <div *ngIf="errorMessage !== ''" class="form-error-box">
              {{ errorMessage }}
            </div>
            <div class="redirect-frame-container">
              <iframe id="iframe" class="redirect-frame-box" (load)="onLoadRedirect()"></iframe>
            </div>
            <div class="form-element">
              <button type="submit" #redirectnext [disabled]="!transactionApproved"
                class="main-button main-button-accent inline-button" (click)="confirmRedirect()">
                NEXT
              </button>
            </div>
          </form>
        </mat-step>

        <!-- Order status -->
        <mat-step label="complete" editable="false" completed="false">
          <ng-template matStepLabel>Order status</ng-template>
          <app-checkout-done *ngIf="processDone" [summary]="summary"></app-checkout-done>
          <br />
          <button *ngIf="internalPayment" type="submit" class="main-button main-button-accent inline-button"
            #checkoutdone [disabled]="errorMessage !== ''" (click)="done()">
            DONE
          </button>
          <button type="submit" class="main-button main-button-primary inline-button" (click)="resetStepper()">
            RESET
          </button>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div *ngIf="!processDone" class="wizard-panel-summary">
      <app-exchange-rate #exchangerate [summary]="summary" (update)="onUpdateRate($event)"></app-exchange-rate>
      <app-checkout-summary [summary]="summary"></app-checkout-summary>
    </div>
    <div *ngIf="processDone" class="wizard-panel-summary">
      <div class="wizard-panel-done">
        <h2>What's next?</h2>
        <p>
          We will send you a an email notification once we have processed your
          transaction.
        </p>
        <h2>How long does it take?</h2>
        <p>
          It usually takes 30-60 minutes but it may take up to 2 days. Contact
          support if you have any questons.
        </p>
      </div>
    </div>
  </div>
</div>