<div style="height: 8em; background-color: #dddfe6">
  <div style="padding: 2em; height: 8em; text-align: center">
    <a href="/" style="margin-left: 1em; color: #000000">
      <mat-icon>attractions</mat-icon>
    </a>
    <span style="padding-left: 1em; font-size: x-large">Quick checkout</span>
    <br />
    <span style="color: darkblue">1DDBCjmy3zpkNu3rfAFX2ucrRbPiunn1SB</span>
    <br />
    <span style="color: #770d35">4111110000000211</span>
  </div>
</div>

<div class="main-box">
  <div class="container-box">
    <app-quick-checkout [internal]="true" class="frame-box"></app-quick-checkout>
  </div>
</div>
