.checkout-page {
    height          : 100%;
    background-color: #DDDFE6;
}

.stepper {
    background-color: #DDDFE6;
}

.wizard-panel-split {
    display  : flex;
    margin   : auto;
    width    : 80em;
    max-width: 100%;
}

.wizard-panel-stepper {
    padding  : 0;
    width    : 75%;
    min-width: 10em;
}

.wizard-panel-summary {
    margin-top: 2em;
    padding   : 0;
    width     : 25%;
}

.currency-transfer-box {
    display: flex;
}

.currency-transfer-source-box {
    width       : 50%;
    margin-right: 0.5em;
}

.currency-transfer-destination-box {
    width      : 50%;
    margin-left: 0.5em;
}

.currency-transfer-amount-box {
    width: 80%;
}

.currency-transfer-currency-box {
    width    : 20%;
    min-width: 2em;
}