.main-box {
    height          : 100%;
    background-color: #DDDFE6;
}

.container-box {
    width: 80%;
    height: 100%;
    margin: auto;
}

.frame-box {
    border:none;
    width: 100%;
    height: 100%;
}