<div style="height: 6em;background-color: #DDDFE6;">
    <div style="margin: 1.5em;margin-bottom: 0em;height: 5em;text-align: center;">
        <a href="/" style="margin-left: 1em;color: #000000;">
            <mat-icon>attractions</mat-icon>
        </a>
        <span style="padding-left: 2em;font-size: x-large;">Quick checkout</span>
    </div>
</div>
<div style="height: 100%;background-color: #DDDFE6;">
    <div style="width: 80em;max-width:100%;height:100% ;margin: auto;background-color: #DDDFE6;">
        Content
    </div>
</div>