<div style="height: 6em;background-color: #DDDFE6;">
    <div style="padding: 2em;height: 8em;text-align: center;">
        <a href="/" style="margin-left: 1em;color: #000000;">
            <mat-icon>attractions</mat-icon>
        </a>
        <span style="padding-left: 1em;font-size: x-large;">Quick checkout</span>
        <br>
        <span style="color:darkblue;">1KFzzGtDdnq5hrwxXGjwVnKzRbvf8WVxck</span>
    </div>
</div>
<div class="checkout-page">
    <div class="wizard-panel-split">
        <div class="wizard-panel-stepper">
            <mat-horizontal-stepper linear #stepper style="background-color: #DDDFE6;">
                <!-- Order details -->
                <mat-step [stepControl]="detailsForm" editable="true">
                    <form [formGroup]="detailsForm">
                        <ng-template matStepLabel>Order details</ng-template>
                        <div>
                            <div *ngIf="inProgress" class="form-element">
                                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                            </div>
                            <div>
                                <h2>Choose your order details</h2>
                            </div>
                            <div *ngIf="errorMessage!==''" class="form-error-box">
                                {{errorMessage}}
                            </div>
                            <!-- Email -->
                            <mat-form-field class="form-element">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput formControlName="email" maxlength="60"
                                    placeholder="Type your email address" required />
                                <mat-error *ngIf="this.detailsForm.get('email')?.hasError('required')">
                                    Please specify your email
                                </mat-error>
                                <mat-error *ngIf="this.detailsForm.get('email')?.hasError('pattern')">
                                    Email has incorrect format
                                </mat-error>
                            </mat-form-field>
                            <!-- Currencies -->
                            <div class="currency-transfer-box">
                                <!-- Amount from -->
                                <div class="currency-transfer-source-box">
                                    <mat-form-field class="form-element">
                                        <mat-label>Amount to Spend</mat-label>
                                        <div class="currency-transfer-box">
                                            <div class="currency-transfer-amount-box">
                                                <input type="text" matInput formControlName="amountFrom" maxlength="20"
                                                    placeholder="200" required />
                                            </div>
                                            <div class="currency-transfer-currency-box">
                                                <mat-select formControlName="currencyFrom">
                                                    <mat-option *ngFor="let item of sourceCurrencies" [value]="item.id">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <mat-error *ngIf="this.detailsForm.get('amountFrom')?.hasError('required')">
                                            Please specify source amount
                                        </mat-error>
                                        <mat-error *ngIf="this.detailsForm.get('amountFrom')?.hasError('pattern')">
                                            Amount must be a valid number
                                        </mat-error>
                                        <mat-error *ngIf="this.detailsForm.get('amountFrom')?.hasError('min')">
                                            {{getSourceAmountMinError()}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Amount to -->
                                <div class="currency-transfer-source-box">
                                    <mat-form-field class="form-element">
                                        <mat-label>Coins To Receive</mat-label>
                                        <div class="currency-transfer-box">
                                            <div class="currency-transfer-amount-box">
                                                <input type="text" matInput formControlName="amountTo" maxlength="20"
                                                    placeholder="0" required />
                                            </div>
                                            <div class="currency-transfer-currency-box">
                                                <mat-select formControlName="currencyTo">
                                                    <mat-option *ngFor="let item of destinationCurrencies"
                                                        [value]="item.id">
                                                        {{item.title}}
                                                    </mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <mat-error *ngIf="this.detailsForm.get('amountTo')?.hasError('required')">
                                            Please specify amount to receive
                                        </mat-error>
                                        <mat-error *ngIf="this.detailsForm.get('amountTo')?.hasError('pattern')">
                                            Amount must be a valid number
                                        </mat-error>
                                        <mat-error *ngIf="this.detailsForm.get('amountTo')?.hasError('min')">
                                            {{getDestinationAmountMinError()}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- Wallet address -->
                            <mat-form-field class="form-element">
                                <mat-label>{{walletAddressName}}</mat-label>
                                <input type="text" matInput formControlName="address" maxlength="60"
                                    placeholder="Valid wallet address" required />
                                <mat-error *ngIf="this.detailsForm.get('address')?.hasError('required')">
                                    Please specify your wallet address
                                </mat-error>
                                <mat-error *ngIf="this.detailsForm.get('address')?.hasError('walletAddress')">
                                    Wallet address is not valid
                                </mat-error>
                            </mat-form-field>
                            <!-- Transaction type -->
                            <mat-form-field class="form-element">
                                <mat-label>Transaction</mat-label>
                                <mat-select formControlName="transaction">
                                    <mat-option *ngFor="let item of transactionList" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="this.detailsForm.get('transaction')?.hasError('required')">
                                    Please specify your transaction type
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-element">
                            <button type="button" class="main-button main-button-primary"
                            (click)="detailsCompleted(stepper)">
                                NEXT
                            </button>
                        </div>
                    </form>
                </mat-step>
                <!-- Payment info -->
                <mat-step [stepControl]="secondFormGroup" editable="true">
                    <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Payment info</ng-template>
                        <mat-form-field>
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                required>
                        </mat-form-field>
                        <div>
                            <button matStepperPrevious>Back</button>
                            <button matStepperNext>Next</button>
                        </div>
                    </form>
                </mat-step>
                <!-- Verification -->
                <mat-step>
                    <ng-template matStepLabel>Verification</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button matStepperPrevious>Back</button>
                        <button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
                <!-- Order status -->
                <mat-step>
                    <ng-template matStepLabel>Order status</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button matStepperPrevious>Back</button>
                        <button (click)="stepper.reset()">Reset</button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <div class="wizard-panel-summary">
            <app-exchange-rate [summary]="summary" (update)="onUpdateRate($event)"></app-exchange-rate>
            <checkout-summary [summary]="summary"></checkout-summary>
        </div>

    </div>
</div>