@import './assets/material-theme';

@font-face {
    font-family: Bahnschrift;
    src        : url(assets/12002.ttf) format("truetype");
}

* {
    font-family           : Bahnschrift, sans-serif;
    font-size             : medium;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

body {
    background-color: white;
    padding         : 0;
    margin          : 0;
    font-family     : Bahnschrift, Roboto, "Helvetica Neue", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow        : 0 0 0 30px #DDDFE6 inset !important;
    -webkit-box-shadow: 0 0 0 30px #DDDFE6 inset !important;
}

input:-webkit-autofill::first-line {
    font-size  : medium;
    font-family: Bahnschrift, sans-serif;
}

.mat-input-element {
    background: #DDDFE6;
}

.main-button {
    align-items  : center;
    padding      : 0px 0px;
    margin-top   : 5px;
    margin-bottom: 5px;
    width        : 135px;
    height       : 32px;
    box-sizing   : border-box;
    box-shadow   : 0px 3px 5px #5E6066;
    border-radius: 16px;
    font-size    : 12px;

    img {
        width       : 10px;
        height      : 10px;
        margin-top  : 0px;
        margin-right: 5px;
    }
}

.main-button-primary {
    /* Grey - 2 800 */
    background: #3B4D5A;
    /* Grey - 2 800 */
    border    : 1px solid #3B4D5A;
    /* Light grey - 2 50 */
    color     : #EAF0F7;
}

.main-button-primary:hover {
    /* Dark grey 2 700 */
    background: #4A6070;
}

.main-button-primary:active {
    /* Almost black 2 900 */
    background: #293742;
    /* 2 200 */
    color: #B2C2CF;
}

.main-button-accent {
    /* Grey - 1 800 */
    background: #096B94;
    /* Grey - 1 800 */
    border    : 1px solid #096B94;
    /* Light grey - 1 50 */
    color     : #E0F3F7;
}

.main-button-accent:hover {
    /* Dark grey 1 700 */
    background: #087CA7;
}

.main-button-accent:active {
    /* Almost black 1 900 */
    background: #004D73;
    /* 1 50 */
    color: #E0F3F7;
}

.main-button-warn {
    /* Grey - 4 800 */
    background: #C62728;
    /* Grey - 4 800 */
    border    : 1px solid #C62728;
    /* Light grey - 4 50 */
    color     : #FFEBEE;
}

.main-button-warn:hover {
    /* Dark grey 4 700 */
    background: #D32E2F;
}

.main-button-warn:active {
    /* Almost black 4 900 */
    background: #B71B1C;
    /* 4 50 */
    color: #FFEBEE;
}

.form-button {
    //width : 10em;
    //height: 2.75em;

    img {
        width       : 0.85em;
        height      : 0.85em;
        margin-top  : 5px;
        margin-right: 5px;
    }
}

.page-container {
    width : 100%;
    height: 100%;
}

.back-box {
    position   : fixed;
    top        : 2em;
    left       : 3.5em;
    margin     : 0;
    color      : #9e9e9e;
    font-weight: lighter;
}

.action-page-split {
    height    : 100%;
    position  : fixed;
    z-index   : 1;
    overflow-x: hidden;
}

.action-page-left-panel {
    left            : 0;
    background-color: #F8FAFF;
}

.action-page-left-menu-bar {
    left            : 0;
    background-color: #3F4147;
    color           : #EAF0F7;
}

.action-page-right-panel {
    right           : 0;
    background-color: #DDDFE6;
}

.info-page-split {
    height    : 100%;
    position  : fixed;
    z-index   : 1;
    top       : 0;
    overflow-x: hidden;
}

.info-page-left-panel {
    left: 0;
}

.info-page-right-panel {
    right           : 0;
    background-color: #b9b9b9;
}

.split-page-menu-panel {
    width: 20em;
}

.split-page-10 {
    width: 10%;

    .dim-split {
        width: 10%;
    }
}

.split-page-20 {
    width: 20%;

    .dim-split {
        width: 20%;
    }
}

.split-page-30 {
    width: 30%;

    .dim-split {
        width: 30%;
    }
}

.split-page-40 {
    width: 40%;

    .dim-split {
        width: 40%;
    }
}

.split-page-50 {
    width: 50%;

    .dim-split {
        width: 50%;
    }
}

.split-page-60 {
    width: 60%;

    .dim-split {
        width: 60%;
    }
}

.split-page-70 {
    width: 70%;

    .dim-split {
        width: 70%;
    }
}

.split-page-80 {
    width: 80%;

    .dim-split {
        width: 80%;
    }
}

.split-page-90 {
    width: 90%;

    .dim-split {
        width: 90%;
    }
}

.split-page-100 {
    width: 100%;

    .dim-split {
        width: 100%;
    }
}

.split-panel-menu {
    position: relative;
    margin  : 0;
}

.form-error-box {
    margin-top      : 1em;
    padding         : 1em;
    background-color: #FFCDD2;  // 4 200
    color           : #B00020;  // 
    border          : #B00020;
    border-style    : solid;
    border-width    : 0px 0px 2px 0px;
}

.form-section-title-box {
    margin          : 0;
    margin-bottom   : 0.25em;
    padding         : 0.1em;
    color           : #1E2025;
    border          : #004D73;
    border-style    : solid;
    border-width    : 0px 0px 2px 0px;

    h1 {
        margin     : auto;
        margin-left: 0.2em;
        font-size  : 18px;
    }

    h2 {
        margin     : auto;
        margin-left: 0.2em;
        font-size  : medium;
    }
}

.form-element {
    width        : 100%;
    margin-top   : 0.5em;
    margin-bottom: 0.5em;
}

.info-tooltip {
    font-size: small;
}

footer {
    position  : fixed;
    left      : 0;
    bottom    : 0;
    width     : 100%;
    color     : #15162c;
    text-align: center;
    padding   : 7px;
}

img.country-flag {
    position    : relative;
    margin      : auto;
    margin-right: 5px;
    left        : 0px;
    top         : 3px;
    width       : 20px;
    height      : 15px;
    border      : 1px solid #000000;
}

.block-split {
    display : flex;
    height  : 100%;
    overflow: auto;
}

.block-split-left-panel {
    padding  : 1em;
    width    : 55%;
    min-width: 10em;
    height   : 100%;
    overflow : auto;
}

.block-split-right-panel {
    z-index         : 100;
    background-color: rgb(206, 219, 236);
    padding         : 1.2em;
    width           : 45%;
    max-width       : 45%;
    height          : 100%;
    overflow        : auto;
}

.panel-menu-item {
    display: flex;
    color  : #DDDFE6;
}

.panel-menu-item-icon {
    font-size: 18px;
    padding  : 0px;
}

.panel-menu-item-text {
    font-size: 16px;
}