@import "material-theme.scss";
@import "fonts.scss";
@import "colors.scss";
@import "consts.scss";
@import "button.scss";
@import "payment.scss";
@import "text-control.scss";

:root {
    --widget_background: url("assets/widget-bg.svg");
    --widget_background_solid_color: #79cdd4;

    --widget_background_color_1: #0d3d55;
    --widget_background_color_2: #1a68ad;
    --widget_background_color_3: #00a6ab;
    --widget_background_color_4: #79cdd4;

    --arrow_down: url("assets/navigation/plain_arrow_down.svg");

    --font_main: "Ubuntu";
    --font_admin: "Space Mono";

    --color_white: #ffffff;

    --color_pink_900: #7c1f45;
    --color_pink_800: #a1264d;
    --color_pink_700: #b62b51;
    --color_pink_600: #cb2f55;
    --color_pink_500: #db3358;
    --color_pink_400: #e1496e;
    --color_pink_300: #e86687;
    --color_pink_200: #ef90a8;
    --color_pink_100: #f5bbcb;
    --color_pink_50: #fbe4ea;
    
    --color_green_900: #075737;
    --color_green_800: #147351;
    --color_green_700: #1c835f;
    --color_green_600: #22946e;
    --color_green_500: #26a17b;
    --color_green_400: #3bb08c;
    --color_green_300: #5bbf9f;
    --color_green_200: #88d1ba;
    --color_green_100: #b6e3d5;
    --color_green_50: #e1f4ee;
    
    --color_orange_900: #db5113;
    --color_orange_800: #e66a15;
    --color_orange_700: #ec7916;
    --color_orange_600: #f38818;
    --color_orange_500: #f7931a;
    --color_orange_400: #f9a331;
    --color_orange_300: #fab352;
    --color_orange_200: #fbc983;
    --color_orange_100: #fddeb3;
    --color_orange_50: #fef2e1;

    --color_purple_900_text: '#686168';
    --color_purple_900_icons: '#868086';
    --color_purple_900: #362C36;  // top menu bar
    --color_purple_800: #463944;
    --color_purple_700: #564451;
    --color_purple_600: #665060;
    --color_purple_500: #72596A;
    --color_purple_400: #85727F;
    --color_purple_300: #998C95;
    --color_purple_200: #B4AEB2;
    --color_purple_100: #D0CFCF;
    --color_purple_50: #ECECEC;

    --color_main_blue_900: #06509e;
    --color_main_blue_800: #0070c0;
    --color_main_blue_700: #0081d4; // main color
    --color_main_blue_600: #0094e9;
    --color_main_blue_500: #00a2f8;
    --color_main_blue_400: #19b0fa;
    --color_main_blue_300: #47befb;
    --color_main_blue_200: #7ed0fd;
    --color_main_blue_100: #b2e3fe;
    --color_main_blue_50: #f6fcff;
}

$font_main: var(--font_main);
$font_admin: var(--font_admin);

$color_white: var(--color_white);

$color_pink_900: var(--color_pink_900);
$color_pink_800: var(--color_pink_800);
$color_pink_700: var(--color_pink_700);
$color_pink_600: var(--color_pink_600);
$color_pink_500: var(--color_pink_500);
$color_pink_400: var(--color_pink_400);
$color_pink_300: var(--color_pink_300);
$color_pink_200: var(--color_pink_200);
$color_pink_100: var(--color_pink_100);
$color_pink_50: var(--color_pink_50);

$color_green_900: var(--color_green_900);
$color_green_800: var(--color_green_800);
$color_green_700: var(--color_green_700);
$color_green_600: var(--color_green_600);
$color_green_500: var(--color_green_500);
$color_green_400: var(--color_green_400);
$color_green_300: var(--color_green_300);
$color_green_200: var(--color_green_200);
$color_green_100: var(--color_green_100);
$color_green_50: var(--color_green_50);

$color_orange_900: var(--color_orange_900);
$color_orange_800: var(--color_orange_800);
$color_orange_700: var(--color_orange_700);
$color_orange_600: var(--color_orange_600);
$color_orange_500: var(--color_orange_500);
$color_orange_400: var(--color_orange_400);
$color_orange_300: var(--color_orange_300);
$color_orange_200: var(--color_orange_200);
$color_orange_100: var(--color_orange_100);
$color_orange_50: var(--color_orange_50);

$color_purple_900_text: var(--color_purple_900_text);
$color_purple_900_icons: var(--color_purple_900_icons);
$color_purple_900: var(--color_purple_900);
$color_purple_800: var(--color_purple_800);
$color_purple_700: var(--color_purple_700);
$color_purple_600: var(--color_purple_600);
$color_purple_500: var(--color_purple_500);
$color_purple_400: var(--color_purple_400);
$color_purple_300: var(--color_purple_300);
$color_purple_200: var(--color_purple_200);
$color_purple_100: var(--color_purple_100);
$color_purple_50: var(--color_purple_50);

$color_main_blue_900: var(--color_main_blue_900);
$color_main_blue_800: var(--color_main_blue_800);
$color_main_blue_700: var(--color_main_blue_700);
$color_main_blue_600: var(--color_main_blue_600);
$color_main_blue_500: var(--color_main_blue_500);
$color_main_blue_400: var(--color_main_blue_400);
$color_main_blue_300: var(--color_main_blue_300);
$color_main_blue_200: var(--color_main_blue_200);
$color_main_blue_100: var(--color_main_blue_100);
$color_main_blue_50: var(--color_main_blue_50);

* {
    font-family: $font_main, sans-serif;
    font-size: medium;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    height: 100%;
}

body {
    // background-color: $color_white;
    background: transparent;
    padding: 0;
    margin: 0;
    font-family: $font_main, sans-serif;
}

a:link {
    color: $color_main_blue_800 !important;
    text-decoration: none;
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.fake_link {
    color: $color_main_blue_800 !important;
    text-decoration: none;
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}

.fake_link:hover {
    border-bottom: 1px solid $color_main_blue_800;
}

a:hover {
    color: $color_main_blue_600 !important;
    text-decoration: underline;
}

a:visited {
    color: $color_main_blue_800 !important;
    text-decoration: none;
}

a:active {
    color: $color_main_blue_900 !important;
    text-decoration: underline;
}

.__container {
    width: 100%;
    min-height: ($max_height - $top_menu_height_lg - 10) + px;
    background-color: $color_white;

    @media (max-width: #{$md1}px) {
        min-height: $min_height + px;
    }

    @media (max-width: #{$md2}px) {
        min-width: $mid_width_container + px;
        min-height: $min_height + px;
    }

    @media (max-width: #{$md3}px) {
        min-width: $out_width_container + px;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px $color_white inset !important;
    -webkit-box-shadow: 0 0 0 30px $color_white inset !important;
}

input:-webkit-autofill::first-line {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    font-family: $font_main;
    color: $color_purple_900_text;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.mat-select-placeholder {
    color: $color_purple_200 !important;
    font-weight: 300;
    font-size: 14px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color_purple_200 !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color_purple_200 !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $color_purple_200 !important;
}

.mat-mdc-input-element {
    background: $color_white;
}

/* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version.*/
mat-dialog-container {
    background-color: $color_white !important;
}

.__popup-menu-panel {
    padding: 0px 16px;
    background: $color_white;
    box-shadow: 0px 4px 5px rgba(208, 207, 207, 0.2), 0px 7px 10px rgba(208, 207, 207, 0.14),
        0px 2px 16px rgba(208, 207, 207, 0.12);
    border-radius: 28px;
    overflow: hidden;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version.*/
.__mat-select-item {
    font-family: $font_main;
    font-size: 14px;
    color: $color_main_blue_800;
}

.mat-mdc-select-panel {
    background: $color_white;
}

.mat-mdc-select-arrow-wrapper {
    background-image: var(--arrow_down);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 8px;
}

.mat-mdc-select-arrow {
    opacity: 0;
}

.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    color: $color_main_blue_600;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.mat-mdc-row:hover {
    background-color: $color_main_blue_50 !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-label {
    margin-left: 16px;
    font-family: $font_main;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 28px;
    color: $color_purple_900_text;
}

.__table-cell-payment-icon {
    width: 25px;
    height: 15px;
    margin: 0px 8px 0px 4px;
}

.__wallet-drop-list {
    background-color: $color_white;
}

.mat-mdc-optgroup {
    display: block;
    font-family: $font_main;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $color_purple_900_text;
}

.inline-button {
    margin-right: 1em;
}

.main-button {
    align-items: center;
    padding: 0px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 135px;
    height: 32px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px #5e6066;
    border-radius: 16px;
    font-size: 12px;

    img {
        width: 10px;
        height: 10px;
        margin-top: 0px;
        margin-right: 5px;
    }
}

.main-button:focus {
    outline: none;
}

.link-button {
    align-items: center;
    padding: 0px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: 32px;
    box-sizing: unset;
    box-shadow: 0px 0px 0px transparent;
    background: transparent;
    border: 0px;
    font-size: 14px;
}

.link-button:focus {
    outline: none;
}

.link-button-menu {
    width: auto;
    padding-right: 15px;
}

.main-button-primary {
    /* Grey - 2 800 */
    background: #3b4d5a;
    /* Grey - 2 800 */
    border: 1px solid #3b4d5a;
    /* Light grey - 2 50 */
    color: #eaf0f7;
}

.main-button-primary:hover {
    /* Dark grey 2 700 */
    background: #4a6070;
}

.main-button-primary:active {
    /* Almost black 2 900 */
    background: #293742;
    /* 2 200 */
    color: #b2c2cf;
}

.main-button-primary:focus {
    /* Grey - 5 900 */
    border: 1px solid #1e2025;
}

.main-button-primary:disabled {
    /* Grey - 2 100 */
    background: #cedbe4;
    /* Grey - 2 400 */
    border: 1px solid #7e95a9;
    /* Light grey - 2 400 */
    color: #7e95a9;
    box-shadow: 0px 0px 0px;
}

.main-button-accent {
    /* Grey - 1 800 */
    background: #096b94;
    /* Grey - 1 800 */
    border: 1px solid #096b94;
    /* Light grey - 1 50 */
    color: #e0f3f7;
}

.main-button-accent:hover {
    /* Dark grey 1 700 */
    background: #087ca7;
}

.main-button-accent:active {
    /* Almost black 1 900 */
    background: #004d73;
    /* 1 50 */
    color: #e0f3f7;
}

.main-button-accent:focus {
    /* Grey - 2 900 */
    border: 1px solid #293742;
}

.main-button-accent:disabled {
    /* Grey - 2 100 */
    background: #cedbe4;
    /* Grey - 2 400 */
    border: 1px solid #7e95a9;
    /* Light grey - 2 400 */
    color: #7e95a9;
    box-shadow: 0px 0px 0px;
}

.main-button-warn {
    /* Grey - 4 800 */
    background: #c62728;
    /* Grey - 4 800 */
    border: 1px solid #c62728;
    /* Light grey - 4 50 */
    color: #ffebee;
}

.main-button-warn:hover {
    /* Dark grey 4 700 */
    background: #d32e2f;
}

.main-button-warn:active {
    /* Almost black 4 900 */
    background: #b71b1c;
    /* 4 50 */
    color: #ffebee;
}

.main-button-warn:focus {
    border: 1px solid #5f0202;
}

.main-button-warn:disabled {
    /* Grey - 4 100 */
    background: #ffcdd2;
    /* Grey - 4 400 */
    border: 1px solid #ef5350;
    /* Light grey - 4 400 */
    color: #ef5350;
    box-shadow: 0px 0px 0px;
}

.link-button-primary {
    /* Light grey - 5 900 */
    color: #1e2025;
    font-weight: lighter;
}

.link-button-primary:hover {
    /* Light grey 1 900 */
    color: #005694;
    font-weight: lighter;
}

.link-button-primary:active {
    /* 2 800 */
    color: #3b4d5a;
    font-weight: lighter;
}

.link-button-primary:focus {
    /* Grey - 4 900 */
    color: #004d73;
    font-weight: lighter;
}

.link-button-primary:disabled {
    /* 5 600*/
    color: #72747a;
    font-weight: lighter;
}

.link-button-accent {
    /* Light grey - 5 900 */
    color: #1e2025;
    font-weight: bolder;
}

.link-button-accent:hover {
    /* Light grey 1 900 */
    color: #005694;
    font-weight: bolder;
}

.link-button-accent:active {
    /* 2 800 */
    color: #3b4d5a;
    font-weight: bolder;
}

.link-button-accent:focus {
    /* Grey - 4 900 */
    color: #004d73;
    font-weight: bolder;
}

.link-button-accent:disabled {
    /* 5 600*/
    color: #72747a;
    font-weight: bolder;
}

.back-box {
    position: fixed;
    top: 2em;
    left: 3.5em;
    margin: 0;
    color: #9e9e9e;
    font-weight: lighter;
}

.action-page-split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
}

.action-page-left-panel {
    left: 0;
    background-color: #f8faff;
}

.action-page-right-panel {
    right: 0;
    background-color: #dddfe6;
}

.info-page-split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.info-page-left-panel {
    left: 0;
}

.info-page-right-panel {
    right: 0;
    background-color: #b9b9b9;
}

.profile-side-nav {
    height: 100%;
    /* Full-height  : remove this if you want "auto" height */
    width: 11em;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #3f4147;
    color: #eaf0f7;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.profile-content-block {
    height: auto;
    min-height: 100%;
    margin-left: 11em;
    padding: 1em;
    background-color: #dddfe6;
}

.split-page-menu-panel {
    width: 20em;
}

.split-page-10 {
    width: 10%;

    .dim-split {
        width: 10%;
    }
}

.split-page-20 {
    width: 20%;

    .dim-split {
        width: 20%;
    }
}

.split-page-30 {
    width: 30%;

    .dim-split {
        width: 30%;
    }
}

.split-page-40 {
    width: 40%;

    .dim-split {
        width: 40%;
    }
}

.split-page-50 {
    width: 50%;

    .dim-split {
        width: 50%;
    }
}

.split-page-60 {
    width: 60%;

    .dim-split {
        width: 60%;
    }
}

.split-page-70 {
    width: 70%;

    .dim-split {
        width: 70%;
    }
}

.split-page-80 {
    width: 80%;

    .dim-split {
        width: 80%;
    }
}

.split-page-90 {
    width: 90%;

    .dim-split {
        width: 90%;
    }
}

.split-page-100 {
    width: 100%;

    .dim-split {
        width: 100%;
    }
}

.split-panel-menu {
    position: relative;
    margin: 0;
}

.panel-menu {
    color: #cedbe4;
}

.form-error-box {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #ffcdd2; // 4 200
    color: #b00020; //
    border: #b00020;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}

.form-section-title-box {
    margin: 0;
    margin-bottom: 0.25em;
    padding: 0.1em;
    color: #1e2025;
    border: #004d73;
    border-style: solid;
    border-width: 0px 0px 2px 0px;

    h1 {
        margin: auto;
        margin-left: 0.2em;
        font-size: 18px;
    }

    h2 {
        margin: auto;
        margin-left: 0.2em;
        font-size: medium;
    }

    h3 {
        margin: auto;
        margin-left: 0.2em;
        font-size: 16px;
    }
}

.form-element {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.form-element-disabled {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 0em;
}

.info-tooltip {
    font-size: small;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #15162c;
    text-align: center;
    padding: 7px;
}

img.country-flag {
    position: relative;
    margin: auto;
    margin-right: 5px;
    left: 0px;
    top: 3px;
    width: 20px;
    height: 15px;
    border: 1px solid #000000;
}

img.country-flag-admin {
    position: relative;
    margin: auto;
    margin-right: 5px;
    left: 0px;
    top: 1px;
    width: 20px;
    height: 15px;
    border: 1px solid #000000;
}

img.payment-logo {
    position: relative;
    margin: auto;
    margin-right: 5px;
    left: 0px;
    top: 3px;
    width: 25px;
    height: 15px;
}

.block-split {
    display: flex;
    height: 100%;
    overflow: auto;
}

.block-split-left-panel {
    padding: 1em;
    width: 55%;
    min-width: 10em;
    height: 100%;
    overflow: auto;
}

.block-split-right-panel {
    z-index: 100;
    background-color: #dddfe6;
    padding: 1.2em;
    width: 45%;
    max-width: 45%;
    height: 100%;
    overflow: auto;
}

.panel-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-menu-item-icon {
    font-size: 18px;
    padding: 0px;
    padding-top: 5px;
}

.panel-menu-item-text {
    font-size: 16px;
}

.snackbar-box {
    padding: 0px;
    background: $color_white;
    color: $color_purple_900_text;
    font-size: 16px;
    font-family: $font_main;
    font-weight: normal;
}

.apexcharts-xaxis-label {
    font-size: 8px;
}

.modalCusSty {
    z-index: 1055 !important;
}

.modalCusSty-transacion {
    z-index: 1055 !important;
    .modal-dialog {
        max-width: 95% !important;
    }
}

.modalCusSty-widget,
.modalCusSty-customer {
    z-index: 1055 !important;
    .modal-dialog {
        max-width: 80% !important;
    }
}

.cdk-overlay-container {
    z-index: 9999 !important;
}

.cdk-overlay-pane:has(.mat-mdc-select-panel) { min-width: fit-content; }

.pe-none {
    pointer-events: none !important;
}