<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12 mx-auto d-block">
    <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Account name
            <span class="main-content-label tx-11 tx-medium tx-danger">*</span>
          </label>
          <input class="form-control" [ngClass]="{'has-error': !form.controls.name.valid}" type="text"
            formControlName="name" required>
          <div *ngIf="(form.controls.name.touched || submitted) && (form.controls.name.errors?.['required'])"
            class="tx-danger">
            <small>
              Account name is required
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="main-content-label tx-11 tx-medium tx-gray-600">
            Description
          </label>
          <input class="form-control" type="text" formControlName="description">
        </div>

      </div>
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 tx-11"
          style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
          <input type="checkbox" formControlName="auSelected" class="me-2">
          {{auCategory?.title}}
        </h5>
        <div *ngIf="form.get('auSelected')?.value===true">
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Account Name
            </label>
            <input class="form-control" type="text" formControlName="auAccountName" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Account Number
            </label>
            <input class="form-control" type="text" formControlName="auAccountNumber" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              BSB
            </label>
            <input class="form-control" type="text" formControlName="auBsb" maxlength="100">
          </div>
        </div>
      </div>
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 tx-11"
          style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
          <input type="checkbox" formControlName="euSelected" class="me-2">
          {{euCategory?.title}}
        </h5>
        <div *ngIf="form.get('euSelected')?.value===true">
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Bank Address
            </label>
            <input class="form-control" type="text" formControlName="euBankAddress" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Bank Name
            </label>
            <input class="form-control" type="text" formControlName="euBankName" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Beneficiary Address
            </label>
            <input class="form-control" type="text" formControlName="euBeneficiaryAddress" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Beneficiary Name
            </label>
            <input class="form-control" type="text" formControlName="euBeneficiaryName" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              IBAN
            </label>
            <input class="form-control" type="text" formControlName="euIban" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              SWIFT / BIC
            </label>
            <input class="form-control" type="text" formControlName="euSwiftBic" maxlength="100">
          </div>
        </div>
      </div>
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 tx-11"
          style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
          <input type="checkbox" formControlName="ukSelected" class="me-2">
          {{ukCategory?.title}}
        </h5>
        <div *ngIf="form.get('ukSelected')?.value===true">
          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Account Name
            </label>
            <input class="form-control" type="text" formControlName="ukAccountName" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Account Number
            </label>
            <input class="form-control" type="text" formControlName="ukAccountNumber" maxlength="100">
          </div>

          <div class="form-group">
            <label class="main-content-label tx-11 tx-medium tx-gray-600">
              Sort Code
            </label>
            <input class="form-control" type="text" formControlName="ukSortCode" maxlength="100">
          </div>
        </div>
      </div>
      
      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 tx-11"
          style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
          <input type="checkbox" formControlName="openpaydSelected" class="me-2">
          {{openpaydCategory?.title}}
        </h5>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 tx-11"
          style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
          <input type="checkbox" formControlName="monoovaSelected" class="me-2">
          {{monoovaCategory?.title}}
        </h5>
      </div>

      <div class="card card-body pd-20 pd-md-40 border shadow-none">
        <h5 class="card-title mg-b-20 tx-11"
          style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
          <input type="checkbox" formControlName="flashfxSelected" class="me-2">
          {{flashfxCategory?.title}}
        </h5>
      </div>

      <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
        <h4 class="card-title2 mg-b-20" style="color: brown;">
          {{errorMessage}}
        </h4>
      </div>
      <div style="display: flex; justify-content: flex-end;">
        <button class="btn btn-primary pd-x-30 me-2 mg-t-5">
          <span *ngIf="saveInProgress" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Save
        </button>
        <button *ngIf="permission>1 && !createNew" class="btn btn-danger pd-x-30 me-2 mg-t-5" type="button"
          (click)="deleteAccount(delete_content)">
          <span *ngIf="deleteInProgress" class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true"></span>
          Delete
        </button>
        <button class="btn btn-outline-primary pd-x-30 mg-t-5" type="button" (click)="close.emit()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>

<ng-template #delete_content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Delete bank account</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h4 style="text-align: center;">
      You are going to delete selected bank account. Confirm operation.
    </h4>
    <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
      <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.dismiss('Reject')">
        Reject
      </button>
      <button class="btn btn-primary pd-x-30 mg-t-5" (click)="modal.close('Confirm')">
        Confirm
      </button>
    </div>
  </div>
</ng-template>