@import "../../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.mat-column-account-table {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-account-table-name {
  flex: 0 0 30%;
  width: 30%;
  min-width: 10em;
}

.mat-column-account-table-description {
  flex: 0 0 33%;
  width: 33%;
  min-width: 10em;
}

.mat-column-account-table-check {
  flex: 0 0 10%;
  width: 10%;
  min-width: 8em;
}

.mat-column-account-table-details {
  flex: 0 0 2%;
  width: 2%;
  min-width: 1.5em;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
