<app-admin-page-header [title]="'System users'" [items]="['Home', 'Users']" [active_item]="'System users'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-button-container">
            <button *ngIf="permission>1" (click)="addUser(details_content)" type="button" class="btn btn-primary me-2">
              Add user
            </button>
            <button *ngIf="permission>1" (click)="setUserRole(undefined, roles_content)" type="button"
              class="btn btn-primary me-2">
              Set role
            </button>
            <button (click)="sendMessage(message_content)" class="btn btn-outline-secondary me-2"
              [disabled]="!selected">
              Send message
            </button>
            <button (click)="export(export_content)" class="btn btn-outline-secondary">
              Export
            </button>
          </div>

          <app-admin-filter [fields]="filterFields" [filterData]="filter" (filter)="handleFilterApplied($event)">
          </app-admin-filter>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="data-table">
            <mat-table matSort [matSortActive]="sortedField" matSortDirection="desc" matSortDisableClear
              [dataSource]="users">
              <!-- Details Column -->
              <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="user-list-selector-column">
                  <input style="margin-right: 4px;" [checked]="element.selected" type="checkbox"
                    (change)="onUserSelected(element)">
                  <button mat-icon-button class="row-button" (click)="showDetails(element, details_content)"
                    [attr.aria-label]="'User details'" [attr.aria-pressed]="!!selectedUser" matTooltip="User details"
                    matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">
                      wysiwyg
                    </i>
                  </button>
                  <button mat-icon-button class="row-button" (click)="setUserRole(element, roles_content)"
                    [attr.aria-label]="'User roles'" [matTooltip]="permission>1 ? 'Set roles' : 'Roles'"
                    matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">
                      perm_data_setting
                    </i>
                  </button>
                  <button mat-icon-button class="row-button" (click)="showWhiteList(element.id)"
                    [attr.aria-label]="'User roles'" matTooltip="White List" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">
                      playlist_add_check
                    </i>
                  </button>
                  <button *ngIf="element.emailConfirmed===false && permission>1" mat-icon-button class="row-button"
                    (click)="confirmEmail(element, confirmed_content)" [attr.aria-label]="'Confirm email'"
                    matTooltip="Confirm email" matTooltipClass="info-tooltip">
                    <i class="material-icons" style="font-size: 20px;">
                      approval
                    </i>
                  </button>
                </td>
              </ng-container>

              <!-- ID Column -->
              <ng-container matColumnDef="referralCode">
                <th mat-header-cell *matHeaderCellDef>
                  User ID
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.referralCode}}
                </td>
              </ng-container>

              <!-- First Name Column -->
              <ng-container matColumnDef="firstName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  First name
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.fullFirstName}}
                </td>
              </ng-container>

              <!-- Last name Column -->
              <ng-container matColumnDef="lastName">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Last name
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.lastName}}
                </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Email
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.email}}
                </td>
              </ng-container>

              <!-- Roles -->
              <ng-container matColumnDef="role">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Roles
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.roleNames}}
                </td>
              </ng-container>

              <!-- Status Column -->
              <ng-container matColumnDef="accountStatus">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Status
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.accountStatus}}
                </td>
              </ng-container>

              <!-- Last login -->
              <ng-container matColumnDef="lastLogin">
                <th mat-header-cell *matHeaderCellDef>
                  Last login
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.lastLogin}}
                </td>
              </ng-container>

              <!-- Registered Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>
                  Registered
                </th>
                <td mat-cell *matCellDef="let element" class="user-list-data-column">
                  {{element.created}}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
          </div>

          <div *ngIf="userCount > pageSize" class="card card-body border shadow-none">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="userCount" [pageSize]="pageSize"
              [boundaryLinks]="true" [maxSize]="10" aria-label="Table pagination" (pageChange)="handlePage($event)">
              <ng-template ngbPaginationFirst>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">first_page</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_left</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationNext>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationLast>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">last_page</i>
                </div>
              </ng-template>
            </ngb-pagination>
          </div>

          <ng-template #details_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">
                {{userDetailsTitle}}
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-user-details [permission]="permission" [user]="selectedUser" [roles]="userRoles"
                (save)="onSaveUser()" (close)="modal.dismiss('Close')">
              </app-admin-user-details>
            </div>
          </ng-template>

          <ng-template #message_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Send message to selected users</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-admin-user-message-dialog [errorMessage]="sendMessageError" [inProgress]="sendMessageInProgress"
                (send)="sendMessageStart($event)" (close)="modal.dismiss('Close')">
              </app-admin-user-message-dialog>
            </div>
          </ng-template>

          <ng-template #roles_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">
                Set user role
              </h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="roleUserForm">
                <div class="card card-body pd-20 pd-md-40 border shadow-none">
                  <div class="form-group" *ngIf="!roleUserSelected">
                    <label class="main-content-label tx-11 tx-medium tx-gray-600">
                      Select a user
                    </label>
                    <ng-select [items]="usersOptions$ | async" bindLabel="extendedName"
                      [minTermLength]="minUsersLengthTerm" notFoundText="No users found" [loading]="isUsersLoading"
                      [multiple]="false" formControlName="user" typeToSearchText="Type email or user name"
                      placeholder="Start typing to search a user" [typeahead]="usersSearchInput$">
                    </ng-select>
                  </div>
                  <div *ngIf="roleUser" class="form-group">
                    <label class="main-content-label tx-11 tx-medium tx-gray-600">
                      Roles
                    </label>
                    <app-admin-role-select [roleList]="userRoles" [userRoles]="roleUser?.roles ?? []"
                      (changed)="onRolesUpdated($event)"></app-admin-role-select>
                  </div>
                </div>
                <div *ngIf="errorMessage!==''" class="card card-body card-danger pd-20 pd-md-40 border shadow-none">
                  <h4 class="card-title2 mg-b-20" style="color: brown;">
                    {{errorMessage}}
                  </h4>
                </div>
                <div style="display: flex;flex-direction: row;justify-content: flex-end;align-items: center;">
                  <button type="button" class="btn btn-outline-secondary pd-x-50 mg-t-5 me-2"
                    (click)="modal.dismiss('Close')">
                    Close
                  </button>
                  <button type="button" class="btn btn-primary pd-x-50 mg-t-5" (click)="updateRole()"
                    [disabled]="roleUser===undefined">
                    <span *ngIf="roleInProgress" class="spinner-border spinner-border-sm" role="status"
                      aria-hidden="true"></span>
                    Save
                  </button>
                </div>
              </form>
            </div>
          </ng-template>

          <ng-template #export_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Export</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 style="text-align: center;">
                Exported list of users has been sent to your email.
              </h4>
              <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <button class="btn btn-primary pd-x-50 mg-t-5" (click)="modal.dismiss('OK')">
                  OK
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template #confirmed_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">User email confirmation</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 style="text-align: center;">
                User email has been confirmed successfully.
              </h4>
              <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <button class="btn btn-primary pd-x-30 me-2 mg-t-5" type="button" (click)="modal.close('OK')">
                  OK
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>