<app-admin-page-header [title]="'Transactions'" [items]="['Home']" [active_item]="'Transactions'">
</app-admin-page-header>

<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <div class="table-button-container">
            <button (click)="refresh()" class="btn btn-primary me-2">
              Refresh
            </button>
          </div>

          <app-admin-filter [fields]="filterFields" [filterData]="filter" (filter)="handleFilterApplied($event)">
          </app-admin-filter>

          <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>

          <div class="table-button-container m-2">
            <button (click)="selectAll()" class="btn btn-secondary btn-sm mt-2">
              <div style="display: flex; flex-direction: row;justify-content: center;align-items: center;">
                <i class="material-icons" style="font-size: 20px;margin-right: 4px;">
                  library_add_check
                </i>
                Select all on the page
              </div>
            </button>
          </div>

          <div class="data-table">
            <mat-table matSort [matSortActive]="sortedField" matSortDirection="desc" matSortDisableClear
              [dataSource]="transactionStatusHistory">
              <!-- Details Column -->
              <ng-container matColumnDef="details" sticky>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListSelectorColumnStyle">
                  <input style="margin-right: 4px;" [checked]="element.selected" type="checkbox"
                    (change)="onTransactionSelected(element)">
                </td>
              </ng-container>

              <!-- Transaction ID Column -->
              <ng-container matColumnDef="transactionStatusHistoryId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.transactionStatusHistoryId}}
                </td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Created</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.created}}
                </td>
              </ng-container>

              <!-- Customer Name Column -->
              <ng-container matColumnDef="userId">
                <th mat-header-cell *matHeaderCellDef>User Id</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.userId}} </td>
              </ng-container>

              <!-- Email Column -->
              <ng-container matColumnDef="newStatus">
                <th mat-header-cell *matHeaderCellDef>New Status</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.newStatus}} </td>
              </ng-container>

              <!-- Account Status Column -->
              <ng-container matColumnDef="oldStatus">
                <th mat-header-cell *matHeaderCellDef>Old Status</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.oldStatus}} </td>
              </ng-container>

              <!-- Transaction Type Column -->
              <ng-container matColumnDef="newStatusReason">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Status Reason</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.newStatusReason}} </td>
              </ng-container>

              <!-- Sender Column -->
              <ng-container matColumnDef="transactionId">
                <th mat-header-cell *matHeaderCellDef>Transaction Id</th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.transactionListDataColumnStyle">
                  {{element.transactionId}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
          </div>

          <div *ngIf="transactionCount > pageSize" class="card card-body border shadow-none">
            <ngb-pagination class="d-flex justify-content-center" [collectionSize]="transactionCount"
              [pageSize]="pageSize" [boundaryLinks]="true" [maxSize]="10" aria-label="Table pagination"
              (pageChange)="handlePage($event)">
              <ng-template ngbPaginationFirst>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">first_page</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationPrevious>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_left</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationNext>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">keyboard_arrow_right</i>
                </div>
              </ng-template>
              <ng-template ngbPaginationLast>
                <div class="ng-pagination-nav-icons">
                  <i class="material-icons">last_page</i>
                </div>
              </ng-template>
            </ngb-pagination>
          </div>

          <ng-template #export_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Export</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 style="text-align: center;">
                Exported list of transactions has been sent to your email.
              </h4>
              <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <button class="btn btn-primary pd-x-50 mg-t-5" (click)="modal.dismiss('OK')">
                  OK
                </button>
              </div>
            </div>
          </ng-template>

          <ng-template #settle_content let-modal>
            <div class="modal-header">
              <h5 class="modal-title">Settle transaction(s)</h5>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h4 style="text-align: center;">
                You are going to update transaction data. Confirm operation.
              </h4>
              <div style="display: flex;flex-direction: row;justify-content: center;align-items: center;">
                <button class="btn btn-outline-secondary pd-x-30 me-2 mg-t-5" type="button"
                  (click)="modal.dismiss('Reject')">
                  Reject
                </button>
                <button class="btn btn-primary pd-x-30 mg-t-5" (click)="modal.close('Confirm')">
                  Confirm
                </button>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>