<mat-form-field class="form-element">
    <mat-label>Users</mat-label>
    <mat-chip-list #chipList aria-label="User selection">
        <mat-chip *ngFor="let opt of selectedOptions" (removed)="removeOption(opt)">
            {{opt.email}}
            <mat-icon matChipRemove matTooltip="Remove user" matTooltipClass="info-tooltip">cancel
            </mat-icon>
        </mat-chip>
        <input #searchInput
               placeholder="Users"
               [matAutocomplete]="auto"
               [matChipInputFor]="chipList"
               (input)="handleSearchInputChange($event)"
               (matChipInputTokenEnd)="handleOptionAdded($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="handleOptionSelected($event)">
        <mat-option *ngFor="let item of filteredOptions" [value]="item" [id]="item.id">
            <span>
                {{item.email}}
            </span>
            <span>
                {{item.fullName}}
            </span>
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
