<!--APP-SIDEBAR-->
<div class="app-sidebar__overlay" (click)="sidebarClose()"></div>
<!-- Sidemenu -->
<div class="sticky" [ngClass]="{ 'sticky-pin': scrolled }">
  <aside class="app-sidebar">
    <div class="main-sidebar-header active p-0">
      <div style="display: flex; padding: 0 30px;">
        <img class="__admin-top-menu-logo logo-fix" [src]="logoSrc" [alt]="logoAlt" (click)="goToMainPage()">
      </div>
    </div>
    <perfect-scrollbar>
      <div class="main-sidemenu">
        <ul class="side-menu">
          <!-- 1st Level Menu -->
          <li *ngFor="let menuItem of menuItems" [ngClass]="{'side-item side-item-category':menuItem.headTitle,
                            'slide':menuItem.title,
                            'active': menuItem.active,
                            'is-expanded': menuItem.active}">
            <!-- has-Link -->
            <div *ngIf="menuItem.headTitle">
              {{menuItem.headTitle}}
            </div>
            <a class="side-menu__item" [routerLink]="!menuItem.type ? null : [menuItem.path]"
              *ngIf="menuItem.type === 'link' " routerLinkActive="active" (click)="toggleNavActive(menuItem)">
              <span class="shape1"></span>
              <span class="shape2"></span>
              <span class="side-menu__icon">
                <!-- <i class="fe fe-{{menuItem.icon}} "></i> -->
                <span style="font-size: 18px;" class="material-icons">
                  {{menuItem.icon}}
                </span>
              </span>
              <span class="side-menu__label">{{menuItem.title}}</span>
            </a>
            <!-- has-Sub -->
            <a class="side-menu__item" [routerLink]="menuItem.type ? null: [menuItem.path]"
              *ngIf="menuItem.type === 'sub'" (click)="toggleNavActive(menuItem)"
              [ngClass]="{'active': menuItem.active}">
              <span class="shape1"></span>
              <span class="shape2"></span>
              <span class="side-menu__icon">
                <!-- <i class="fe fe-{{menuItem.icon}} "></i> -->
                <span style="font-size: 18px;" class="material-icons">
                  {{menuItem.icon}}
                </span>
              </span>
              <span class="side-menu__label">{{menuItem.title}}</span>
              <span class="badge bg-{{menuItem.badgeClass}} side-badge"
                *ngIf="menuItem.badgeClass && menuItem.badgeValue">
                {{menuItem.badgeValue}}
              </span>
              <i class="angle fe fe-chevron-right" [ngClass]="{ 'd-none': menuItem.badgeClass}"></i>
            </a>

            <!-- 2nd Level menu -->
            <ul class="slide-menu" *ngIf="menuItem.children" [ngClass]="{'open': menuItem.active}">
              <li class="sub-slide" *ngFor="let childrenItem of menuItem.children"
                [ngClass]="{'is-expanded': childrenItem.active}">

                <!-- link -->
                <a class="slide-item" routerLinkActive="active"
                  [routerLink]="!childrenItem.type ? null : [childrenItem.path] " *ngIf="childrenItem.type === 'link' "
                  (click)="toggleNavActive(childrenItem)">
                  {{childrenItem.title}}
                </a>

                <!-- sub -->
                <a class="sub-side-menu__item" [routerLink]="childrenItem.type ? null : [childrenItem.path]"
                  *ngIf="childrenItem.type === 'sub' " (click)="toggleNavActive(childrenItem)">
                  <span class="sub-side-menu__label"> {{childrenItem.title}}</span>
                  <i class="sub-angle fe fe-chevron-right"></i>
                </a>

                <!-- 3rd Level menu -->
                <ul class="sub-slide-menu" *ngIf="childrenItem.children" [ngClass]="{'open': childrenItem.active}"
                  [ngClass]="{'open': childrenItem.active}">
                  <li class="" *ngFor="let childrenSubItem of childrenItem.children"
                    [ngClass]="{'is-expanded': childrenSubItem.active}">
                    <!-- link -->
                    <a class="sub-side-menu__item" routerLinkActive="active"
                      [routerLink]="!childrenSubItem.type ? null : [childrenSubItem.path]"
                      *ngIf="childrenSubItem.type === 'link'" (click)="toggleNavActive(childrenSubItem)">
                      {{childrenSubItem.title}}
                    </a>
                    <!-- sub -->
                    <a class="sub-side-menu__item" [routerLink]="childrenSubItem.type ? null : [childrenSubItem.path]"
                      *ngIf="childrenSubItem.type === 'sub' " (click)="toggleNavActive(childrenSubItem)">
                      <span class="sub-side-menu__label2"> {{childrenSubItem.title}} </span>
                      <i class="sub-angle2 fe fe-chevron-right"></i>
                    </a>

                    <!--4th level -->
                    <ul class="sub-slide-menu2" *ngIf="childrenSubItem.children"
                      [ngClass]="{'open': childrenSubItem.active}">
                      <li class=" " *ngFor="let childrenSubItem1 of childrenSubItem.children"
                        [ngClass]="{'is-expanded': childrenSubItem1.active}">
                        <a class="sub-slide-item2" routerLinkActive="active"
                          [routerLink]="!childrenSubItem1.type ? null : [childrenSubItem1.path]"
                          *ngIf="childrenSubItem1.type === 'link'">
                          {{childrenSubItem1.title}}</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

             
            </ul>
          </li>
          <li class="sub-slide">
            <a class="sub-side-menu__item">
              <span class="sub-side-menu__label" (click)="simulate()"> Simulate </span>
            </a>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </aside>
</div>