<div class="__profile-details-container">
    <mat-progress-bar *ngIf="inProgress" color="accent" mode="indeterminate"></mat-progress-bar>
    <h2 class="__profile-details-title">
        {{wallet?.name}}
    </h2>
    <div *ngIf="!deleteMode" class="__profile-details-data-container">
        <div class="__profile-details-data-area">
            <!-- Name (show) -->
            <div class="__profile-details-item-block" *ngIf="!editMode">
                <div class="__profile-details-item-title">
                    Name:
                </div>
                <div class="__profile-details-item-value">
                    {{wallet?.nameValue}}
                </div>
                <div class="__inline-button-box">
                    <button type="button" class="__inline-button" (click)="editName()">
                        <mat-icon style="font-size: 20px;">edit</mat-icon>
                    </button>
                </div>
            </div>
            <!-- Name (edit) -->
            <div class="__profile-details-item-block" *ngIf="editMode">
                <div class="__profile-details-item-title __profile-details-item-title-edit">
                    Name:
                </div>
                <div style="margin: 4px 0px 0px 0px;">
                    <form [formGroup]="editForm">
                        <app-form-editbox [maxlength]="50" formControlName="walletName" (onSubmit)="saveName()">
                        </app-form-editbox>
                    </form>
                </div>
            </div>

            <!-- Coin -->
            <div class="__profile-details-item-block">
                <div class="__profile-details-item-title">
                    Coin:
                </div>
                <div class="__profile-details-item-value">
                    {{wallet?.asset}}
                </div>
            </div>

            <!-- Balance -->
            <div class="__profile-details-item-block">
                <div class="__profile-details-item-title">
                    Balance:
                </div>
                <div class="__profile-details-item-value">
                    {{wallet?.total}}
                </div>
            </div>

            <!-- Address -->
            <div class="__profile-details-item-title-block">
                <div class="__profile-details-item-title">
                    Address:
                </div>
            </div>
            <div class="__profile-details-item-value-block">
                <div class="__profile-details-item-value __profile-details-item-single-value">
                    {{wallet?.address}}
                </div>
                <div class="__inline-button-box">
                    <button type="button" class="__inline-button" (click)="copyAddress()">
                        <mat-icon style="font-size: 20px;">content_copy</mat-icon>
                    </button>
                </div>
            </div>

            <!-- Network -->
            <div class="__profile-details-item-block">
                <div class="__profile-details-item-title">
                    Network:
                </div>
                <div class="__profile-details-item-value">
                    {{wallet?.addressFormat}}
                </div>
            </div>

            <!-- Show wallet transactions -->
            <div class="__profile-details-link-block">
                <a href="#" class="__profile-details-link">
                    Show wallet transactions
                </a>
            </div>

            <!-- Buttons -->
            <div class="__profile-details-button-container">
                <button type="button" class="__outlined-button" (click)="receiveStart()">
                    <mat-icon style="font-size: 18px;margin-top: 8px;">
                        file_download
                    </mat-icon>
                    <span style="font-weight: 500;">
                        Receive
                    </span>
                </button>
                <button type="button" class="__outlined-button __button-wide-separator" (click)="sendStart()">
                    <mat-icon style="font-size: 18px;margin-top: 8px;">
                        file_upload
                    </mat-icon>
                    <span style="font-weight: 500;">
                        Send
                    </span>
                </button>
            </div>
        </div>
        <div class="__profile-details-footer">
            <a [routerLink]="" class="__profile-details-link __profile-details-link-accent" (click)="requestDeleteWallet()">
                Delete wallet
            </a>
        </div>
    </div>
    <div *ngIf="deleteMode" class="__profile-details-data-container">
        <div class="__profile-details-data-area">
            <div class="__profile-details-subtitle">
                You are going to delete the wallet. Please confirm.
            </div>

            <!-- Buttons -->
            <div class="__profile-details-button-container">
                <button type="button" class="__outlined-button" (click)="cancelDelete()">
                    CANCEL
                </button>
                <button type="button" class="__main-button __main-button-danger __button-wide-separator" (click)="deleteWallet()">
                    DELETE
                </button>
            </div>
        </div>
    </div>
</div>