@import "../../../assets/scss/admin-table";

.table-button-container {
  padding-bottom: 16px;
}

.mat-column-level-table {
  word-wrap: break-word;
  white-space: unset;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-level-table-name {
  flex: 0 0 41%;
  width: 41%;
  min-width: 10em;
}

.mat-column-level-table-flow {
  flex: 0 0 42%;
  width: 42%;
  min-width: 10em;
}

.mat-column-level-table-user-type {
  flex: 0 0 15%;
  width: 15%;
  min-width: 10em;
}

.mat-column-level-table-details {
  flex: 0 0 2%;
  width: 2%;
  min-width: 1.5em;
}

.ng-pagination-nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
