<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <mat-icon>filter_list</mat-icon>
            <span>Filters</span>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <form *ngIf="filterForm" [formGroup]="filterForm">
        <ng-container *ngFor="let field of fields">
            <mat-form-field *ngIf="field === 'accountType'">
                <mat-label>Account type</mat-label>
                <mat-select formControlName="accountTypes" multiple>
                    <mat-option *ngFor="let item of userTypeOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'accountStatus'">
                <mat-label>Account status</mat-label>
                <mat-select formControlName="accountStatuses" multiple>
                    <mat-option *ngFor="let item of userStatusOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-filter-field-country *ngIf="field === 'country'" formControlName="countries">
            </app-filter-field-country>

            <mat-form-field *ngIf="field === 'source'">
                <mat-label>Source</mat-label>
                <mat-select formControlName="sources" multiple>
                    <mat-option *ngFor="let item of sourceOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'kycStatus'">
                <mat-label>KYC Statuses</mat-label>
                <mat-select formControlName="kycStatuses" multiple>
                    <mat-option *ngFor="let item of kysStatusOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'riskLevel'">
                <mat-label>Risk Levels</mat-label>
                <mat-select formControlName="riskLevels" multiple>
                    <mat-option *ngFor="let item of riskLevelsOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'transactionType'">
                <mat-label>Transaction Types</mat-label>
                <mat-select formControlName="transactionTypes" multiple>
                    <mat-option *ngFor="let item of transactionTypeOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <app-filter-field-user-tier *ngIf="field === 'tier'" formControlName="tiers">
            </app-filter-field-user-tier>

            <mat-form-field *ngIf="field === 'transactionIds'">
                <mat-label>Transaction ID</mat-label>
                <input matInput formControlName="transactionIds" />
            </mat-form-field>

            <mat-form-field *ngIf="field === 'transactionStatus'">
                <mat-label>Transaction Statuses</mat-label>
                <mat-select formControlName="transactionStatuses" multiple>
                    <mat-option *ngFor="let item of transactionStatusOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'paymentInstrument'">
                <mat-label>Payment methods</mat-label>
                <mat-select formControlName="paymentInstruments" multiple>
                    <mat-option *ngFor="let item of paymentInstrumentsOptions" [value]="item.id">
                        {{item.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'createdDateStart'">
                <mat-label>Created transaction later</mat-label>
                <input matInput formControlName="createdDateRangeStart" type="datetime-local"/>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'createdDateEnd'">
                <mat-label>Created transaction until</mat-label>
                <input matInput formControlName="createdDateRangeEnd" type="datetime-local"/>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'completedDateStart'">
                <mat-label>Completed transaction later</mat-label>
                <input matInput formControlName="completedDateRangeStart" type="datetime-local"/>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'completedDateEnd'">
                <mat-label>Completed transaction until</mat-label>
                <input matInput formControlName="completedDateRangeEnd" type="datetime-local"/>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'registrationDateStart'">
                <mat-label>Registered later</mat-label>
                <input matInput formControlName="registrationDateRangeStart" type="date"/>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'registrationDateEnd'">
                <mat-label>Registered until</mat-label>
                <input matInput formControlName="registrationDateRangeEnd" type="date"/>
            </mat-form-field>

            <app-filter-field-user *ngIf="field === 'user'" formControlName="user"></app-filter-field-user>

            <app-filter-field-users *ngIf="field === 'users'" formControlName="users"></app-filter-field-users>

            <app-filter-field-widget *ngIf="field === 'widget'" formControlName="widgets"></app-filter-field-widget>

            <app-filter-field-risk-alert-code *ngIf="field === 'riskAlertCode'" formControlName="riskAlertCode">
            </app-filter-field-risk-alert-code>

            <mat-form-field *ngIf="field === 'walletAddress'">
                <mat-label>Wallet address</mat-label>
                <input matInput formControlName="walletAddress" />
            </mat-form-field>

            <mat-form-field *ngIf="field === 'totalBuyVolume'">
                <mat-label>Buy volume over</mat-label>
                <input matInput [onlyNumber]="true" maxlength="8" formControlName="totalBuyVolumeOver" />
            </mat-form-field>

            <mat-form-field *ngIf="field === 'transactionCount'">
                <mat-label>Transaction count over</mat-label>
                <input matInput [onlyNumber]="true" maxlength="8" formControlName="transactionCountOver" />
            </mat-form-field>

            <mat-form-field *ngIf="field === 'transactionDate'">
                <mat-label>Transaction date</mat-label>
                <input matInput formControlName="transactionDate" type="date"/>
            </mat-form-field>

            <mat-form-field *ngIf="field === 'search'">
                <mat-label>Search</mat-label>
                <input matInput formControlName="search" />
            </mat-form-field>

        </ng-container>

        <mat-action-row>
            <button mat-flat-button color="primary" (click)="applyFilters()">
                Apply
            </button>
            <button mat-button color="secondary" (click)="resetFilters()">
                Reset
            </button>
        </mat-action-row>

    </form>

</mat-expansion-panel>