<div style="height: 4em;width: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="__admin-top-menu-logo-box">
        <span class="__admin-top-menu-logo" (click)="goToMainPage()">
            GetCoins
        </span>
    </div>
</div>

<mat-nav-list id="main-menu">
    <a mat-list-item *ngFor="let item of menuItems" [routerLink]="item.url" [routerLinkActive]="'active'">
        <mat-icon class="panel-menu-item-icon">{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </a>

    <!-- <a mat-list-item
       (click)="handleLogout($event)"
       style="margin-top: 32px;">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </a> -->

</mat-nav-list>