<div>
    <table mat-table class="__profile-data-table" [dataSource]="transactions" matSort [matSortActive]="sortedField"
        matSortDirection="desc" matSortDisableClear>
        <!-- Transaction type and date Column -->
        <ng-container matColumnDef="transaction">
            <th mat-header-cell mat-sort-header *matHeaderCellDef [disabled]="recent"
                class="__profile-table-column __profile-transactions-table-column-transaction">
                <span class="__profile-table-header">
                    Transaction
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div style="display: flex;flex-direction: row;align-items: center;">
                    <span style="font-size: 18px;margin: 0px 4px 0px 0px;" class="material-icons">
                        {{element.typeIcon}}
                    </span>
                    <div class="__profile-transactions-table-cell-data">
                        {{element.typeName}}
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Date -->
        <ng-container matColumnDef="dt">
            <th mat-header-cell mat-sort-header *matHeaderCellDef [disabled]="recent"
                class="__profile-table-column __profile-transactions-table-column-dt">
                <span class="__profile-table-header">
                    Date
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div class="__profile-transactions-table-cell-data">
                    {{element.dateShort}}
                </div>
            </td>
        </ng-container>

        <!-- From Column -->
        <ng-container matColumnDef="sender">
            <th mat-header-cell *matHeaderCellDef
                class="__profile-table-column __profile-transactions-table-column-sender">
                <span class="__profile-table-header">
                    From
                </span>
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="__profile-transactions-table-cell-sender">
                    <img *ngIf="element.sender?.imgSource!==''" [ngClass]="element.sender?.imgClass"
                        [src]="element.sender?.imgSource">
                    <div class="__profile-transactions-table-cell-data">
                        {{element.sender?.title}}
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- To Column -->
        <ng-container matColumnDef="recipient">
            <th mat-header-cell *matHeaderCellDef
                class="__profile-table-column __profile-transactions-table-column-recipient">
                <span class="__profile-table-header">
                    To
                </span>
            </th>
            <td mat-cell *matCellDef="let element">
                <div class="__profile-transactions-table-cell-sender">
                    <img *ngIf="element.recipient?.imgSource!==''" class="__profile-transactions-table-cell-sender-icon"
                        [src]="element.recipient?.imgSource" width="20" height="20">
                    <div class="__profile-transactions-table-cell-data">
                        {{element.recipientShort}}
                    </div>
                </div>
            </td>
        </ng-container>

        <!-- Sent Column -->
        <ng-container matColumnDef="sent">
            <th mat-header-cell mat-sort-header *matHeaderCellDef [disabled]="recent"
                class="__profile-table-column __profile-transactions-table-column-sent">
                <span class="__profile-table-header">
                    Amount Sent
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div class="__profile-transactions-table-cell-data">
                    {{element.amountSent}}
                </div>
            </td>
        </ng-container>

        <!-- Received Column -->
        <ng-container matColumnDef="received">
            <th mat-header-cell mat-sort-header *matHeaderCellDef [disabled]="recent"
                class="__profile-table-column __profile-transactions-table-column-received">
                <span class="__profile-table-header">
                    Amount Received
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div class="__profile-transactions-table-cell-data">
                    {{element.amountReceived}}
                </div>
            </td>
        </ng-container>

        <!-- System Fees Column -->
        <ng-container matColumnDef="sys_fees">
            <th mat-header-cell mat-sort-header *matHeaderCellDef [disabled]="recent"
                class="__profile-table-column __profile-transactions-table-column-fees">
                <span class="__profile-table-header">
                    System Fees
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div class="__profile-transactions-table-cell-data">
                    {{element.systemFees}}
                </div>
            </td>
        </ng-container>

        <!-- Network Fees Column -->
        <ng-container matColumnDef="net_fees">
            <th mat-header-cell *matHeaderCellDef class="__profile-table-column __profile-transactions-table-column-fees">
                <span class="__profile-table-header">
                    Network Fees
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div class="__profile-transactions-table-cell-data">
                    {{element.networkFees}}
                </div>
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell mat-sort-header *matHeaderCellDef [disabled]="recent"
                class="__profile-table-column __profile-transactions-table-column-status">
                <span class="__profile-table-header">
                    Status
                </span>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-cell-plain">
                <div
                    [ngClass]="{'__profile-transactions-table-cell-data': true, '__profile-transactions-table-cell-status-error': element.statusLevel === 'error'}">
                    {{element.statusName}}
                </div>
            </td>
        </ng-container>

        <!-- Details Column -->
        <ng-container matColumnDef="details">
            <th [hidden]="true" mat-header-cell *matHeaderCellDef
                class="__profile-table-column __profile-transactions-table-column-details __profile-transactions-table-details-colummn-fullscreen">
                <div *ngIf="!recent" class="__profile-table-details-table">
                    <button class="__small-button" type="button" disabled>
                        .pdf
                    </button>
                    <div class="__button-separator-sm"></div>
                    <button class="__small-button" type="button" disabled>
                        .csv
                    </button>
                </div>
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-details-colummn-fullscreen">
                <div class="__profile-transactions-table-cell-details">
                    <button type="button" class="__table-button" (click)="showDetailsPanel(element)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <!-- Details Mobile Column -->
        <ng-container matColumnDef="details_mobile">
            <th mat-header-cell *matHeaderCellDef
                class="__profile-table-column __profile-transactions-table-column-details-mobile __profile-transactions-table-details-colummn-mobile">
            </th>
            <td mat-cell *matCellDef="let element" class="__profile-transactions-table-details-colummn-mobile">
                <div class="__profile-transactions-table-cell-details-mobile">
                    <button type="button" class="__table-button" (click)="showDetailsPanel(element)">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator color="accent" *ngIf="(recent) ? false : (transactionCount > pageCounts[0] && transactionCount > 0)"
        class="__profile-data-table" [pageIndex]="pageIndex" [length]="transactionCount" [pageSize]="pageSize"
        [pageSizeOptions]="pageCounts" showFirstLastButtons (page)="handlePage($event)">
    </mat-paginator>
</div>